[2015-03-18 07:09] muihlinn opened #459 "Can't get my blade snippets to work"
I've followed the instructions to install web-mode and it doesn't seem to load my extra snippets no matter what I do in .emacs.el

As far as I know every other functionality I've tried seems to work fine.

I'm not using any other significant extension right now apart php and org-mode.

**.emacs.el**
[code]

**Dump from web-mode-debug**

[code]

[2015-03-18 07:15] fxbois commented on #459
@muihlinn could you remove ```(setq
 web-mode-engines-alist '(("php"   . "\\.phtml\\'")
              ("blade" . "\\.blade\\."))
 )```

[2015-03-18 08:30] fxbois commented on #459
@muihlinn put web-mode-extra-snippets out of the hook
Moreover an open paren is missing

[code]

[2015-03-18 09:04] muihlinn commented on #459
@fxbois Thanks much for the quick responses. It's working now.

A mistake writing the list was as obvious that I wasn't able to see it. Thanks again.

[2015-03-18 09:04] #459 closed

[2015-03-18 09:23] #457 closed

[2015-03-18 20:23] ReneFroger opened #460 "SGML-tags broken in web mode."
Hi there! Thanks for mainataining this nice mode.

I have an issue, but I don't know where I could debug it. Even without Emacs configuration, this issue persists in web-mode. For example, In HTML mode somewhere between the `<form>/<div>/<table>/you name it` tags, you could do a `M-x sgml-close-tag`, and the tags will be closed. But when you switch to web-mode, and do again `M-x sgml-close-tag`, t

[2015-03-18 21:42] fxbois commented on #460
@ReneFroger Sorry but I do not understand your question. In web-mode, you can't call ```sgml-close-tag``` which is not a function of web-mode
Perhaps it would be better to ask emacs stackoverflow

[2015-03-18 21:58] ReneFroger commented on #460
@fxbois

Thanks for your reply. On the video, starting on 1:22 you see why sgml-tags could be useful:

https://www.youtube.com/watch?v=sBhQ2NIcrLQ&t=82

Didn't knew they're included in the HTML-package, instead a default function of Emacs itself. Then maybe I could trying to find a way to include sgml-features in web-mode, like HTML-features are included in web-mode too.

[2015-03-18 22:20] fxbois commented on #460
Many features are implemented in web-mode ... please http://web-mode.org

If you wan't to close an element : ```C-c C-e /```

[2015-03-19 10:12] faassen commented on #457
Ah, I hadn't realized it was also in the HTML spec. The confusion arises as I was using Col as something else entirely in JSX, where it can have content. I can work around it by just naming it something else.

[2015-03-19 11:30] ReneFroger commented on #460
Sorry for my reporting then! When I tried `sgml-close-tag`, I initially thought it was another package. So I was wondering why it didn't worked in Web mode, because I could see it in the list of commands.

My bad. If I might ask another question. You see in the linked clip, that `sgml-close-tag` will automatically indent. In web-mode you get only that when pressing enter, then it will indent autom

[2015-03-19 19:20] fxbois commented on #460
@ReneFroger perhaps you do not have the last version. Indentation should be done as soon as the autoclosing is done

[2015-03-19 19:58] ReneFroger commented on #460
I have the last version. I assume the version from 2 days ago, when I updated all my packages in MELPA. When I do `C-x C-e /`, I see no indentation:

![not indentation](https://cloud.githubusercontent.com/assets/5211845/6739697/b2a49110-ce7a-11e4-8edc-6919bc228a63.gif)

But when I do `sgml-close-tag` in HTML mode, he will automatically Enter and indent it. How could I debug this?

[2015-03-19 20:23] fxbois commented on #460
have you enabled ```web-mode-enable-auto-closing``` ? auto-closing and indentation should be done as soon as you hit ```</```

[2015-03-19 20:36] ReneFroger commented on #460
There is no existing command of `web-mode-enable-auto-closing` in the `M-x`. But I will find out the culprit, and let you know.

[2015-03-20 13:10] #460 closed

[2015-03-20 13:10] fxbois commented on #456
@faassen please reopen if needed

[2015-03-20 13:10] #456 closed

[2015-03-20 13:10] #458 closed

[2015-03-20 14:13] faassen commented on #456
Sorry, I hadn't had time yet to try this out - without a release it's a bit cumbersome to test. Thanks for looking into it!

[2015-03-20 14:22] faassen commented on #456
I noticed there was a new release on elpa: it appears to work now. Thank you very much!

[2015-03-20 18:12] deathbob opened #461 "ERB not indented correctly"
It seems like pretty much any `do` block nested inside anything else breaks indentation

[code]

should be
[code]

[2015-03-20 20:01] koodawg opened #462 "yanking in php code disables colorizing"
I have your latest version. I see that when I copy and paste (yank) some php the yanked in code is not colorized. I have to do M-x web-mode to colorize it.

[2015-03-20 21:50] localredhead opened #463 "File mode specification error: (void-variable web-mode-html-offset) issue with Highlight Indentation in ERB templates"
Hello,

I have Highlight indentation mode hooked up and enabled for Web mode, and when I open an ERB template I can see that the mode is turned on and the following error is displayed ```File mode specification error: (void-variable web-mode-html-offset)```

When this is the case there is no indentation guides on the screen - so I then tried to toggle highlight indentation mode.  I was then notifi

[2015-03-20 21:52] localredhead commented on #463
I have no idea if this is an issue within Web mode but I would like to resolve the ```File mode specification error: (void-variable web-mode-html-offset)``` issue - any insight you can give me would be most appreciated.

[2015-03-20 22:25] localredhead commented on #463
Interestingly my lines are being truncated in an ERB template with Web mode as the major mode.  I everything configured to not wrap - so Web mode isn't respecting this.

I'm not sure if they are related issues or not but I arrived here trying to figure out why I could not get highlight indents to work.  It just so happens that I have a hook on highlight-indentation-mode to toggle-truncate-lines so

[2015-03-20 23:50] fxbois commented on #461
@deathbob please post the output of ```web-mode-debug```

[2015-03-20 23:54] fxbois commented on #463
@localredhead I do not have any idea about this. You should ask on emacs stackoverflow.

[2015-03-20 23:54] #463 closed

[2015-03-20 23:59] fxbois commented on #462
@koodawg is it better with the last version on github ?

[2015-03-21 00:56] localredhead commented on #463
Can you give me some context around ```web-mode-html-offset```   ??  From what I can tell this used to be part of web-mode and it is no longer.

Can you comment?  It would at least give me some context for where to look.

[2015-03-21 01:17] localredhead commented on #463
Hey found the issue inside Highlight-indentation - it was referencing an old function ```web-mode-html-offset```

Some insight into when this got removed would have *at least* been helpful at a minimum.  Thanks though.

[2015-03-21 01:34] localredhead commented on #463
https://github.com/antonj/Highlight-Indentation-for-Emacs/pull/27

[2015-03-21 07:58] fxbois commented on #463
@localredhead Glad you found the issue

[2015-03-21 11:24] zwb-ict opened #464 "disable hs-minor-mode in web-mode"
I use Prelude, in my personal.el, I wrote
(add-hook 'prog-mode-hook #'hs-minor-mode)
(add-hook 'web-mode-hook (lambda () (hs-minor-mode -1)))
but when I open a *.html file, in mini buffer, show an error information: "File mode specification error: (error "Web Mode doesn't support Hideshow Minor Mode")". I don't know why! Need your help, thank you.

[2015-03-21 11:37] fxbois commented on #464
@zwb-ict you should ask to the prelude moderator. I can provide help if needed

[2015-03-21 11:51] zwb-ict commented on #464
@fxbois Thank you, I send this iuuse to prelude moderator just now, When I get reliable information，I'll
 feedback.

[2015-03-21 17:09] simenheg opened #465 "Closing a block with point immediately after"
Hi. Calling `web-mode-block-close` with point immediately after a block doesn't insert a closing block. For instance, consider the following example, using the `django` engine:

[code]

Calling `web-mode-block-close` with point right after the closing `}` does nothing. When there is at least one character between point and the opening block, it works as expected.

[2015-03-21 17:48] fxbois commented on #465
@simenheg should be better with last commit

[2015-03-21 18:00] simenheg commented on #465
Wow, that was quick!

Seems to work now, thanks. :)

[2015-03-21 18:00] #465 closed

[2015-03-21 18:28] simenheg opened #466 "Wrong syntax highlighting in blocks"
Consider the following block, here using the `django` engine:

[code]

`if` and `endif` is correctly highlighted with `web-mode-keyword-face`. `foo` and `bar` is correctly highlighted with `web-mode-variable-name-face`, but `block` is highlighted with `web-mode-keyword-face`, even though it's part of the variable name.

This happens for other keywords as well, when they are used as part of the var

[2015-03-21 18:41] fxbois commented on #466
@simenheg I hope the last commit won't trigger nasty side effects

[2015-03-21 18:42] downwater opened #467 "Visiting an php file goes to html-mode or to fundamental-mode"
Hi,

Not sure if it's a duplicate (looks a bit like #437)...

It seems like if a php file is empty or doesn't begin with `<html` string (`>` not required), it goes with fundamental mode. Otherwise it launches html-mode.

Here's my .emacs:

[code]
Sounds like I missed something to set up in order to get web-mode running when visiting a php file... By the way, calling explicitly `M-x web-mode` works

[2015-03-21 18:43] fxbois commented on #467
@downwater please post the output of ```web-mode-debug```
what version of emacs are you using ?

[2015-03-21 18:44] fxbois commented on #467
moreover does adding ```(add-to-list 'auto-mode-alist '("\\.php\\'" . web-mode))``` change anything ?

[2015-03-21 18:49] downwater commented on #467
@fxbois This is GNU Emacs 24.3.1 (x86_64-slackware-linux-gnu, GTK+ Version 2.24.17)

Here is the debug output for : running Emacs + open a php file which goes to fundamental mode or html-mode:
[code]

[2015-03-21 18:51] downwater commented on #467
Thanks ! `(add-to-list 'auto-mode-alist '("\\.php\\'" . web-mode))` works !

[2015-03-21 18:53] fxbois commented on #467
@downwater it does not seem obvious to you ??

[2015-03-21 18:53] #467 closed

[2015-03-21 18:54] downwater commented on #467
Nope.

I believed that `(add-to-list 'auto-mode-alist '("\\.tpl\\.php\\'" . web-mode))` was fine... As you tell it on your website...

[2015-03-21 18:56] simenheg commented on #466
Thanks! The commit fixes the case if the variable name consists of several parts tied together with `.`.

The issue still remains if the variable is called the exact same as a keyword, as in:

[code]

Now `block` gets highlighted by `web-mode-keyword-face`.

[2015-03-21 19:04] fxbois commented on #466
@simenheg please provide me two lists :
1/ tags
2/ keywords

[2015-03-21 20:06] simenheg commented on #466
What do you mean? Web-mode already has `web-mode-django-control-blocks` and `web-mode-django-keywords`, which seem to be fairly complete.

What I mean is that `block` is highlighted as a keyword in the above example, even though it is used in a variable position.

[2015-03-22 01:09] zwb-ict commented on #464
@fxbois I got the solution, I tried (add-hook 'prog-mode-hook (lambda () (unless (eq major-mode 'web-mode) (hs-minor-mode)))), and it works. So I will close this issue. Sorry to bother you！

[2015-03-22 01:09] #464 closed

[2015-03-22 08:39] fxbois commented on #464
@zwb-ict if web-mode is not compatible with hs-minor-mode, can your patch be added to prelude ?

[2015-03-22 08:44] zwb-ict commented on #464
It may be not, prelude, in default, isn't enable hs-minor-mode for any prog-mode, I add this in my own personal.el.

[2015-03-22 19:30] koodawg opened #468 "settings question"
I'm modifying these 8 settings inside web-mode.el, I have to make the mods everytime I get the latest version. Is there anyway I can make these changes in my .emacs and not have to modify web-mode.el everything? Thanks

<pre>
$ diff web-mode.el web-mode.el.latest
48c48
< (defcustom web-mode-script-padding 4
---

53c53
< (defcustom web-mode-style-padding 4
---

58c58
< (defcustom web-mode-block-pad

[2015-03-22 19:43] fxbois commented on #468
@koodawg  ???? why don't you set those vars in your .emacs ?

[2015-03-22 19:47] koodawg commented on #468
I tried and it didn't work. How should I set them in .emacs?

[2015-03-22 19:50] fxbois commented on #468
have you tried inside a hook ?

[2015-03-22 19:52] koodawg commented on #468
I dont know elisp. Can you show me?

[2015-03-22 19:53] fxbois commented on #468
please read web-mode.org

[2015-03-22 19:53] #468 closed

[2015-03-22 20:45] koodawg opened #469 "indentation awry"
The closing brace for the foreach should be at 2nd indent level, aligned with the foreach:

[code]

[2015-03-22 20:50] koodawg commented on #462
Yeah that seems to work. Thanks!

[2015-03-22 20:50] #462 closed

[2015-03-22 20:55] koodawg commented on #468
Ok I think I got it. Thanks!

[2015-03-23 06:52] fxbois commented on #469
@koodawg for this kind of code I advice to use :

[code]

[2015-03-23 06:52] #469 closed

[2015-03-25 17:01] omidnoorani opened #470 "emacs crashes on clone-indirect-buffer-other-window command"
After upgrading web-mode from Version: 8.0.9 to Version: 11.0.19, *clone-indirect-buffer-other-window* command causes the emacs to crash. I am running emacs-23.1 on CentOS 6.6. web-mode is the only emacs plug-in. No fancy emacs configuration. I have been able to reproduce this with different files types. Downgrading back to the 8.0.9 version solves this problem. Please let me know how I can help w

[2015-03-26 17:19] Archenoth opened #471 "JSTL tags ignored when auto-closing tag"
When you have a JSTL tag like `<c:if>`, `<c:choose>`, or friends in a buffer... When you attempt to close the tag, web-mode automatically closes the parent tag to it and ignores the JSTL tag.

So, consider the following:
![screenshot from 2015-03-26 11 17 41](https://cloud.githubusercontent.com/assets/1385527/6852352/d52e7d52-d3a9-11e4-858c-91c23c33fa61.png)

When I start typing "`</`", web-mode a

[2015-03-26 17:52] fxbois commented on #471
@Archenoth you should use ```web-mode-block-close```
I've rebinded it to ```^ /```

[2015-03-26 20:04] Archenoth commented on #471
Oh hey! `web-mode-block-close` has the correct behavior. Thanks..!
(I wonder what the difference is between that and typing `</`)

I guess that makes this bug invalid then..? No sense having this open if its desired behavior.

[2015-03-26 20:04] #471 closed

[2015-03-27 04:14] danielbush opened #472 "Question on React and React jsx tags"
First off, I'm glad web-mode is around as it does a good job of handling React jsx tags within js - so thanks for maintaining this.

1) If I open a .jsx file and do `M-x web-mode` it works really well.  Is web-mode actually in some sort of "react jsx" mode or is it doing something else that just happens to work?
2) If I open a .js file that has jsx tags in it (which because of the way I'm doing th

[2015-03-28 15:36] jeffbski opened #473 "Bug? Error trying to use javascript-eslint with web-mode for jsx files, indicates that web-mode forgets to call run-mode-hooks"
In trying to leverage flycheck javascript-eslint with web-mode in editing a react jsx file, I get the following error when flycheck tries to run eslint.

[code]

FYI. If I instead use flycheck jsxhint with web-mode everything works fine, but I am hoping to switch to the more pluggable and powerful eslint. Also with .js files using js2-mode, flycheck is able to use eslint properly. So I know that f

[2015-03-28 15:56] fxbois commented on #473
@jeffbski please ask the maintainer what means "javascript-eslint must rely on run-mode-hooks being called"

[2015-03-28 15:57] jeffbski commented on #473
ok, I will and will post any info back here.

[2015-03-28 20:22] ReneFroger commented on #460
Just tested it in Emacs 25, with empty configuration. Only webmode.

After opening the HTML file, I activate web-mode and then I do `C-x C-e /`.

I get the tags, but I see no indentation at all. It's the same as in the gif that I posted earlier above.

How could I get any indentation on this?

[2015-03-29 08:58] fxbois commented on #460
Indentation is done on </

[2015-03-29 13:41] ReneFroger commented on #460
`</` gives me the same behaviour as  `C-x C-e /`, without any indentation.

You want a video of it?

[2015-03-29 14:29] fxbois commented on #460
Yes post a video of it.
Moreover could you post the output of web-mode-debug please

[2015-03-29 18:15] ReneFroger commented on #460
The video is the same as the video above, but without my colors customization (empty Emacs configuration).

`</` gives me the same behaviour as  `C-x C-e /`, without any indentation. This is the output of web-mode-debug:

[code]

[2015-03-29 20:41] jeffbski commented on #473
I'll dig into the emacs code for javascript-jsxhint and javascript-eslint and see if I can understand how they are different and if there is any way to eslint to work with web-mode. I'll post back here with my findings.

[2015-03-30 09:05] asok commented on #472
You can set `web-mode-content-types-alist` variable to jave js files treated as jsx. I have created `.dir-locals.el` file in the dir where I have React's files with such content:
[code]

[2015-03-30 10:38] angrybakon opened #474 "How do I disable the commenting feature"
Not really an issue : )

In web-mode, `M-;` replaces the default commenting, but I prefer having opening and closing tags for each line. How do I reassign `M-;` to the default commenting function ?

[2015-03-30 10:44] fxbois commented on #474
Please post an example on gist

[2015-03-30 10:48] angrybakon commented on #474
html-mode:

[code]

web-mode:

[code]

[2015-03-30 16:01] jeffbski commented on #473
Thanks to help from @lunaryorn I was able to get this all working. The main missing piece was

[code]

So the full setup for using editing .jsx files with web-mode using eslint is:

[code]

[2015-03-30 16:01] #473 closed

[2015-03-30 17:29] jeffbski commented on #473
Further refinement simplifies the setup to:

[code]

[2015-03-31 13:28] ReneFroger opened #475 "web-mode-element-close gives no indentation."
It was emerging from another issue, but for clarifity it could be better considered as a stand-alone issue.

I use *Emacs 24.4* with Windows 7 x64 bit, with very recent Web-Mode version from MELPA. This is a empty Emacs configuration, without any plugins installed except Web-mode.

When I'm in HTML-mode, and I use SGML as minor mode, I do ` M-x sgml-close-tag`, then I see that it indents automatic

[2015-03-31 15:37] jbicket opened #476 "web-mode.el on emacs22"
I emacs22 doesn't seem to have string-match-p:
[code]

This is the version that is installed on os x (I'm using 10.10).
[code]
The patch below "fixed it" (originally from https://github.com/magit/magit/issues/94 ):
I suspect this isn't exactly you would want to actually handle it, or where you want to make the change.

[code]

[2015-03-31 15:48] fxbois commented on #476
Happy to know that web-mode is compatible with emacs22. I'll apply the patch very soon

[2015-03-31 20:31] fxbois commented on #476
@jbicket I've pushed a patch

[2015-03-31 20:33] fxbois commented on #475
@ReneFroger do you still have error related to ```web-mode-html-offset``` in your ```*Messages*``` buffer ?

[2015-03-31 20:53] jbicket commented on #476
Thanks @fxbois !
I pulled and verified the new changes work on the same machine that had the original issue.

[2015-03-31 20:53] #476 closed

[2015-03-31 21:08] ReneFroger commented on #475
I checked the `*Messages*` buffer again, after trying Web mode with the closing command again (`C-c C-e b`). But there is no any error related with it.

I added it to my Dot-Emacs. I evaluated it, no difference. And still no difference in behaviour of indentation when I restart Emacs. When I run web-mode-debug, I see the `indent-tabs-mode=nil` on the last line, as expected.

[2015-03-31 21:12] fxbois commented on #470
@omidnoorani could you describe the scenario where you use clone-indirect-buffer-other-window

[2015-03-31 21:23] fxbois commented on #474
@angrybakon in this case what behavior do you wan't
[code]

[2015-03-31 21:36] fxbois commented on #461
@deathbob reopen when you can provide infos

[2015-03-31 21:36] #461 closed

[2015-03-31 21:37] angrybakon commented on #474
Let's say I have tthe following code:

[code]

If I select the two lines and comment with `M-;`, in html-mode, I'll get:

[code]

However, in web-mode:

[code]

So what I would like is the html-mode's behavior.

[2015-03-31 21:42] fxbois commented on #474
?????

[2015-03-31 21:44] angrybakon commented on #474
I read too fast, am not really awake :p. I've edited the message but left some lines, sorry.

[2015-04-01 00:21] omidnoorani commented on #470
@fxbois

By cloning the buffer, I can narrow to two different regions in the same buffer. I use the default key binding <kbd>C-x 4 c</kbd> to invoke clone-indirect-buffer-other-window. Pressing this key combo in the web-mode crashes Emacs. If I switch to a different mode, then pressing the same key combination works as expected. This is regardless file type/content that's open in the buffer. As no

[2015-04-01 06:18] fxbois commented on #470
@omidnoorani I've just tried on a php template and haven't triggered a crash ... please try with an empty .emacs

[2015-04-01 12:09] shizhz opened #478 "Problem with closing-string for Django block tag"
Hi,

When I insert a "{", a "}" will added automatically, but when I'm typing a "{%", there'll be a closing-string "%}" added, which makes "}" inserted twice.  Could anybody tell me how to resolve this problem?

Big thanks.

[2015-04-01 14:12] fxbois commented on #478
@shizhz it is because you use an other autopairing minor mode. You'll have to choose between web-mode autopairing and the other

[2015-04-01 14:12] #478 closed

[2015-04-01 21:31] xikky opened #479 "code folding for php and js"
I would like to have a command for code folding for PHP and JS. C-c C-f does work fine in HTML blocks but not in other languages. Previously I used to use hs-toggle-hiding, but unfortunately Web Mode does not support HideShow Minor Mode. Any way to achieve this?

Thank you!

[2015-04-02 06:15] fxbois commented on #479
@xikky could ask the hs-toggle-hiding why his minor mode does not work with web-mode
I do not intend to add other folding features in web-mode

[2015-04-02 07:29] xikky commented on #479
If I'm not mistaken this is a built-in command. I think people who have a habit of hiding code would love to have Hide Show minor mode supported with Web Mode. But well I don't know anything about how these modes are created and have little idea of how much work needed for this. In any case Thank you for making such a great mode!!

[2015-04-02 09:06] fxbois commented on #479
I'll try to look at Hide Show when I have a little time

[2015-04-02 09:43] sunilw opened #480 "font-lock error. "out-of-range""
I updated web-mode (among other libraries) and restarted emacs.

I opened this php template: https://gist.github.com/anonymous/00ba0d9eacfbb26379ce

The template was in a single colour (unexpected) and I saw this message in the minibuffer:  Args out of range: 4028, 4029

I closed emacs and then restarted with 'emacs -q'. Then I opened the file again. I got the same error.

[2015-04-02 18:54] jeffbski commented on #473
Documented in a blog post here: http://codewinds.com/blog/2015-04-02-emacs-flycheck-eslint-jsx.html

[2015-04-02 18:55] fxbois commented on #480
@sunilw should be fixed with last commit

[2015-04-02 18:58] fxbois commented on #473
@jeffbski nice. Thx

[2015-04-02 19:00] fxbois commented on #475
@ReneFroger have you tried with an empty .emacs ?

[2015-04-02 19:13] ReneFroger commented on #475
I said in my opening post the example in the gif is with the empty Emacs configuration (which is the same as empty .emacs)...

[2015-04-02 19:16] fxbois commented on #475
Perhaps you said it, but when your web-mode-debug shows many minor modes installed ... so what ?

[2015-04-04 00:08] ReneFroger commented on #475
Yes, I had to give a path where the plugins would be loaded. Web-mode was already in that folder, same with other plugins.
To be sure, I uninstalled Emacs 24.4, downloaded Emacs 24.3 and everything is empty.
Then I added the Elpa, Orgmode and Melpa package lists. Then I downloaded Web-mode from MELPA, and then the same operation in HTML-file, with `C-x C-e /`, but I get same result too. No indenta

[2015-04-04 07:31] fxbois commented on #475
@ReneFroger as we are trying to debug your issue why do you install other stuff like org-mode ? Could you have a .emacs with only web-mode ?
If it does not change anything, add before ```(indent-according-to-mode)``` (line 8703) a debug command like ```(message "indentation triggered")``` and tell me if something appears in Messages

[2015-04-04 18:05] ReneFroger commented on #475
I evaluated the package-list, in order to get Web-mode. The relevant line:
[code]

So Org-mode was accidentally included in the package-archives, but I thought it couldn't have any effect on the web-mode, when I download it from MELPA.

I opened elpa/web-mode-20150317.1506/web-mode.el

However, `(indent-according-to-mode)` was not on the line 8703. But on line 8693.
After adding it, saved and rest

[2015-04-04 21:48] fxbois commented on #475
@ReneFroger could you add ```(setq web-mode-enable-auto-indentation t)``` in your .emacs

[2015-04-04 21:56] ReneFroger commented on #475
It is not working. However, when watching the `*Messages*` buffer, I noticed a warning:

`File mode specification error: (void-variable web-mode-html-offset)`.

Is this any useful for you?

[2015-04-05 07:14] fxbois commented on #475
I asked you if you still saw this and you told me no.
If you grep web-mode.el, you will see that there is no web-mode-html-offset anywhere.
So you have an issue on your side ... a minor mode triggers this.
I can't help you any further

[2015-04-05 07:14] #475 closed

[2015-04-05 07:20] fxbois commented on #480
reopen if needed

[2015-04-05 07:20] #480 closed

[2015-04-05 07:21] fxbois commented on #470
@omidnoorani please reopen when needed

[2015-04-05 07:21] #470 closed

[2015-04-05 07:32] ReneFroger commented on #475
Not the helpful reply that I was hoping for, but thanks anyway.

[2015-04-05 07:40] fxbois commented on #475
Are you just joking ?? I have never spent so such time on an issue and the fact that you write about web-mode-html-offset means that you are not able to give me the information that could make me help you.

The last time I heard about this var was there
https://github.com/fxbois/web-mode/issues/463#issuecomment-84215568

[2015-04-07 05:41] kissge opened #481 "Wrong cursor move when it is located after multibyte characters (e.g. East Asian characters)"
![web-mode-bug-report](https://cloud.githubusercontent.com/assets/4177010/7017534/bb2b8f06-dd33-11e4-9fa9-e00c450fe281.gif)
See this video.
Every time the Tab key is hit, the position of the cursor changes.
This is due to a wrong calculation of the current column in `web-mode-indent-line`.

[2015-04-07 06:18] fxbois commented on #481
@kissge please post your example on gist please

[2015-04-07 06:42] kissge commented on #481
@fxbois
Check this: https://gist.github.com/kissge/1b3778abb29bc407e1bb .
I also tried `emacs -Q` (and loaded only web-mode.el), but the same problem occurred.

[2015-04-07 07:23] fxbois commented on #481
@kissge thx for your patch. Do not hesitate to report other issues with multibyte chars

[2015-04-07 07:32] kissge commented on #481
@fxbois Thanks for merging!

[2015-04-07 07:32] #481 closed

[2015-04-12 16:14] kuanyui opened #483 "Cannot make indent offset settings works"
I've tried:
1:
[code]

2:
[code]

3: `Custom` the variables

But these three solutions **just cannot work at all** after upgrading to latest  20150408.819 web-mode, even after restarting my Emacs.

[2015-04-12 16:21] fxbois commented on #483
Have you disabled indent-tabs ?

[2015-04-12 16:37] kuanyui commented on #483
@fxbois  I don't sure

[2015-04-12 17:41] kuanyui commented on #483
How to disable it? `(setq indent-tabs-mode nil)`?

[2015-04-12 17:43] fxbois commented on #483
@kuanyui please look at http://web-mode.org

[2015-04-12 18:15] kuanyui commented on #483
Now fixed, thanks

[2015-04-12 18:15] #483 closed

[2015-04-16 03:03] dustinpaluch opened #484 "Syntax highlighting breaks with named Mason blocks"
Syntax highlighting for Mason augment blocks works correctly if the blocks are empty, but break once they contain HTML; destroying a named block tag that contains HTML correctly disables the syntax highlighting, but **restoring the tag does not reactivate the syntax highlighting,** until web-mode is reloaded.

Here's a demo of the bug:
http://cl.ly/af4Z

Here's the documentation for Mason augment

[2015-04-16 06:15] fxbois commented on #484
@dustinpaluch could you post the output of web-mode-debug please.
Moreover, please post your example on gist.

[2015-04-16 16:08] dustinpaluch commented on #484
Here's a gist of the example code:
https://gist.github.com/dustinpaluch/0c5a72690a4b21dcc5d0

And here's my web-mode-debug.
--- WEB-MODE DEBUG BEG ---
versions: emacs(24.5) web-mode("11.0.31")
vars: engine("mason") content-type("html") file("/Users/Dustin/Desktop/testing.mc")
system: window(ns) config("x86_64-apple-darwin13.4.0")
colors: fg(nil) bg(nil)
minor modes: (visual-line-mode global-visual

[2015-04-16 19:22] iantor opened #486 "odd message on js chained method call"
When doing indent entire buffer on html file including following:
[code]
I get the following error on the second line (the formatting seems ok though).
config is shown in purple, whereas module is green.

javascript-calls-beginning-position ** failure **

latest version of web-mode (20150416.530), emacs 24.3.1

--- WEB-MODE DEBUG BEG ---
versions: emacs(24.3) web-mode("11.0.31")
vars: engine("ctem

[2015-04-16 19:45] fxbois commented on #486
@iantor the master branch is now fixed

[2015-04-16 20:02] iantor commented on #486
thanks, when I get it from Melpa (tomorrow I guess?) I will verify fix.

[2015-04-16 20:02] #486 closed

[2015-04-16 20:48] fxbois commented on #484
@dustinpaluch many fixes have been pushed on master

[2015-04-16 23:31] dustinpaluch commented on #484
@fxbois Can I just update via package/elpa to test the changes?

[2015-04-17 06:16] fxbois commented on #484
it should be available on melpa

[2015-04-17 10:08] angrybakon commented on #474
Other issues regarding comments that I just noticed (`|` is cursor):

### Using newcomment.el

#### First case:

[code]
[code]

#### Second case:

[code]
[code]

Whereas web-mode.el as a different behavior.

### Using web-mode.el

#### First case A:

[code]
[code]

#### First case B:
[code]
[code]

#### Second case A:

[code]
[code]

#### Second case B:

[code]
[code]

With newcomment.el and webmo

[2015-04-17 17:03] dustinpaluch commented on #484
Getting closer. Here are a few things that still cause fontification to malfunction, tested on this chunk of the gist:

    1 <%augment wrap>
    2    <html>
    3        <body>
    4            <% inner() %>
    5        </body>
    6    </html>
    7 </%augment>

* Deleting/replacing the opening `<` or the closing `>` in line 1
* Deleting/replacing any letter in the word `augment` in line 1
* De

[2015-04-17 20:51] fxbois commented on #484
@dustinpaluch I've pushed a new fix

[2015-04-17 23:13] dustinpaluch commented on #484
@fxbois Nice! Looks like this one:

is now fixed. Here's an updated list of outstanding bugs:
(Note that line/character numbers here refer to the original gist I posted)

#### Killing/yanking the opening `<` of the 2nd, 3rd, ... , or nth named *opening* tag breaks fontification
* **To Reproduce**: kill/yank character 1 of line 6, 14, or 20

#### Killing/yanking the opening `<` of any named *closin

[2015-04-18 00:55] dustinpaluch commented on #484
All listed bugs appear to be solved as of MELPA version 20150417.1351. Thanks for the quick turnaround!

[2015-04-18 00:55] #484 closed

[2015-04-18 06:55] fxbois commented on #484
I was a little affraid this morning reading your first report. Thx for the report and to let me know that there is at last one people using web-mode for mason

[2015-04-18 08:38] fxbois commented on #466
@simenheg I've cleaned a lot of things to better respect keywords and control blocks

[2015-04-18 10:12] simenheg commented on #466
Thank you, @fxbois! That seems to work. :)

[2015-04-18 11:08] skyer9 commented on #474
<code>
(defun web-mode-comment-dwim ()
  "`comment-dwim' for `web-mode'."
  (interactive)
  (let (ctx language)
    (setq ctx (web-mode-point-context (if mark-active (region-beginning) (line-beginning-position))))
    (setq language (plist-get ctx :language))
    (cond
     ((member language '("html" "xml"))
      (web-mode-comment-dwim-with-newcomment "" "" nil))
     ((member language '("php" "j

[2015-04-18 16:20] #466 closed

[2015-04-18 16:21] fxbois commented on #472
@danielbush is this issue resolved ?

[2015-04-18 17:05] fxbois commented on #479
@xikky the last commit on master tries to bring some compatibility

[2015-04-18 21:15] dustinpaluch commented on #484
If you build it, they will come.

[2015-04-19 09:54] danielbush commented on #472
Hi, thanks Asok, I think I can work with that.
Wasn't familiar with dir-locals and struggling a bit with the eval in a cons cell in that example.  So what this is doing is treating my js files as "jsx" in web-mode for that directory I think right? -- which is great.

Cheers guys.  I'll close.
Regards,
Daniel

[2015-04-19 09:54] #472 closed

[2015-04-19 10:10] fxbois commented on #472
@danielbush I'll invest a lot of time in the next few weeks/months to bring better jsx compatibility into web-mode. I'll perhaps takle the above issue an other way. But thanks you @asok to bring a solution in the meantime

[2015-04-19 10:24] fxbois commented on #474
@angrybakon with the last pushed version, comment is inserted when you are at the end of a line

[2015-04-19 20:08] ReneFroger opened #487 "Give javascript section another syntax coloring than the rest"
When you see this picture:

![687474703a2f2f7765622d6d6f64652e6f72672f7765622d6d6f64652e706e673f763d35](https://cloud.githubusercontent.com/assets/5211845/7221126/2a3bc694-e6e0-11e4-9a16-303e63dcdb97.png)

You notice the CSS section does have his own syntax colors (sort of purple/pink). But the  syntax highlighting colors of the javascript section are the same as the rest in HTML/PHP.

If I might

[2015-04-19 20:20] fxbois commented on #487
@ReneFroger I don't understand. The <style> and <script> tags have the same colors

[2015-04-19 20:38] ReneFroger commented on #487
To illustrate my question, an example in Vim.

![schermafdruk 2015-04-19 22 36 29](https://cloud.githubusercontent.com/assets/5211845/7221275/90d5fcc2-e6e4-11e4-8c3a-e691c99c0fa6.png)

From my own created syntax highlighting. You see, the javascript section (everything inside <script>) have their own syntax colors, which is different than the rest.

In web-mode, only CSS-section knows to have own

[2015-04-20 01:11] jdivock opened #488 "web-mode-content-types-alist doesn't register when set in .dir-locals.el"
So I've been fighting this while setting my my environment for react native. I wanted to ensure that index.ios.js would get treated as a jsx file so I'd get the proper indent and syntax highlighting. So I set this guy in my dir-locals.el

[code]

Unfortunately nothing happened.

Setting this in my main javascript config though does cause the files to be set properly

[code]

Am I doing something w

[2015-04-20 06:02] fxbois commented on #488
@jdivock what do you mean "my main javascript config" ? Moreover if it works with the second case why is there an issue ? (I've never used dir-locals)

[2015-04-20 09:37] ChillarAnand opened #489 "buffer-indent doesn't work well if code is folded."
i have few pieces of code folded. now when i run buffer indent it is not working.

![web](https://cloud.githubusercontent.com/assets/4463796/7227527/fcf4f996-e76e-11e4-9f97-cb2642964461.png)

[2015-04-20 11:07] fxbois commented on #489
@ChillarAnand post your example on gist and specify very accurately a complete scenario to trigger the bug

[2015-04-20 11:23] ChillarAnand commented on #489
[this file](https://gist.github.com/ChillarAnand/dcf611057e561fe95dde) is not properly indented.

fold the div(id=sidebar) and try to indent the buffer.

it wont indent correct elements. instead it is mis indenting div(id=sidebar)

[2015-04-20 11:30] fxbois commented on #489
@ChillarAnand perfect report. I'll work on this

[2015-04-20 12:00] fxbois commented on #489
@ChillarAnand it is now solved on master

[2015-04-20 12:34] ChillarAnand commented on #489
:+1: that's fantastic.

[2015-04-20 12:34] #489 closed

[2015-04-20 12:36] ChillarAnand commented on #489
i thinks this is the fastest an issue got solved for me on github

[2015-04-20 15:03] jdivock commented on #488
Oh sorry, let me be more specific. When I say my "main js config" i mean my
init.el file that gets loaded when emacs load, the .dir-locals solution
actually doesn't work which is why I logged the issue. Thanks.

On Sun, Apr 19, 2015 at 11:02 PM fxbois <notifications@github.com> wrote:

[2015-04-20 15:06] fxbois commented on #488
please post the related init.el lines in a comment

[2015-04-20 15:22] jdivock commented on #488
init.el (works)
[code]

.dir-locals.el (doesn't work)
[code]

Thanks.

Just some background, I'm working with the React Native stuff, which for the time being doesn't like being named ".jsx" so I'm getting away with it by just following the naming convention ".ios.js"

[2015-04-20 15:31] asok commented on #472
@danielbush answering your question - yes it does.

[2015-04-20 15:45] fxbois commented on #488
@jdivock have you looked at
https://github.com/fxbois/web-mode/issues/472 ?

[2015-04-20 16:09] jdivock commented on #488
Ah thanks, I'll give it a shot when I have a moment and close it out if it
works. Thanks!

On Mon, Apr 20, 2015 at 8:46 AM fxbois <notifications@github.com> wrote:

[2015-04-20 19:28] fxbois commented on #487
@ReneFroger with the last version of web-mode.el on github you can customize ```web-mode-script-face``` and ```web-mode-style-face``` if ```web-mode-enable-part-face``` is ```t```

[2015-04-21 20:40] ReneFroger commented on #487
Thanks for your reply, fxbois. It's really appreciated. Web-mode is such awesome tool.

I tried it. And it worked, thanks for the effort!

![schermafdruk 2015-04-21 22 34 24](https://cloud.githubusercontent.com/assets/5211845/7262026/986eb8b4-e876-11e4-8f75-b43ba026129c.png)

However, it's not my intention to be sounded as spoiled, even when you put awesome work with webmode. But for me it's not c

[2015-04-22 06:21] fxbois commented on #487
@ReneFroger you can also customize ```web-mode-javascript-comment-face``` and ```web-mode-javascript-string-face```

[2015-04-22 12:50] ChillarAnand opened #490 "issues with mark-and-expand"
1.  if user cancels mark-and-expand, point should be returned to original position?

2. when trying to expand in js part, it is not expanding as expected.

[in this file](https://gist.github.com/ChillarAnand/dcf611057e561fe95dde#file-expand-html), if you place point on `#sidebar` & expand it works for the first time. but if you expand again, it should expand to that line? but it is expanding to en

[2015-04-22 13:40] fxbois commented on #490
@ChillarAnand
1. what do you mean cancel ? ```C-g```
2. be way more verbose about describing the issue

[2015-04-22 14:15] ChillarAnand commented on #490
1. yes `C-g`. In emacs, if i search for something, while cycling through the results, if i press `C-g` it returns to original position. so it is better to have that for expand too.

2.  in this [file](https://gist.github.com/ChillarAnand/dcf611057e561fe95dde#file-expand-html) if cursor is at `#sid|ebar`, for first expand, it should cover entire **word**

[code]
& its working fine.

for the next ex

[2015-04-22 14:31] fxbois commented on #490
1. I'll check this
2. you should use an other minor mode for this. web-mode mark-and-expand is primarily designed for the dom

[2015-04-22 14:37] fxbois commented on #490
@ChillarAnand I've pushed a fix for 1.

[2015-04-22 16:58] ChillarAnand commented on #490
@fxbois thank you

[2015-04-22 18:46] blandinw opened #491 "JSX indentation for self-closing tag />"
Hi, thanks for your great work on web-mode :-)
I've been using it with JSX successfully so far, but still have one issue with it.
Self-closing JSX tags with `/>` on a new line should be indented at the same-level as the opening line.
e.g. http://facebook.github.io/react/docs/jsx-in-depth.html#comments

Would it be possible to have this as the default and maybe an option to be backwards-compatible?

[2015-04-22 19:05] ReneFroger commented on #487
Great. You're awesome.

Thanks. Really.

[2015-04-22 19:05] #487 closed

[2015-04-22 19:07] ReneFroger commented on #487
If it might interest you... my syntax highlighting looks now as:

![schermafdruk 2015-04-22 21 07 18](https://cloud.githubusercontent.com/assets/5211845/7282973/a3d25a18-e933-11e4-9c6f-9220bc6e841d.png)

[2015-04-22 22:23] fxbois commented on #491
@blandinw not sure to understand what you mean. Please post on gist two files : actual and desired

[2015-04-22 22:25] fxbois commented on #487
@ReneFroger nice
Have you solved your indentation problem ?

[2015-04-22 22:48] blandinw commented on #491
Certainly, here is the gist: https://gist.github.com/blandinw/c9aeb13efe9052e3e810

[2015-04-23 06:22] fxbois commented on #491
@blandinw I've pushed a fix

[2015-04-23 08:56] rochgs opened #492 "Weird indentation when "form" is used as a variable in erb"
Hi:

It looks like there is a problem using "form" as variable name in erb files. For example, if you have this code snippet:

[code]

When you indent it, you get this:

[code]

I don't use the second way at all but it's troublesome when working with other people's code who uses it.

Thanks for your time.

[2015-04-23 09:21] fxbois commented on #492
@rochgs I've pushed a fix

[2015-04-23 14:40] blandinw commented on #491
It works, thanks!

[2015-04-23 14:40] #491 closed

[2015-04-23 18:08] ReneFroger commented on #487
No. It didn't solved my problem.

I even uninstalled Emacs 24.4 and installed 25.5. And started with a clean config, then I added MELPA only (thus without the org-package list), web-mode was the first package that I installed, and even I didn't get any indentation.

I gave it up. Seems unsolvable to me, and decided to focus on other things. But thanks for your interest, I like that. :+1:

[2015-04-24 07:42] #488 closed

[2015-04-24 07:42] fxbois commented on #479
@xikky reopen if needed

[2015-04-24 07:42] #479 closed

[2015-04-24 07:43] fxbois commented on #492
@rochgs reopen if needed

[2015-04-24 07:43] #492 closed

[2015-04-27 07:18] rochgs commented on #492
Works great. Thanks for your work.

[2015-04-27 07:39] rochgs opened #494 "JS don't indented over <script> tags"
I have created a file with this content:

[code]

If I run the "indent all" command I get:

[code]

I was expecting something like:

[code]

Thanks,

[2015-04-27 07:43] fxbois commented on #494
@rochgs you must customize script-padding ... please read http://web-mode.org

[2015-04-27 07:57] rochgs commented on #494
Oh, I skipped that part. Shame on me :(

It works as I wish now, thanks for your help :)

[2015-04-27 07:57] #494 closed

[2015-04-28 21:19] sol1dus opened #495 "indentation doesn't work properly"
Hey. First of all, thanks for a great project! Now down to business: i'm having this in my config file:
[code]
`web-mode` always auto indents with a tab for me. How can I force it to indent with 2 spaces ? I'm using the latest version from master. Thanks.

[2015-04-28 22:19] fxbois commented on #495
@sol1dus ```(setq-default indent-tabs-mode nil)``` should do the trick .. I have no other idea

[2015-04-29 04:27] CestDiego opened #496 "Context-aware completion support for company-mode"
We currently have this (got it from the docs) Is there a way to have company support? I love this package and use it day to day... I didn't know we could have this though  :O

[code]

[2015-04-29 04:29] CestDiego commented on #496
Closed, repeated question from https://github.com/fxbois/web-mode/issues/116

[2015-04-29 04:29] #496 closed

[2015-04-29 07:40] ChillarAnand opened #497 "js indent not working properly?"
i have this in web-mode config

    (setq web-mode-js-indent-offset 4)
    (setq web-mode-script-padding 4)

when i try to indent this

          $( '#filter-data' ).click(function() {
          $( "#filters" ).toggle( "blind", {direction: 'up'} );
          //$( "#sidebar" ).slideToggle("slow");
          });

i am expecting this

          $( '#filter-data' ).click(function() {
              $(

[2015-04-29 08:06] sol1dus commented on #495
@fxbois sorry man, it's was my set up. closing.

[2015-04-29 08:06] #495 closed

[2015-04-29 09:23] fxbois commented on #495
@sol1dus what was the bug

[2015-04-29 09:25] fxbois commented on #497
@ChillarAnand try ```(setq web-mode-code-indent-offset 4)```

[2015-04-29 10:14] ChillarAnand commented on #497
already tried that, here is full config

[code]

[2015-04-29 10:17] fxbois commented on #497
@ChillarAnand just try with a light .emacs without prelude etc. just web-mode.el stuff

[2015-04-29 11:30] sol1dus commented on #495
@fxbois I haven't updated my [Prelude](https://github.com/bbatsov/prelude/blob/master/modules/prelude-web.el) mode for a while, and in old version it had it's own setup for `web-mode` in a hook with variables etc - looks like that's was the reason. After I updated *Prelude*, variables can be overridden and everything works.

[2015-04-29 12:44] ChillarAnand commented on #497
@fxbois yeah that worked. may be prelude messing somewhere.

[2015-04-29 12:52] fxbois commented on #497
@ChillarAnand see https://github.com/fxbois/web-mode/issues/495

[2015-04-29 12:52] #497 closed

[2015-04-30 13:37] linktohack opened #499 "Commenting region function"
Currently `web-mode-comment-or-uncomment` works directly with mark and point instead of a region (as it support lines and blocks, too). It would be nice that it support the same signature as `comment-or-uncomment-region`

[code]

I'm currently having [this][1] to integrate with [evil-commentary][], but it should be great if it's implemented by web-mode.

[1]: https://github.com/linktohack/evil-com

[2015-05-01 16:08] s-p-k opened #500 "web-mode overrides emacs colorscheme"
Hi,

first of all I would like to thank you, I recently discovered web-mode and I really like it.

One think that I don't like it's that it overrides my emacs colorscheme.
I'm really happy with the colorscheme I'm using and I would like at least to have the option to disable the web-mode hl and use the hl my colorscheme uses.

Thank you for your work so far.

[2015-05-02 07:02] fxbois commented on #500
@s-p-k i dont understand, everyone is able to override the web-mode colors... See themes for example

[2015-05-02 17:09] s-p-k commented on #500
Since you didn't understand what I say, how come you came to the conclusion to close the issue?

Just to let you know, I would prefer not to open an issue. I would prefer sending you an email, since this might not be an issue in your eyes, but your LICENSE file is just a 'SAMPLE'. ({description} Copyright (C) {year}  {fullname}.

I have a specific colorscheme that I use for coding. After loading w

[2015-05-02 19:41] vmalloc opened #501 "Expansion logic with expand-region no longer works?"
Hi,

A while back (in #9) an expansion logic was added to incrementally select elements surrounding the cursor.

It seems at some point this stopped working. Am I correct?

Thanks in advance

[2015-05-03 09:45] fxbois commented on #500
@s-p-k Please Provide all you .emacs stuff related to this issue. You need to be way more verbose and accurate when you post an issue

[2015-05-03 09:46] fxbois commented on #501
Please post thé output of web-mode-debug

[2015-05-03 12:56] vmalloc commented on #501
[code]

[2015-05-03 16:27] fxbois commented on #499
@linktohack I've added your func to master

[2015-05-03 16:29] fxbois commented on #501
@vmalloc hitting ```C-c C-m``` repeatedly triggers ```web-mode-mark-and-expand``` as expected
Perhaps I haven't understood your question

[2015-05-03 17:33] #474 closed

[2015-05-03 18:36] s-p-k commented on #500
@fxbois This is the theme I'm using:

https://github.com/oblique/configs/blob/master/.emacs.d/themes/behelit-theme.el

And these are the lines I use for loading behelit:

[code]
These is how my emacs looks without web-mode enabled:

http://postimg.org/image/g30evnvl7/

After loading web-mode the colors are like this:

http://postimg.org/image/41r4ir4dx/

I would like to have the web-mode functiona

[2015-05-03 19:17] fxbois commented on #500
@s-p-k as you can see, behelit-theme.el does not define the faces needed by web-mode. You should ask the maintainer to create them.

[2015-05-03 19:21] linktohack commented on #499
Great! @fxbois :+1:

[2015-05-03 19:21] #499 closed

[2015-05-03 20:06] s-p-k commented on #500
Hmmm, okay, thank you for your time.

[2015-05-03 20:06] #500 closed

[2015-05-04 06:58] vmalloc commented on #501
It works on its own, however, in conjunction with expand-region (I don't know if you remember but we introduced it after consulting with you) it sopped working.

See https://github.com/magnars/expand-region.el/blob/master/web-mode-expansions.el#L24

[2015-05-04 07:29] fxbois commented on #501
@vmalloc in ```web-mode-on-post-command```, uncomment ```(message "this-command=%S ... ``` and tell me the command that is used when you expand with ```expand-region.el``` ... perhaps we will have to add it to the list ```'(web-mode-mark-and-expand er/expand-region)``` (line 8684)

[2015-05-04 10:11] vmalloc commented on #501
Ok, I tried restarting emacs and started with a clean slate. It seems to work, but `er/contract-region` doesn't properly go back to the previous mark. Is that an `expand-region` issue or `web-mode`s?

[2015-05-04 10:14] fxbois commented on #501
@vmalloc what is ```contract-region``` ? I do not have a notion of "contraction"

[2015-05-04 10:17] vmalloc commented on #501
Sorry - I was referring to `expand-region`s behavior. It allows 'undoing' the last expansion if you expanded too far. It's very comfortable.

[2015-05-04 10:19] fxbois commented on #501
@vmalloc do you talk of the standard ```'undo``` command ? or a special ```expand-region``` command ?

[2015-05-04 10:31] vmalloc commented on #501
AFAIK it's expand-region behavior, but it achieves it by 'remembering' the previous mark positions in a stack.

[2015-05-04 10:31] fxbois commented on #501
@vmalloc it seems like a good idea. Could you tell me if you use ```undo``` or an other command ?

[2015-05-04 10:33] vmalloc commented on #501
I don't use `undo` in this case. I use `C--` which is bound to `er/contract-region` (https://github.com/magnars/expand-region.el/blob/0e51e1092903e8889eb711684247d126c381c40b/expand-region-core.el#L127)

[2015-05-06 07:28] Sortskjegg opened #502 "Ractive support"
Any chance of getting Ractive support in the excellent web-mode?
The mustaches seem to mess up indentation.

http://docs.ractivejs.org/latest/mustaches

[2015-05-06 07:37] fxbois commented on #502
@Sortskjegg is it different from http://mustache.github.io/ ? Because web-mode is already compatible with mustache

[2015-05-06 09:52] Sortskjegg commented on #502
Perhaps it's Ractive's templates? Or does it not indent inside mustache-blocks?

With a bare-bone Emacs-setup none of the lines between the script tags are indented:

<html>
	<head>
		<script id="ractiveTemplate" type="text/ractive">
		{{#if list.remember}}
		<div>
		<select>
		{{#each list.remember:i}}
		<option value="{{i}}">{{remname}}</option>
		{{/each}}
		</select>
		</div>
		{{/if}}
		</scr

[2015-05-06 12:19] fxbois commented on #502
@Sortskjegg what is the extension of ractive templates ?

[2015-05-06 12:42] angrybakon commented on #474
@fxbois I'm sorry, this wasn't why I opened this issue :(. Although I'm not very familiar with elisp, I tried:

[code]

What I want is to use the default commenting function, even in web-mode.

[2015-05-06 12:56] fxbois commented on #474
@angrybakon have you tried ```local-set-key``` ? it is a general emacs question ... you should post it on emacs stackoverflow

[2015-05-07 11:40] Sortskjegg commented on #502
They're just .js & .html files, I believe.

[2015-05-07 11:56] fxbois commented on #502
so look at web-mode.org and force an engine according to the path of your templates
(web-mode can not guess your engine when you use the .html extension)

[2015-05-08 03:53] bolasblack opened #503 "javascript break line without semicolon"
Hi fxbios, so much thanks for your awesome mode at first.

I found javascript content-type will indent the line if previous line not end with semicolon, but the semicolon in line end is unnecessary in most case.

I'm a newbee of elisp, I tried to fix it but failed, if the issue can be fix, it will help me a lot.

Thanks.

[2015-05-08 09:42] fxbois commented on #503
Web-mode does embed a full js parser (js2-mode does) so i can not deal with lines without semilicons... Sorry

[2015-05-08 09:45] Sortskjegg commented on #502
I have set the engine to "ctemplate" (using both "-*- engine:ctemplate -*-" and web-mode-set-engine) and it only works some of the time.

Indentation works just fine for a while, then something happens in the background, the colours of the tags change and indentation is broken again. If I remove the closing script-tag, the colours change and indentation works again. The mode has not changed and ne

[2015-05-08 13:33] fxbois commented on #502
@Sortskjegg only solution to solve this, report a very acurate scenario to trigger the issue. Moreover post your template on gist please

[2015-05-08 14:29] bolasblack commented on #503
@fxbois sadly :(

But I found [jsx-mode](https://github.com/jsx/jsx-mode.el) works well, dose it helpful?

[2015-05-08 15:52] fxbois commented on #503
Perhaps

[2015-05-08 15:52] #503 closed

[2015-05-09 09:33] niwinz opened #504 "Indentation of endtrans and else clauses on for loops in jinja templates do not work properly"
Here a screen capture of the indentation:
![web-mode 1](https://cloud.githubusercontent.com/assets/843689/7549648/da5cfd00-f63e-11e4-900d-e24ca5053d27.png)

I'm using the last version deployed in melpa for today (20150507.455)

[2015-05-09 09:35] niwibe commented on #504
Something similar happens with `{% set foo = 'bar' %}`. The following html is over indented like using the `{% with foo = 'bar' %}`.

[2015-05-10 18:02] fxbois commented on #504
@niwibe please see : https://github.com/fxbois/web-mode/issues/124
Does Jinja has ```blocktrans``` ? I would like to continue to treat jinja like django
I'll see for other issues

[2015-05-10 18:17] niwibe commented on #504
Jinja has several differences with django templates and trans is one of them. As example, django does not have `set`, ...

[2015-05-10 20:21] fxbois commented on #504
@niwibe could you try the last version on github please

[2015-05-10 20:23] fxbois commented on #502
@Sortskjegg please reopen when you can provide more info

[2015-05-10 20:24] #502 closed

[2015-05-10 21:06] niwibe commented on #504
I'll try it tomorrow and notice you with any info.  Thanks

[2015-05-11 12:58] lindleyw opened #505 "Element insert: Wrap new element around selection"
(feature request)

It would be most convenient if `C-c C-e i` wrapped the new element around the selected region. Examples:

* When working with many paragraphs of plain text, select one paragraph and insert a `p` element; this would add both the `<p>` at start and `</p>` at end of paragraph.
* Select some text in the document and insert an `a` element which would wrap around it

[2015-05-11 13:08] lindleyw opened #506 "Use Emacs argument for next/prev, kill, vanish"
(feature request)

Would be convenient if the Emacs universal-argument (via `C-u` for example) would be regarded by at least 'block/element/attribute kill', 'next/previous block/element/tag/attribute', 'element vanish'.

Example:

* To "vanish" a series of eight useless `<span…>` elements, you could use: `C-u 8 C-c C-e v`
* To move forward by four attributes, you could use: `C-u C-c C-a n`

[2015-05-11 13:28] fxbois commented on #506
@lindleyw do you have an example in an other major mode ? (to see the signature of the function)

[2015-05-11 20:22] fxbois commented on #505
@lindleyw should be ok with last commit

[2015-05-11 21:28] lindleyw commented on #506
The built-in HTML (and SGML) mode [has the argument enabled](http://www.gnu.org/software/emacs/manual/html_node/emacs/HTML-Mode.html).  Looking at the [source code](http://git.savannah.gnu.org/cgit/emacs.git/tree/lisp/textmodes/sgml-mode.el?h=emacs-24) in the SGML/HTML mode, the forward-tag function there (circa line 866) begins as:

    (defun sgml-skip-tag-forward (arg)
      "Skip to end of tag

[2015-05-11 21:29] lindleyw commented on #505
Seems to work perfectly, thank you!

[2015-05-11 21:29] #505 closed

[2015-05-12 08:36] fxbois commented on #506
@lindleyw thx I'll try to work on this this weekend

[2015-05-12 20:31] ayrtonmassey opened #507 "`web-mode-html-tag-bracket-face` invalid until opening `web-mode`"
I'm trying to change the colour of the HTML tag brackets. With a file open in web-mode, the following works:

[code]

But if I put the command in my `.emacs` I get an error telling me that `web-mode-html-tag-bracket-face` is an invalid face. If I open emacs without opening a file in `web-mode`, attempting the above command using `eval` gives me the same "Invalid face" error. After opening a file i

[2015-05-12 20:35] fxbois commented on #507
@ayrtonmassey please look at http://web-mode.org

[2015-05-12 21:03] ayrtonmassey commented on #507
My apologies, missed the part about adding the command as a hook. Cheers!

[2015-05-12 21:03] #507 closed

[2015-05-13 01:25] jasonblewis opened #508 "Template Toolkit pair missing from web-mode-engines-auto-pairs"
it would be great if you could add a pair for template-toolkit for the web-mode-engines-auto-pairs..

currently I have to add:
[code]
to get auto pairs to work in .tt files

[2015-05-13 06:07] fxbois commented on #508
@jasonblewis 3 auto-pairs have been added to the last version on github

[2015-05-13 11:06] jasonblewis commented on #508
Merci!

[2015-05-13 11:06] #508 closed

[2015-05-14 06:19] jasonblewis commented on #508
I seem to have a problem with tt files now in 11.1.05

When I open a .tt file, emacs gives me an error: (void-variable sub3)

it appears that sub3 is not declared in web-mode-scan-blocks

backtrace:

[code]

[2015-05-14 07:34] fxbois commented on #508
@jasonblewis master is now fixed.
Thx for the report

[2015-05-14 17:58] niwinz commented on #504
Sorry for my late response.

I have updated to the last version (11.1.06) and when I setup jinja2 engine, it just ignores me.

I have tried to execute the `web-mode-set-engine` manually and it just ignores me if I set `jinja` or `jinja2`. In contrast, the `django` engine works as expected (indentation, code highlight, ...)

I'm not cleary understand that is happens.

[2015-05-14 18:13] niwinz commented on #504
I have tested just previous version to this commit: https://github.com/fxbois/web-mode/commit/e919d03bcbc3d022fb16108e3ad0b757685a3955  and jinja2 engine starts as expected (but with obviously existing bugs reported previously)

Something introduced in that commit breaks the jinja2 engine web-mode flavor.

[2015-05-14 18:16] fxbois commented on #504
@niwinz two things
- the last commit should solve the issue ```web-mode-set-engine```
- I've removed jinja2, web-mode now only "knows" ```jinja```

[2015-05-14 18:22] niwinz commented on #504
Thanks @fxbois
Now, everything works as expected!

[2015-05-14 18:22] #504 closed

[2015-05-15 17:20] vslinko opened #509 "Bad JSX indentation"
actual:
[code]

expected:
[code]

[2015-05-15 17:44] vslinko opened #510 "Bad JS decorators indentation"
actual:
[code]

expected:
[code]

[2015-05-15 17:47] vslinko commented on #510
I think problem is decorator is interpreted as function call without semicolon, but decorators can't be closed by semicolon.

[2015-05-15 17:55] vslinko opened #511 "Problem in JSX highlighting"
initial state (`|` is cursor):
[code]

When I'm inserting `{` character all lines above highlighted to white

expected (highlighted all):
[code]

actual (highlighted only last line):
[code]

[2015-05-15 20:01] fxbois commented on #510
@vslinko I do not deal with statements without semilicons

[2015-05-15 20:12] fxbois commented on #509
@vslinko At the moment I do not recursively parse JSX elements. Being able to do so (for example to be able to indent elements that are inside tags like ```<List element={<ul />} />```) will need a lot of work. I hope to be able to work on this this summer.

[2015-05-15 20:43] vslinko commented on #510
But decorators can't be used with semicolons. I don't know how do you parse code, but maybe that problem could be hacked using @ character?

[2015-05-15 20:44] fxbois commented on #510
@vslinko do you have a pointer to the spec ?

[2015-05-15 20:48] vslinko commented on #510
This is a draft feature, but you can find grammar here https://github.com/wycats/javascript-decorators/blob/master/README.md

[2015-05-15 21:06] fxbois commented on #510
@vslinko the last commit should solve the issue

[2015-05-15 22:32] fxbois commented on #511
@vslinko the last commit should solve this

[2015-05-16 15:23] vslinko commented on #511
Working, thank you.

[2015-05-16 15:23] #511 closed

[2015-05-16 15:25] vslinko commented on #510
No, problem is still here, try example from my first message.

[2015-05-16 15:39] fxbois commented on #510
@vslinko I've submitted another patch

[2015-05-16 15:56] vslinko commented on #510
Could you publish package to melpa?

[2015-05-16 15:57] fxbois commented on #510
it is done automatically

[2015-05-16 16:19] vslinko commented on #510
Another problem:

actual:
[code]

expected:
[code]

[2015-05-16 16:59] fxbois commented on #510
@vslinko I thought decorators were on one line. I won't be able to deal with this

[2015-05-16 16:59] #510 closed

[2015-05-16 17:01] vslinko commented on #510
So, could you rollback `@` indent hack, because previous indent pattern is better than current

[2015-05-18 17:34] 501st-alpha1 opened #512 "Problem with alignment of arguments in Blade templates"
I'd like to report a problem with the alignment of arguments in Blade templates. If I enter the following in a file such as `test.blade.php`:

    This is a test. {{ URL::action('someaction',
    [$arg]) }}

... then enable `web-mode`, and hit `TAB` from the bottom line, I get this:

    This is a test. {{ URL::action('someaction',
	                  [$arg]) }}

However, I would prefer it to look

[2015-05-18 20:08] fxbois commented on #512
@501st-alpha1 I've pushed a fix

[2015-05-18 21:35] 501st-alpha1 commented on #512
Works great, thanks!

[2015-05-18 21:35] #512 closed

[2015-05-19 20:29] ReneFroger opened #513 "Function atttribute-select includes the carets."
Hi there, me again!

For example, you have this line:
`<div id="foo" action="bar">`

Your cursor is on the letter `a` of the attribute `action`. In web-mode, the function `web-mode-attribute-select` will select the attribute `action` and his contents, but will select the closing caret too (`>`). When you yank the selected region, it will include the closing caret in the yank. I guess it has someth

[2015-05-20 04:59] ChillarAnand opened #514 "issues with nested comments"
this div has an element commented out. now if i try to comment entire `div#results-filter`, it is not working

[code]

[2015-05-20 06:20] fxbois commented on #514
@ChillarAnand you can not have comments inside comments

[2015-05-20 06:20] #514 closed

[2015-05-20 06:23] fxbois commented on #513
@ReneFroger for me ```>``` is not selected when I ```web-mode-attribute-select```, please take a video

[2015-05-20 06:28] ChillarAnand commented on #514
@fxbois  then web-mode shouldn't insert comments like this

[code]
may be throw a message instead?

[2015-05-20 07:27] fxbois commented on #514
@ChillarAnand I do not agree with you, users should not put nested markup .. it not allowed by the specs.
I won't increase the already large code base for all the cases users should not do

[2015-05-20 11:06] maxc01 opened #515 "Tag goto the wrong place"
When I write a `tag`, it will go to the right side of the current frame, but when I switch to other buffer and switch back, or when I change the window size of my Emacs, the `tag` will come back, strange.
Maybe there are some conflicts in Emacs packages, I think.
![screenshot_2015-05-20_18-53-04](https://cloud.githubusercontent.com/assets/2748078/7724223/391829f0-ff22-11e4-8317-63976ec4e635.png)

[2015-05-20 13:21] fxbois commented on #515
@maxc01 what minor-mode do you use for the vertical line ? I know there is a bug with one of them ...

[2015-05-20 14:26] maxc01 commented on #515
@fxbois I use `Fill Column Indicator`, maybe this is the problem, I notice there is a small vertical line on the right of the wild `div tag`

[2015-05-20 14:49] fxbois commented on #515
@maxc01 I think there is a bug report ... I can provide help to the maintainer if needed

[2015-05-20 14:50] maxc01 commented on #515
@fxbois Yes, `Fill Column Indicator` is the problem, when I turn it off, everything goes right.

[2015-05-20 16:28] jinnovation opened #517 "Use Cask for project management"
Has there been any thought put into the idea of possibly using [Cask](http://cask.readthedocs.org) to manage the project?

In particular, using it would allow the project to easily split into multiple files, which would be helpful for readability and further development.

[2015-05-20 17:54] #515 closed

[2015-05-20 17:57] fxbois commented on #517
@jinnovation it could be a side project but I do not wan't to have it in the main repo. I don't wan't de depend on anything for web-mode

[2015-05-20 17:57] #517 closed

[2015-05-24 04:36] mkscrg opened #519 "JSX doesn't maintain surrounding indentation level"
I have this `web-mode-hook`:

[code]

and I'm trying to format some JSX. I expect it to look like this:

[code]

But the indenter loses the 4-space indent at `return <div>`:

[code]

The 2nd `<div>` is indented 2 spaces regardless of the surrounding depth. Wrapping the JSX in parens and newlines avoids the issue:

[code]

Some debugging info:

[code]

PS `web-mode` is awesome! :smile:

[2015-05-24 06:43] fxbois commented on #519
@mkscrg please post the output of ```web-mode-debug``` please

[2015-05-24 18:02] ReneFroger commented on #513
Sorry for my belated response. The video, as asked:

![web-mode-caret](https://cloud.githubusercontent.com/assets/5211845/7788951/c878770a-024f-11e5-98ff-f1b361bdd7d0.gif)

[2015-05-24 18:05] fxbois commented on #513
@ReneFroger what command do you type after the attribute selection ?

[2015-05-24 18:08] ReneFroger commented on #513
I give the command `kill-region` with pressing C-w.

[2015-05-24 18:27] ReneFroger opened #520 "Comment detection in Javascript and HTML-fields with Yasnippet."
I use YASnippet, to insert comment fields. The structure of the YASnippet for Web-mode is as following:

     $2

I have bound this to a keybinding. I noticed when I'm going into a `<script>` field in the same buffer with the HTML DOM structure, the `
     `(concat comment-start " ")` ---------------------------${1:$(make-string (string-width yas-text) ?\-)}-->
      $2

Well, the function `commen

[2015-05-24 20:18] fxbois commented on #513
I can not trigger your issue. Perhaps start with a very light .emacs to see if a minor-mode is responsible of something

[2015-05-24 20:20] fxbois commented on #520
@ReneFroger you can start by looking at the part "Context-aware auto-completion" on web-mode.org

[2015-05-25 18:56] ReneFroger commented on #520
Thanks for your answer, I got some inspiration from the content of "Context-aware auto-completion". So I defined the following function:

(defun my\fix-comment-tag ()
      (if (string= web-mode-cur-language "html")
           (insert "
     `(my\fix-comment-tag)` ---------------------------${1:$(make-string (string-width yas-text) ?\-)}-->
      $2

Then I got an error: `[yas] elisp error: Symbol

[2015-05-25 18:59] ReneFroger commented on #513
You're right, my fault. I tested it with empty Emacs config, with web-mode only turned on. And I cannot trigger this issue anymore.

I suspect it's related to Evil, so I will try to debug this issue further with the authors of Evil. Thanks for your support.

[2015-05-25 18:59] #513 closed

[2015-05-25 19:17] fxbois commented on #520
you should use ```(web-mode-language-at-pos)```

[2015-05-25 19:48] fxbois commented on #506
@lindleyw the version just pushed is compatible with universal-arg for ```web-mode-element-next|previous``` ... could you confirm that this is ok for you ?

[2015-05-25 20:36] ReneFroger commented on #520
I replaced the `(if (string= web-mode-cur-language "html")` with `(string= web-mode-language-at-pos "html")`.

Well, I got the same error ` [yas] elisp error: Symbol's value as variable is void: web-mode-language-at-pos` when inserting the Yasnippet in the `foobar.html` with web-mode enabled as major mode.

[2015-05-25 20:45] fxbois commented on #520
(string= (web-mode-language-at-pos) "html")

[2015-05-25 21:13] ReneFroger commented on #520
Oh, yes! It works like a charm. I always thought I knew sufficient Elisp syntax, to fiddle around with it. Your comments proves for me, that I'm lacking in knowing Elisp. I should learn it damn good, instead bothering you with my silly questions. :smiley:

Thanks for your help!

[2015-05-25 21:13] #520 closed

[2015-05-26 00:56] lindleyw commented on #506
Confirm that "C-u <number> C-c C-e n" (next) and likewise previous, both respect the numeric argument, including proper handing of the default argument value of 4. Also confirm that negative values work for both next and previous (-1 nexts equals 1 previous, and v.v.)

However, "C-c C-e d" for delete element, with or without argument, results in an error: "Wrong number of arguments" presumably bec

[2015-05-26 05:55] fxbois commented on #506
only web-mode-element-next|previous have been adapted at the moment ... I'll keep web-mode updated as the process advances

[2015-05-26 12:02] lindleyw commented on #506
OK.  Until then, perhaps put this latest on a different branch, so 'master' still works? The others are broken right now. Much obliged.

[2015-05-26 12:48] fxbois commented on #506
I don't understand ... master still work as expected but you can only use unviersal-arg on 4 functions at the moment (I've added two this morning, the list is in the devel changelog on web-mode.org)

[2015-05-26 13:44] lindleyw commented on #506
I have just downloaded the latest version, and several functions, such as C-c C-e d, C-c C-e f -- all give an error (Wrong number of arguments) and fail to operate; can you verify?

[2015-05-26 13:59] fxbois commented on #506
??? have you read my comment ? The only functions that are compatible with universal argument (at the moment) are : web-mode-element-kill | next | previous | yank and you are talking to me of web-mode-element-child and web-mode-element-children-fold-or-unfold ...

[2015-05-26 14:16] mkscrg commented on #519
[code]

[2015-05-26 14:18] lindleyw commented on #506
Please remain calm. The newly updated functions do work fine.  However the other ones are broken and unusable; would best practice be to have such a version in a 'development' branch? Many thanks for your continued improvements.

[2015-05-26 14:25] fxbois commented on #519
could you try the version available on github please

[2015-05-26 14:42] fxbois commented on #506
ok thx. Those args are now &optional

[2015-05-26 14:44] mkscrg commented on #519
Tried from `master`, same behavior. `web-mode-debug` says:

[code]

[2015-05-26 14:47] fxbois commented on #519
have you associated your template with the ejs template engine ?

[2015-05-26 15:00] mkscrg commented on #519
No, not intentionally. I tried explicitly associating an engine:

[code]

But found the same indentation behavior. `web-mode-debug`:

[code]

[2015-05-26 15:41] fxbois commented on #519
you do not need ```(setq web-mode-engines-alist '(("reactjs" . "\\.jsx$")))``` jsx will be recognized because your file has the .jsx extension

[2015-05-26 16:41] mkscrg commented on #519
Right, that's what I was doing before (see original config at top of this issue)

[2015-05-26 18:31] fxbois commented on #519
could you post the web-mode-debug ?
I am expecting "none" for both ```engine``` and ```minor```

[2015-05-26 19:05] lindleyw commented on #506
Hmm... color highlighting isn't working, and C-c C-e f (or b) forward/back aren't either.

− as of commit f91102a81d54d5048be3aabe38516883fbe6e107

[2015-05-26 19:22] fxbois commented on #506
@lindleyw do you have anything in *Messages* ?
I've just pushed a patch to add universal-arg for web-mode-attribute-kill

[2015-05-26 22:51] lindleyw commented on #506
Confirmed working, latest version.  This is a very fine addition, thank you.

[2015-05-27 11:02] fxbois commented on #506
attr-next and attr-prev have been added.

[2015-05-27 11:02] #506 closed

[2015-05-27 15:23] mkscrg commented on #519
Here's the whole (minimal) setup:

- OS X 10.10.3 running Emacs 24.5.1 (installed via Homebrew) in Terminal.app.
- `web-mode` downloaded from GH master: <https://raw.githubusercontent.com/fxbois/web-mode/master/web-mode.el>
- Remove `~/.emacs.d/` and run Emacs with a minimal init file:

[code]

[code]

- Bad indentation behavior with JSX (described above). `web-mode-debug` says this:

[code]

[2015-05-27 17:56] fxbois commented on #519
@mkscrg I see, I think it is because there is 'ejs' in 'webmodejsx' ... I've disabled this extra detection with the last patch.

[2015-05-28 06:38] ChillarAnand commented on #490
@fxbois  reported an issue with expand region, looks like web-mode also has same issue https://github.com/magnars/expand-region.el/issues/164 ?

[2015-05-28 07:55] fxbois commented on #490
@ChillarAnand the last version on github should deal with this

[2015-05-28 08:34] ChillarAnand commented on #490
@fxbois thank you :+1:

[2015-05-28 08:34] #490 closed

[2015-05-28 15:47] mkscrg commented on #519
Ok, now `web-mode-debug` says `none`/`none` as intended:

[code]

The JSX indentation is still incorrect. Am I misusing `web-mode` or is this a bug?

[2015-05-28 16:40] fxbois commented on #519
could you take a screenshot of the window just after emacs is opened please

On Thu, May 28, 2015 at 5:47 PM, Mike Craig <notifications@github.com>
wrote:

--
François-Xavier Bois
Kernix - 15 rue Cels - 75014 PARIS
Tel. +33 1 53 98 73 43

[2015-05-28 17:37] fxbois commented on #519
In fact the paren is not needed you just have to put the first ```<div>``` on a new line.

[2015-05-28 19:33] recri opened #521 "indentation"
With this local variables setting comment on the first line of an html file :

I expected indentation at 2 spaces per level, but I get indentation at 8 spaces per level.

I've looked at your code but I can't figure out how this could happen except when indent-tabs-mode is t and tab-width or standard-indent are bound to 8, which is how I ended up with the values in the comment, by trying to change

[2015-05-28 22:18] fxbois commented on #521
@recri handling this kind of vars has never been implemented in web-mode

[2015-05-28 23:04] recri commented on #521
Well, no wonder it didn't work.  It looks fairly painless to do, once you figure out which variables are safe to take.

  http://www.gnu.org/software/emacs/manual/html_node/elisp/File-Local-Variables.html

[2015-05-29 06:05] fxbois commented on #521
@recri could you add a special hook for this ?

[2015-05-29 14:13] pstray commented on #425
indent-tabs-mode t does't mean that you want only tabs, it means you want tabs instead of 8 spaces (or whatever a tabstop should use). Please fix so having indent-tabs-mode t doesn't break all other indentation settings.

[2015-05-29 14:15] fxbois commented on #425
please propose a fix. I do not use TABS

[2015-05-29 14:26] pstray commented on #425
The check in web-mode that calls web-mode-use-tabs should not check for indent-tabs-mode, but something else (since it not an indication that you want _only_ tabs). But web-mode-use-tabs could possibly set indent-tabs-mode to t, to make indentation actually use tabs.

[2015-05-29 14:42] fxbois commented on #425
It is a problem that I wan't to work on at the moment. Do not hesitate to submit a patch.

[2015-05-29 17:21] pstray commented on #425
Ok, you have a pull request available :)

[2015-05-29 17:22] recri commented on #521
I thought yes, but then I looked deeper.

According to
http://www.gnu.org/software/emacs/manual/html_node/elisp/Auto-Major-Mode.html
emacs is reading and parsing the comment line before web-mode gets to run.
The comment line is the highest precedence mode selection, and I can verify
that setting mode:web in the comment overrides the default mode:html that
html/sgml mode set.  So emacs has already

[2015-05-29 19:53] fxbois commented on #521
strange that emacs can identify a comment before parsing the file. The rule is on "first line" or "first line if comment" ?

[2015-05-29 20:39] recri commented on #521
It is actually searching for the -*- tags containing a sequence of valid
name:value; bindings near the beginning of the file, that it has comment
status is solely the business of the file's syntax.  There's a different
syntax for embedding file local variables one to a line towards the end of
the file, too, which also involves emacs deducing the comment syntax from
an exemplar.

Looking at the cc-

[2015-05-29 21:02] fxbois commented on #521
@recri have you defined standard-indent in your .emacs ?
Moreover have you disabled indent-tabs-mode ?

[2015-05-30 01:54] recri commented on #521
Neither are defined in my .emacs.  I've fiddled with various combinations
in the file local variable settings, but I cannot claim to have tried every
combination.

It turns out that both are defined anyway, as 4 and t.  They turn up as
defined in the buffer when I open a non-existent file that gets defaulted
to fundamental-mode.  Again using c-H v to check buffer local variables.

This is with ema

[2015-06-03 03:39] L42y opened #523 "support JSX spread attributes"
https://facebook.github.io/react/docs/jsx-spread.html#spread-attributes

now it looks like this:
![screen shot 2015-06-03 at 11 39 03 am](https://cloud.githubusercontent.com/assets/284820/7952227/312cba3a-09e5-11e5-9672-9c09e076818f.png)

[2015-06-04 06:09] #519 closed

[2015-06-04 06:09] #521 closed

[2015-06-04 06:12] fxbois commented on #523
@L42y could you post the output of ```web-mode-debug``` please

[2015-06-04 06:43] L42y commented on #523
[code]

[2015-06-05 15:47] 501st-alpha1 opened #524 "Problem with commenting PHP code"
I'd like to report a problem with commenting out PHP code, using `M-;` (`web-mode-comment-or-uncomment`).

If I have a file such as:

    <?php

    class Foo {
        public function bar() {
        }
    }

    ?>

... and I set the mark just before `public`, then move the point to just after the closing brace of `bar`, and do `M-;`, this is the result:

    <?php

    class Foo {
        publi

[2015-06-05 19:56] ReneFroger opened #525 "Web-mode with header lets Emacs crash"
# Bug report

## Setup:
GNU Emacs GUI version 24.4.51.1 (x86_64-w64-mingw32)
[Compiled from Harroogan Emacs.](https://bitbucket.org/Haroogan/emacs-for-windows/)
Web-mode, using the latest version of web-mode from GitHub
[Library header2.el](http://emacswiki.org/emacs/AutomaticFileHeaders)
Windows 7 x64 bit.

## Situation:
header2.el lets you define file headers for different types of file (C, shel

[2015-06-06 07:08] fxbois commented on #524
@501st-alpha1 should be better with last commit

[2015-06-06 17:08] fxbois commented on #525
@ReneFroger I do not have much time to deal with issues with minor modes. I've read very quickly the code and this minor mode use the vars comment-start, comment-end that I do not provide (because I can't provide them).

[2015-06-06 17:18] andreaortuno opened #526 "web-mode-scan-elements: Wrong type argument: number-or-marker-p, "html""
Emacs Version:  Emacs 24.5.1 (i686-pc-mingw32)

I'm on a windows 8 machine. Highlighting and tabbing doesn't work.

Let me know if there is any more info I can provide.

[2015-06-06 17:25] fxbois commented on #526
@andreaortuno it is now solved on github master.
Thx for the report

[2015-06-06 17:32] andreaortuno commented on #526
Great! Any idea when it's getting pushed to melpa?

[2015-06-06 22:12] ReneFroger commented on #525
Fxbois, I understand that you not having a lot of time. But this is **not** a minor mode. It's a action hook, that insert the text when you enter a major mode.

`comment-start` and `comment-end` are independent of any mode. It's native built-in. PHP-mode, JS2-mode and any other major mode don't have such variables, and it works for the other major modes. So it's more related with web-mode.

[2015-06-07 08:03] fxbois commented on #525
@ReneFroger I woulb be happy to accept some patch.

[2015-06-08 16:27] 501st-alpha1 commented on #524
Yep, works great now. Thanks!

[2015-06-08 16:27] #524 closed

[2015-06-09 11:39] lmartins opened #527 "With SCSS files emmet expand incorrectly"
Hi,

Im trying to use web-mode with Sass files (SCSS) so that I can have the smart indentation and brackets. Unfortunately, with web-mode enable I loose the emmet context expansions:

`mr` expands to `<mr></mr>` instead of `margin-right:;`

Is there anyway I can get the correct expansions?

[2015-06-09 11:52] fxbois commented on #527
@lmartins could you post 1/ a screenshot, 2/ your example on gist please

[2015-06-09 13:25] lmartins commented on #527
Hey @fxbois,

Perhaps it's easier to explain with a little video:
http://quick.as/gb5u98yz

The emacs dialog that appears cutoff is when im switching from Scss mode to web-mode.

Thanks for your help.

[2015-06-10 02:40] hydrosIII opened #528 "Web-mode makes emacs unresponsive with big html file."
I have tried to modifiy a html compiled from a .Rmd file (from the R language), there is a lot of data in there, but in other editors the file just opens find. In emacs it takes a long time to load, and when it finally loads it is impossible to work because of slowness.

This is due to some operation made by the web-mode, plain emacs doesn't do that.

Here is the file that im trying to load.

Emac

[2015-06-10 06:04] fxbois commented on #528
@hydrosIII I've removed the limit on attr length. Modification is not slow for me (update web-mode). I can't do anything for slowness ... I've not designed web-mode for this king of giant tag

[2015-06-11 14:52] nhunzaker opened #529 "React JSX Components named `Link` do not autocomplete"
Assuming the following code:

[code]

When I go to type `</`, it autocompletes to:

[code]

[2015-06-11 15:36] fxbois commented on #529
@nhunzaker it is because link is a void element in html

[2015-06-11 15:54] nhunzaker commented on #529
Is there any resolution here? A way to add exceptions for JSX?

[2015-06-12 12:14] prathamesh-sonpatki opened #530 "[ERB] Indentation not properly working for multiline erb statement"
Hi,

If I have multiline ERB form tag then it does not indent the child HTML properly.

This is the example of wrong indentation -

[code]

This is the example of correct indentation but in this case everything is in same line -

[code]

This is the output of web-mode-debug -

[code]

[2015-06-12 12:39] fxbois commented on #530
@prathamesh-sonpatki I've pushed a fix

[2015-06-12 12:40] prathamesh-sonpatki commented on #530
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-06-12 12:40] prathamesh-sonpatki commented on #530
Thank you!

[2015-06-12 13:01] #530 closed

[2015-06-12 13:31] prathamesh-sonpatki commented on #530
@fxbois Just tested with latest version. It fixes the issue.

But I found another issue with deep nested ERB do..end blocks.

[code]

The `span` element is not indented properly.

`web-mode-debug` output

[code]

Thanks.

[2015-06-12 14:00] fxbois commented on #530
@prathamesh-sonpatki new patch has been pushed

[2015-06-12 15:30] prathamesh-sonpatki commented on #530
@fxbois Just tested. Works perfect! Thanks :smile:

[2015-06-12 15:33] prathamesh-sonpatki opened #531 "[ERB] Unexpected token for first ERB tag"
![users prathamesh projects bigbinary myautobrain app views preferences family_safeties _form html erb 2015-06-12 21-01-54](https://cloud.githubusercontent.com/assets/621238/8133515/69ed96f6-1146-11e5-8c36-c947001c7480.jpg)

This happens for first ERB tag in every file? Is this an issue?

[2015-06-12 15:37] fxbois commented on #531
@prathamesh-sonpatki unrelated to web-mode

[2015-06-12 15:37] #531 closed

[2015-06-12 15:37] prathamesh-sonpatki commented on #531
ok. I will try to investigate more. Thanks!

[2015-06-12 17:11] stevemolitor opened #532 "JSX without parenthesis breaks indentation in some cases"
The following ES6 code does not indent properly:

[code]

Note the `return` statement is indented too far. (I have my indentation set to 2 spaces.) However if I add parenthesis around the JSX it does indent properly:

[code]

The parenthesis are not required however - it's valid ES6 / JSX either way.

[2015-06-12 18:18] fxbois commented on #532
@stevemolitor I've pushed a fix

[2015-06-15 14:56] stevemolitor commented on #532
That fixed it thanks!

[2015-06-15 14:59] #532 closed

[2015-06-18 03:20] sineau opened #533 "ac-emmet error"
I was testing the following sample config you mentioned for autocomplete:
[code]
and I got this error:
[code]
The same happens for css as well. Can you help me?

[2015-06-18 05:53] fxbois commented on #533
@sineau I do not use ac-emmet ... you should try on emacs stackoverflow

[2015-06-18 14:02] DarrenN opened #534 "Add "mustache" to match for <script> type"
On a current project we define our templates thus:

[code]

The regex on [Line 3859](https://github.com/fxbois/web-mode/blob/0e677b0ad4ba0d3ba8ae04569efc474d0d7724a1/web-mode.el#L3859) doesn't match that template type and so I lose indentation, etc.

Instead of having to add to the list of match patterns on that line, perhaps we could set additional matching patterns in a variable?

Example:

[cod

[2015-06-18 14:05] rinconjc commented on #153
Was this really fixed?... I'm experiencing a similar issue, where the syntax are not highlighted (at least in pure HTML), it's a shame this mode promises a lot, but unfortunately the syntax highlight is a big let down. By the way I'm using the most recent from MELPA: 20150612.1118.

[2015-06-18 14:06] rinconjc commented on #153
The web-mode-debug just in case:

--- WEB-MODE DEBUG BEG ---
versions: emacs(24.4) web-mode("11.2.8")
vars: engine("none") minor("none") content-type("html") file("index.html")
system: window(x) config("x86_64-pc-linux-gnu")
colors: fg(nil) bg(nil)
minor modes: (ido-everywhere show-paren-mode yas-minor-mode yas-global-mode global-auto-revert-mode diff-auto-refine-mode shell-dirtrack-mode magit-aut

[2015-06-18 14:08] fxbois commented on #534
Could you post a full example on gist

[2015-06-18 14:26] DarrenN commented on #534
Full example of the template? https://gist.github.com/DarrenN/7b9459857a9963418529

[2015-06-18 17:41] fxbois commented on #534
why do you use a script tag for this ?

[2015-06-18 17:50] DarrenN commented on #534
This is a pretty common pattern for dropping templates into an existing HTML page. When its set to:

[code]

Everything works fine as the pattern matches, but I'm working with a team that has been using `text/mustache` for a while in the project.

[2015-06-18 18:10] fxbois commented on #534
@DarrenN I've pushed a fix

[2015-06-18 18:10] #534 closed

[2015-06-18 18:11] fxbois commented on #153
@rinconjc it is really a shame, I agree you. Please post your question on emacs stackoverflow

[2015-06-18 18:14] DarrenN commented on #534
Thanks for your help, and for you efforts on this very useful package.

[2015-06-22 12:52] chenca commented on #491
This is currently broken in master, the fix is simple: http://pastebin.com/1FA8iydU

[2015-06-24 18:35] eguneys opened #535 "web-mode-set-engine doesn't list jsx"
I have described my problem here: http://stackoverflow.com/questions/31020635/how-to-set-web-mode-content-type-for-react-js-files-using-minibuffer

It would be nice to auto detect jsx in js extension however If I want to do it manually I can't use
`web-mode-set-engine` because it doesn't list jsx.

[2015-06-25 14:38] fxbois commented on #535
```(web-mode-set-content-type "jsx")```

[2015-06-25 14:42] fxbois commented on #529
@nhunzaker the only solution I can offer is modifying the var ```web-mode-void-elements```

[2015-06-25 14:42] #529 closed

[2015-06-25 14:43] #528 closed

[2015-06-25 14:43] #526 closed

[2015-06-25 15:21] eguneys commented on #535
@fxbois that doesn't work on minibuffer, I want to execute a command after pressing `M-x`

[2015-06-25 15:44] fxbois commented on #535
@eguneys I've pushed a fix

[2015-06-26 17:32] 501st-alpha1 opened #536 "Indentation problem with multi-line PHP strings"
I'd like to report a problem with the indentation of multi-line PHP strings. Currently, this is how `web-mode` indents such strings:

    $someVar = myfunction("this is my really long string"
                         ."here it continues on the next line");

But I would prefer it to be indented like this:

    $someVar = myfunction("this is my really long string"
                          ."here it

[2015-06-26 18:02] fxbois commented on #536
@501st-alpha1 you can update to the last version on github and add ```(add-to-list 'web-mode-indentation-params '("lineup-quotes" . nil))``` in your .emacs

[2015-06-26 20:18] 501st-alpha1 commented on #536
Works great, thanks!

[2015-06-26 20:18] #536 closed

[2015-06-27 06:29] nerton opened #537 "Heredoc HTML/JAVASCRIPT not highlighted"
I use webmode for PHP and it works well, aside from one thing. Heredoc HTML/JS is not highlighted at all. It shows up as regular PHP string.

I have this code for example:

    $var = <<<EOTHTML

    <script type="text/javascript">

    var test;

    function initialize()
    {
      alert(3);
    }

    </script>

    EOTHTML;

EOTHTML is used to indicate HTML content in string, web-mode-enable-

[2015-06-27 07:22] fxbois commented on #537
@nerton you should prefer HTML to EOTHTML ...
But I do not deal with html/js

[2015-06-27 07:28] nerton commented on #537
As you can see there is HTML in it, but the <script type="text/javascript"> part is not highlighted either. Why? It's a HTML tag. It does not work even if it's HTML only. E.g.:

    $test = <<<EOTHTML
    <div id="test" style="width: 100%; height: 500px"></div>
    EOTHTML;

Nothing is highlighted, not the tags, not the attributes. Why is that?

[2015-06-27 07:38] nerton commented on #537
Now, I see it works with <<<HTML, instead of EOTHTML. That was the problem. But then why the official page mentions EOTHTML?

http://web-mode.org/

Looks like EOTHTML stopped working for some reason.

[2015-06-27 08:36] fxbois commented on #537
@nerton you're right, I've solved this with last commit

[2015-06-27 08:36] #537 closed

[2015-06-27 08:39] fxbois commented on #527
@lmartins I do not use emmet ... difficult for me to help. Perhaps you'll have more success on stackoverflow

[2015-06-27 15:49] nerton commented on #537
Great, thanks.

[2015-06-28 09:57] nerton opened #538 "Indenting PHP ternary operator in a concatenation is not definitive"
Here's this simple example:

    $test = "test" .
                  ($test ?

When pressing TAB repeatedly on the ($test line, web mode moves the line to the right, instead of keeping it indented below "test"

[2015-06-28 10:00] nerton commented on #538
I mistakenly submitted this issue halfway when typing.  I added the missing details to the issue.

[2015-06-28 10:04] nerton commented on #538
Looks like it's not the ternary operator, the starting paren is enough.

[2015-06-28 13:50] eguneys commented on #535
Now I can't set it in my config file like so!

[code]

[code]

maybe rollback this commit?

[2015-06-28 18:35] fxbois commented on #535
@eguneys I won't roll back ... perhaps try a lambda that embeds web-mode-set-content-type

[2015-06-28 18:45] fxbois commented on #538
@nerton I've pushed a fix

[2015-06-28 19:09] nerton commented on #538
Thanks,  I did a quick test and it seemed to have fixed it.

[2015-06-28 19:18] #538 closed

[2015-06-28 19:28] lmartins commented on #527
Thanks for looking into this anyway. Cheers

[2015-06-28 19:28] #527 closed

[2015-07-01 06:51] nerton opened #540 "SQL support to heredoc strings"
I propose adding SQL support to heredoc which is a practical way of writing SQL to avoid quoting issues in the query string.:

    $query = <<<SQL

    select * from a
    where description like '%"some quoted stuff"%'

    SQL

Also, since the heredoc tag makes it unambgious that the code is SQL, this can also support lower case keywords, because upper case keywords are remnants of an era when ed

[2015-07-02 06:06] fxbois commented on #540
@nerton thx, I'll work on this

[2015-07-02 07:08] ChillarAnand commented on #427
just found a package https://github.com/osv/company-web for this.
might help any one searching for this.

[2015-07-02 07:40] fxbois commented on #427
@ChillarAnand thx for sharing

[2015-07-04 02:52] hello-code opened #541 "How to use color name in css ?"
Some colors, like HTML colors name (yellow, red, …) and rgb() ones are automatically activated in some mode like html-mode or css-mode. But I found only `#xxx` in web-mode.
How to use color name automatically colorization in css ?
Thanks!

[2015-07-04 17:45] fxbois commented on #541
@hello-code perhaps you should disable web-mode internal mechanism and use rainbow-mode

[2015-07-05 04:48] hello-code commented on #541
Thank you for your reply!Thanks `web-mode`!
If `web-mode` have this feature would be great!

[2015-07-08 15:04] #541 closed

[2015-07-08 15:05] fxbois commented on #540
@nerton have you try the last version on github ?

[2015-07-08 16:06] nerton commented on #540
I've just tried it, it seems to work well. It highlighted even the lower case keywords in SQL heredoc. Thanks!

[2015-07-08 17:09] #540 closed

[2015-07-09 08:19] darkpssngr opened #542 "[ERB] Multiline array indentation broken"
When I try to define a multiline array, the indentation does not reset once the block is complete.
This is how it looks .
![screen shot 2015-07-09 at 1 44 22 pm](https://cloud.githubusercontent.com/assets/4415079/8590709/ac7aaffe-2640-11e5-857e-0492c9af24c0.png)
It should be like this
![screen shot 2015-07-09 at 1 48 48 pm](https://cloud.githubusercontent.com/assets/4415079/8590786/471803cc-2641-1

[2015-07-09 08:32] fxbois commented on #542
@darkpssngr for the closing bracket, I'll work on this.
For the ```b=10``` line, it won't be possible. Can you add a ```;``` after ```]``` ?

[2015-07-09 08:35] darkpssngr commented on #542
Tried adding ; too still the next line is locked at that place.

[2015-07-09 21:34] fxbois commented on #542
@darkpssngr I've updated ruby indentation on master

[2015-07-10 06:04] darkpssngr commented on #542
Thanks, it fixes the issue.

[2015-07-10 06:04] #542 closed

[2015-07-13 09:49] voylinux opened #543 "Render error"
In php files, web inserting new html blocks, sometimes I experience a kind of visual rendering error wich shows new line with a wrong indentation.

When you change cursor line, seams to be ok.
![indentation_correct](https://cloud.githubusercontent.com/assets/1538304/8647091/3a24875a-2955-11e5-95ec-0110e5762b49.png)
![indentation_error](https://cloud.githubusercontent.com/assets/1538304/8647092/3a2

[2015-07-13 11:43] kryft opened #544 "Indentation for chained methods in javascript"
Is it possible to get indentation like this in web-mode?

<pre>
var result = someObject
                 .method1()
                 .method2()
                 .method3();
</pre>

Currently this would get indented as

<pre>
var result = someObject
             .method1()
             .method2()
             .method3();
</pre>

[2015-07-13 16:16] fxbois commented on #544
@kryft no it is not possible

[2015-07-13 16:16] #544 closed

[2015-07-13 16:23] eguneys commented on #509
[code]

The `Col` elements are not intented. The rest is intended fine.

[2015-07-13 16:30] fxbois commented on #509
@vslinko ```<col>``` is a void element according to the html spec. Use ```<column>``` if you wan't to avoid the issue (or adapt the ```web-mode-void-elements``` according to your needs)

[2015-07-13 16:47] eguneys commented on #509
@fxbois I am using this https://github.com/nkt/react-flexgrid

[2015-07-13 16:50] fxbois commented on #509
@vslinko great ... so play with ```web-mode-void-elements```

[2015-07-14 08:49] bleadof commented on #544
Seriously? That's the worst reply for a request I've seen in a while. :grin:

[2015-07-14 12:39] fxbois commented on #544
Sorry I should have written : I ll be happy to accept your patch.

[2015-07-16 09:00] eric-piwele opened #545 "VTL block written in a single line causes next line to be indented"
#if(true) something #end
  This line is indented but should not be

[2015-07-17 08:46] aumo opened #546 "Optional HTML tags not taken into account for indentation"
The [HTML specification](https://html.spec.whatwg.org/multipage/syntax.html#syntax-tag-omission) defines tags that may be omited in certain circumstances.
**web-mode** does not seem to take that into account when indenting, example:

[code]
when it should be:
[code]

Using Emacs 24.3.1
with web-mode version 20150709.1434
on Ubuntu 12.04

[2015-07-17 08:50] fxbois commented on #546
Hi this feature would be very difficult to implement if i wan't to maintain a good performance.
Clearly not a priority at the moment

[2015-07-17 08:50] #546 closed

[2015-07-17 17:05] 501st-alpha1 opened #547 "Inconsistent indentation for anonymous PHP functions"
I found a problem with the way anonymous PHP functions are indented in `web-mode`. Here is an example PHP file, with `web-mode` indenting applied:

    <?php

    class Foo {
      public function bar() {
        SomeClass::someFunction(function () {
          $a = "foo";
          return true;
        }):

        SomeOtherClass::someOtherFunction($someArg, $anotherArg,

[2015-07-17 17:45] fxbois commented on #547
@501st-alpha1 could you post this example the way you would like it to be please

[2015-07-17 18:29] 501st-alpha1 commented on #547
Reformatting the second example to match the first, it would look like this:

    SomeOtherClass::someOtherFunction($someArg, $anotherArg,
                                      function () {
        $a = "foo";
        return true;
    }):

[2015-07-17 20:50] fxbois commented on #545
@eric-piwele I've pushed a fix

[2015-07-17 21:01] fxbois commented on #543
@voylinux I think it is due to the minor mode responsible for displaying a vertical line

[2015-07-17 21:01] #509 closed

[2015-07-17 21:02] #525 closed

[2015-07-20 10:45] voylinux commented on #543
@fxbois  I am using fci-mode for that.
Any suggestion?

[2015-07-20 10:55] fxbois commented on #543
@voylinux You should ask to the fci-mode maintainer ... I can provide him some help if needed

[2015-07-21 08:11] voylinux commented on #543
@fxbois Looks like it's a known bug
https://github.com/alpaker/Fill-Column-Indicator/issues/46

[2015-07-21 08:57] fxbois commented on #543
@voylinux ok, thx for the link
I can provide some help but won't have time to dig into this minor mode

[2015-07-21 08:57] #543 closed

[2015-07-21 13:05] trevorsenior opened #548 "Javascript Regular expressions with quotes break highlighting"
I'm using `Version: 11.2.16` of webmode, and run into the following issue:

[code]

Where the `/'|"/` regular expression will highlight the remaining code as a string.

![](http://i.imgur.com/0gkut8Y.png)

[2015-07-21 14:03] fxbois commented on #548
@trevorsenior I've pushed a fix

[2015-07-21 14:42] ReneFroger opened #549 "Web-mode comment-or-uncomment works only at the beginning of line."
For example, a Javascript snippet in `web-mode`:

      <script>
     var foobar; []
     </script>

`[]` = the cursor.

When calling `evilnc-comment-or-uncomment-lines` from [the package Evil Nerdcommenter](https://github.com/redguardtoo/evil-nerd-commenter), then `var foobar` will be commented out.

      <script>
     /* var foobar; */ []
     </script>

When calling `webmode-comment-or-uncomme

[2015-07-21 14:46] fxbois commented on #549
@ReneFroger that's a feature ... many developers put comment at the end of the line ..
but i should perhaps put the cursor between ```/*``` and ```*/``` in the cas

[2015-07-21 14:47] #549 closed

[2015-07-21 14:49] ReneFroger commented on #549
Clear enough. Would it then possible to create a `webmode-comment-or-uncomment-line` out of this?

[2015-07-21 14:55] fxbois commented on #544
@kryft I just scanned your issue and was wondering if your needed an alignement on the first uppercase letter or just an additional indent offset

[2015-07-21 14:56] #545 closed

[2015-07-21 23:13] trevorsenior commented on #548
:+1: Thanks for the quick patches as always. Works great.

[2015-07-21 23:13] #548 closed

[2015-07-22 09:32] ReneFroger commented on #549
Any update on this?

[2015-07-22 09:35] fxbois commented on #549
@ReneFroger you should write a little function for your need.

[2015-07-22 18:12] kryft commented on #544
@fxbois Um, now that I read the issue again, I realize that the following is what I *actually* wanted, assuming a basic indentation of four spaces:
<pre>
someCall();
var result = someObject
    .method1()
    .method2()
    .method3();
return result;
</pre>

So basically indenting the chained method calls as if there were an opening bracket after someObject and a closing bracket after the final ch

[2015-07-23 13:42] fxbois commented on #544
@kryft you should read about ```(add-to-list 'web-mode-indentation-params '("lineup-calls" . nil))``` on web-mode.org
No problem for the initial post ... I would think that people like @bleadof should sleep more

[2015-07-23 14:59] bleadof commented on #544
@fxbois Well, I'm actually in the camp of people being nice on the Internet and one-line replies saying it's not possible aren't nicest ways of replying. Or do you disagree?-)

[2015-07-24 06:36] kryft commented on #544
@fxbois Ah, indeed; I should have read the docs more carefully. Thank you!

[2015-07-24 19:21] axyz commented on #197
This is the default indent I have with multiple lines ternary operators:
[code]

is it possible to set some option to have it like:
[code]

or also
[code]

and also
[code]

I like to have everything indented by 2 lines when possible so that with long function or constants names I have no problem to stay below 80 characters per line

thanks

[2015-07-24 21:20] fxbois commented on #197
@axyz I'll work on this

[2015-07-26 18:30] ReneFroger opened #550 "Could wrapping text be aligned with the indentation?"
I have the following wrapped text, especially when you use a lot of windows:

![dmg shop keukendump](https://cloud.githubusercontent.com/assets/5211845/8895292/0586156a-33d5-11e5-9ef8-1c678556e6a0.png)

I'm wondering if the indentation of wrapped text could be changed like in Vim:

![](http://i.imgur.com/ze2uZQG.png)
)

[2015-07-26 19:35] felix-d opened #551 "Wrong auto-closed tag in jsx file"
Thanks a lot for your work!

I'm using web-mode to edit my *.jsx files.  I noticed that when I use `react-bootstrap` `Col` element (or sometimes it happens with other tags too), it doesn't get closed properly, instead web-mode closes the parent element.

[code]

[code]

[2015-07-27 13:06] fxbois commented on #551
Hi, this issue has already been submitted. Check the history with the jsx label.

[2015-07-27 13:06] #551 closed

[2015-07-27 13:40] tmtxt opened #552 "Missing interactive for web-mode-tag-match"
There is no interactive definition for the function `web-mode-tag-match`

[2015-07-27 22:36] g-ortuno opened #553 "Syntax highlighting for arrow functions."
Could it be possible to include syntax highlighting for arrow functions?

For example `function` and `example` in the following code get highlighted
[code]
But on this one neither `=>` nor `example` is highlighted:
[code]

[2015-07-28 08:45] fxbois commented on #553
Are there any other synthax for arrow functions ?

[2015-07-28 11:48] fxbois commented on #550
it is the role of http://emacswiki.org/emacs/AutoFillMode

[2015-07-28 16:00] g-ortuno commented on #553
What do you mean?

[2015-07-28 16:05] fxbois commented on #553
@g-ortuno it is ok ... it will be available with the next release

[2015-07-28 16:06] g-ortuno commented on #553
Great! Thanks! Out of curiosity when is the next release?

[2015-07-28 18:49] jenanwise opened #554 "Javascript block comments do not work with `indent-new-comment-line`"
`M-j` or `indent-new-comment-line` should extend a block comment like it does in `js2-mode` or `java-mode`.

## Expected

[code]

`indent-new-comment-line` =>

[code]

## Actual

[code]

`indent-new-comment-line` =>

[code]

[2015-07-28 19:09] fxbois commented on #554
could you provide a patch ?

[2015-07-29 13:22] paulcdejean opened #555 "PHP: ?> inside a string breaks the mode"
Try pasting the following in for an example:

[code]

[2015-07-29 13:24] paulcdejean commented on #555
Example of the code working and properly syntax highlighted: http://codepad.org/77eLD691

[2015-07-29 16:21] jenanwise commented on #554
I'll take a look. My elisp-fu is nonexistent though :grin:

[2015-07-29 17:14] fxbois commented on #555
Hi this has already been discussed and i won t be able to solve this issue

[2015-07-29 17:14] #555 closed

[2015-07-30 12:19] fxbois commented on #555
dup of https://github.com/fxbois/web-mode/issues/436

[2015-07-30 21:48] siriustnt opened #556 "sgml-parse-tag-backward is wrong in web-mode but not in html-mode"
While trying out skewer mode, I kept getting some weird errors. After searching for a while the problems seems to lie in sgml-parse-tag-backwards when used in web-mode. For some reason it gives a different result than html-mode.

	<html>
	  <head>
		<title></title>
	  </head>

	  <body>
		<h1>test</h1>
	  </body>

	</html>

When I place the point on the '<' from the closing body tag and call sgml-

[2015-07-31 08:12] fxbois commented on #556
I do not understand what you mean. I do not provide sgml-* functions.

[2015-07-31 11:06] siriustnt commented on #556
I know, they are in sgml-mode. But for some reason web-mode changes the behaviour sfml-parse-tag-backwards. Since I only have this problem in web-mode I thought maybe you would know why that is.

[2015-07-31 17:08] fxbois commented on #556
But sgml-mode is a major mode isn t it ? I have absolutly no idea how web-mode could influence an other major mode. Could you ask on emacs stackoverflow please

[2015-08-01 17:38] siriustnt commented on #556
Ok, sorry. IThought it was something in web-mode that would interfere with it.

[2015-08-01 17:38] #556 closed

[2015-08-02 20:18] johnbendi opened #557 "Unmatched bracket or quote"
I get the above error message when trying to compile web-mode.el from master. Please confirm if you have this issue.

[2015-08-03 15:47] fxbois commented on #557
I do not have this issue

[2015-08-04 19:23] johnbendi commented on #557
Please check `web-mode-indent-line`. I decided to get into the source after your reply and my cursor was immediately placed on the error line. Afterwards I came to this repo and verified that indeed that function's parenthesis was not balanced.

Cheers.

[2015-08-06 23:36] johnbendi commented on #557
@fxbois can you confirm my report?

[2015-08-07 22:26] rorsach opened #558 "JSP comments not correctly paired? <%-- %> instead of <%-- --%>"
JSP comments aren't correctly paired.

Typing `<%-` produces: `<%-- %>`.
I'm expecting: `<%-- --%>`

I don't really have the elisp skills to fix it, it seems. I poked around _web-mode.el_ but nothing I tried fixed it, so I'm filing an issue for it now, hoping to get it fixed or for some tips on how to fix it.

Repro steps:

1. Start emacs clean:

1. Load only web-mode 12 (from melpa-stable)

[2015-08-08 15:57] fxbois commented on #558
@rorsach please test the latest commit

[2015-08-08 15:59] fxbois commented on #557
@johnbendi please test the latest version

[2015-08-08 16:00] fxbois commented on #553
@g-ortuno I've pushed a new version

[2015-08-08 16:03] fxbois commented on #552
@tmtxt should be solved with last version

[2015-08-08 16:03] #552 closed

[2015-08-08 16:03] #550 closed

[2015-08-08 16:05] ReneFroger commented on #550
Sorry for the delay, I just noticed it. Thanks for the link.

[2015-08-08 19:31] ReneFroger commented on #550
If it might interest you, http://emacs.stackexchange.com/questions/14589/correct-indentation-for-wrapped-lines

[2015-08-08 19:46] fxbois commented on #550
@ReneFroger thx for sharing

[2015-08-08 23:33] ReneFroger commented on #525
It seems there is a bug, http://emacs.stackexchange.com/questions/13074/why-is-autoheader-crashing-with-web-mode/14602#14602

I have not enough insight in the internals of Emacs or Web-mode, to see what's going on here. But I'm awaiting anohter reply of the beloved user PythonNut.

[2015-08-09 03:20] PythonNut opened #559 "Indentation breaks when buffer begins with whitespace"
**Background:** [This question on Emacs.SE](http://emacs.stackexchange.com/questions/13074/why-is-autoheader-crashing-with-web-mode/14602#14602).

In the definition of [`web-mode-markup-indentation-origin`](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L7082), there is, essentially, the following loop:

[code]

When the buffer starts with whitespace, `back-to-indentation` does not tak

[2015-08-09 04:10] johnbendi commented on #557
I just pulled in the latest version hoping you had made some changes. Upon looking through the changeset I couldn't see any change related to the function I mentioned. Well, I said. Then I decided to go ahead and do a `byte-compile-file` and lo and behold I get the message `byte-code: Unmatched bracket or quote`. I'm forced to wonder if you actually use this mode at all.

FYI, I have been managing

[2015-08-09 05:49] rorsach commented on #558
Tested, validated working

Looking at the diff, I realize the fix was something i had tried. I think the reason i wasn't seeing my fix is because of the .elc file. Note to self: when editing packaged modes, byte compile them. :)

Thanks for the fix and for web-mode.

[2015-08-09 05:49] #558 closed

[2015-08-09 08:51] fxbois commented on #557
The 12.0.1 does not have this issue

[2015-08-09 08:51] #557 closed

[2015-08-09 09:36] johnbendi commented on #557
When I say I have been managing with `v11.2` I mean that is the last known byte compilable version that I can see from here. Also there's no tag like `v12.0.1` that I can see from here just `v12`which still report the above errors. master reports the errors. I wonder which other revision you are talking about.

Do you really mean to say that when you run byte-compile-file on web-mode.el you don't

[2015-08-09 09:39] johnbendi commented on #557
P.S. I also don't see the need for the rush to close an issue you have no treated thoroughly.

[2015-08-09 10:05] johnbendi commented on #557
Finally, your lucky day has come. I was able to track down the issue for you.

On line 6456:
[code]

[2015-08-09 10:13] johnbendi commented on #557
And I can also confirm that in v11.2 that the square bracket was indeed escaped!

[2015-08-09 10:29] fxbois commented on #557
I do not have this issue when i byte compile thé version on github which is thé only version I maintain.

[2015-08-09 20:12] fxbois commented on #559
@PythonNut should be solved with last commit

[2015-08-09 21:55] ReneFroger commented on #559
I updated it to the latest version of web-mode, and removed my patch. And I can confirm, everything is working again without any freezing. So my issue that haunted me for months, is solved now. Thanks @PythonNut for tracking it down and @fxbois me out.

I really appreciate all your help, and I'm working on a package to give something back to the community.

[2015-08-09 21:58] PythonNut commented on #559
Indeed the problem seems to be fixed. Thanks @fxbois!

[2015-08-09 21:58] #559 closed

[2015-08-09 22:22] g-ortuno commented on #553
I see it :smile: thanks!

[2015-08-09 22:22] #553 closed

[2015-08-09 22:55] johnbendi commented on #557
Does it take you anything to escape the bracket for the sake of those who are not in your environment? Maybe using a different encoding?

[2015-08-10 15:17] stevemolitor opened #560 "JSX comment"
It'd be great if `web-mode-comment-or-uncomment` supported JSX comments.  For example:

[code]

HTML comments don't work in JSX. You have to use the curly braces ('{', '}') to make it code, and then use Javascript comments (`//` or `/* ... */`, whatever would be easiest).

[2015-08-11 11:24] kgwinnup opened #561 "switch/case indentation"
In c/c++ mode I have (c-set-style "k&r") set to properly indent switch/case keywords. Meaning the case keywords are indented 1 "tab" in from the switch keyword block. However, I don't know how to apply that same setting to web mode,

[code]
to
[code]

[2015-08-11 20:51] fxbois commented on #561
what language ?
post an example on gist please

[2015-08-12 09:59] luongtrongdai opened #562 "ac-source-css-property not working"
First, sorry for my bad english :)

I want to use web-mode and auto-complete to edit css file. My config:

(setq web-mode-ac-sources-alist
        '(("css" . (ac-source-words-in-buffer ac-source-css-property))
          ("html" . (ac-source-words-in-buffer ac-source-abbrev))))

I see ac-source-words-in-buffer working normaly. But ac-source-css-property not working. I don't know why

[2015-08-12 12:40] zw963 opened #563 "web-mode not worked well with subword-mode."
I switch from rhtml-mode to web-mode recently.

I found some function work well previously it not worked well now.

[code]
When cursor at ``|buyer_order_path``, M-x `subword-kill`, I expect
1. remove buyer
2. remove _order
3. remove _path
But, it will:
1. remove buyer
2. remove _orders_path

When cursor at ``buyer_order_path|``, M-x `subword-backward-kill`,
will delete full ``buyer_order_path`` di

[2015-08-12 12:55] zw963 commented on #563
Hi, I have fixed this.
[code]
but I don't know change this weather effect others.
Could you resolve this?

[2015-08-12 13:29] kgwinnup commented on #561
I am using javascript. However, when using something like the code below the indentation seems to get messed up in two different ways as seen below. It appears to work fine with functions defined in ES6 style classes.

[code]

[code]

[2015-08-12 14:03] kgwinnup commented on #561
these files have extensions of both .js and .jsx

[2015-08-12 15:05] wukkuan opened #564 "Strange JavaScript indenting"
Braces don't seem to indent themselves as I'd expect. For example, if I type `function test() {<enter>}` I expect the result to be:

[code]

But the actual result is:

[code]
This necessitates that I manually unindent the `}` line. Is this on purpose? Is there a way to configure around that or a better workflow that you intended?

## Configuration details
* Emacs 24.5.1, OS X 10.10.4
* Fresh `.ema

[2015-08-12 17:18] fxbois commented on #562
Hi, this is a question for emacs stackoverflow

[2015-08-12 17:24] fxbois commented on #563
I can not apply this patch because having _ has a word component is often useful. You should rewrite the synthax table in your .emacs

[2015-08-12 17:25] fxbois commented on #561
Thx, I ll look at this

[2015-08-12 19:20] fxbois commented on #561
@kgwinnup strange, I can not trigger this. Can you post the output of web-mode-debug for those two examples please

[2015-08-12 21:28] kgwinnup commented on #561
hmm, I am using spacemacs and oddly do not have a M-x web-mode-debug function. nothing related to web mode in the *messages* buffer either. Any other ideas for how to get debug info to you?

Also, if I create a js file with only the following in it I get the indentation case.

[code]

[2015-08-13 02:40] luongtrongdai commented on #562
@fxbois I'm not sure to understand your question. I'm a newbie of emacs. I try to find issue list and found some same question. But I can't find solution. Someone talk it a auto-complete bug

[2015-08-13 07:28] zw963 commented on #563
I don't understood `having _ has ' what means.

Anyway, thanks. I do this myself already.

[2015-08-13 07:28] #563 closed

[2015-08-13 09:11] fxbois commented on #561
@kgwinnup perhaps the web-mode version is too old

[2015-08-13 09:12] fxbois commented on #562
@luongtrongdai please post you question on
https://emacs.stackexchange.com/
I do not know anything about ac-source

[2015-08-13 09:16] fxbois commented on #564
@wukkuan I do not have this issue ... it must be related to a minor mode

[2015-08-13 09:18] fxbois commented on #563
@zw963 I meant "having _ as a word component"

[2015-08-13 10:53] luongtrongdai commented on #562
@fxbois Thank you for support. I found solution is:

(defvar ac-source-css-property-names
  '((candidates . (loop for property in ac-css-property-alist
                        collect (car property)))))
then, change ac-source:
(setq web-mode-ac-sources-alist
      '(("css" . (ac-source-css-property-names ac-source-css-property))
        ("html" . (ac-source-words-in-buffer ac-source-abbrev))))

I

[2015-08-13 10:53] #562 closed

[2015-08-13 12:29] kgwinnup commented on #561
looking through my .emacs.d configs, and web-mode.el is 12.0.2

[2015-08-13 14:59] wukkuan commented on #564
You may be right! But if so, it must be a minor mode that's on by default in Emacs 24.5.1. Here is the output of `describe-mode`:

`electric-indent` could be the culprit? It was enabled by default in 24.4. Turning it off kind of fixes it, but the behavior is still not what I expect.

Perhaps the problem is that my behavior expectation isn't what yours is. If so, that's my problem not yours! The bi

[2015-08-13 16:56] fxbois commented on #562
@luongtrongdai great, thank you for the post

[2015-08-13 16:57] fxbois commented on #561
@kgwinnup remove everything but web-mode.el related stuff for your .emacs and see if it changes anything

moreover there is no reason not to be able to call web-mode-debug

[2015-08-13 17:00] fxbois commented on #564
The behaviour on my my machine is the one described on your first post : ```}``` at the beginning of the line ... it is strange

could you post the output of web-mode-debug ?

[2015-08-13 17:07] wukkuan commented on #564
[code]

[2015-08-13 17:40] fxbois commented on #564
@wukkuan does it changes anything when you add ```(setq-default indent-tabs-mode nil) ``` ?

[2015-08-13 17:49] wukkuan commented on #564
No, same behavior.

[2015-08-14 10:39] zw963 commented on #563
Oh, I see now.

Seem like can have other method to resolve this?
seem like ``_`` is as a word component in many emacs mode,
But those mode can use subword-mode correctly?

I have look up ruby-mode, I found this mode add syntax like this:
[code]

It worked for me too. this can worked for yours case?

[2015-08-14 11:02] zw963 opened #565 "region comment not work well if exist ERB tags."
[code]

if setting ``(setq web-mode-comment-style 2)``
use region select all content, run `web-mode-comment-or-uncomment`,
it will result in:

[code]

this result to output result:
[code]

[2015-08-14 16:55] 8cylinder opened #566 "Highlighting via font-lock-add-keywords"
I have been using this snippet of code in my init.el to arbitrarily highlight code in other html modes, but when I use it with web-mode it doesn't work.  What I was wondering is if there is another method I could use to achieve the same thing?
[code]

[2015-08-15 12:09] fxbois commented on #566
I think there is an other param to use for font-lock-add-keywords

[2015-08-15 19:09] 8cylinder commented on #566
You are correct, I had to make sure the keywords were added to the end of font-lock-add-keywords instead of the beginning by adding a non-nil argument to the third param.

Thank you, and thanks for the awesome web-mode!
[code]

[2015-08-15 19:09] #566 closed

[2015-08-15 19:09] fxbois commented on #563
@zw963 the last commit has your change. We'll see if there is any report about this

[2015-08-15 19:10] fxbois commented on #566
@8cylinder my pleasure, but I don't know why you need this. web-mode has font you can customize to get exactly the same effect

[2015-08-15 19:18] fxbois commented on #563
@zw963 I've canceled the patch .. to many errors with the file demo.djhtml

[2015-08-15 19:22] 8cylinder commented on #566
The main reason is that I wanted the django `block` and `blockend` tags to stand out, and I have various things  like `fixme` in comments stand out also.  Plus this works across multiple modes as well.

[2015-08-15 20:27] fxbois commented on #565
@zw963 should be better with last version

[2015-08-17 14:23] AlexYegupov opened #567 "[Un]Commenting/uncommenting of region is not worked correctly in case of spaces at beginning"
Here are examples of two cases of incorrect commenting/uncommenting of region (;; Version: 11.1.09)

definitions:
 | - cursor position
 M - mark start and end

1) ...if spaces before text in marked region:
M|
  getAll() {
    return tracks;
  }M

2) ...if cursor is located at the end of the marked block:
MgetAll() {
    return tracks;|M

Hope that will be fixed. Thanks.

[2015-08-17 14:25] fxbois commented on #567
Hi, I do not support old versions... can you update ?

[2015-08-17 15:12] AlexYegupov commented on #567
tested on ;; Package-Version: 20150815.1328
For this version that all seems much better. The only found problem is the wrong uncommenting  in case of empty line presense in marked region before the comment start:

M|
  /*
     getAll() {
     return tracks;
     }
   */M

NB: I use standard emacs mark-paragraph function (M-h) that's why spaces are occurred at the beginnging of marked region.

[2015-08-17 15:29] fxbois commented on #567
could explain more please, I think I do not understand what you mean

[2015-08-17 19:58] xaiki commented on #427
I thought I'd share this here, I'm using web-mode for jsx editing and tern to complete with company-mode, in order to get company-tern to work in my web-mode buffer I'm using this sniplet, maybe @fxbois will find it usefull to add to the documentation ?
[code]

[2015-08-19 06:03] nekonenene opened #568 "Lacking 1 closing parenthesis in web-mode.org"
The "Context-aware auto-completion" part in "Customisation" section

You wrote :
(setq web-mode-ac-sources-alist
  '(("css" . (ac-source-css-property))
    ("html" . (ac-source-words-in-buffer ac-source-abbrev)))

This code lacks a closing parenthesis, so an error causes.
Fix it please. Thank you.

[2015-08-19 06:46] fxbois commented on #568
ok

[2015-08-19 06:46] #568 closed

[2015-08-19 07:05] AlexYegupov commented on #567
screenshot of selection when UNcommenting doesn't work
https://yadi.sk/i/dQtS_2MLiXaR8

[2015-08-19 11:43] zw963 commented on #565
Thanks, But still not work.

[code]

comment one line,  and uncomment, will left
[code]

[2015-08-19 12:06] fxbois commented on #565
there is no solution
<%# <span>hello</span> %> -->  <span>hello</span>
<%# Time.now %> --> ?? how can I guess that in this case I should only remove the #
I think I ll remove the patch i submitted for your issue ... this way the second case will work as before

[2015-08-19 12:08] fxbois commented on #554
@jenanwise please reopen if needed

[2015-08-19 12:08] #554 closed

[2015-08-19 12:09] #501 closed

[2015-08-19 20:47] #567 closed

[2015-08-19 20:47] #561 closed

[2015-08-19 21:03] fxbois commented on #547
@501st-alpha1 sorry but I have no solution for this (a real parser would be necessary to handle this case)

[2015-08-19 21:03] #547 closed

[2015-08-19 21:04] fxbois commented on #564
I can not reproduce this bug. I'll look at it if I have an other report like this

[2015-08-19 21:04] #564 closed

[2015-08-19 21:05] #535 closed

[2015-08-19 21:06] #533 closed

[2015-08-19 21:06] fxbois commented on #565
I've pushed an other patch

[2015-08-19 21:08] fxbois commented on #560
@stevemolitor could you explain what you want an other way, I am not sure to understand

[2015-08-19 21:26] stevemolitor commented on #560
Sure.  This is not valid JSX:

[code]

Neither is this:

[code]

The React JSX compiler will blow up complaining of syntax errors with either of those examples. The reason is that JSX is not Javascript, and JSX does not have a comment syntax. HTML comments like `` won't work either. Instead you have wrap the JSX code you want to comment with curly braces, which escapes to JS, where you can use nor

[2015-08-20 06:04] fxbois commented on #560
ok, understood

[2015-08-20 09:39] thkoch2001 opened #569 "please gpg sign tags (and commits?)"
I'd like to package web-mode for Debian, but I can not verify that the file downloaded from git is the one you authored. Please be so kind and use signed git tags and maybe also signed git commits for those who want to follow the master branch.

[2015-08-20 09:41] fxbois commented on #569
do you have an howto for this?

[2015-08-20 09:48] thkoch2001 opened #570 "no info documentation"
web-mode doesn't have documentation in info format. I've never authored info docs. What would be a good workflow?
One could start with the information from http://web-mode.org

[2015-08-20 09:50] thkoch2001 commented on #569
thx for your interest!
https://git-scm.com/book/en/v2/Git-Tools-Signing-Your-Work
man git-tag
why: http://mikegerwitz.com/papers/git-horror-story

git commit signing:
https://lists.debian.org/debian-devel/2015/05/msg00515.html

[2015-08-20 13:09] fxbois commented on #570
@thkoch2001 yes it would be great that someone take care of it.
On my side, if I find some time, I will split web-mode.org in many pages

[2015-08-20 20:06] 501st-alpha1 commented on #547
Bummer. Thanks for the update.

[2015-08-21 08:35] deflexor opened #571 "Inentation auto insert extra single space in embedded <script> and <style>"
This is from web-mode FAQ:

But when this option is set then indentation of html markup is fine, but embedded blocks indented like this:
[code]
This bullet symbol  `•` i use here to show a space character, so you can see where auto indentation puts those unwanted spaces, is there way to get rid of these spaces ?

[2015-08-21 08:42] fxbois commented on #571
@deflexor could you try  ```(setq web-mode-style-padding 0)```

[2015-08-21 08:49] deflexor commented on #571
Thank you for quick reply, @fxbois. I did it and it seems worked for css embeds, but not for javascript embeds.

[2015-08-21 08:50] fxbois commented on #571
```(setq web-mode-script-padding 0)```

[2015-08-21 08:54] deflexor commented on #571
Yes, this looks like a real fix, thank you!

[2015-08-21 09:06] #571 closed

[2015-08-21 13:42] zw963 commented on #565
I think maybe can ```<%# hello %>`` just leave `hello` here.
any one add this comment will remove this immediately.

[2015-08-21 13:47] zw963 commented on #565
Oh, I wrong,  only remove ``#`` is right.

[2015-08-21 14:46] AlexYegupov opened #572 "HTML Tag navigations shortcuts"
Hello.

tested on  ;; Package-Version: 20150819.1412

tested on file
https://github.com/facebook/flux/blob/master/examples/flux-chat/js/components/ChatApp.react.js

The following shortcuts seems not work:

navigation C-c C-n

C-c C-b b block beginning
...
C-c C-b s block select

Thanks.

[2015-08-21 15:18] fxbois commented on #572
@AlexYegupov post the output of ```web-mode-debug```

for definition of ```block```, read web-mode.org

[2015-08-21 15:44] AlexYegupov commented on #572
after pressing C-c C-n (while cursor inside "div" of ChatApp.react.js):

Unexpected token <

[2015-08-21 15:50] fxbois commented on #572
content-type should be jsx ... you really need to read http://web-mode.org

[2015-08-21 15:50] #572 closed

[2015-08-22 00:28] winny- opened #573 "Unexpected indentation/dedentation with JSX in ONLY in truthy part of ternary operators"
I am working on a lot of code with functions that builds JSX elements within ternary operators and have noticed a few issues:

[code]

I also noticed the syntax coloring seems to be messed up with the comments. See the screenshot below

![2015-08-21-192222_818x563_scrot](https://cloud.githubusercontent.com/assets/3893828/9421503/2a8bb756-483a-11e5-9e62-65db4b4aa747.png)

According to `M-x package-

[2015-08-22 06:38] fxbois commented on #573
@winny- it is now fixed on master

[2015-08-22 20:16] winny- commented on #573
:+1: It's in MELPA too, now. Major kudos! :cake:

[2015-08-22 20:16] #573 closed

[2015-08-24 23:43] mmcclimon opened #574 "Highlighting HTML entities"
(Copied from http://emacs.stackexchange.com/questions/14938/highlight-html-entities-in-web-mode.)

I often edit articles in web-mode (using PHP). It would be nice if there were some way of fontifying HTML entities (like `&#8211;`, `&eacute;`, and so on)? I'd like them to be a lighter color so that they're easier to see. Since the font-lock code in `web-mode.el` deals with lots of different flavors

[2015-08-26 08:18] tommas1988 opened #575 "Auto complete tags not work in terminal or tty"
When run emacs in terminal or tty with web-mode, write part of the close tag `</` not auto complete. Also, when writing `<?` web-mode auto auto complete the rest of the php tags which is working in gui window

[2015-08-26 08:21] fxbois commented on #575
read http://web-mode.org please

[2015-08-26 08:21] #575 closed

[2015-08-26 23:32] dsemke opened #576 "JSX indentation incorrect when opening tag appears on first line of return"
When an opening tag appears on the same line as the return keyword, the indentation appears to be offset from column 0:

[code]

Expected behavior:

[code]

Output of `web-mode-debug`:

[code]

[2015-08-27 06:10] zw963 commented on #565
Hi, Thanks for yours fix, but still exist some problem.

In many case, if commented text exist erb block  will result in syntax error.

[code]

block comment all content, will result in:

[code]

block comment inner block, will result in:

[code]

[2015-08-27 06:16] zw963 opened #577 "ruby keyword will highlight as a part of varible in ERB."
[code]

here, `not `and `return` as ruby keyword, will highlight as a part of  a variable `not_return_path`.

[2015-08-27 06:42] fxbois commented on #577
@zw963 not here, perhaps related to your subword setting

[2015-08-27 06:42] #577 closed

[2015-08-27 06:49] fxbois commented on #565
@zw963 I do not understand your problem and what you want

[2015-08-28 07:00] thomas-koch-comsolit commented on #570
Good morning - just to understand your workflow: why did you close this issue? It could be a reminder for me and other people to work on this issue, but if it's closed the chances are smaller that it'll be resolved eventually. Or did I miss something?

[2015-08-28 07:20] fxbois commented on #570
Ok understood. Indeed it would be great if someone work on this. On my side, i won t have the time.

[2015-08-28 15:10] thomas-koch-comsolit commented on #570
Do you have a source file for the web-mode.org site or do you edit the html directly?

[2015-08-28 17:09] fxbois commented on #570
I edit the html directly. I found some time ago a good mode for emacs ...

[2015-08-30 16:13] fxbois commented on #197
@axyz with the last version on github, try
```(add-to-list 'web-mode-indentation-params '("lineup-ternary" . nil))```

[2015-08-30 16:13] fxbois commented on #523
@L42y please try the last version on github please

[2015-08-30 16:14] fxbois commented on #576
@dsemke please try the last version on github

[2015-08-30 16:48] fxbois commented on #574
@mmcclimon with the last version on github, you can add ```(setq web-mode-enable-html-entities-fontification t)``` in your conf and customize ```web-mode-html-entity-face```

[2015-08-30 17:11] dsemke commented on #576
Looks good for the `return` block but I did just notice that the same behavior was happening with `var` blocks as well:

[code]

[2015-08-30 18:26] mmcclimon commented on #574
:+1:

Perfect! Thanks so much!

[2015-08-30 18:26] #574 closed

[2015-08-30 19:10] fxbois commented on #576
@dsemke post this code with the indentation you would like please

[2015-08-30 19:11] fxbois commented on #574
@mmcclimon please update the stackoverflow post

[2015-08-30 19:58] dsemke commented on #576
Updated previous comment with expected indentation

[2015-08-30 22:09] axyz commented on #197
thanks! going to give it a try soon

[2015-08-31 02:55] L42y commented on #523
@fxbois it works, thanks!

[2015-08-31 02:55] #523 closed

[2015-08-31 18:43] fxbois commented on #576
@dsemke please test the last version

[2015-09-01 14:06] dsemke commented on #576
Looks good, thank you!

[2015-09-01 14:06] #576 closed

[2015-09-01 15:23] zw963 commented on #565
Sorry for pool english.

general speaking, in following situation, comment is not work.

###  if a `<% ??? %> syntax is inside marked region.
[code]
this will output ``%> `` only.

### if a `ruby block` inside marked region, it not consider <% end %> situation
this will result in syntax error.

[2015-09-01 15:39] zw963 commented on #577
I'm affirm just now in newest version web-mode.
This is not a big problem although, thanks.

[2015-09-01 16:07] fxbois commented on #565
element rename: ```C-c C-e r```

[2015-09-01 16:09] fxbois commented on #565
for the previous comment, I have no solution .. you should use html comments

[2015-09-01 16:09] #565 closed

[2015-09-05 13:31] azizmb commented on #275
@eN-Joy I'm facing the same problem. How did you finaly work around this?

[2015-09-11 17:52] saiberz opened #578 "Error indenting jsx"
I'm having problems indenting embedded XML (E4X)
<img width="422" alt="screenshoot" src="https://cloud.githubusercontent.com/assets/1022999/9821988/882dbb6c-5883-11e5-90f1-206d2ad86e44.png">

[2015-09-11 20:25] fxbois commented on #578
post the output of web-mode-debug

[2015-09-11 21:47] saiberz commented on #578
[code]

[2015-09-11 21:55] fxbois commented on #578
content-type should be jsx.
You should read http://web-mode.org

[2015-09-11 22:00] saiberz commented on #578
Sorry i forgot to read it , my bad. it works now perfectly.
Thanks so much @fxbois

[2015-09-11 22:00] #578 closed

[2015-09-14 07:03] sander opened #579 "Indent after expression-type arrow function"
[Arrow functions (MDN)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions) can be either of ‘statement type’ or ‘expression type’. The first indents properly in web-mode:

[code]

The second, without brackets, doesn’t:

[code]

I would expect the indentation to be:

[code]

I’m using `web-mode-20150912.16` from Melpa.

[2015-09-14 14:05] stardiviner opened #580 "add face for embed blocks like `web-mode-script-face`"
like `web-mode-script-face` and `web-mode-style-face`.

Can web-mode support for ERB embed blocks like `<% for i in variables %>`, and
`<%= puts i %>`.

[2015-09-14 14:25] fxbois commented on #580
@stardiviner I do not understand what you are looking for

[2015-09-14 14:39] stardiviner commented on #580
I wish web-mode can add face for all embed blocks like ERB block etc.
to highlight block background with a color:

Here is the screenshot shows javascript block is highlighted with block background color, I wish web-mode can add face for ERB and other embed template blcoks too.

![web-mode-block-faces](https://cloud.githubusercontent.com/assets/378699/9852543/6b22ffc2-5b31-11e5-8425-3ca920dad8bb.p

[2015-09-14 15:01] fxbois commented on #580
```web-mode-block-face``` is available

[2015-09-14 15:15] stardiviner commented on #580
After test with `emacs -q`, seems web-mode can't fontify those embed template blocks.

[2015-09-14 15:17] fxbois commented on #580
post the output of ```web-mode-debug```

[2015-09-14 19:22] torgeir opened #581 ".jsx question: highlighting and indents also for .js files?"
Hi and thanks for a great emacs mode! This is merely a question, not an issue;

I see jsx highlighting and indenting kicking in when my files end in `.jsx` (on the left)

<img width="893" alt="screen shot 2015-09-14 at 21 16 33" src="https://cloud.githubusercontent.com/assets/118202/9859278/fbee0d82-5b25-11e5-849d-c2f8da5ef947.png">

What is needed to make this behavior the same for `.js` files as

[2015-09-14 19:58] jeffbski commented on #581
+1 I am interested in answer as well.

[2015-09-14 20:29] fxbois commented on #581
@torgeir please read http://web-mode.org

[2015-09-14 20:30] torgeir commented on #581
I have, skimmed it atleast - any part in particular?

[2015-09-14 20:31] fxbois commented on #581
look at ```web-mode-content-types-alist```

[2015-09-14 20:32] torgeir commented on #581
Alright, thanks.

[2015-09-14 20:41] fxbois commented on #579
@sander you can try the last version on github

[2015-09-14 20:46] torgeir commented on #581
`(setq web-mode-content-types-alist '(("jsx"  . "\\.js\\'")))` did the trick.

The trailing paren is still kinda off, though

[2015-09-15 01:27] stardiviner commented on #580
[code]

[2015-09-15 05:47] sander commented on #579
Great, works well, thank you!

[2015-09-15 05:47] #579 closed

[2015-09-15 07:19] fxbois commented on #580
@stardiviner you need to associate your file to the erb template engine. Everything is described on http://web-mode.org

[2015-09-15 09:56] stardiviner commented on #580
I understand now.

[2015-09-15 09:56] #580 closed

[2015-09-15 11:10] pavloo opened #582 "handlebars comments"
First of all, thanks for your work. Now down to business: commenting in `handlebars` doesn't work for me properly: html comments syntax is used instead. Valid handlebars comments syntax is `{{!-- --}} or {{! }}.`

![untitled](https://cloud.githubusercontent.com/assets/2216562/9874860/67f1c956-5bb2-11e5-99b5-60d4923c88b4.gif)

My web-mode version is `;; Version: 12.1.2`. Can you confirm that this i

[2015-09-15 14:47] fxbois commented on #582
@pavloo see ```web-mode-comment-style```

[2015-09-15 20:41] #581 closed

[2015-09-15 22:15] fxbois commented on #560
@stevemolitor I've started implementing this in the with the last commit

[2015-09-16 09:22] madhavan020985 opened #583 "Html snippeet inside script tag doesn't get indented."
Html content inside ````<script>```` tags are not properly  indented.
I started emacs --no-init, then loaded web-mode.el manually, and opened a html file, selected all text and pressed tab.

The jquery template html content written between script tag is no longer properly indented.
It looks like,
[code]
It was working earlier. I was switching between 24.4 to 24.3, back and forth and updating syste

[2015-09-16 09:23] fxbois commented on #583
post a screenshot please

[2015-09-16 09:24] madhavan020985 commented on #583
![emacs-tab-broken](https://cloud.githubusercontent.com/assets/4812767/9901094/d52bf228-5c82-11e5-9317-d098b8c6bc01.png)

[2015-09-16 09:42] fxbois commented on #583
@madhavan020985 please test the last version on github

[2015-09-16 09:43] madhavan020985 commented on #583
i will do it and tell you in some time

[2015-09-16 09:49] madhavan020985 commented on #583
it works... so closing this issue

[2015-09-16 13:46] mbme opened #584 "JavaScript/Jsx: Paren inside single-quoted strings breaks fontification of rainbow-delimiters mode"
[Rainbow delimiters](https://github.com/Fanael/rainbow-delimiters) mode allows to highlight unmatched parens.
This code uses double quotes and its highlighting is ok:
[code]
This code uses single quotes and last brace is highlighted as unmatched:
[code]
Everything is ok when I use js-mode.
So probably rainbow-delimiters mode use some information provided by current major mode to detect if brace is

[2015-09-16 13:55] fxbois commented on #584
@mbme could you ask the rainbow delim maintainer ?
I can provide help

[2015-09-16 15:15] martine opened #585 "Recognize typescript ".ts"/".tsx" extensions"
It would be nice if web-mode understood typescript.  There's a typescript mode already (based on javascript-mode) but web-mode understands JSX (which is HTML-like) mixed with code and typescript-mode doesn't support that.

https://github.com/aki2o/emacs-tss/blob/master/typescript.el appears to be the current recommended mode for typescript.  The comments indicate it had a replace-string of "javasc

[2015-09-16 15:19] fxbois commented on #585
@martine please post examples of templates that embed typescript parts

[2015-09-16 15:29] martine commented on #585
Actually, I think it already works fine, I just needed to get web-mode to treat the file as JavaScript.  (TypeScript syntax is basically ES6 syntax as far as I understand it.)

[code]

Perhaps the fix is just building the equivalent of that into web-mode by default.

Here's a fake snippet of some TypeScript+JSX code, which web-mode seems to render just fine:

[code]

[2015-09-16 15:33] martine opened #586 "Homepage example of web-mode-content-types-alist has bad syntax"
On web-mode.org there's this example snippet:
[code]

From a skim of the code it appears these are matched using string-match-p.  I don't understand emacs regexes well, but I think `/*` should match any number of slashes, which doesn't make sense for a path (?).

Perhaps this is a typo?  If not, sorry for wasting your time with useless bug reports!

[2015-09-16 15:44] fxbois commented on #585
is *.tsx a standard extension for this kind of scripts ?

[2015-09-16 15:46] fxbois commented on #586
@martine you are right. It is now corrected. Thanks for the report.

[2015-09-16 15:46] #586 closed

[2015-09-16 16:04] martine commented on #585
Yes, new as of TypeScript 1.6:
https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript
(see "new .tsx file extension").

[2015-09-16 16:08] fxbois commented on #585
@martine I've pushed a fix. Modifying ```web-mode-content-types-alist``` is not needed any more.

[2015-09-16 16:47] martine commented on #585
Great, thanks!

[2015-09-16 16:47] #585 closed

[2015-09-17 07:01] #583 closed

[2015-09-17 07:18] madhavan020985 commented on #583
really sorry for the above repeated actions... please ignore...

[2015-09-17 19:43] #582 closed

[2015-09-17 19:43] fxbois commented on #560
reopen if needed

[2015-09-17 19:43] #560 closed

[2015-09-17 19:43] #197 closed

[2015-09-17 20:28] stevemolitor commented on #560
Awesome thanks I will try it it out!

[2015-09-18 11:15] ChillarAnand commented on #497
Setting

      (setq-default indent-tabs-mode nil)

solved problem. It wasn't  prelude. Thanks!

[2015-09-18 12:11] fxbois commented on #497
@ChillarAnand thx for sharing the solution

[2015-09-18 13:03] zw963 opened #587 "web-mode highlight is not be applied when copy code in."
I found web-mode is not rendered inner tag when copy html code in current buffer.
it seem like just render the first line and the last line in some case.
e.g. following only first and last line is highlight.
[code]
though when editing buffer,  will correct highlight the editing tags.

is this a bug?

if this not bug, is exist a lisp function to force render right now ?

Thanks.

[2015-09-18 13:08] fxbois commented on #587
could you try to take a video of this ?

[2015-09-18 13:51] zw963 commented on #587
I spent fifteen minutes to found a video capture program in my linux, finally, I just found a
snapshot program.

following screenshot, after ``<body>``, and before ``</body>``,  is copied from another
buffer, it just like this, it render part of content, but not all.

In my emacs, if used with rhtml-mode, never happen this case.

http://zw963.github.io/snap1.png

Thanks.

[2015-09-18 14:15] zw963 commented on #587
just for clarify, when paste from browser, has this problem too. : )

[2015-09-18 14:17] zw963 commented on #587
If i edit some line, e.g. delete a char, it will rendered correctly at once.

[2015-09-18 15:36] zw963 commented on #587
if can not reproduce, maybe locally `auto-indent-mode` cause this?

[2015-09-18 16:36] fxbois commented on #587
please describe a complete testcase so that I can reproduce (don't forget to post the examples)

[2015-09-19 05:40] zw963 commented on #587
## Create a new html file (1.html) with somebasic html scaffold, it default open with web-mode,
with some base html scaffold.

## Copy some html code from browser with C-c

##  C-y (yank command) to paste code to this buffer

following ...
http://zw963.github.io/snap1.png

[2015-09-19 05:57] zw963 commented on #587
It not happen when I skip all my emacs personal script.

thanks.

[2015-09-19 06:35] mbme commented on #584
@fxbois So, as follows from the [answer of rainbow-delimiters maintainer](https://github.com/Fanael/rainbow-delimiters/issues/19#issuecomment-141619504), web mode should properly mark single-quoted strings as strings in the syntax table

[2015-09-19 06:36] zw963 commented on #587
all right, I debug all my emacs personal script, I found this bug happen when
https://github.com/mattfidler/auto-indent-mode.el is enable ...

I guess this yesterday, I just not to try this directly...

It seem like , when I paste buffer content into web-mode,  auto-indent-mode
will be trigger at once, it will make my web-mode indent correctly, but it prevent
web-mode highlight correct render too.

[2015-09-19 07:29] fxbois commented on #584
impossible ... I can have strings (eg. php strings) in strings (eg. js strings)

[2015-09-19 07:30] fxbois commented on #587
I auto indent on paste ... so I won't dig this issue

[2015-09-19 08:56] mbme commented on #584
but it somehow works for double-quoted strings?

[2015-09-20 05:51] zw963 commented on #587
I remove all my personal emacs config, only with following:

[code]

But , it not auto-indent when I paste, where I have mistaken?
How can I `auto indent on paste ` ?

Thanks.

[2015-09-20 06:01] mbme commented on #584
@fxbois thanks, now everything works correctly!

[2015-09-20 06:01] #584 closed

[2015-09-20 07:37] fxbois commented on #587
could you try the last version on github please

[2015-09-20 07:54] zw963 commented on #587
Thank very much for quick reply.

But still not worked for me : (

(clean emacs with only basic web-mode settings)

[2015-09-20 07:56] fxbois commented on #587
how do you yank your text ?
Could you post the output of ```web-mode-debug```

[2015-09-20 14:29] zw963 commented on #587
before paste:
[code]

after paste:
[code]
here is the snapshot before I paste and after i paste.

http://zw963.github.io/111.png
http://zw963.github.io/222.png

[2015-09-20 16:36] mbme opened #588 "Javascript/JSX: bad detection of the end of regex literal"
Currently web mode doesn't highlight correctly js regex literals when they contain escaped slash:
[code]
In this case regex highlighting works only to the escaped slash (`\/`)

[2015-09-20 18:44] fxbois commented on #588
@mbme could you provide a patch ?

[2015-09-21 06:10] fxbois commented on #588
@mbme I've pushed a fix to solve this

[2015-09-21 14:32] mbme commented on #588
@fxbois Thanks, fixed

Next time I'll try to provide a patch, but its hard to start working on such a large major mode for elisp newbie like me :)

[2015-09-21 18:55] seanareed opened #589 "M - ; comments not closing"
I recently upgraded web-mode.

I use it with PHP, and love it.

Since then, the M - ; shortcut for comments doesn't close those comments in a PHP block within web-mode.

Is it possible that this is due to a change in web-mode?

I'm attaching images of what it used to do and what it does now.

Thanks,
Sean

![old](https://cloud.githubusercontent.com/assets/14617978/10001624/af1b198c-6070-11e5-8f11-

[2015-09-21 19:52] #588 closed

[2015-09-21 19:54] fxbois commented on #589
@seanareed I do not plan to provide this kind of comments ... perhaps someone could provide a function (ask on stackoverflow)

[2015-09-21 19:55] seanareed commented on #589
Ok. Thanks. I may take a stab at it myself. Cheers, S

[2015-09-22 00:34] stardiviner opened #590 "un-balanced parenthese in source code"
Because the `web-mode.el` is really huge, I can't open it with Emacs, it stucked, also can't edit on GitHub website. So I write down this issue.
The un-balanced parenthese is at the end of `(when offset`.

[2015-09-22 06:02] fxbois commented on #590
I've just byte-compiled it and no error raises.

[2015-09-22 08:39] stardiviner commented on #590
When I source code jump with `[M-.]` into the file `web-mode.el`, then paredit reported un-balanced parentheses. Because big file stucked my Emacs, so I can't verify it. You can check it in function `web-mode-indent-line`.

[2015-09-22 09:46] fxbois commented on #590
If there was an issue with unbalanced parenthese, I guess I would receive many alerts from the numerous users of web-mode. Moreover byte-compile would trigger an error. I am sorry but can not help you. Perhaps try on emacs stackoverflow

[2015-09-22 09:46] #590 closed

[2015-09-22 11:31] stardiviner commented on #590
This is the last time I check on this issue, sorry I have to update one time.
Here is the screenshot I open `web-mode.el` with `emacs -q`

![out](https://cloud.githubusercontent.com/assets/378699/10017400/890fa866-6160-11e5-872f-8e7c205ceb8c.gif)

[2015-09-22 11:32] stardiviner commented on #590
Sorry, I think could be other reason like paredit configure error.

[2015-09-22 11:32] stardiviner commented on #590
close it

[2015-09-22 11:41] gustavjf opened #591 "Indentation: HTML attributes do not indent when on new lines"
Hello, thanks for your work on web-mode.

I would like to know if there would be support for indented HTML attributes as per Airbnb's [style guide](https://github.com/airbnb/javascript/tree/master/react#alignment) for React/JSX. I'm not sure if there is a better way to format long lines in JSX and if it's already supported. Apologies if so!

Expected
[code]

Actual
[code]

web-mode-debug
[code]

E

[2015-09-22 11:51] fxbois commented on #591
@gustavjf ok I'll work on this

[2015-09-22 12:03] gustavjf commented on #591
@fxbois thank you, much appreciated.

[2015-09-22 12:05] gustavjf commented on #591
For the record, I just noticed that the first time you press enter after an attribute, it is like the "actual" example above. But if you have multiple attr already written after that first one and press enter, it lines up fine.

In case that might help.

[2015-09-22 12:06] fxbois commented on #591
@gustavjf please update to the latest version on github

[2015-09-22 12:08] gustavjf commented on #591
Currently using melpa. I would have to clone from this repo and manually install the latest version for this change to take effect, correct?

[2015-09-22 12:09] fxbois commented on #591
... or wait a few minutes/hours, I do not know

[2015-09-22 12:10] gustavjf commented on #591
Ah I see. I'll wait and check if/when it picked up the updated version.

[2015-09-22 17:29] gustavjf commented on #591
Awesome! Thanks for the quick fix, @fxbois !

[2015-09-22 17:29] #591 closed

[2015-09-22 22:11] ericnorris opened #592 "web-mode-engines-alternate-delimiters no longer working"
A while back I filed #175, regarding using customizable delimiters with smarty (i.e. `{%` instead of `{`).

Although this was helpfully pushed out into [this beta](http://web-mode.org/beta/web-mode.el), it seems that the latest version does not respect the `web-mode-engines-alternate-delimiters` option.

Is it possible to get this into the latest version?

[2015-09-22 22:14] fxbois commented on #592
this brought a lot of complexities ... you should stick to the version that responds to your needs

[2015-09-22 22:44] ericnorris commented on #592
@fxbois, okay, is there no other way to handle `{%` in web-mode? Perhaps an addition to [this](https://github.com/fxbois/web-mode/blob/252ba1d4c7ddc8bcf022954cc22130520636a4b2/web-mode.el#L1067)? It's disheartening to not be able to use the latest version, but I appreciate your quick response.

[2015-09-23 06:38] zw963 commented on #587
After update, cause indent error.

following `<% end %>` is not indent correctly

[code]

[2015-09-23 06:44] zw963 commented on #587
another example, label not indent correctly.

[code]

[2015-09-23 06:49] fxbois commented on #592
I'll try to look at this when I have some time.

[2015-09-23 06:50] fxbois commented on #587
I don't know it works on my machine

[2015-09-23 07:03] zw963 commented on #587
I pull code just now.

previous two problem is fixed in fbef5c3...252ba1d. Thanks.

[2015-09-23 07:08] fxbois commented on #587
cool

[2015-09-24 08:13] djangoliv opened #593 "web-mode and wrap-region"
I use emacs-25 with last web-mode.el
When wrap-region (https://github.com/rejeep/wrap-region.el) is enable the HTML tag auto closing doesn't work.
So I must do (add-to-list 'wrap-region-except-modes 'web-mode)... not very serious, but annoying

[2015-09-24 10:33] fxbois commented on #593
I won't dig it but I can provide help

[2015-09-24 14:16] ElectricCoffee opened #594 "Doesn't align by html attribute"
According to the website attributes should align automatically by each other. But I've found that this isn't the case at all.

So instead of getting this:

    <div data-foo=""
         data-bar=""
         data-baz=""></div>

    <select data-foo=""
            data-bar=""
            data-baz=""></select>

    <blockquote data-foo=""
                data-bar=""
                data-baz=""></bloc

[2015-09-24 14:19] fxbois commented on #594
you should look at web-mode.org (TAB indentation)

[2015-09-24 14:21] ElectricCoffee commented on #594
I did, there's no useful information regarding alignment. In fact it says alignment by attribute is enabled by default

[2015-09-24 14:40] fxbois commented on #594
have you disabled indent-tabs-mode ?
```(setq indent-tabs-mode nil)```

[2015-09-24 22:41] stevemolitor commented on #560
Working great so far. Thanks!

[2015-09-25 15:23] itkach commented on #589
It also does this now when editing javascript too. If I set web-mode-set-content-type to jsx in js buffer then it closes the comment properly.

[2015-09-26 15:02] seanareed commented on #589
Thanks!
That works for me too!

Is there a way to add something to the init file that automatically sets this on opening php files?

[2015-09-27 08:30] stardiviner opened #595 "web-mode can't use environment variable like Org-mode babel header arguments :var"
I use `web-mode` for org-mode source code block `rhtml`.
Here is what I record in Org-mode buffer:

[code]
Just in case: here is the usage of org babel header arguments:
[code]

I use `:var web-mode-engine="erb"` in header arguments to let web-mode set engine. But it does not work.

I think this could be about on Org-mode, might babel load header arguments variable __only__ when evaluate.

[2015-09-27 10:04] fxbois commented on #595
I have never used org-mode
Do you mean i should interpret org-mode syntax ?

[2015-09-27 12:49] stardiviner commented on #595
sorry, maybe this need org babel support. I will ask on StackExchange Emacs.

[2015-09-27 12:49] #595 closed

[2015-09-28 13:51] lbstoller opened #596 "Indentation inside an underscore escape"
Hi, given an html file with the underscore engine, is auto indentation of
this fragment supported? Everything is left justified ...

<%
var title_text  = "";
var expand_text = "";
if (1) {
title_text = "foo";
expand_text = "Add Key";
}
%>

[2015-09-28 22:18] fxbois commented on #596
is it standard javascript ?

[2015-09-28 22:19] lbstoller commented on #596
Seems like standard JS code to me.

Leigh

[2015-09-28 22:33] fxbois commented on #596
@lbstoller you can test the last version on github

[2015-09-28 22:40] lbstoller commented on #596
Okay, I just downloaded that and tried it out; no change …

Leigh

[2015-09-28 22:46] fxbois commented on #596
could you post the output of ```web-mode-debug```

[2015-09-28 23:07] lbstoller commented on #596
Ah, I am glad you had me do that … I was indeed running the older
version cause of a file naming mistake I made. Thanks! Works much
better now.

Leigh

[2015-09-29 05:59] #596 closed

[2015-09-29 21:30] martine commented on #585
I noticed that web-mode doesn't trigger for plain ".ts" files, which are typescript without jsx and analagous to .js files.  There is an existing typescript-mode emacs library that might be more appropriate for those files, but it's a little weird to use web-mode for most file types but then typescript-mode just for one specific javascript variant.

See also https://github.com/ananthakumaran/tide/

[2015-09-29 21:38] fxbois commented on #585
@martine I've pushed a fix

[2015-09-29 21:54] martine commented on #585
Thanks!

[2015-10-02 13:51] dustinpaluch opened #598 "Faulty fontification for SCSS Comments"
[SCSS supports two styles of comments](http://sass-lang.com/documentation/file.SCSS_FOR_SASS_USERS.html#comments): regular CSS comments like `/* this */`, and one-liner comments `// like this`. Currently, web-mode doesn't appear to recognize this second SCSS-specific style.

    /* standard CSS comment */
    // single-line SCSS comment
    body {
    	background: red;
    }

![screen shot 2015-10

[2015-10-02 14:45] #587 closed

[2015-10-02 14:45] #594 closed

[2015-10-02 15:04] itkach commented on #589
Setting wrong content type on a buffer is a useful workaround, but this is still broken, inserts /*. Should this issue really be closed?
Ideally, for javascript it should be // (these can be nested while multi-line comments can't be).

[2015-10-02 15:07] fxbois commented on #589
as I wrote in my first comment, I do not plan to work on this. Perhaps someone could write a minor mode to handle this

[2015-10-04 01:25] bieber opened #599 "[Feature Request] Flow Support"
I don't think web-mode is explicitly intended to support Flow (flowtype.org), but it actually handles most Flow syntax in pretty well in JSX mode.  The only major issue I run into is that if I have any kind of type parameter in angle braces, it totally breaks the indentation for the rest of the file.  For instance:

    function getInstructions(): Array<HTMLElement> {
    												indentationGo

[2015-10-04 08:12] fxbois commented on #599
@bieber can flow handle jsx elements ? If not, prefer the ```javascript``` to the ```jsx``` content type

[2015-10-04 17:44] bieber commented on #599
Yep, it can work in both JSX and non-JSX files.  The way to differentiate them would be to look for them only in the places where type expressions are allowed.  For instance:

    var x: Array<number> = [5];
    function f<T>(xs: Array<T>): Array<T> {
      return xs.map(x => x + 1);
    }
    type X = {
      arr: Array<SomeType>;
    };
    class Container<T> {
      ...
    }

Basically, type e

[2015-10-05 12:50] ChillarAnand opened #600 "Preserve code folding"
Hi when  i do some code folding, kill buffer and re open it, code was gone. Is there a way to preserve code folding?

[2015-10-05 12:52] fxbois commented on #600
code was gone ? what do you mean ? you lost code or the folding ?
If it is the folding, I do not plan to work on bringing the folding back after a kill/open

[2015-10-05 12:55] ChillarAnand commented on #600
I lost the folding.

Why?

[2015-10-05 12:57] fxbois commented on #600
It would need to maintain a state in a separate file, I do not wan't to enter this kind of stuff ... this is the role of an other minor mode

[2015-10-05 12:58] ChillarAnand commented on #600
Thanks!

[2015-10-05 12:58] #600 closed

[2015-10-05 16:39] cosarara97 opened #601 "Error auto-indenting PHP"
Auto-indenting the following code (using indent-region), I'm getting an "Invalid search bound (wrong side of point)":

    <?
    while (1) {
    ?>
    <?
    }
    ?>

Checking for (< limit (point)) in web-mode-block-opening-paren-position before the regex seems to solve it, but I'm not sure if that's the proper fix.

[2015-10-05 16:47] fxbois commented on #601
@cosarara97 could you describe a complete scenario to trigger this please

[2015-10-05 17:04] cosarara97 commented on #601
Let's see...

First save the code I pasted above as /tmp/test.php

    $ cd /tmp
    $ wget https://raw.githubusercontent.com/fxbois/web-mode/master/web-mode.el
    $ emacs -Q

M-x load-file (ret) /tmp/web-mode.el

C-x C-f /tmp/test.php

M-x web-mode

(select everything)

M-x indent-region

(error appears in the messages buffer and at the bottom of the screen)

[2015-10-05 17:11] cosarara97 commented on #601
What I did is http://hastebin.com/ronimololi

[2015-10-05 18:33] CestDiego opened #602 "Is there a way to expand `.any-class` into `className="any-class"` for React?"
This would be so useful to use emmet-expand by changing a variable or somehitng.

[2015-10-05 18:37] CestDiego commented on #602
So this part of the code is the one responsible for that D: too bad it's like hardcoded :(

[code]

[2015-10-05 18:39] fxbois commented on #602
there are many minor modes to do this ... why don't you use one of them.
Perhaps you should post your request on emacs stack overflow

[2015-10-05 18:40] CestDiego commented on #602
which minor mode does this? :O

[2015-10-05 18:41] CestDiego commented on #602
oh I'm sorry I got confused this is not emmet-mode... :(

[2015-10-05 18:41] #602 closed

[2015-10-05 19:48] fxbois commented on #601
@cosarara97 thx, I've pushed a fix

[2015-10-05 21:49] thwg opened #603 "[feature] HTML multi-line comments alignment"
Currently when indenting HTML multi-line comments, the indentation always aligns to the position under the 'begin comment' token.  The alignment used on JavaScript comments is nicer.

Example JavaScript
[code]

Example HTML (current):
[code]

Example HTML (preferred):
[code]

Let me know if this feature would be useful and, if so, I can dig into the codebase a bit later this week :-)

[2015-10-05 23:28] thwg commented on #603
Turned out to be easier than expected.  Let me know if my patch (PR #604) is acceptable :-)

[2015-10-06 06:26] #603 closed

[2015-10-06 06:31] fxbois commented on #599
@bieber it seems to me very dangerous. I do not have a valid js parser and can not be sure to detect a type or an element. The only way for me would be to decide that this is a type when the character directly before ```<``` is a letter.
Is there a discussion somewhere about this ?

[2015-10-06 06:59] ChillarAnand commented on #600
[vimish-fold](https://github.com/mrkkrp/vimish-fold) preserves code folding.

[2015-10-06 07:57] fxbois commented on #600
great .. is there any compatibility with web-mode ? I could provide help (or helpers)

[2015-10-06 11:41] gustavjf commented on #403
@fxbois Could you explain why not? Genuine curiosity here.

[2015-10-06 13:08] ChillarAnand commented on #600
web mode fold automatically figures out begining/ending of element and folds accordingly.

vimish fold takes begining/ending of a region(or current active region) and folds it.

if you can provide a wrapperr around vimish fold which figures out beg/end of element and folds it, it would be great.

[2015-10-06 13:52] fxbois commented on #403
@gustavjf I would need a proper js parser and I do not have that. js2-mode has that. I have to deal with many languages and this is the tradeoff ... most bracket based languages use the same methods

[2015-10-06 13:56] gustavjf commented on #403
I see, thanks for clarifying.

[2015-10-07 12:13] jasondf opened #605 "web-mode comment function doesn't work well in php codes"
In web-mode, when it comes to HTML file, press M-; will comment the selected region very well. But in PHP file, it does not work correctly, the following is the screenshot:
![image](https://cloud.githubusercontent.com/assets/9963736/10337052/c259219e-6d2f-11e5-84de-979cba03b49d.png)
Any more config work should be done? Thanks in advance.

[2015-10-07 16:55] jasondf commented on #605
Oh, I saw the early issue, will close this case.

[2015-10-07 16:55] #605 closed

[2015-10-07 17:27] jasondf commented on #589
Well, I got the same issue, and try to do a stab myself, lucky me it works. Here is the screenshot:
<img width="651" alt="screen shot 2015-10-08 at 01 17 48" src="https://cloud.githubusercontent.com/assets/9963736/10345253/e93474b4-6d5a-11e5-9698-f612b61f19a2.png">
Now M-; works in PHP file and php block in HTML file. Although I don't know if there is any side effects.

[2015-10-07 22:25] ReneFroger opened #606 "Web-mode syntax highlighting gets deleted when applying an overlay"
## Setup:
GUI version GNU Emacs 25.0.50.1 (x86_64-w64-mingw32)
of 2015-07-25 on KAEL

[Compiled from EmacsW64.](http://emacsbinw64.sourceforge.net/)

Web-mode, using the latest version of web-mode from MELPA
vimish fold, using the latest version of vimish fold from MELPA

## Situation:
Currently I use the package [vimish-fold](https://github.com/mrkkrp/vimish-fold/). For various modes, the syntax

[2015-10-07 23:34] seanareed commented on #589
I looked at the diffs from the commit to web-mode.el on 15-Sep-2015 ('jsx commenting'), which is when I noticed the change in behavior.

The original code had a (not ) that is missing in the new code.

I don't know if this was intentional or an oversight.

However, adding that (not ) back in returns the proper closing behavior that was present before.

![not](https://cloud.githubusercontent.com/as

[2015-10-07 23:43] seanareed commented on #589
(...however, I have to evaluate the web-mode.el buffer for it to take effect.)

[2015-10-07 23:55] seanareed commented on #589
(...ah, yes... the .el library must be byte-compiled first... there is an .elc version.)

[2015-10-08 03:10] jasondf commented on #589
@seanareed it works for me, thanks a lot.

[2015-10-08 15:21] PatrickRose opened #607 "Weird Indentation in Blade"
Hi,

[code]

If I hit tab on the withBrand line then web-mode decides to indent it like so:

[code]

I'm using markup-indent and code-indent as 4 so it looks like the `withBrand` line is getting indented 9(?) times instead of 3.

[2015-10-08 15:21] PatrickRose commented on #607
Tbh, it'd be even better if it could align with the `::` but that's probably asking for too much :-)

[2015-10-08 15:25] PatrickRose commented on #607
NB:

[code]

becomes

[code]

[2015-10-08 17:02] madsen opened #608 "Support "outline" tags in template-toolkit"
Template Toolkit 2.26 added support for ["outline" tags](https://metacpan.org/pod/distribution/Template-Toolkit/lib/Template/Manual/Syntax.pod#Outline-Tags).  This lets you write

[code]
instead of
[code]
They mean the same thing, and can be mixed in the same file.

But web-mode doesn't currently recognize the outline syntax.  It'd be nice if it did.  I'm particularly interested in outline-style c

[2015-10-08 18:29] fxbois commented on #607
@PatrickRose please post the output of ```web-mode-debug```

[2015-10-08 18:35] PatrickRose commented on #607
[code]

[2015-10-09 03:40] jasondf commented on #605
Here is the same issue and  [the fix](https://github.com/fxbois/web-mode/issues/589).

[2015-10-09 16:33] CestDiego opened #609 "Support jsx ternary operators"
[![alt](https://i.imgur.com/Lvw3bPX.png)](https://i.imgur.com/Lvw3bPX.png)

this is the code:

[code]

Should maybe be idented like this?

[![alt](https://i.imgur.com/xGl2MKG.png)](https://i.imgur.com/xGl2MKG.png)

[2015-10-10 09:25] fxbois commented on #608
@madsen I've added ```%%#``` comments

[2015-10-10 09:31] fxbois commented on #607
@PatrickRose do you confirm that in your full example you have a closing ```!!}``` ?

For me I have

[code]

[2015-10-10 09:34] fxbois commented on #606
@ReneFroger I've read the vim-mode issue. It seems to have issue with ruby-mode.
I can provide help but I do not dig minor mode issues

[2015-10-10 09:38] fxbois commented on #593
If you need help, please reopen.

[2015-10-10 09:38] #593 closed

[2015-10-10 09:38] #601 closed

[2015-10-10 11:40] PatrickRose commented on #607
Yes - sorry, it's a 38 line block and I was too lazy to copy it all...

I have the closing `!!}` on a new line, but that's the only difference

[2015-10-10 13:02] fxbois commented on #607
Is it ok with the last two patches ?

[2015-10-10 13:41] azer opened #610 "js2-mode"
Is it possible to re-use js2-mode in this repo ? so we don't have to sacrifice js2-mode features?

[2015-10-10 16:51] fxbois commented on #610
That is impossible. All other multi modes rely on different major modes. I created web-mode to avoid this methodology that didn't please me.
You can look at alternative on http://emacswiki.org/emacs/MultipleModes

[2015-10-10 16:51] #610 closed

[2015-10-10 20:43] fxbois commented on #609
@CestDiego could you test the last version on github please

[2015-10-10 20:56] fxbois commented on #598
@dustinpaluch I've pushed a fix

[2015-10-10 20:59] CestDiego commented on #609
It works wonders! thank you @fxbois

[2015-10-10 20:59] #609 closed

[2015-10-10 22:44] CestDiego opened #611 "Nested curly braces blocks are used to finish outer ones [Syntax highlighting"
@fxbois This was an issue I fogot to point to at  #609.

[2015-10-10 22:53] CestDiego commented on #609
This is how it looks now, although there is no identation from `button` and the children `h1`, and the `div` though.

[![alt](https://i.imgur.com/dkoUtLP.png)](https://i.imgur.com/dkoUtLP.png)

[2015-10-11 04:22] AnOctopus opened #612 "CSS colorization does not display at all (inc Rainbow mode)"
When web-mode is enabled, it fails to fontify CSS colors (#abc and #aabbcc). The presence of web-mode also causes rainbow-mode to not fontify any colors, where switching to another mode (eg html-mode) will cause rainbow mode to work as expected.

Bug occurs in the latest versions of Emacs and web-mode, in a clean (emacs -q) emacs process.

Steps to reproduce:
* Open new buffer
* Enable web-mode
*

[2015-10-11 06:57] fxbois commented on #612
@AnOctopus please post your example on git

[2015-10-11 06:57] fxbois commented on #611
post your example on gist

[2015-10-11 09:36] fxbois commented on #609
@CestDiego please post your example on gist, I do not want to rewrite it

[2015-10-11 11:44] CestDiego commented on #611
https://gist.github.com/dd03a7102266cd2f4910

[2015-10-11 11:46] CestDiego commented on #609
The gist is here: https://gist.github.com/dd03a7102266cd2f4910

[2015-10-11 15:33] AnOctopus commented on #612
@fxbois since the issue is about fontification, I'm not sure what to even put on gist. Instead, I've uploaded screenshits showing the issue as described.

![emacs anoct_011](https://cloud.githubusercontent.com/assets/7356217/10417487/6fac649a-6ff2-11e5-9c39-4da7d6a637cb.png)
![emacs anoct_012](https://cloud.githubusercontent.com/assets/7356217/10417488/6fad49c8-6ff2-11e5-9c29-17a52a81d515.png)
![e

[2015-10-11 16:43] fxbois commented on #612
Test with a valid css file

[2015-10-11 17:05] AnOctopus commented on #612
In a css file:
Web-mode css colorization works
Rainbow-mode colorization (eg "red") does not work, even if web-mode colorization is disabled
Rainbow-mode colorization works if web-mode is changed to css-mode

[2015-10-11 18:30] fxbois commented on #612
It should be related to the third param of font-lock-add-keywords
see https://github.com/fxbois/web-mode/issues/566

[2015-10-11 19:58] AnOctopus commented on #612
I was able to get correct behavior from web-mode + rainbow-mode by setting the third param as suggested, so I will contact the rainbow-mode maintainer about changing this.

[2015-10-11 19:58] #612 closed

[2015-10-12 04:18] zw963 commented on #587
Hi, this bug not fixed.

fbef5c3...252ba1d only fix the new bug introduced for fix this issue.

That is:

before paste:
[code]

And at this position, I paste this:
[code]

Result:
[code]

The problem is  ``<button type="button" ....>`` and ``</button>`` not auto-indent according to context. (<body> tag)

[2015-10-12 06:12] fxbois commented on #587
@zw963 does not appear on my machine.
Do not forget to ```(setq web-mode-enable-auto-indentation t)```
Perhaps related to a minor mode.
This bug is closed for me

[2015-10-12 10:22] rockneurotiko opened #613 "Auto expanding in jsx"
I would really love to have auto expanding in jsx files.

I don't know if this is possible right now, I have it enabled and expands in html, but not in jsx.

[2015-10-12 12:07] zw963 commented on #587
```(setq web-mode-enable-auto-indentation t)``` is worked, Thank you very much!

[2015-10-12 14:36] dustinpaluch commented on #598
Sweet! Looks great when I *paste* my example code into an empty .scss file. I've spotted some related bugs though. Try this:

1. Open a new .scss file
2. Type (do not paste) `/* test */` on the first line

After typing in the closing tag, web-mode-css-comment-face is not applied.

[2015-10-12 21:28] PatrickRose commented on #607
Still get the same thing :-(

[2015-10-12 21:32] fxbois commented on #607
here what I get with the last version

![blade](https://cloud.githubusercontent.com/assets/959622/10439323/780cf756-7139-11e5-9bb1-90cb40954a24.png)

[2015-10-12 21:42] PatrickRose commented on #607
Weirdly, opening the issue file give the correct indentation - looks like something else is messing with the indentation rules then? Full file is below:

[code]

[2015-10-13 18:52] simenheg opened #614 "Subexpressions in Handlebars templates"
Consider the following Handlebars snippet:

[code]

With the `ctemplate` engine, everything is highlighted nicely except the `foo3=(inner-helper "bar3")` part. It seems that the [subexpression](http://handlebarsjs.com/expressions.html#subexpressions) is causing the problem.

[2015-10-14 22:20] CestDiego commented on #611
syntax hightlighting is the main issue here, the identation is **kinda** solved in #609

[2015-10-15 17:45] CestDiego opened #615 "[jsx] can't fold jsx"
I have this  code https://gist.github.com/098dbfc96e017509c542 and i get `blocks-control-get ** invalid value (202) **`  It may have to do with multiple `{` stuff

[2015-10-17 00:18] caioaao opened #616 "Screen update issues with indent"
I'm experiencing some issues on screen update after an electric indent. As soon as I press RET, the line I was at goes to far right. When I press c-l to force a redraw, the line goes back to its place.

Some pics to illustrate what's going on:

Before pressing ret (also note the current line is actually 1 position off to the right, pressing C-l fixes it as well):
![On the line](https://cloud.githu

[2015-10-17 00:33] fxbois commented on #616
This is a known issue with the minor mode that draws the vertical line. Reopen the issue if I can provide help ...

[2015-10-17 00:33] #616 closed

[2015-10-17 06:26] zw963 commented on #565
Hi, I found html comment have problem too.

[code]

I select all content, add comment. will result in
[code]

[2015-10-17 07:47] fxbois commented on #565
Comments inside comment are not allowed.
Moreover removing the inside comments would not be a good idea.
So I won't work on this

[2015-10-18 06:22] zw963 commented on #565
Cool ! Thanks.

[2015-10-18 13:25] zw963 commented on #565
comment in js is not worked?

[code]
result:
[code]

[2015-10-18 13:26] zw963 commented on #565
I marked the full line, include the line end `\n`

[2015-10-18 13:31] zw963 commented on #565
when I mark following ` // $('#fileupload').fileupload();`
[code]

try uncomment it, will result in uncomment all following lines.

[code]

[2015-10-18 16:30] crito opened #618 "Web-mode always comments as HTML when at the beginning of a buffer."
When calling the function `web-mode-comment-or-uncomment` at the beginning of a buffer, the line or region is always commented as if it was HTML. This is also true for other languages such as Javascript or JSX.

Removing the [first condition](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L6244-L6246) in `web-mode-point-context` fixes the issue for me. I don't understand why this condi

[2015-10-18 16:54] fxbois commented on #618
@crito please post on gist the example you use

[2015-10-18 17:14] crito commented on #618
I created a [minimal test case](https://gist.github.com/crito/f88d5d2a6582ffbe402e). If I comment line nr. 1 I get the following:

    var b = 42;

Commenting line nr. 2 yields the expected result:

    var a = 23;
    /* var b = 42; */

If I leave the first line empty, it works as expected.

[2015-10-18 17:18] crito commented on #618
Some more info. Running `(text-properties-at (point))` on the first column of the first line yields the following result:

    (face web-mode-keyword-face part-side jsx)

[2015-10-18 17:26] crito opened #619 "Setting web-mode-comment-formats for JS/JSX to // is not recognized."
I my emacs config I have the following to force line comment for JS/JSX files:

[code]

When I execute `web-mode-comment-or-uncomment` the comments are still created using block comments (`/* ... */`). Looking at the case condition in [`web-mode-comment`](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L8356-L8357) I see that the `alt` string is matched to `/*`. Changing it to `//` corr

[2015-10-18 18:00] fxbois commented on #618
@crito ok understood
I'll look at this

[2015-10-18 19:41] fxbois commented on #618
@crito a fix has been pushed

[2015-10-18 19:42] fxbois commented on #619
@crito please test the last version on github

[2015-10-18 19:43] fxbois commented on #615
@CestDiego it seems to work with the last version on github

[2015-10-18 19:45] fxbois commented on #611
@CestDiego please test the last version

[2015-10-18 19:45] #608 closed

[2015-10-18 19:46] fxbois commented on #598
@dustinpaluch please test the last version

[2015-10-18 19:47] #599 closed

[2015-10-18 20:46] CestDiego commented on #611
issue is still persistent, is there a way i can be of more help to resolve the issue?

[2015-10-18 20:47] CestDiego commented on #615
doesn't work. and now there is a regression with the ternary operators, like in older commit https://github.com/fxbois/web-mode/issues/609

[2015-10-18 20:50] CestDiego commented on #615
This is the gist that shows how bad it looks: https://gist.github.com/fc0c3245f17c05d7aeb7
[![alt](https://i.imgur.com/ev2etbB.png)](https://i.imgur.com/ev2etbB.png)

[2015-10-18 21:24] crito commented on #618
118055b seems to work fine for me. Thanks for the quick response and thanks for web-mode.

[2015-10-18 21:24] #618 closed

[2015-10-18 21:25] crito commented on #619
118055b seems to work fine for me. Thanks for the quick response and thanks for web-mode.

[2015-10-19 06:10] fxbois commented on #611
With the last version I have this. What is the issue ?
![0611](https://cloud.githubusercontent.com/assets/959622/10570853/cdb83c16-7638-11e5-83d2-2f7a9b294114.png)

[2015-10-19 06:27] fxbois commented on #615
put ( ) around the test

[2015-10-19 13:16] CestDiego commented on #615
there are ( ) around the parent ...what do you mean?

[2015-10-19 13:18] fxbois commented on #615
at the moment you should write ``` (this.props.scope.get('type') === "topic") ```

[2015-10-19 13:18] CestDiego commented on #615
ok, it looks like this: https://i.imgur.com/sU6rhIl.png

[2015-10-19 13:19] fxbois commented on #615
remember that web-mode.el can only fold html elements ...
for other foldings, you should use a dedicated minor mode

[2015-10-19 13:22] CestDiego commented on #615
Well that fixed identation, but the code supplied (the one with `Col` Components) still doesn't fold and gives same error with different number. I think it has to do with position or something.

[2015-10-19 13:25] CestDiego commented on #611
I got this

[![alt](https://i.imgur.com/rgsEF5T.png)](https://i.imgur.com/rgsEF5T.png)

[2015-10-19 13:27] CestDiego commented on #611
oh....ok Sorry I think I got my modes messed up. It's something on my end. This is resolved. I was using react-mode which is based on web-mode, this is how spacemacs treats jsx files. It must be the js minor mode doing syntax highlighting as well.

[2015-10-19 13:27] #611 closed

[2015-10-19 14:28] dustinpaluch commented on #598
@fxbois Fontification for single line SCSS comments appears to be working correctly now. Thank you! The bug I cited in my previous comment is also fixed for plain .css files, but there is still a failing edge case: Fontification still fails when typing a plain CSS comment into an *empty* .scss file.

[2015-10-19 15:25] fxbois commented on #598
@dustinpaluch I think I do not understand what you mean. Can you detail all the steps to trigger the bug please

[2015-10-19 15:38] Archenoth opened #620 "JSP comments closing with incomplete ending"
Sometimes I see people comment and uncomment blocks of JSP markup by surrounding it with `<%--  --%>`, and adding or removing a space to the top closing tag like so:

[code]

In this case, "Commented" is commented out because of the space on the first line, but web-mode's JSP engine appears to think otherwise.

This is web-mode 20151018.1241 from MELPA (Commit 118055b73a3baff019857bdb984f44d88390e

[2015-10-19 15:39] dustinpaluch commented on #598
@fxbois Here is a video demo:
http://cl.ly/dYla
The steps to reproduce are:
1. Create and open a new .scss file
2. On the first line, type a standard css comment /* like this */
3. Add more valid (S)CSS below.

Admittedly, I haven't tried this with emacs -q. I will do so if you can't reproduce the bug. For the heck of it, here's my web-mode-debug:

    --- WEB-MODE DEBUG BEG ---
    versions: emac

[2015-10-19 15:54] fxbois commented on #620
I'll look at this

[2015-10-19 15:57] fxbois commented on #598
I can not reproduce the bug. Please test with a minimal .emacs

[2015-10-19 21:30] fxbois commented on #620
@Archenoth it is now solved with the last version on github

[2015-10-19 21:34] fxbois commented on #614
@simenheg master should now be fixed

[2015-10-19 21:41] fxbois commented on #615
@CestDiego please note that ```<col>``` is a void elements in the html specs. Perhaps you should modify   ```web-mode-void-elements``` if you really wan't to use this tag name

[2015-10-19 21:49] Archenoth commented on #620
Ah, sweet... It's fixed when loading files..!

...but, when adding a space in an existing file, it still appears to break.

So, if you start with a buffer like above:
[code]
...and then you add a space at the end of the first tag like so:
[code]

It doesn't recognize the top as a comment:
![screenshot from 2015-10-19 15 45 43](https://cloud.githubusercontent.com/assets/1385527/10592326/a646220c-76

[2015-10-19 22:02] CestDiego commented on #615
I didn't know about this, thank you :)

[2015-10-20 07:05] fxbois commented on #615
@CestDiego Perhaps I'll remove ```<col>``` from the list in a few months because more and more people are using ```<col>``` in jsx (and less and less in raw html)

[2015-10-20 10:31] gustavjf opened #621 "Indentation: Some React components do not align properly"
In #591, you had worked with alignment of elements according to Airbnb's React/JSX style-guide.

I noticed this particular case wasn't adhering to that change.

Expected:
[code]

Actual:
[code]

Notice how `Label` indents correctly, however, `Input`'s closing tag does not. I'm unsure whether or not this is expected. Perhaps it's because normal `<input>` is a self-closing tag, but the `Input` compo

[2015-10-20 10:35] fxbois commented on #621
@gustavjf you can redefine ```web-mode-void-elements```

[2015-10-20 10:40] gustavjf commented on #621
I'm not sure I follow, `<Input type="select"> ... </Input>` wouldn't be a void element in this case. There would be `<option>` elements within it.

[2015-10-20 10:47] gustavjf commented on #621
I don't see a mention of `web-mode-void-element` in web-mode's source, docs or as an editable field in `M-x customize`. How could I take a look at that?

[2015-10-20 13:37] fxbois commented on #621
@gustavjf I think I ll do something because I have received many reports about this .. I just hope it won't trigger side effects

[2015-10-20 13:39] gustavjf commented on #621
Thank you for taking it into consideration :)

[2015-10-20 15:25] dustinpaluch commented on #598
After restarting Emacs, I can no longer reproduce the bug. I thought reloading my init file and toggling web-mode off and on again would be enough, but I guess not. Sorry for wasting your time!

[2015-10-20 15:25] #598 closed

[2015-10-20 15:34] dustinpaluch opened #622 "Faulty fontification for SCSS variables"
I found a case where fontification fails for [SCSS variables](http://sass-lang.com/guide#topic-2). Tested with emacs -q and a bare-bones init file. Here's a video demo: http://cl.ly/dZpO

**Steps to reproduce**:
1. Open a new/empty .scss file (enable web-mode)
2. Type `$black: #000;`

I get the following output in the \*Messages\* buffer:
`web-mode-scan-region: Args out of range: 1, 15`

[2015-10-20 16:10] simenheg commented on #614
Thank you very much @fxbois, it seems that did the job!

[2015-10-20 16:10] #614 closed

[2015-10-20 17:58] fxbois commented on #622
@dustinpaluch right. In fact I've never really worked on a compatibility layer with scss ...
could you elaborate a test case which would contain all the syntaxes that are not in standard css ?

[2015-10-20 18:13] fxbois commented on #621
@gustavjf I've pushed a fix

[2015-10-21 06:29] fxbois commented on #620
I've looked at it and it would be quite difficult. I prefer not to touch to this part of web-mode which is very generic

[2015-10-21 12:34] zw963 commented on #565
Add a comment in javascript is not worked too.

[code]

select second line and add a comment, will result in:
<script>
  asdfadsfas;
  /*asdfasdf;
  asdfas;
</script>

[2015-10-21 12:39] zw963 commented on #565
I have a question, could you design web-mode comment functionality to always use
one-line comment ??

this situation is common for other model, e.g. in ruby-mode

[code]
if mark first line as region, comment, will result in:
[code]

then mark first + second line as region:
[code]

it work well for me many years.

[2015-10-21 13:29] dustinpaluch commented on #622
@fxbois I'll see what I can do. I'll reopen this when I have a comprehensive test case for you.

[2015-10-21 13:29] #622 closed

[2015-10-22 15:12] Archenoth commented on #620
Oh fun. Nothing quite like an abstraction limitation.

Since the title of this issue isn't exactly a problem any more, should we close this issue..? (And possibly open another for generic buffer updating?)

[2015-10-22 20:09] osv commented on #427
@xaiki you maybe mean

[code]

[2015-10-23 10:42] gustavjf commented on #621
Works great, thanks again :+1:

[2015-10-23 10:42] #621 closed

[2015-10-23 11:45] fxbois commented on #620
@Archenoth yes oyu could open an other specific issue

[2015-10-23 11:45] #620 closed

[2015-10-23 11:45] #569 closed

[2015-10-23 11:46] fxbois commented on #570
Please reopen when you start to work on it.

[2015-10-23 11:46] #570 closed

[2015-10-23 11:46] fxbois commented on #615
@CestDiego should be ok with last commit

[2015-10-23 11:46] #615 closed

[2015-10-23 13:02] fxbois commented on #607
@PatrickRose the last commit has solved two bugs

[2015-10-23 13:09] fxbois commented on #606
reopen when needed

[2015-10-23 13:09] #606 closed

[2015-10-23 13:11] fxbois commented on #592
I won't have time to work on this. Perhaps you could directly modify web-mode

[2015-10-23 13:11] #592 closed

[2015-10-23 13:12] #589 closed

[2015-10-23 13:12] #607 closed

[2015-10-23 13:21] fxbois commented on #613
@rockneurotiko it is ok with last commit (only for elements inside the top level element)

[2015-10-24 10:58] rockneurotiko commented on #613
Yeah, it works! Really thanks :smile:

[2015-10-24 10:58] #613 closed

[2015-10-25 23:39] xizhao opened #623 "Jsx tag-as-field breaks auto-complete"
When you try to close an opening tag like:

[code]

it doesn't seem to complete correctly.  It may complete with just `</Bootstrap>` itself or something entirely different.

[2015-10-25 23:44] fxbois commented on #623
prefer the separator ```-``` to ```.```

[2015-10-26 09:27] fxbois commented on #623
even better, could you prefer ```<Bootstrap:Button>```?

[2015-10-28 14:27] fallchildren opened #625 "ac-php incompatibilty"
ac-php (https://github.com/xcwen/ac-php) is not fully compatible with web-mode. ac-php sets ac-sources to "ac-source-php-template" after a completion which colides with web-modes (defadvice ac-start ...) on line 11198.
I don't know if this could be easier fixed in ac-php or web-mode.

Possible solution for web-mode:
check if ac-sources is set to "ac-source-php-template" before adjusting ac-sources

[2015-10-28 14:40] fxbois commented on #625
I do not know anything about this.
Could you discuss this with @NateEag who has proposed this ```defadvice```

[2015-10-28 14:57] Archenoth commented on #620
Alright, I shall do that then.

[2015-10-28 15:13] Archenoth opened #626 "JSP comments don't detect correctly when turning existing tags into incomplete tags"
Kind of a sub-issue of #620, which had the example where if you have two sets of JSP comment tags like the following:

[code]
...and then you add a space at the end of the first tag like this:
[code]
The top is no longer recognized as a comment:
![screenshot from 2015-10-19 15 45 43](https://cloud.githubusercontent.com/assets/1385527/10592326/a646220c-7678-11e5-83a9-5c5005cc1669.png)

I found that

[2015-10-28 15:56] jsdir opened #627 "ES7/JSX splats cause indentation problems"
[code]

[code]

[2015-10-28 15:58] fxbois commented on #627
isn't it due to the lack of ```;``` at the end of lines ?
web-mode requires this

[2015-10-28 16:09] jsdir commented on #627
The first example behaves that same way even without the splat. Does it indent because it expects chained method calls? The second example appears to have nothing to do with semicolons.

[2015-10-28 16:11] fxbois commented on #627
do you pointers on the web where I can info about this syntax ?

[2015-10-28 16:13] jsdir commented on #627
- https://github.com/sebmarkbage/ecmascript-rest-spread
- https://github.com/sebmarkbage/ecmascript-rest-spread/blob/master/Spec.md
- https://facebook.github.io/react/docs/jsx-spread.html

[2015-10-28 16:26] fxbois commented on #627
@jsdir I've pushed a fix for the second issue. For the first one, write ```super(...arguments);```

[2015-10-28 21:06] jsdir commented on #627
Thanks :+1:

[2015-10-28 21:06] #627 closed

[2015-10-28 23:03] xizhao commented on #623
Awesome, what is the config for that?

[2015-10-28 23:08] fxbois commented on #623
@xizhao I do not understand your question

[2015-10-29 10:07] fallchildren commented on #625
I created a pull request with a cleaner resolution to this problem. Maybe @NateEag can review the commit. But I think it's clean and not much of a big deal.

[2015-10-29 19:38] xizhao commented on #623
Sorry -- I meant what is the config for web-mode.el to change the separator from `-` to `.`?

This is for React/JSX files.

[2015-10-29 19:54] fxbois commented on #623
@xizhao I've pushed a fix to deal with tag names with a ```.``` as a separator

[2015-10-30 21:43] xizhao commented on #623
Awesome, is JSP the mode of editing HTML within JSX documents?

Also, does this support deeper references?  I.e. <Bootstrap.Modal.Header>

[2015-10-31 00:31] fxbois commented on #623
@xizhao I do not understand what you mean

[2015-10-31 03:10] NateEag commented on #625
@fallchildren I haven't done anything with PHP in Emacs for several years, so my memory of this code is rusty, and I have no experience of ac-php (which looks pretty nifty - wish it had been around when I was doing PHP).

That said, I *think* it might make more sense to handle this case in ac-php. If it's setting the ac-source after completion, it seems like it should try to avoid stomping on othe

[2015-10-31 03:13] NateEag commented on #625
@fallchildren somehow I totally missed your PR.

I prefer to avoid ac-source hackery, but your proposed solution looks reasonable to me - plenty of ac-sources do some variation on this theme, and that seems like a reasonable way to handle them.

[2015-10-31 08:00] fxbois commented on #625
@fallchildren thx Nate for your advices

[2015-11-01 17:04] PhilippBaschke commented on #275
@azizmb

I fixed it like this:
[code]
The idea is from this StackExchange answer:
http://emacs.stackexchange.com/a/2559

[2015-11-02 16:06] and-dmitry opened #629 "Incorrect auto-closing of JSP/GSP tags"
When I try to close a JSP tag web-mode auto-closes previous HTML tag. Example:
[code]
Typing `</` or calling `web-mode-element-close` does this:
[code]
Here's what I've expected to get:
[code]

I've tested it with the latest code from git.

[2015-11-02 16:22] fxbois commented on #629
@and-dmitry to close ```<g:link>``` to have to invoke ```web-mode-block-close``` (which I bind in my ```.emacs``` to ```^-/```)

[2015-11-02 16:22] #629 closed

[2015-11-02 16:24] #625 closed

[2015-11-02 16:24] #623 closed

[2015-11-02 23:42] weareconvo opened #630 "Multi-line JSX expressions indent too far"
Usually, it would be:

    <iframe
      indent='twospaces'></iframe>

...however, now, it's:

    <iframe
        indent='fourspaces'></iframe>

[2015-11-02 23:53] weareconvo commented on #630
Nevermind, customizing the variable web-mode-attr-indent-offset from 'nil' to '2' solved it.

[2015-11-02 23:53] #630 closed

[2015-11-03 08:21] and-dmitry commented on #629
Thanks!

Also now I see that there's probably no way to implement auto-closing for both HTML and JSP tags.

[2015-11-04 21:57] mmainz opened #631 "doesn't auto-pair single-quotes when content-type is jsx"
Syntax highlighting works fine, but I always have to type the second single quote myself. Double quotes work fine.

If you need any additional information, let me know. I just have no clue what else to include here that might be useful :)

[2015-11-05 01:53] saltycrane opened #632 "JSX - indentation for multi-line Javascript expression as an attribute value"
In JSX, is it possible to indent multi-line Javascript expressions that are set as an attribute value, like Javascript is indented instead of all at the same level?

I started with an empty .emacs.d/init.el and only added web-mode configuration. See below for my config. Please let me know if there is a setting I am missing.

I am trying to copy the code from the Redux documentation here: http://re

[2015-11-05 06:43] fxbois commented on #632
Thx, I'll look at this

[2015-11-05 19:55] fxbois commented on #631
@mmainz should be fixed with last commit

[2015-11-05 21:15] fxbois commented on #632
@saltycrane the last commit should solve the issue

[2015-11-06 09:54] mmainz commented on #631
Sadly, it doesn't seem to work for me. Anything in my configuration that could interfere here?

[2015-11-06 10:35] fxbois commented on #631
post the output of web-mode-debug and take a screenshot (put the cursor where you wan't the auto-quoting to happen) please

[2015-11-06 10:40] mmainz commented on #631
What happens:
<img width="454" alt="screen shot 2015-11-06 at 11 37 35" src="https://cloud.githubusercontent.com/assets/5417714/10995158/1ff7c8a2-847b-11e5-90c8-3ed31f1578bf.png">

When I use double quotes, it works as I expect:
<img width="450" alt="screen shot 2015-11-06 at 11 37 47" src="https://cloud.githubusercontent.com/assets/5417714/10995164/3069b858-847b-11e5-9917-1750040e7cca.png">

Cont

[2015-11-06 10:50] fxbois commented on #631
@mmainz in fact I only support auto-quoting for attribute values (html elements)
You should use other minor-mode if you wan't other kind of auto-completion

[2015-11-06 10:50] #631 closed

[2015-11-06 19:14] saltycrane commented on #632
Awesome, it works! Thank you!

[2015-11-10 04:23] jacktrades opened #633 "ES7 class property highlighting"
I know it's not a finalized feature, but are there any plans to add highlighting for ES7 class properties?

![property highlighting](https://cloud.githubusercontent.com/assets/385989/11054340/a8e689e0-871f-11e5-9600-9d3f697af4e9.png)

[2015-11-10 07:03] fxbois commented on #633
@jacktrades do you have a pointer to the specs ?

[2015-11-10 14:04] jacktrades commented on #633
Looks like [this](https://github.com/jeffmo/es-class-static-properties-and-fields) is as close as we get to a spec for now.  [Babel supports class properties](https://babeljs.io/docs/plugins/syntax-class-properties/) as an optional feature.

[2015-11-12 10:03] transtone opened #635 "linum white background and line err"
after press TAB, some line number(some indent lines, not all indent lines) diserpeared. and 9 jumps to 11.

![image 1](https://cloud.githubusercontent.com/assets/46688/11115741/9f89fd46-8968-11e5-89f1-460f4eb0c5ef.png)

[2015-11-12 10:17] fxbois commented on #635
post your example on gist please

[2015-11-12 10:48] transtone commented on #635
all lines is on screen.

[2015-11-12 10:58] fxbois commented on #635
@transtone I've tested and nothing happens here. I think you should report an issue to emacs.
Moreover have you updated to the last version of emacs ?

[2015-11-12 10:58] #635 closed

[2015-11-12 10:58] #632 closed

[2015-11-13 05:32] stardiviner opened #636 "Why web-mode does not support highlight in Org-mode code block Babel?"
[code]

I set org-mode babel with upper config.
Here is the question I asked on Stack Emacs. There are screenshots over there.
(PS, I lost my original screenshot images now)
I want to know, is there a way to make web-mode syntax highlighting support Org-babel?

[2015-11-13 06:59] fxbois commented on #636
@stardiviner I am not aware of any way to do this. Moreover I do not use org-mode.
It is more a question for Stack Emacs

[2015-11-13 09:00] #636 closed

[2015-11-19 15:18] AriaFallah opened #637 "Indentation of switch/case statement in a js file."
I like to have my case labels unindented:

[code]
however, web-mode forces me into indenting the case statements and I haven't found a configuration setting to change this.
[code]

How can I fix this?

[2015-11-19 15:51] fxbois commented on #637
@AriaFallah what configuration do you use with other languages ? (I would like to know the name of the directive)

[2015-11-19 15:56] AriaFallah commented on #637
Usually other modes that I used before had the case statements indented the way I wanted it by default

For example, js2-mode which I actually just switched over from because I like web mode better.

In general the only time I ever had to change my case statement to line up to my preferences was for C++ using the command specified [here] (https://www.gnu.org/software/emacs/manual/html_node/efaq/In

[2015-11-19 15:56] fxbois commented on #637
That's exactly what I wanted. I'll work on this

[2015-11-19 15:58] AriaFallah commented on #637
Thank you very much for being so responsive.

Everything else about web-mode has been perfect (other than having to call `font-lock-fontify-buffer` every now and then), and I like that it supports .jsx for react as well.

[2015-11-19 16:01] fxbois commented on #637
If you have a testcase for triggering issues with font-locking, do not hesitate to post a specific issue

[2015-11-19 16:03] AriaFallah commented on #637
I'll definitely look into it. It happens only 2-3 times for very small sections of code in a few hours of coding.

[2015-11-19 20:44] amasad opened #638 "JavaScript If statement indentation issues"
First of all, thanks so much for your work on this mode.

I'm having trouble with the if statement indentation when it comes to large conditionals. For example if I want to split my conditional into multiple lines then the indentation for the body of the if statement is double indented. Furthermore the continuation of conditional doesn't align correctly.

Expected:
[code]

Actual:
[code]