[2017-06-21 09:15] fxbois commented on #810
@aaronjensen this issue is not an easy one. I need to find time to work on it

[2017-06-22 03:35] aaronjensen commented on #810
understood, thanks for responding. If you leave some notes here on where to get started maybe I or some other may come along and put some effort into it.

[2017-06-22 14:04] d8660091 commented on #875
This problem is solved by now:
https://github.com/emacs-evil/evil/commit/76700a90d127fbd6eb6cd4ff7cb04fc6b8f64aa3

[2017-06-22 14:04] #875 closed

[2017-06-27 08:45] builtinnya commented on #848
For someone getting into this issue:

- **"Left padding"** section on [the official documentation](http://web-mode.org/)
- [How can I indent inline Javascript in web-mode? - Stack Overflow](https://stackoverflow.com/questions/36701024/how-can-i-indent-inline-javascript-in-web-mode)

**TL;DR**

[code]

[2017-06-28 15:20] ojab opened #891 "Support flycheck"
Right now `flycheck` doesn't support web-mode, so `(flycheck-add-mode 'javascript-eslint 'web-mode)
` should be used in order to make it work.
AFAIU support for `web-mode` was dropped because flycheck can't detect what language `web-mode` is used, so can't decide which checkers should be used (see https://github.com/flycheck/flycheck/issues/706#issuecomment-125929279 for example).
 It would be awe

[2017-06-30 15:12] highcat opened #892 "Feature request: engine variable comment that overrides web-mode-engines-alist"
Right now web-mode-enable-engine-detection works only if no other engine detected.

E.g. I have a bunch of ".html" files. Most of them are acutally Django templates, but some of them are pure HTML, some are underscore templates.

I would like it to be Django templates by default, but switch to underscore when I specify manually:
[code]

My quick dirty fix is simply allowing local variable to overr

[2017-07-07 09:50] guillaumekoenig opened #893 "web-mode-dom-entities-encode not doing the whole region"
`web-mode-dom-entities-encode` is not converting the whole region to html entities, because point max increases as some characters are replaced by their equivalent html entity.

Proposed patch :
[code]

[2017-07-09 16:22] #893 closed

[2017-07-09 16:22] fxbois commented on #893
good catch, thx

[2017-07-09 16:24] fxbois commented on #891
@ojab You should ask some help on emacs stackoverflow ... I know people have dealt with this

[2017-07-09 16:26] fxbois commented on #890
Would only be possible in this case
```<img |>```
(note the character ```>```)

[2017-07-09 16:40] fxbois commented on #892
@highcat why don't you rely on the path off the templates (or of the projet) to force the engine ?

[2017-07-09 19:47] ojab commented on #891
Yeah, it could be done via `eval-after-load 'flycheck` hook and alike, but this issue is about ideal world where flycheck works out-of-the box and loads proper checker for current file automatically.

[2017-07-09 20:09] fxbois commented on #891
@ojab I can help but won't have time to work on this

[2017-07-09 20:09] #891 closed

[2017-07-11 11:45] jcubic opened #894 "Option to turn off indent on yank"
Another question about yank + indent like #703

Is it possible to turn off indent when pasting text for insiance I have this string in clipboard: `"$response->redirect("` and when I yank that text into php code everything after that line get one more indent because of unclosed `(` to fix it I need to paste that text into temp buffer, add `)`, then copy and paste.

Another test case, I have code li

[2017-07-11 14:05] zw963 opened #895 "[feature request] Support for Opal (Ruby to javascript compiler)"
[This](https://github.com/opal/opal#readme)  is a seven years old project, still keep active development.

but not reach 1.0 yet.

Following is example from README:

[code]

Thanks.

[2017-07-11 14:07] zw963 commented on #895
Following is a more complicated example:

[code]

[2017-07-12 16:48] yurikhan opened #896 "Children of indentless elements still get indented"
I’m not getting how `web-mode-indentless-elements` is supposed to work.

`emacs -Q`
M-: `(add-to-list 'load-path "~/.emacs.d/web-mode")` RET
M-x `load-library` RET `web-mode` RET
C-x C-f `test.html` RET
M-x `web-mode` RET
M-x `web-mode-set-content-type` RET `html` RET
M-: `(add-to-list 'web-mode-indentless-elements "html")` RET

`<html>` RET

⇒ No indentation, as expected.

`<h` (starting to type

[2017-07-13 07:55] AlexYegupov commented on #881
Also is would be great not to comment empty lines before text. For example after paragraph was selected by Alt+h standard key

[2017-07-21 16:39] brandonparsons opened #897 "Indentation not working as expected"
Hi there,

I'm new to the Emacs & Spacemacs community. I'm trying to get started with Spacemacs to see if it's for me.

I've run into an issue with web-mode that I can't sort out. I've posted on SO but have not received any replies (other than it's probably worth filing an issue here).

When editing one of my html templates (myfile.html.eex), the indentation displayed in Spacemacs is not as expect

[2017-07-21 21:15] fxbois commented on #897
@brandonparsons It is related to the minor mode that displays a vertical line.
You should disable it for web-mode.
(it is a hook priority nightmare that can not been solved properly)

[2017-07-21 21:15] #897 closed

[2017-07-22 08:14] nightire opened #898 "Incorrect indentation in handlebars template (and it used to be correct)"
expected:

[code]

current result:
[code]

There're two more spaces on attribute indentation in new line, but it used to be correct, unfortunately I can't tell since when it is broken.

I use spacemacs and I've try stable and develop branch both, and I tested all possible configuration that web-mode provides as well.

[2017-07-22 13:46] brandonparsons commented on #897
Thanks @fxbois . Are you talking about `indent-guide-mode`?

[2017-07-29 21:14] amirouche opened #900 "Improve auto pairing of elements in JSX"
First, thanks for this awesome mode! It's pleasure to work with it and it would much more difficult to work with JSX if it did not exists!

Like I said I work with JSX with ReactJS. To keep the number of variables coming from imports under control, I import my components as module with the following syntax:

[code]

This allow me to write JSX that look like the following:

[code]

The issue I have

[2017-07-31 10:45] nickmccurdy opened #901 "Rename web-mode-content-types-alist in docs"
It appears as if `web-mode-content-types-alist` has been renamed to `web-mode-content-types`. While both variables are supported, only the former is declared, so it would be nice to update the docs to reflect this. I was confused when I pasted this into my `.emacs` and my linter complained about `web-mode-content-types-alist`, and I could also see some potential confusion with the ordering of pair

[2017-08-01 21:48] nickmccurdy opened #902 "Markdown file support"
I have Liquid templates in some markdown files in one of my Jekyll projects, and I would like to use `web-mode` for the Liquid support while also having basic Markdown support like syntax highlighting. I have been using `markdown-mode` but that of course does not support Liquid.

Would this be possible in `web-mode`? I tried modifying `web-mode-content-types` with the config below, but `web-mode`

[2017-08-01 22:50] nickmccurdy commented on #824
This could be added as a CSS part, though features like interpolation and nesting could be tricky. Maybe we could cheat and use SCSS/Less language support to get the nesting.

[2017-08-02 13:40] wavexx opened #903 "php "elseif" single statement indentation missing"
Consider:

[code]

The statement 1 is currently indented, but statement 2 is not, resulting in:

[code]

The same is true for the expanded form: "else if":

[code]

[2017-08-02 20:38] jojojames opened #904 "Comments inbetween tags in JSX"
[code]

In a smaller example,

[code]

I'm not sure why the comment style changes between the two. It looks like the second is syntatically correct while the first will throw an error.

[2017-08-03 07:55] c02y commented on #772
Is this problem fixed?

I open a html file using `emacs -q`, the `M-j` is bound to `indent-new-comment-line`, and `M-j` does exactly what it should do.

But if I load my configuration which using `web-mode` to open a html file, `M-j` is bound to `web-mode-comment-indent-new-line`, and `M-j` is not working at all.

[2017-08-05 21:00] jocap opened #905 "Indents unclosed <p> tags incorrectly (valid HTML)"
Hello!

First of all, I thank all contributors for making this great package.

My problem is that it doesn't seem to be fully compatible with HTML. More precisely, auto-indentation fails whenever I don't close a `p` tag:

[code]

Keep in mind, that is perfectly valid HTML - if you want to see for yourself, paste the above code into the [W3C validator](https://validator.w3.org/).

Not having to clo

[2017-08-06 21:12] fxbois commented on #905
@jocap Hi being compatible with this 1/ would be difficult and 2/ would slow down many features (like indentation).
I will not be able to add this feature to web-mode

[2017-08-07 15:19] fxbois commented on #900
@amirouche are you aware of any other projects/modules using dots in tag names (could you provide an url to them please)

[2017-08-07 15:55] #903 closed

[2017-08-07 15:57] fxbois commented on #902
@nickmccurdy web-mode can not achieve what you want to do ... web-mode "doesn't know" markdown syntax

[2017-08-07 15:57] #902 closed

[2017-08-07 16:04] fxbois commented on #901
@nickmccurdy thank you, I've added a defvar

[2017-08-07 16:04] #901 closed

[2017-08-07 16:07] fxbois commented on #896
@yurikhan I do not understand ... why don't you
```(add-to-list 'web-mode-indentless-elements "head")```

[2017-08-07 16:13] fxbois commented on #898
@nightire I've just tested and it seems to work ok.
Seems related to spacemacs (which I do not use)

[2017-08-07 16:14] jocap commented on #905
@fxbois Thanks for your response. I actually don't think this would be very hard to implement. Citing from the MDN web docs:

A simple implementation that covers most cases might be to check, upon opening a `<p>`, whether the previous block-level element opened was also a `<p>`, and if so, resetting the indentation.

I really think this should be in web-mode. Web-mode is many people's go-to Emacs

[2017-08-07 16:15] fxbois commented on #895
@zw963 are you aware of any other projets using this.
I do not want to invest to much time on a tech that no one uses

[2017-08-07 16:17] fxbois commented on #894
@jcubic Have you looked at : ```web-mode-enable-auto-indentation``` ?

[2017-08-07 16:18] #892 closed

[2017-08-07 16:25] fxbois commented on #905
@jocap not to easy
https://www.w3.org/TR/html5/syntax.html#optional-tags

I might look at it some day but if you want to try, do not hesitate !

[2017-08-07 16:29] jocap commented on #905
@fxbois:

Yeah, all that would be impossible to implement. But implementing a small subset of it, only for `<p>` tags and possibly also for `<li>` tags - the most common use cases - would be appreciated by many.

Do you feel like the current source code of `web-mode` could easily be modified to have `<p>` elements be closed by `<p>`, `<address>`, `<article>` and so forth, in addition to `</p>`? If

[2017-08-07 16:33] nightire commented on #898
@fxbois Thank you. Actually I reverse my config to original version from spacemacs, and add everything I need back one by one, and it magically works fine again. So you were right about something goes wrong with my old config, yet I can't tell exactly what it is...

[2017-08-07 16:33] #898 closed

[2017-08-07 16:33] zw963 commented on #895
@fxbois , HI, following is a list project which use Opal.

https://github.com/fazibear/awesome-opal

Though, not every project need write `ruby` directly in view.

I think, a easy why is: maybe just need replace original `<%= ??? %>` syntax support to `<script type="text/ruby"> ??? </script>`, it should worked?

thanks

[2017-08-07 16:41] guilhermeasg opened #906 "Indentation completely off in markup"
This is sort of hard to describe, see the GIF below for a better illustration...

![Example](https://user-images.githubusercontent.com/6297901/29036297-46dccee8-7b75-11e7-913d-9d9e36221e0e.gif)

This happens pretty reliably on any HTML or PHP template file I open. Open a new line, write in it. When the point moves to the next line, the line I just finished writing on jumps to the right. Moving the

[2017-08-07 17:06] yurikhan commented on #896
That does not help either. As soon as I get any child element (such as `title`)’s end tag auto-completed, that element gets indented one stop beyond `<head>`, regardless of the value of `web-mode-indentless-elements`.

It does not help that `web-mode-indentless-elements` is undocumented so I cannot discern the author’s intent.

Ultimately, what I’m trying to do is to indent plain HTML this way:

[

[2017-08-07 17:19] fxbois commented on #905
@jocap I might try to add a simple implementation that could be finished by you. Hope to release this before the end of august

[2017-08-07 17:20] fxbois commented on #906
@guilhermeasg due to the minor mode that draws a vertical line.
Should disable it for web-mode

[2017-08-07 17:20] #906 closed

[2017-08-07 17:22] fxbois commented on #896
@yurikhan not really ... you should overwrite indent-line-function with your own

[2017-08-07 17:22] #896 closed

[2017-08-07 17:30] amirouche commented on #900
No, I know nobody doing that. That said, I am trying to push [that feature into reactstrap](https://github.com/reactstrap/reactstrap/issues/517) (bootstrap for reactjs).

[2017-08-08 06:52] jocap commented on #905
@fxbois That's great to hear! Thanks for being so helpful.

[2017-08-08 07:15] jcubic commented on #894
this works great, thanks.

[2017-08-08 07:15] #894 closed

[2017-08-10 06:35] raoulhatterer opened #907 "the function `font-lock-ensure' is not known to be defined"
`Leaving directory `/home/hatterer/.emacs.d/elpa/web-mode-20170807.903'

Compiling file /home/hatterer/.emacs.d/elpa/web-mode-20170807.903/web-mode-pkg.el at Thu Aug 10 09:21:36 2017
Entering directory `/home/hatterer/.emacs.d/elpa/web-mode-20170807.903/'

Compiling file /home/hatterer/.emacs.d/elpa/web-mode-20170807.903/web-mode.el at Thu Aug 10 09:21:36 2017

In end of data:
web-mode.el:13007:

[2017-08-12 08:06] brandelune opened #909 "Licence of web-mode"
Hi,

In a thread in the emacs-devel maillist, the licensing situation for emacs packages provided through Emacs package archives has been under focus. I have volunteered to contact the authors of packages that have a license that is incompatible with Emacs, which is now under GPL-3+.

See https://lists.gnu.org/archive/html/emacs-devel/2017-07/msg01069.html

So I wonder if you could consider to cha

[2017-08-12 10:16] fxbois commented on #909
No pb. Could you provide a patch ?

[2017-08-12 16:55] brandelune commented on #909
I could if all the contributors to the code agreed on the move.

@rejeep @bmalehorn @ksmadsen @asok @plumdog @ahungry @davebrown @tock203 @osv @redguardtoo @jbranso @cimocimocimo @achitu @bystrano @dunn @konnorbeard @allenluce @muihlinn @keremc @xuhdev @DoMiNeLa10 @To1ne @ciju @utkarshkukreti @lunaryorn @pavloo @dochang @p-lambert @fallchildren @xaiki @thwg @mads-hartmann @jinnovation @drazenzen @

[2017-08-12 17:02] dunn commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3.

That work?

[2017-08-12 17:04] DoMiNeLa10 commented on #909
I'm fine with my code being released under GNU GPL 3+.

[2017-08-12 17:14] rye commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3.

[2017-08-12 17:20] plumdog commented on #909
Fine by me.

It might be worth adding a note in the description about what the current license is and - very briefly - what the change will mean. I always have to look up what the GPL versions actually mean.

[2017-08-12 17:23] ciju commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3.

[2017-08-12 17:26] davebrown commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3.

[2017-08-12 17:26] brandelune commented on #909
Thank you or the replies, but please specify "GPL3 and newer" if possible.

@xinyijun @edslocomb @bitdeli-chef @cwebber @shigi @ancane @jinwei233 @atihonruk @tadfisher @peleteiro @itoshkov @banjo-monger @bradwright

[2017-08-12 17:27] p-lambert commented on #909
I'm fine with my code being released under GNU GPL3 and newer.

[2017-08-12 17:30] jbranso commented on #909
I agree that you can change my contributitions to GPLv3 and newer.  (Though I only ever contributed 5 or 6 lines total).  :)

[2017-08-12 17:39] ancane commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 17:45] bgruber commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 19:10] itoshkov commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 19:33] allenluce commented on #909
Fine by me.

[2017-08-12 20:25] konnorbeard commented on #909
Because all the cool kids are doing it - I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 20:30] utkarshkukreti commented on #909
Although my contribution is just one actual line of code, I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 20:31] bradwright commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 20:39] achitu commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-12 21:08] muihlinn commented on #909
I'm fine with whatever open license is choosenEl 12 ago. 2017 6:56 p. m., brandelune <notifications@github.com> escribió:I could if all the contributors to the code agreed on the move.
@rejeep @bmalehorn @ksmadsen @asok @plumdog @ahungry @davebrown @tock203 @osv @redguardtoo @jbranso @cimocimocimo @achitu @bystrano @dunn @konnorbeard @allenluce @muihlinn @keremc @xuhdev @DoMiNeLa10 @To1ne @ciju @u

[2017-08-12 21:33] dsedivec commented on #909
I agree to having my contributions to web-mode relicensed under GNU GPL 3 or newer.

[2017-08-12 22:04] ahungry commented on #909
i agree to licensing my contributions as gplv3 or newer

[2017-08-12 22:06] cimocimocimo commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3.

On Sat, Aug 12, 2017, 15:04 Matthew Carter, <notifications@github.com>
wrote:

[2017-08-12 23:55] jkl1337 commented on #909
I agree to rerelease any and all contributions under terms of the GPL version 3 or newer.

[2017-08-13 00:03] tock203 commented on #909
I hereby (re)release my contributions to web-mode under the GPL3 or newer.

[2017-08-13 00:31] NerdGGuy commented on #909
I hereby release all current and future contributions to this repository under CC0 (https://creativecommons.org/publicdomain/zero/1.0/legalcode).

Note: this gives anyone including @fxbois permission to license my contributions to this repository as GPLv3 or later.

[2017-08-13 03:14] dochang commented on #909
I hereby agree to (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-13 03:36] jaccarmac commented on #909
I hereby release my contributions to `web-mode` under the GPL v3 or newer.

[2017-08-13 04:27] aethanyc commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-13 04:42] shigi commented on #909
No problem

[2017-08-13 05:20] xuhdev commented on #909
I hereby (re)release my contributions to web-mode under the GPL, version 3 or newer.

Honestly, I'm not sure whether this is a problem, since `web-mode` is released under `GPLv2+`, not `GPLv2`. That means, one can always redistribute `web-mode` under `GPLv3+`.

[2017-08-13 07:14] To1ne commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-13 08:31] rejeep commented on #909
Fine by me

[2017-08-13 08:55] bystrano commented on #909
OK, I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-13 12:08] brandelune commented on #909
Apologies. As @xuhdev commented web-mode is released under GPL2+. It is just that the reference was not caught by the script that checked the packages. I'm closing the issue. Thank you all of you who replied and sorry again for the hassle.

[2017-08-13 17:13] zargener commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-13 19:11] fallchildren commented on #909
Cool stuff. I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-13 20:22] banjo-monger commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-14 00:35] peleteiro commented on #909
I hereby (re)release my contributions to web-mode under the GPL, version 3 or newer. Or whatever other license web-mode choose today and any time in the future.

[2017-08-14 06:33] mgalgs commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-14 06:54] mads-hartmann commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-14 07:15] jilen commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-14 08:23] drazenzen commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-14 12:19] asok commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

[2017-08-14 12:39] fwchen opened #910 "javascript code indent not correct"
I post a question on stackoverflow.
https://stackoverflow.com/questions/45671963/emacs-web-mode-indent-javascript-not-correct
anybody help me?

[2017-08-14 12:46] fwchen commented on #910
Ah...I found it
[code]

[2017-08-14 12:46] #910 closed

[2017-08-14 14:24] scfrazer opened #911 "es6 class method definitions use wrong face"
Hi,

I'm using version 15.0.5, and es6 class method definitions are using the wrong face.  Here is an example:
[code]
Both `construtor` and `foo` are using `web-mode-function-call-face` instead of `web-mode-function-name-face`.

[2017-08-15 02:54] xinyijun commented on #909
I hereby (re)release my contributions to web-mode under the GPLv3 or newer.

2017-08-14 20:19 GMT+08:00 Adam Sokolnicki <notifications@github.com>:

[2017-08-17 02:42] jinnovation commented on #909
I hereby (re)release my contributions to web-mode under the GPL, version 3 or newer.

[2017-08-17 04:10] tadfisher commented on #909
I hereby (re)release my contributions to web-mode under the GPL, version 3 or newer.

[2017-08-17 16:39] kissge commented on #909
@fxbois If you could close this issue it would be nice :) (cf. https://github.com/fxbois/web-mode/issues/909#issuecomment-322038261)

[2017-08-18 03:34] milkypostman commented on #909
please note, it seems like the individual file says: `;; License: GNU General Public License >= 2` which seems like it should continue to be compatible with v3. but it doesn't have the full preamble. Does it even require all this?

[2017-08-21 22:18] vxcamiloxv opened #912 "Wrong indentation freemarker alternative syntax"
Syntax is wrong in alternative freemarker template, example:

Expected:
[code]

Current:
[code]

[2017-08-22 17:48] #912 closed

[2017-08-22 17:59] fxbois commented on #907
@raoulhatterer which emacs version ?

[2017-08-22 18:07] #911 closed

[2017-08-23 07:49] fxbois commented on #900
@amirouche I am reluctant to slow down web-mode for every one if you are the only one using this kind of tags.
Could you use ```<fw-Link>``` or ```<fw_Link>``` or ```<fw:Link>``` ?

[2017-08-23 07:52] #909 closed

[2017-08-23 08:30] amirouche commented on #900
It's ok. Tx!

[2017-08-23 08:30] #900 closed

[2017-08-24 01:25] NateEag commented on #772
This problem still exists in web-mode, AFAIK - I just tested it and see the exact issue you described.

My `web-mode-version` is "15.0.3".

Per @fxbois's suggestion, I just bound <RET> to `newline-and-indent` in web-mode.

It would be nice to have a working `M-j` in web-mode, though.

[2017-08-26 02:19] dse opened #913 "Feature request: indentation for <!--#if --> blocks in Apache server-side includes."
I would like to have web-mode automatically indent `` blocks in Apache server-side includes, like the following example:

    <p>Zero</p>

        <p>One</p>

      <p>Two</p>

      <p>Three</p>

    <p>Four</p>

`if`, `elif`, `else`, and `endif` are the only server-side include directives that would affect indentation, as the other directives are not paired with anything.

Because server-side in

[2017-08-28 09:34] fxbois commented on #913
@dse is there any specific file extension to this kind of templates ?

[2017-08-28 13:08] kermorgant opened #915 "setup indentation for twig directive"
Hello,

I'm using web-mode for twig, and need to setup indentation for content between {{ form_start(...) }} and  {{ form_end(...) }}

Is there a way to do that ?

Regards
Mikael

[2017-08-28 13:15] fxbois commented on #915
@kermorgant is it a standard directive ?

[2017-08-28 13:37] kermorgant commented on #915
at least when working with symfony, yes.
Here's the relevant doc : http://symfony.com/doc/current/reference/forms/twig_reference.html

[2017-08-28 15:48] kermorgant commented on #915
amazing, thanks !!! :)

[2017-08-28 15:48] #915 closed

[2017-08-28 19:22] fxbois commented on #905
@jocap you can now ```(setq web-mode-enable-optional-tags t)```

[2017-08-29 06:15] #879 closed

[2017-08-29 06:16] #890 closed

[2017-08-29 06:16] #861 closed

[2017-08-30 07:22] jcubic opened #917 "clone keyword in php not marked as keyword"
The `clone` is not marked as keyword and according to [this document](http://php.net/manual/en/language.oop5.cloning.php) it's a keyword the name of the page say oop5 but it for php5+.

Here is a list of all php keywords http://php.net/manual/en/reserved.keywords.php

[2017-08-30 07:28] jcubic opened #918 "How to reload mode without reopening Emacs"
In this stack overflow question [How to reload an emacs major mode?](https://stackoverflow.com/questions/4359653/how-to-reload-an-emacs-major-mode#4361279) they suggest to use `unload-feature`, `load-file` or `eval-buffer` none of them work (first throw exception). I've added "clone" keyword to php but when I do the second answer it didin't reload.

Is there a way to reload a mode without the need

[2017-08-30 09:47] DoMiNeLa10 commented on #918
There's a command that reloads `web-mode`, `web-mode-reload`, which is bound to `C-c C-r` in `web-mode`. It seems to work right with edits to `web-mode.el`.

[2017-08-30 11:12] jcubic commented on #918
it don't work for me, I've changed "clone" to "cloned" and after I call that function I still have blue clone. I've also tried to change to text-mode and back to web-mode I still have blue "clone". Maybe that's related to defvar.

[2017-08-30 13:15] DoMiNeLa10 commented on #918
Are you sure you're editing the same file you're loading in Emacs?

[2017-08-30 13:18] fxbois commented on #918
@jcubic could you try to replace ```defvar``` by ```defconst``` and tell me if it change anything please

[2017-08-30 13:28] jcubic commented on #918
@DoMiNeLa10  I'm saving correct file and it's updated when I reopen Emacs.
@fxbois I've got the same result, but when I call `M-h v web-mode-extra-keywords` I've got `nil`

[2017-08-30 13:32] fxbois commented on #918
@jcubic I do not understand your problem. Please explain precisely what vars you are updating

[2017-08-30 14:05] DoMiNeLa10 commented on #918
If you're editing a `defconst`, evaluating it with something like `C-M-x` should be enough.

[2017-08-30 16:46] jcubic commented on #918
I've updated this code (added "foo") save it and call C-c C-r:
[code]

[2017-08-30 16:48] jcubic commented on #918
also change it to defconst and that also didn't work.

[2017-08-30 19:10] #917 closed

[2017-09-01 09:32] jocap commented on #905
@fxbois That is fantastic! Thank you for your great work :-)

[2017-09-01 09:50] #905 closed

[2017-09-05 16:30] #918 closed

[2017-09-05 16:30] #907 closed

[2017-09-05 19:48] strom commented on #774
I can't get `\\` comments to work, period. It's very frustrating.

[2017-09-05 21:59] strom commented on #774
20170830.1210 seems to have fixed it

[2017-09-06 05:05] dse commented on #913
Apache's documentation uses `.shtml` for its [example](https://httpd.apache.org/docs/current/howto/ssi.html#configuring) configuration.

But one site I work with enables it on all `.html` files.  It's probably an edge case though.

A variable would be best, I would imagine.

[2017-09-07 17:16] keks777 opened #919 "auto-complete"
I try M-x web-mode-language-at-pos and nothing found

function
[code]

don`t work for me

[2017-09-11 17:19] CamJN opened #920 "Issue with indentation on line after single-line style comment"
When I indent my react files, I am seeing some incorrect indentation following some lines that are `//` style comments. The indentation is increased one level where it should be the same as the previous line. Some examples are given below:

[code]

[code]

[code]

Note that not all lines that contain `//` cause this issue, some examples of lines that do not trigger the problem below:

[code]

[cod

[2017-09-13 13:21] bschwehn commented on #756
As far as I can tell, this is caused by a combination of

a) evil leaving the (yank-handler (evil-yank-line-handler) property after a line yank
b) web mode setting yank-excluded-properties to t

[2017-09-13 13:27] fxbois commented on #756
@bschwehn do you suggest any change in the web-mode code/behaviour ?

[2017-09-13 13:38] bschwehn commented on #756
@fxbois: I don't understand this issue well enough to suggest any change.

Actually, after trying again, I am not sure anymore that the yank-excluded-properties related code in web-mode really makes a difference.

For now, this looks more like an issue in evil to me

[2017-09-15 23:30] yassinphilip opened #921 "Is Auto-Complete broken?"
Hi!

Recently I noticed that I don't have any completion in web-mode buffers anymore, I tried to reset my whole elpa dir but to no avail, no matter what I do, in web-mode buffer the variable `ac-sources` is always `nil` :(

[code]

_But_:

[code]

Here are [my web-mode and my ac configs](https://bitbucket.org/yassinphilip/dotfiles/src/d23da6c527783c9816dbf544392406fa45441253/.emacs?at=master&filev

[2017-09-18 18:20] NateEag commented on #921
My auto-complete config seems to still be working as I expect. You can see it [here](https://github.com/NateEag/.emacs.d/blob/master/site-lisp/mode-configs/web-mode-init.el#L71).

I'm on `web-mode-20170822.1106` from MELPA.

I do note that I set `web-mode-before-auto-complete-hooks`, which it looks like you don't. I don't think it should be necessary, but it could be relevant.

[2017-09-19 10:23] siegy22 opened #922 "Weird one space indentation in vue file"
Hey! Thanks for the awesome mode, I'm really in love with it.

I just ran into a tiny issue. When editing a `.vue` file, I saw that it indents the `style` and `script` block by one space, while the `template` block is indented initially by 2 spaces. I used `customize` to look for a configuration like this but didn't find anything.

So here's a side by side comparison:

The current indentation prob

[2017-09-19 10:27] fxbois commented on #922
@siegy22 for the script issue, use ```web-mode-script-padding``` and for the template issue, it is not possible with web-mode

[2017-09-19 10:27] #922 closed

[2017-09-19 10:28] fxbois commented on #919
@keks777 you should ask on emacs stackoverflow. I do not use auto complete

[2017-09-19 10:28] #919 closed

[2017-09-19 10:29] fxbois commented on #920
@CamJN please post a complete example on git

[2017-09-19 11:42] siegy22 commented on #922
Just a side note: for the style indentation it was `web-mode-style-padding`.

[2017-09-20 22:44] melink14 opened #923 "closure template engine doesn't indent {case...} blocks inside of {switch} blocks"
versions: emacs(25.2) web-mode("13.1.9")

Currently, it auto indents {case} blocks like:

[code]

Some people may like that but it's pretty bad for reading. Is there a way to customize it?

I'd prefer something akin to:
[code]

[2017-09-25 08:03] runekaagaard commented on #729
@featheredtoast Disabling `electric-indent-mode` fixed the problem for me. One can do it for all major modes like this:

    ; Disable electric indent.
    (electric-indent-mode -1)
    (add-hook 'after-change-major-mode-hook (lambda() (electric-indent-mode -1)))

[2017-09-25 14:15] CamJN commented on #920
https://gist.github.com/CamJN/b059ab90757f5205790572eaf22170a0

When i indent that, line 7 is indenteed 1 level too far

[2017-09-25 21:53] ramblehead opened #924 "Offset control for HTML comments"
When web-mode computes offsets for multi-line HTML comments it uses hard-codded constants and a single char (`-`) matching to recognise closing tag `-->`, from `web-mode.el`:

[code]
## Use case

Current formatting:

[code]

Desired formatting:

[code]

[2017-09-26 11:09] yassinphilip commented on #921
But... I wonder what YAS version you use:

`auto-complete error: (void-function yas-deactivate-extra-mode)`

I'm using yasnippet-20170828.1908 and web-mode-20170906.214

[2017-09-26 11:24] yassinphilip commented on #921
Hey, I managed to [get it to work](https://bitbucket.org/yassinphilip/dotfiles/src/9cad8cd9e50ecce3acfb278570f8334a3d56242b/.emacs?at=master&fileviewer=file-view-default)! I now can enjoy `ac-source-words-in-buffer` and `ac-source-words-in-same-mode-buffers` in web-mode/JS :)

[2017-09-26 16:35] NateEag commented on #921
Nice! Glad to be of service, and glad to hear you've got it working.

[2017-09-26 19:35] #921 closed

[2017-09-28 20:21] keisetsu commented on #729
I don't know if this is related, but it is auto-indenting whenever I close a tag. Have tried all the above, no luck. I have to use a different editor when making changes to html; probably have to stop using web-mode, unfortunately.

[2017-09-28 20:24] 1MikeMakuch commented on #729
What I've evolved into doing is, for each language/syntax, I have a beautifier that I like and have it format the buffer every time I save. Works for me.

[2017-09-28 20:29] keisetsu commented on #729
Actually, updated to latest version of web mode and it looks like it is responding to runekaagard's suggestion.
Unfortunately, we don't have a standard set up for html in my group, so I have to take a hands off policy. (no pre-save beautifier, maybe one day...) Was having to undo huge sections I hadn't noticed had been indented until it came time for code review.

[2017-09-30 04:27] c02y opened #925 "Using web-mode-comment-or-uncomment to comment a line will add more spaces in the beginning of the line."
For instance, a simple line in html file:

    A sentence.

When you execute `web-mode-comment-or-uncomment` at the beginning of the line, it will become:

The number of the spaces at the beginning of the line depends on the level that the line is in the whole structure of the file.

The spaces is tab actually, for instance, if the line is the first level in the body, ``web-mode-comment-or-uncomme

[2017-09-30 08:23] gabrielps opened #926 "Formatting doesn't work for <template /> tags"
Hello!

I was developing some .vue componentes, and ran into an issue. Vue components are files that look like this:

[code]

I noticed the <script/> tag and <style/> tag are getting formatted just fine, but the contents of tag <template /> don't.

Is there something that can be done?

Thank you for this outstanding mode.

[2017-09-30 17:20] fxbois commented on #926
@gabrielps please post a full example on gist

[2017-10-01 13:01] gabrielps commented on #926
@fxbois How can I do that?

[2017-10-02 18:54] fxbois commented on #926
@gabrielps it works well on my side. Can you post the output of ```web-mode-debug``` please.

[2017-10-02 19:02] #924 closed

[2017-10-02 19:02] fxbois commented on #924
@ramblehead I've pushed a fix

[2017-10-02 19:05] fxbois commented on #920
@CamJN I can not trigger this. Can you try with an empty .emacs ?

[2017-10-02 19:58] fxbois commented on #923
@melink14 I've pushed a fix

[2017-10-02 20:00] fxbois commented on #925
@c02y I do not understand what you are asking for

[2017-10-02 21:06] gabrielps commented on #926
[code]

[2017-10-02 21:12] fxbois commented on #926
@gabrielps don't you have this ?
![vue](https://user-images.githubusercontent.com/959622/31099709-33a5c018-a7c7-11e7-926f-76821d691ca6.png)

[2017-10-02 21:42] CamJN commented on #920
I ran `emacs -q --no-splash -nw` and copied the file contents linked above into a new buffer. I then eval'd the `web-mode.el` file at `~/.emacs.d/elpa/web-mode-20170906.214/web-mode.el` set the `major-mode` to `web-mode` and then the dialect to `jsx` using `web-mode-set-content-type`. Lastly I ran `(web-mode-use-tabs)` and reindented the file and the issue reproduced.

[2017-10-03 06:03] fxbois commented on #920
@CamJN What triggers the bug, ```web-mode-set-content-type``` or ```web-mode-use-tabs```  ?

[2017-10-03 13:21] gabrielps commented on #926
![selection_004](https://user-images.githubusercontent.com/1233288/31127198-70154adc-a84e-11e7-8494-f4d124371725.png)

[2017-10-03 13:22] gabrielps commented on #926
Maybe some incompatibility with some layer??

[2017-10-03 13:40] fxbois commented on #926
@gabrielps your screenshot shoes that everything is well formatted. I do not understand your issue.

[2017-10-03 14:14] CamJN commented on #920
`M+: (web-mode-use-tabs)` is enough to reproduce, don't have to set content-type.

[2017-10-03 14:19] gabrielps commented on #926
The content of the <template> tag remains unchanged: no indents before <div> tags, and no linebreak between them. Look again the screenshot I posted :)

Also, there's something funny: your CSS doesn't gets formatted whereas mine does!

[2017-10-03 14:24] fxbois commented on #926
@gabrielps if you hit TAB when your cursor is before the first div, the indentation does not occur ?

[2017-10-05 06:40] gabrielps commented on #926
It **does** occur, only in normal mode, and only 1 time (if I keep pressing, nothing changes)

[2017-10-05 07:25] fxbois commented on #926
what is normal mode ?
Could you take a little video of what happens ?

[2017-10-05 08:04] gabrielps commented on #926
I work with emacs + evil-mode (more precisely, with spacemacs and evil-mode activated), thus the Normal mode (vim mode). Here is the video you requested.
![peek 2017-10-05 10-02](https://user-images.githubusercontent.com/1233288/31216643-9d8dca68-a9b4-11e7-9b36-b8342c5d8fbe.gif)

[2017-10-05 08:07] fxbois commented on #926
ok understood, this function ```web-beautify-html``` is not a web-mode function. If you hit ```C-x h and TAB``` the buffer is indented. You should ask the author of ```web-beautify-html```

[2017-10-05 08:07] gabrielps commented on #926
I just noticed im using web-beautify-html command and that it doesnt belong to your project ... Just hit me in the face. Sorry for wasting your time :S

[2017-10-05 12:54] siegy22 opened #928 "Mixed spaces and tabs in vue components"
Hey, I think I just found a bug (or maybe I'm missing a configuration?) when using `web-mode` and vue.

So let's assume we have the following code

[code]

If you press Enter on the Line where you call `map` with an arrow function, web-mode will insert a tab character. So usually, it will insert spaces, but within this part of the code, it doesn't.

Why is that, and how can I fix that?

[2017-10-07 19:15] ag91 opened #929 "Uncommenting Multiple lines in a <script> section leaves a '/' character behind"
Hi there,

Thanks for the super useful mode: I found myself working with Polymer and I am very happy to do it in Emacs :)

Lately on I am pair programming with a colleague and we got used to the fact that uncommenting in a <script>section like:

[code]

would give:

[code]

Notice the '/' character left behind.
As I had a few comments of how other editors do not suffer this,
I decided to spend few

[2017-10-09 01:08] c02y commented on #925
Commenting

    A sentence.

to

instead of

[2017-10-10 08:26] kermorgant opened #930 "comment out for some twig"
Hi,

I just found that web-mode would handle twig "blocks" right when commenting (:+1:) , like this

`{% if var == true %}
`
becomes

`{#% if var == true %#}
`

However, when toggling comment another time `(M-;) `, the result is this

`% if var == true %`

Is that somehow fixable ?

[2017-10-11 14:02] dennismayr opened #931 "PHP: cannot comment/uncomment: "web-mode-uncomment-php-block NOT implemented in web-mode""
Hi,

when (un)commenting PHP code with `M-m ;`, I get the following error:

    defun web-mode-uncomment-php-block NOT implemented in web-mode! Fix it or report to its maintainer.

(Using latest version of `web-mode`.)

[2017-10-11 16:36] fxbois commented on #931
@dennismayr What minor mode triggers this message ?

[2017-10-11 16:44] dennismayr commented on #931
I tried to find that out, trying to reproduce the problem doing the same thing while in `web-mode`, commenting/uncommenting lines on a php file, but the message doesn't pop up anymore.
(it showed up several times during this morning)

Let me test it randomly during the day, otherwise this issue can be closed.

[2017-10-14 06:18] fxbois commented on #931
@dennismayr you can reopen if needed

[2017-10-14 06:18] #931 closed

[2017-10-14 06:30] fxbois commented on #928
@siegy22 perhaps related to a minor mode ... can you try with a streamlined ```.emacs```

[2017-10-14 06:30] #926 closed

[2017-10-14 06:30] #923 closed

[2017-10-17 12:07] bengcooper opened #932 "Invalid context during attribute-insert on self-closing tag"
I'm getting an error message when trying to insert an attribute within a self-closing element (the error does not occur with normal or void elements). In this specific case I am inside a JSX part, but the issue also occurs whilst editing standard HTML files.

An example of this is as follows (`|` represents the cursor position) :
[code]
The error message is:
[code]
The output from `web-mode-debug`

[2017-10-18 08:21] bengcooper commented on #932
I can confirm the fix works :smile: thanks!

[2017-10-18 08:25] #932 closed

[2017-10-20 02:31] Qquanwei commented on #922
Thanks !

[2017-10-20 07:05] #930 closed

[2017-10-20 07:05] #929 closed

[2017-10-20 07:06] fxbois commented on #928
@siegy22 please reopen when you have more info

[2017-10-20 07:06] #928 closed

[2017-10-20 07:06] fxbois commented on #913
@dse the last commit provides this feature

[2017-10-20 07:06] #913 closed

[2017-10-20 17:26] wasamasa commented on #756
For the record, this has been resolved in Evil recently: https://github.com/emacs-evil/evil/pull/937

[2017-10-21 06:54] fxbois commented on #756
Thank you very much for the update

[2017-10-21 20:34] dennismayr opened #933 "Automplete always autocompletes with the last text string entered, unnecessarily."
Automplete always autocompletes the last text string entered, unnecessarily, after a comma or semicolon when ending a line.

![autocomplete](https://i.imgur.com/WLdZWAJ.png)

This leads to _always_ having to either double-tap ESC, or resort to C-_ to undo this after _every line_, which after a while becomes rather annoying.

Is there a way to avoid this behaviour, by adding an option in the .emacs

[2017-10-21 20:36] #933 closed

[2017-10-26 13:26] vindarel commented on #886
Note: by launching emacs with `emacs -Q`, web-mode shows me all the JS functions. There's a pb on my side.

This question is then a little feature request: in vue-mode, be able to see "data", "props", "computed" and "methods" entries (which are not only functions).

[2017-10-26 13:45] fxbois commented on #886
@vindarel could you give me more details please (some examples)

[2017-10-26 15:49] vindarel commented on #886
yes, for the little feature, given my example code, it would be to also catch "props", "entries" which are not functions and are not caught presently. Also it would be to put "entries" into a "computed" subgroup and to have a "methods" subgroup.

Is that better ?

[2017-10-30 14:03] dmaze opened #934 "Support YAML as a content type?"
Several systems use a mix of some templating language and YAML for their configuration.  The [Ansible](http://docs.ansible.com/ansible/latest/playbooks_templating.html) configuration management system uses YAML, but individual string values can be Jinja2 templates; [SaltStack](https://docs.saltstack.com/en/latest/topics/jinja/index.html#understanding-jinja), another configuration management system

[2017-10-31 16:47] fxbois commented on #934
@dmaze web-mode is really linked to html.
Providing YAML compatibility would require a lot of work. Finding a company that would accept to sponsor this work would greatly help.

[2017-11-01 17:28] deflexor opened #935 "Unintended Atoindentation on paste"
Example in gif file.
Is it possible to disable this, because sometimes it's undesirable and annoying.
![1](https://user-images.githubusercontent.com/1556229/32287885-382a945e-bf43-11e7-8b07-5657637458c0.gif)

[2017-11-02 08:10] fxbois commented on #935
Sorry, but can you explain precisely what is the problem please.

[2017-11-02 08:22] deflexor commented on #935
The problem is when I paste some markup from clipboard, reindentation happens in other part of file.

[2017-11-02 13:12] fxbois commented on #935
Could you try with an empty .emacs

[2017-11-03 07:35] cuppa-t-lager opened #936 "Coldfusion support"
Is it possible to add an additional regexp trigger for JavaScript-mode. I develop in Coldfusion, using HTML-mode when writing <cfml> tags and JavaScript-mode when inside a <cfscript></cfscript> tag. I'd like the ability to switch to JavaScript-mode automatically when inside a <cfscript></cfscript>.

[2017-11-03 08:27] deflexor commented on #935
Yes, with emtpy .emacs this is not happening.

[2017-11-03 08:58] fxbois commented on #936
web-mode.el is not a multi mode. Perhaps you should ask for help on stackoverflow

[2017-11-03 08:58] fxbois commented on #935
You should now find the minor mode that triggers your bug

[2017-11-03 08:58] #935 closed

[2017-11-03 21:44] nickmccurdy opened #937 "Replacing buffer content resets highlighting"
## Description
I'm integrating a program I wrote that edits HTML files into my Emacs configuration. When I call `(shell-command-on-region (point-min) (point-max) ...)`, the buffer content loses its syntax highlighting and indentation. This does not happen if I open the same file in a `sgml-mode` buffer or modify the buffer's file directly with `auto-revert-mode` enabled on the `web-mode` buffer. E

[2017-11-04 09:06] deflexor commented on #935
I checked all minor modes and disabled electric-indentation, but this still happens, none of other minor modes look related. I tried to load file in html mode or js2 mode and it worked without issue, but only in web-mode i get this autoindentaion. I guess this line is responsible for this: https://github.com/fxbois/web-mode/blob/master/web-mode.el#L10326

[2017-11-04 14:00] DoMiNeLa10 commented on #937
Resetting `web-mode` shouldn't be necessary. `M-x font-lock-fontify-buffer` should be enough to fix font locking. I've gotten used to it whenever font-locking breaks in css buffers.

[2017-11-04 16:13] nickmccurdy commented on #937
Thanks for your help, running `(font-lock-flush)` in Emacs Lisp after my command replaces with the buffer fixes the highlighting. It turns out that the reindentation was caused by `aggressive-indent-mode`, I'm not sure if there's a way around that with `web-mode` or if I should just disable it when replacing buffer contents.

Is it expected that replacing buffer content would break highlighting fo

[2017-11-07 22:08] dse commented on #913
Just writing to say thank you very much!

[2017-11-07 23:14] dse opened #938 "JSON-LD indentation broken as of 118055b7"
Hi,

Indentation for JSON-LD blocks is currently resulting in the following:

[code]

I've determined that revision 118055b7 caused the regression.  (It also caused some other issues that were fixed, but the issue where the lines within `{ ... }` blocks aren't indented further still remains.)

`web-mode-debug` output from rev 118055b7:

[code]

`web-mode-debug` output from previous rev (a04b31c4):

[2017-11-08 06:37] fxbois commented on #938
@dse to be really sure, can you post the same example how it should be indented please.

[2017-11-08 07:15] jcs090218 opened #939 "PHP prefix indentation weird.."
![web-mode-prefix-indent-bug](https://user-images.githubusercontent.com/8685505/32535681-107ad6f0-c496-11e7-9960-55fa6e736a32.png)

In php code block, prefix increment/decrement seems to be not indent correctly. Is there any way to fix this? Thank you!

PS, my `web-mode-code-indent-offset` is set to 2.

[2017-11-08 08:09] dse commented on #938
Good question.

That would depend on the values of the appropriate `web-mode-*-indent-offset` and `web-mode-*-padding` variables, whichever those would be, whether they be existing variables or new ones.

What I would use with <code>web-mode-<i>whatever</i>-indent-offset</code> set to 4 and <code>web-mode-<i>whatever</i>-padding</code> set to 4:

[code]

[2017-11-11 15:27] kermorgant opened #940 "twig comment {{ }} fails to comment adequate handlebars"
Hi,

Juste stumbled on this issue while trying to comment this

`          {{ form_widget(form.address.city, {'attr': {'class': 'form-control form-control-md'}}) }}`

This is what is being commented

`          {#{ form_widget(form.address.city, {'attr': {'class': 'form-control form-control-md'}#}) }}`

Not a big issue, but maybe it is easy to fix.
Mikael

[2017-11-12 21:03] #939 closed

[2017-11-12 21:03] fxbois commented on #939
@jcs090218 I've pushed a fix

[2017-11-12 21:25] #938 closed

[2017-11-14 06:49] ronburk opened #942 "Hook for custom <script> "type" attributes?"
<script> is a common place to store things you're going to process as text and you need the HTML parser to leave alone. My application contains HTML that resides inside <script type="text/x-LP5">. Well, it's not precisely HTML, else the type would be "HTML", but it's plenty close enough that web-mode's HTML indentation works fine. Likewise, my application has another <script> with a custom type th

[2017-11-14 07:06] fxbois commented on #942
@peleteiro what is the type of your "css like" language ?

[2017-11-16 23:46] dse commented on #938
It's working, thank you once again!

[2017-11-22 06:13] jcs090218 opened #943 "Add my own faces does not apply to this mode."
I tried to add a new face so I can highlight a few keyword I wanted, but this code does not work in web-mode. Is there a way I can customize or add the new face to this mode? Thx!

P.S. other modes work fine.

[code]

[2017-11-22 15:22] vxcamiloxv opened #944 "JSX multiline variable indentation"
I don't know if exist way to change this with own emacs indentation properties ('c-set-offset') or is related to web-mode.

When multiline variable the indentation with web-mode is:

[code]

but if you set *eslint* to `indent = 2` show errors because expect 2 indentation spaces, like this:

[code]

make sense if you set the indentation to 2 spaces the next line in multiline variables will be also

[2017-11-22 17:04] vxcamiloxv opened #945 "JSDoc comment highlight support"
Would be cool is add support for http://usejsdoc.org/ comments.

Thanks for you great work.

[2017-11-22 17:20] fxbois commented on #945
could you post a full example on gist please.

[2017-11-22 17:41] vxcamiloxv commented on #945
Example: https://gist.github.com/vxcamiloxv/96d2649c5b691ddeb6855178a005060c

[2017-11-28 20:39] wyuenho opened #946 "Compilation warning: looking-back"
web-mode.el:10678:12:Warning: looking-back called with 1 argument, but
    requires 2-3

[2017-11-29 16:32] wavexx opened #947 "Customization of block-level indent for JS anonymous functions"
In my current config, the following code is indented as follows:

[code]

I'd like to remove the extra block-level indent given to function(), so that the indentation becomes:

[code]

Is it currently possible?

[2017-11-29 16:56] fxbois commented on #947
@wavexx is there any similar config for c-mode ?

[2017-11-29 17:10] wavexx commented on #947
On Wed, Nov 29 2017, fxbois wrote:

Yes, this would be similar to substatement-open.

[2017-12-01 17:38] vapidlyrapid opened #948 "<script type="text/jsx"> code inherits html indentation when html elements in code"
if I have code that's pure JavaScript between script tags, I have no issues.  But the moment I add something like

[code]
all of the code between the script tags lose indentation, with the exception of the DOM elements in the jsx formatted file.  I've also tried setting the type attribute value to "text/babel" and I get the identical unwanted behavior.

[2017-12-04 15:38] Snorflake opened #949 "<style lang="sass"> support"
Vue designates style language using that modifier. a few others are less and scss.

web-mode does not detect these, and therefore doesnt highlight/indent properly :(

[2017-12-07 17:39] fxbois commented on #943
perhaps look at #566

[2017-12-07 17:39] #943 closed

[2017-12-07 17:43] fxbois commented on #944
@vxcamiloxv what are the related c-set-offset options that deal with this kind of customisation ?

[2017-12-13 06:08] jcs090218 opened #951 "JS prefix indentation weird.."
You had fixed the PHP prefix indentation(<a href="https://github.com/fxbois/web-mode/issues/939">#939</a>), I just notice this also happen in JS block.

[2017-12-15 00:38] ojab opened #952 "React-16.2.0 fragments are not supported"
React-16.2.0 [introduced `React.Fragment`](https://reactjs.org/blog/2017/11/28/react-v16.2.0-fragment-support.html), which can be written as `<></>`.
web-mode-20171118.1132 doesn't recognize it as a valid JSX syntax and indentation/etc is broken if fragments are used.

[2017-12-26 08:13] zw963 opened #953 "yasnippet key `=` could not be trigger after a `>`."
Following is a example:

following cursor after the =, this is defined in yasnippet.
[code]
after press `TAB`, what i expect is expand to: `<div><%= %></div>`, but it not work.

But if add a space before `=`.
[code]
It worked now.

I don't know this issue if about web-mode, but when use `rhtml-mode`,
it worked.

[2018-01-01 15:32] jonkri commented on #862
+1

[2018-01-01 15:51] zw963 commented on #953
It is fixed in yassnippets project, thanks.

[2018-01-01 15:51] #953 closed

[2018-01-06 12:15] zw963 opened #954 "web-mode-comment-or-uncomment when uncomment exist error for erb tag."
[code]

if mark this tag, and then press `M-;`, will got:

[code]

thanks

[2018-01-13 18:26] honmaple opened #955 "Can I get indent with indent-region when multi keywords?"
I want get indent when exist multi keywords, such as
[code]
but after I use `indent-region`,the code become:
[code]

The `web-mode-debug`
[code]

[2018-01-14 10:13] danatemple commented on #864
I am seeing exactly this behavior with 15.0.16.

Open the file: cursor is stuck on top line, first char. Arrow keys don't move it.
M-> gets me out of this state, goes to bottom of file
Cursor up works fine UNTIL the top 2 lines, then the cursor jumps to the start and is stuck again.

It only happens if I have this set:
(setq-default web-mode-enable-engine-detection t)

File is JSX (GitHub won't le

[2018-01-15 03:05] paper777 opened #956 "highlight for stylus does not work"
## test code
[code]

### render result
![image](https://user-images.githubusercontent.com/4730110/34925310-86bc38fe-f9e3-11e7-9133-32c438f72092.png)

### debug message

[code]

 ### emacs config
[code]

[2018-01-15 17:58] rakanalh opened #957 "Django tags break syntax highlighting"
Hello,

I noticed that syntax highlighting when web-mode is activated and the engine is set to django.
Example:
[code]
But when adding `{% extends 'base.html' %}`, at the top of the file, syntax highlighting breaks and shows everything highlighted in "red". Some tags show an error of "syntax error" or "Unterminated regular expression literal".

**Update:**
using web-mode latest version `web-mode-2

[2018-01-16 20:03] fxbois commented on #952
@ojab the last commit should solve this

[2018-01-16 20:33] fxbois commented on #956
@paper777 I've pushed a fix

[2018-01-16 20:38] fxbois commented on #955
@honmaple I am not able to reproduce your issue. Here the buffer indents exactly the way you want

[2018-01-16 20:47] #954 closed

[2018-01-16 20:56] fxbois commented on #951
@jcs090218 could you give me more info please (steps to trigger this issue)

[2018-01-16 21:01] fxbois commented on #949
@Snorflake strange, it works here

Please a complete example on gist
and post the output of ```web-mode-debug```

[2018-01-16 21:05] fxbois commented on #948
@vapidlyrapid could explain more accurately your issue please (step by step)
perhaps attach a screenshot of the issue

[2018-01-16 21:13] fxbois commented on #947
@wavexx strange, are you sure you have the last version of web-mode ?

[2018-01-16 21:14] fxbois commented on #946
@wyuenho the master version should be ok

[2018-01-16 21:14] #946 closed

[2018-01-16 22:50] jcs090218 commented on #951
When editing javascript inside html file, inside the 'script' tag.
By hitting 'indent-for-tab-command', prefix ++ operation will still be indent. On the other hand, postfix ++ operation seems to be indent correctly.

In the following gif file, '++hello' indent incorrectly, but 'hello++' indentation is fine.

![ezgif-4-6a88da56ad](https://user-images.githubusercontent.com/8685505/35015746-b2b9bc7e-

[2018-01-17 01:30] paper777 commented on #956
@fxbois Thank you for your great work!!

[2018-01-17 07:08] #956 closed

[2018-01-17 07:09] ojab commented on #952
Thanks, work fine.

[2018-01-17 07:09] #952 closed

[2018-01-17 11:45] fxbois commented on #951
@jcs090218 can not trigger this ... perhaps you do not have the last version of web-mode

[2018-01-17 11:46] #936 closed

[2018-01-17 11:49] fxbois commented on #937
@nickmccurdy you can call ```web-mode-reload```

[2018-01-17 11:49] #934 closed

[2018-01-17 14:31] wavexx commented on #947
On Tue, Jan 16 2018, fxbois wrote:

I'm always pulling it from melpa, and I generally update daily.

[2018-01-17 14:34] fxbois commented on #947
Try with a minimal (empty) .emacs

[2018-01-17 15:40] zw963 commented on #954
It worked, thanks!

[2018-01-18 05:03] jcs090218 commented on #951
Mine web-mode version is 20180116. Is this the latest version? And this still happens...

[2018-01-18 06:12] jcs090218 commented on #951
Okay, if this isn't a bug. I fixed it my own.

[2018-01-18 06:12] #951 closed

[2018-01-20 15:51] fxbois commented on #957
@rakanalh I can't trigger the issue. Please try with an empty .emacs

[2018-01-20 18:11] fxbois commented on #945
@vxcamiloxv some code have been pushed
Use ```(setq web-mode-enable-comment-annotation t)```

[2018-01-20 22:22] rakanalh commented on #957
I tried by running:
`emacs -Q` and then installing web-mode from MELPA. I also couldn't reproduce the issue. Is there a way to figure out why i see this syntax error in my setup using some web-mode diagnostics?

[2018-01-21 15:22] fxbois commented on #957
Try to add new statements gradually in your .emacs

[2018-01-21 20:08] rakanalh commented on #957
For the record, `js2-minor-mode` was causing the issue. Disabling that solves the issue.

[2018-01-21 20:08] #957 closed

[2018-01-22 20:42] vxcamiloxv commented on #945
thanks, I test over emacs 25 and see some changes, but without color highlights
![screenshot from 2018-01-22 15-34-06](https://user-images.githubusercontent.com/14242544/35243403-bcaa20be-ff8a-11e7-9f2f-051153b56b06.png)

[2018-01-22 20:46] fxbois commented on #945
It is up to you to customise the faces : web-mode-annotation-tag-face, web-mode-annotation-type-face

[2018-01-22 20:46] #945 closed

[2018-01-22 20:51] vxcamiloxv commented on #944
@fxbois `(add-to-list 'web-mode-indentation-params '("lineup-ternary" . nil))` fixed my problem and put the indentation like the second example, thanks

[2018-01-22 20:51] #944 closed

[2018-01-24 05:41] mrcoles commented on #452
FWIW, if anyone else is not seeing the change, I had to remove an old .elc file before the change would be read.

[2018-01-26 21:36] mrcoles opened #958 "Allow for custom comments for sass/scss"
I would love to be able to add a configuration to my `web-mode` settings like this:

[code]

The idea here is that *.scss files would use `// …` instead of `/* … */` to comment blocks. This could also be preferred for *.less file too.

Digging into the code I see that the `web-mode-comment-insert` function associates `web-mode-comment-formats` with known languages using the `web-mode-language-at-p

[2018-01-26 21:39] mrcoles commented on #958
Actually as a workaround for now, I’m going to just make it the default for all css and just try to remember not to comment actual css files that way!

[code]

[2018-02-02 05:48] ncaq opened #959 "JavaScript: Regular Expressions internal single quotes are not highlighted correctly"
in JavaScript file.
Regular Expressions internal single quotes to be are highlighted as string delimiter.

example code

[code]

screenshot
![screenshot-2018-02-02-14-45-32](https://user-images.githubusercontent.com/2913112/35718423-d88ad9c2-0827-11e8-9765-116a924fe49a.png)

`web-mode-debug`

[code]

[2018-02-04 10:30] fxbois commented on #958
```(add-to-list 'web-mode-comment-formats '("css" . "//"))``` should work with last commit

[2018-02-04 10:51] #959 closed

[2018-02-05 13:35] amirouche opened #960 "JSX: wrong indentation of text"
Using web-mode `20180204.251`, I get the following automatic indentation:

[code]

As you can see text nodes `Options`, `Option 1` etc... have an odd indentation.

[2018-02-06 07:18] fxbois commented on #960
@amirouche does not happen here. Perhaps related to a minor mode, please try with an empty .emacs

[2018-02-06 08:55] fxbois commented on #942
@ronburk please reopen when you can provide more info

[2018-02-06 08:55] #942 closed

[2018-02-06 08:55] #937 closed

[2018-02-06 08:56] fxbois commented on #895
@zw963 are you still using this ?

[2018-02-06 09:21] fxbois commented on #791
@dustinpaluch I've pushed a new fix

[2018-02-06 11:33] zw963 commented on #895
YES，to be honest，we very little chance to need write ruby directly in page，but，if can do like that，it awesome！

[2018-02-06 11:37] zw963 commented on #895
in fact，any even JS，we seldom write directly in page，but，for play or test，it awesome

[2018-02-06 22:39] dustinpaluch commented on #791
Working for me in 38b9f10. Thanks! Feel free to close.

[2018-02-07 02:53] NateEag commented on #772
For clarity's sake - with web-mode `20180206.120` from MELPA, `M-j` is still broken relative to base emacs behavior.

In `emacs -q`, starting a new empty HTML document and pressing `M-j` adds newlines to the document.

When using web-mode, starting a new empty HTML document and pressing `M-j` does nothing.

[2018-02-07 07:32] #791 closed

[2018-02-07 09:23] fxbois commented on #772
@NateEag should be fixed with last commit

[2018-02-07 09:25] fxbois commented on #824
@jstaffans I've started to work on this. Indentation should work with last commit

[2018-02-07 10:16] #958 closed

[2018-02-07 10:17] fxbois commented on #948
@vapidlyrapid please reopen when you can provide more info

[2018-02-07 10:17] #948 closed

[2018-02-07 10:17] fxbois commented on #947
@wavexx please reopen when you can provide more info

[2018-02-07 11:44] zw963 commented on #895
hi，if you thought add this feature is need more invest，so，i think yiu can feel free to close this issue，Opal is great, and will reach 1.0 this year, but, to be honest，should few pepole direct use this

[2018-02-07 15:10] NateEag commented on #772
Awesome. Thanks so much, @fxbois !

[2018-02-07 15:11] #772 closed

[2018-02-08 02:37] ncaq opened #961 "JavaScript: #959 next, Regular Expressions internal single quotes in switch stetement are not highlighted correctly"
It is the continuation of #959

I confirmed that I was cured in part.
However, I was not cured on my code.
After investigating a little, I found that the character string quote is erroneously recognized when putting the regular expression inside the switch.
I reopen the issue.
I do not know the cause.

example code

[code]

The syntax highlight of this code will also break on GitHub.
But this code

[2018-02-10 08:29] fxbois commented on #961
@ncaq should be solved

[2018-02-10 08:29] fxbois commented on #960
@amirouche reopen if needed

[2018-02-10 08:29] #960 closed

[2018-02-10 08:30] fxbois commented on #955
@honmaple reopen if needed

[2018-02-10 08:30] #955 closed

[2018-02-10 08:49] ncaq commented on #961
I also looked at the Emacs Lisp code a bit but I do not know how to solve it.
As a workaround for the time being, I converted the quotes inside the regular expression literal into dots.
In our production code it did not matter but people who really need quotes may be in trouble.

[2018-02-10 16:48] tttuuu888 opened #964 "web-mode is not derived from prog-mode"
First of all, I really appreciate for this great package.
I recently found out that web-mode is not properly derived from prog-mode.
I have tested like below.

1. start emacs.
2. open 'test.test' file.
3. M-x web-mode
4. M-: to evaluate (derived-mode-p 'prog-mode)
5. result says nil

Looks like the alias of web-mode-prog-mode is not working well when the alias is used for define-derived-mode.
The

[2018-02-10 16:52] DoMiNeLa10 commented on #964
I don't like this as well, because it means hooks for `prog-mode` don't get executed in `web-mode` buffers.

[2018-02-11 08:30] #964 closed

[2018-02-11 12:25] DoMiNeLa10 opened #966 "void-function web-mode-define-derived-mode"
Byte-compiling `web-mode` and then loading it with an autoload file causes the following error:
[code]

This problem seems to be caused by use of the `eval-and-compile` macro [here](https://github.com/fxbois/web-mode/blob/6b0b329ab5342a142d7cb2419e22278ff73ba557/web-mode.el#L2356), more specifically by [these lines](https://github.com/fxbois/web-mode/blob/6b0b329ab5342a142d7cb2419e22278ff73ba557/w

[2018-02-11 15:15] tttuuu888 commented on #966
I am sorry since this error is caused by my commit.

Looks like we cannot avoid this error when replacing
'define-derived-mode' to 'web-mode-define-derived-mode'.
Because 'web-mode-define-derived-mode' part is auto loaded before the
definition of the macro is loaded.

I have shortly searched how the other packages have dealt with this
matter.  Many packages simply supports prog-mode only.
In case

[2018-02-11 16:06] fxbois commented on #966
@tttuuu888 I let you look at the issue

[2018-02-11 16:09] DoMiNeLa10 commented on #966
I think it would be a good idea to deprecate older version of Emacs, considering how old they are. Compatibility with versions older than 23 makes very little sense, considering the [package declaration](https://github.com/fxbois/web-mode/blob/6b0b329ab5342a142d7cb2419e22278ff73ba557/web-mode.el#L9). Definitions of newer functions are probably available in packages.

In general, these problems ste

[2018-02-11 16:20] fxbois commented on #966
I do not try to maintain compatibility with versions bellow 23.1

[2018-02-11 16:26] tttuuu888 commented on #966
prog-mode is introduced from Emacs 24.1 so if we do not have to support Emacs below 24.1, using prog-mode for define-derived-mode for web-mode would be the simple and best solution.

Though there are still some alias left for supporting Emacs below 24, this might be simple solution..

[2018-02-11 16:57] fxbois commented on #966
There is no reason to drop compatibility with emacs >= 23.1
If there is no solution we should revet the patch.

[2018-02-11 17:17] tttuuu888 commented on #966
If we revert patch, 'web-mode' will not be derived from prog-mode again. I just asked new pull request. It does not look like the best answer but it works and support for Emacs below 24 as well.
I would like request some tests and confirmation.

[2018-02-13 13:43] teozkr opened #968 "Twirl/Scala symbols aren't terminated properly"
Scala's (and by extension Twirl's) Symbol type is has the grammar `'<ident>` (in addition to the character literal syntax `'<char>'`), while web-mode seems to assume the scripting language convention of `'[^']'` being roughly equivalent to `"[^"]"`.

This shouldn't cause conflicts with C#/Razor, since I don't believe they have any equivalent syntax.

[2018-02-16 19:06] #966 closed

[2018-02-16 19:07] #961 closed

[2018-02-17 17:18] fxbois commented on #940
@kermorgant should be fixed

[2018-02-17 18:58] fxbois commented on #864
@pingz is it solved with the last version of web-mode ?

[2018-02-18 17:52] fxbois commented on #968
@teozkr could you post an example on gist ?

[2018-02-18 17:56] teozkr commented on #968
@a('foo, 'bar)

should be highlit the same as

    @a("foo", "bar")

but is highlit as

    @a("foo, "bar)

[2018-02-18 23:45] jacktrades commented on #774
@fxbois this still doesn't seem to be working for me in `jsx` files.  I just updated to the latest version from melpa: 20180217.916

My settings are:

[code]

And `describe-variable` for `web-mode-comment-formats` in a `jsx` buffer is:

[code]

[2018-02-19 17:10] fxbois commented on #774
@jacktrades should be fixed with last commit

[2018-02-19 20:07] fxbois commented on #968
@teozkr could you find on the web a page that explains how I can differentiate a string and a symbol.

[2018-02-19 21:39] teozkr commented on #968
The Scala spec has a lexical grammar that covers both: https://www.scala-lang.org/files/archive/spec/2.12/01-lexical-syntax.html

That said, Scala strings are always double-quoted (or sextuple-quoted for multiline strings), so it's "only" a matter of distinguishing between character literals and symbols.

I believe all allowed character literals should be covered by the following regex:
[code]

Sy

[2018-02-20 16:26] fxbois commented on #968
@teozkr C# and Scala, single quotes are used for characters and not strings ... is it ok ?

[2018-02-20 16:28] teozkr commented on #968
Yes.

[2018-02-20 17:06] fxbois commented on #968
@teozkr I've pushed a fix

[2018-02-20 18:13] pingz commented on #864
@fxbois  I've already moved to emacs 25, and I can't reproduce it with latest version of web-mode on emacs 25. I think it has been solved.

GNU Emacs 25.1.1 (x86_64-pc-linux-gnu, X toolkit, Xaw3d scroll bars) of 2017-09-15, modified by Debian

[2018-02-20 18:36] teozkr commented on #968
Great, thanks!

[2018-02-20 20:41] teozkr commented on #968
Can confirm that it works beautifully now.

![image](https://user-images.githubusercontent.com/649832/36448012-748de80c-1686-11e8-850b-990535e33e46.png)

Thanks, once again!

[2018-02-20 20:41] #968 closed

[2018-02-21 19:05] #940 closed

[2018-02-21 20:57] kermorgant commented on #940
Hi,
Sorry for late reply, but yes, it's working fine for me too now.
Thanks !

[2018-02-22 15:49] fxbois commented on #895
@zw963 I've pushed a fix

[2018-02-23 21:04] kaushalmodi opened #970 "Treat "{{-" the same as "{{" and "-}}" the same as "}}" when auto-indenting [Go templates]"
Hello,

I use Go templates for configuring my Hugo-generated blog's layout.

As we know, Go templates use `{{` and `}}` for delimiters.

But since Go 1.6, `{{-` and `-}}` are valid delimiters too.

From [here][1],

### Problem

This auto-indents fine:

[code]

This does not:

[code]

Trying to auto-indent above removes all indentation, and results in:

[code]

**The `{{-` and `-}}` do not even hav

[2018-02-23 21:43] kaushalmodi commented on #970
OK, I spent some time debugging, but I will need some help here..

- for the line `{{ with .Title }}`, `web-mode-element-is-opened` returns `t`.
- but for the line `{{- with .Title }}` (with that hyphen after braces), `web-mode-element-is-opened` returns `nil`.

That function looks very cryptic.. can you help me figure out how to make that fn return `t` for `{{- with .Title }}`?

[2018-02-24 04:06] zw963 commented on #895
Seem like indent is not correct for me.

![snapshot1.png](http://zw963.github.io/images/18901523313411.png)

[2018-02-24 08:52] fxbois commented on #895
@zw963 post your example on gist please

[2018-02-24 10:23] fxbois commented on #868
@theefer I've pushed a fix

[2018-02-24 15:13] zw963 commented on #895
@fxbois , Hi,  [here](https://gist.github.com/fb2fb30b3981d05c669f015d48695e14) is gist.

It not same as the snapshot picture,  (maybe other minor mode caused this), highlight is worked, but if run `(untabify (point-min) (point-max))` when cursor within ruby code,  indent is wrong.

![history.png](http://zw963.github.io/images/215171240124435.png)

[2018-02-24 15:36] fxbois commented on #895
@zw963 I've pushed a fix

[2018-02-26 15:57] kaushalmodi commented on #970
That works for me, thanks! I got very close to that solution, but then ended up losing all fontification as I was tweaking `web-mode-go-font-lock-keywords`.

Do you have tips on how to tweak that variable?

[2018-02-26 15:58] #970 closed

[2018-02-26 16:04] fxbois commented on #970
@kaushalmodi what do you want to do ?

[2018-02-26 16:21] kaushalmodi commented on #970
I was just trying to fix this issue myself before you committed the fix.. but failed miserably.. I think it was this part: https://github.com/fxbois/web-mode/blob/38b7bc215fefbd2e01d25892c9579fc60a29627d/web-mode.el#L2898-L2902

[2018-02-26 16:49] fxbois commented on #970
It is not obvious but it was needed to add ```"go"``` in the list on line 3288

https://github.com/fxbois/web-mode/blob/38b7bc215fefbd2e01d25892c9579fc60a29627d/web-mode.ell#L3288

[2018-02-27 05:00] shivshankardayal opened #972 "web-mode indents code inside pre element"
Mighty thanks for such a nice mode.

Please tell me how to tell web-mode not to indent text inside <pre></pre> elements.

[2018-02-27 06:54] fxbois commented on #972
@shivshankardayal update ```web-mode-indentless-elements```

[2018-02-28 18:51] zw963 commented on #895
@fxbois , for this example, it worked!

I will try more later, if exist issue, will reopen this issue.

Thanks you very much for your hard work!!

[2018-02-28 18:51] #895 closed

[2018-03-01 01:12] ylluminate commented on #895
Thank you @fxbois, several of us who learned of this today were very pleased with what you've done here.

[2018-03-01 06:48] fxbois commented on #895
@ylluminate could you ask Opal maintainer to put on the website a note saying that emacs (with web-mode) is compatible ?

[2018-03-01 12:10] ojab opened #973 "web-mode not a prog-mode after #966 fix"
`GNU Emacs 25.3.1 (x86_64-redhat-linux-gnu) of 2017-09-14` here, after https://github.com/fxbois/web-mode/commit/b758c7d2a6204c00ef3089815819ec57148d0a61 web-mode doesn't load prog-mode hooks. Works fine with that commit reverted.

[2018-03-01 12:11] ojab commented on #973
(I've tried web-mode from git master, 91f4a58efba1f3ddf687eb3e6051df92443d0d7c to be exact)

[2018-03-01 12:23] #868 closed

[2018-03-01 13:27] zw963 commented on #895
Yes, I will try it today.

And,  yesterday, I have sent a screenshot to Opal gitter channel.

![aaa.png](http://zw963.github.io/images/319301954128122.png)

[2018-03-01 16:10] zw963 commented on #895
@fxbois , I create a issue to https://github.com/fazibear/awesome-opal.

After emacs is added into `awesome-opal`, i think web-mode will be in `http://opalrb.com/libraries/`

[2018-03-01 16:14] fxbois commented on #895
@zw963 thx

[2018-03-01 17:08] DoMiNeLa10 commented on #973
@ojab that "fix" broke autoloading because of how it was implemented. It seems that the best approach will be to just attempt to unroll the macro rather than making a mess like what that commit got rid of. I'll have my crack at trying to make it work later.

[2018-03-01 17:26] zw963 commented on #973
i found the same issue, i have add all my prog hook add again to web mode

2018年3月2日 上午1:08，"DoMiNeLa10" <notifications@github.com>写道：

[2018-03-01 22:46] tttuuu888 commented on #973
@fxbois Ok I will take a look at this issue.

[2018-03-01 23:02] tttuuu888 commented on #973
@ojab @DoMiNeLa10 @zw963  Could you tell me how you tested it?
I tested in the following order.

1. open a test buffer.
2. M-x web-mode
3. M-: (derived-mode-p 'prog-mode)
4. the result says "prog-mode"

My emacs version is GNU Emacs 25.3.1 (x86_64-pc-linux-gnu, GTK+ Version 2.24.30) of 2017-09-12
and I tested with web-mode-20180226.812 from melpa.

[2018-03-02 06:41] ojab commented on #973
Yeah, `(derived-mode-p 'prog-mode)` returns `prog-mode` indeed. The issue is — no prog-mode hooks are run nevertheless.

[2018-03-02 06:42] DoMiNeLa10 commented on #973
@tttuuu888 You're right when it comes to your test — `web-mode` claims to be derived from `prog-mode` like it should.

However, it doesn't run `prog-mode-hook`s, which is easy to test with the following snippet:

[code]
This message won't pop up in the messages buffer after creating a `web-mode` buffer.

[2018-03-02 09:06] tttuuu888 commented on #973
Thanks for your replies.
This is my fault. As you said, prog-mode-hook for web-mode was working fine before my commit although web-mode is not derived from prog-mode.

I confused because my emacs setting was using not prog-mode-hook but something like '(when (derived-mode-p 'prog-mode)...'

I think this could be totally solved with reverting my commit except the part at the end of '(define-derived

[2018-03-02 09:34] fxbois commented on #973
@tttuuu888 let's revert ...

I think I'll drop emacs <= 24.1 compatibility with web-mode v16. We'll able to use prog-mode more easily

[2018-03-02 10:01] tttuuu888 commented on #973
@fxbois @ojab @DoMiNeLa10  @zw963  Please check my pull request. This is almost same as reverted version except the part making web-mode derived from prog-mode.

Well, if there is still something wrong, then it would be better to revert it instead of my pull request.
Thanks.

[2018-03-02 10:15] ojab commented on #973
Works find here, thanks for the quick fix.

[2018-03-02 10:15] #973 closed

[2018-03-02 10:28] tttuuu888 commented on #973
@ojab  It is my pleasure. Thanks you for the test.

[2018-03-02 10:40] DoMiNeLa10 commented on #973
#974 works and doesn't seem to break autoloading. I'm glad this issue finally got properly resolved.

[2018-03-02 10:54] tttuuu888 commented on #973
@DoMiNeLa10 Very glad to hear that. Thanks for the test.

[2018-03-04 05:23] zw963 commented on #973
It worked now. :+1:

[2018-03-05 08:53] kermorgant opened #975 "[twig] missing indentation of else clause in for loop"
Hello,

Twig has an "else" clause for its "for" tag (see https://twig.symfony.com/doc/2.x/tags/for.html#the-else-clause).

Its indentation is not as expected
![image](https://user-images.githubusercontent.com/10561580/36965705-1decec1e-2063-11e8-8d35-f247fd11d482.png)

Again, not a big issue, but  I thought I'd mention it as it would be nice if that was handled.

[2018-03-05 09:05] #972 closed

[2018-03-05 09:42] kermorgant opened #976 "[twig] wrong comment of {% delimiters"
Hello,

Again a small thing : commenting an expression withn {% and %} delimiters is not done as expected.

Comment should start with `{#` but instead, it adds `{% /*`

![image](https://user-images.githubusercontent.com/10561580/36968034-0b378cbc-206a-11e8-9a76-0fe97f6d82bc.png)

For information, that happens in spacemacs develop branch.

[2018-03-05 19:42] fxbois commented on #975
@kermorgant are you sure you have the latest version of web-mode ?
I do not have the issue here

[2018-03-05 19:42] fxbois commented on #976
@kermorgant you do not seem to have the latest version

[2018-03-06 12:47] jacktrades commented on #774
@fxbois thanks!

Actually, it still didn't work given the settings I posted.  I checked the commit that fixes this though (72b5e9d6f8997ccafefb038578a25d088150d369) and realized that it's because I have a trailing space in my settings (`"// "` vs `"//"`).  Once I updated that it works!

One thing I noticed is that commenting a block with a blank line at the end introduces some trailing whitespace.

[2018-03-06 12:56] #774 closed

[2018-03-07 08:19] kermorgant commented on #976
Indeed, I was using 20180303.1031, sorry.

But now on  web-mode 20180305.1059, I get the same issue.
![image](https://user-images.githubusercontent.com/10561580/37081102-12b244fe-21f1-11e8-96f6-c6381d2d5266.png)

[2018-03-07 08:25] fxbois commented on #976
Please describe very accurately all the steps you follow

[2018-03-07 08:32] kermorgant commented on #975
Just updated packages (using spacemacs btw), and from what I experienced, I would say the issue is partially solved : now, when indenting the buffer or region containing the for loop, the {% else %} clause is left as is (not indented as the rest of the code, but it's not moved on the left as in the screenshot).

Does it work the same for you or is the "else" correctly indented ?

[2018-03-07 08:47] kermorgant commented on #976
ok, here are some more details as I suspect there might be something spacemacs specific

First write this :` {% if 1 == 1 %}`
have cursor between  `{% ` and `%}`

Then,

Calling spacemacs/comment-region-or-buffer SPC c l), which what I used as the source of this issue, gives this
![image](https://user-images.githubusercontent.com/10561580/37082046-1de48c8a-21f4-11e8-8dd9-d34412d026e5.png)
(doing i

[2018-03-07 11:46] fxbois commented on #976
try ```^-;```

[2018-03-07 13:17] kermorgant commented on #976
My bad, it works now as it should. Not sure why though...
If the fix was in the upgrade, then maybe I did not restart properly emacs. If not, maybe some mess with local project settings...
Anyway, sorry for the noise and thanks again.

[2018-03-07 13:17] #976 closed

[2018-03-07 13:28] kermorgant commented on #975
I checked again (as I had some local issues with my emacs setup) and I'm back to the original behaviour.
I'll have to take some time to review my config before taking this further as I suspect the problem is on my side...

[2018-03-10 01:25] mbroe opened #978 "Indentation after "alternative" php control structures breaks in some cases"
## Description

When using PHP ["alternative" control structures](https://secure.php.net/manual/en/control-structures.alternative-syntax.php) (e.g. `endif;`) indentation has some unexpected results when these control structures appear within a contiguous php block.  Here is what I would expect to happen:

[code]

And here's what actually happens:

[code]

This issue does _not_ seem to occur when t

[2018-03-10 11:56] fxbois opened #979 "Show unclosed tags"
unless editing this tag

see : https://emacs.stackexchange.com/questions/39260/detect-missing-html-emacs-web-mode

[2018-03-10 12:16] #979 closed

[2018-03-11 10:45] modulitos opened #980 "Avoid greedily uncommenting lines starting with `//`"
### Expected:

When I want to uncomment a line that has a comment inside of it, for example:

[code]

the inner comment should be preserved, which should show a comment like so:

[code]

### Actual:

Instead, the inner comment is uncommented as well, causing our original comment:

[code]

to become this:

[code]

### Proposal to fix:

I think we should limit the number of `//` comments that are re

[2018-03-12 18:09] monnier commented on #980
Not sure what's the source of the problem, but Emacs's normal `uncomment-region` seems to do what you want, so maybe web-mode doesn't currently use `(un)comment-region` and the fix is to teach it to use those built-in facilities?

[2018-03-13 13:09] fxbois commented on #978
@mbroe the fix might be difficult. I would advice to prefer normal blocks (```{}```) in this case.

[2018-03-13 13:09] #978 closed

[2018-03-13 21:47] mstorus opened #982 "balanced comment option in javascript (eslint spaced-comment balanced)"
I would like to confirm to the `"balanced": true` option of eslint's [spaced-comment](https://github.com/eslint/eslint/blob/3aded2f984a6bc972a3f2198fddcf4a323d7a201/docs/rules/spaced-comment.md#requires-or-disallows-a-whitespace-space-or-tab-beginning-a-comment-spaced-comment), where:
[code]

---

#### Current behavior
I type
`const x = 1;`
and then invoke `M-x web-mode-comment-or-uncomment`, whic

[2018-03-13 21:58] #982 closed

[2018-03-13 22:22] aguynamedben opened #983 "Indent with ternary operator"
Hi, thanks for web-mode, coding React/JSX in Emacs is amazing. I have a question on if something is possible. My team follows the Airbnb JavaScript style guide. They recommend indenting multi-line ternary operators like this:

[code]

With the default settings in web-mode, I get this in my JSX:
[code]

If I use ```(add-to-list 'web-mode-indentation-params '("lineup-ternary" . nil)))``` it does thi

[2018-03-14 08:04] dasboeh commented on #275
I followed xuhdev's advice but it doesn't work.

I want to enable auto-pairing in web-mode, but disable electric pairing for just "{".
I'm using Emacs 25 and up-to-date web-mode.

Thanks for any help.

[2018-03-26 11:20] #980 closed

[2018-03-26 11:51] #983 closed

[2018-03-26 12:59] #975 closed

[2018-03-26 14:21] #949 closed

[2018-03-26 14:32] fxbois commented on #889
@dre-hh I am sorry but I won't have time to work on this

[2018-03-26 14:32] #889 closed

[2018-03-26 23:39] aguynamedben commented on #983
OOOO @fxbois 🙏thank you!

[2018-03-29 13:35] hlolli opened #984 "Angular html string indenting incorrectly"
I'm useing from melpa `webmode-20180326.451`

the indentation in Angular is strange
[code]

the ul tags match, but the li tags keep getting nested.

ADDED:

[code]
all 2nd level nesting wrong?

[2018-03-30 09:16] pors commented on #619
This doesn't work for me, I have:

[code]

but I still get `/* ... */` style comments.

Is this variable still used?

[2018-03-30 10:28] pors commented on #619
@fxbois what should I include in the gist?

I have this in my .emacs:

[code]

[2018-03-30 13:48] fxbois commented on #619
@pors the jsx file + where is the cursor + what is the region when you comment

[2018-03-30 18:37] mvolfik opened #985 "Prevent escaping some entities"
If I write some code in HTML, which contains `&lt;`, and then do `C-c C-d n` (Dom --> normalize), web mode replaces it with `<`, which is bad, because if I write `&lt;`, I write it because I want it to display, not to be a part of code. This also applies to `>` and `&` (and something else?).

`versions: emacs(24.5) web-mode("15.0.0")`

mvolfik (***GitHub newbie***)

P.S.: Web-Mode dropdown menu --

[2018-04-01 13:00] fxbois commented on #985
@mvolfik you're right. It is now fixed

[2018-04-01 13:00] #985 closed

[2018-04-01 15:10] fxbois commented on #984
@hlolli should be fixed with last commit

[2018-04-03 09:55] hlolli commented on #984
Works, thanks!

[2018-04-03 10:06] hlolli commented on #984
@fxbois I notice one indentation bug, less serious, but it seems that 1st level second sibling html block doesn't get indented like the first sibling, so given this code.
[code]
I select it all and indent the region, I end with
[code]
I would have expected
[code]

[2018-04-03 14:30] pors commented on #619
For any component, even as simple as:

[code]

I select:

[code]

And `m-;` results in the region being commented out with `/* ... */`.

[2018-04-03 15:18] fxbois commented on #619
@pors thx I'll look at that

[2018-04-04 09:14] BlindingDark opened #986 "elixir's open delimiter regexp "<%." can't match <%"
[code]

[2018-04-04 09:25] BlindingDark opened #987 "elixir's open delimiter regexp "<%." can't match "<%""
`<%.` can't match `<%`

specific:
[code]
highlight not work, and can't indent code block

I would have expected

[code]

temporary fix

[code]

[2018-04-04 09:26] fxbois commented on #986
@BlindingDark I do not understand what you want or what is the problem. Could you explain more accurately ?

[2018-04-04 09:30] #986 closed

[2018-04-04 09:33] BlindingDark commented on #987
@fxbois
sorry for duplicate issues #986
I put the wrong button :(

[2018-04-05 12:08] #987 closed

[2018-04-05 12:08] fxbois commented on #987
@BlindingDark I've pushed a fix

[2018-04-05 13:49] #984 closed

[2018-04-05 13:50] fxbois commented on #984
@hlolli new fix pushed

[2018-04-05 14:34] hlolli commented on #984
I did update my melpa package package
[code]
I still experience the exact same behaviour
[code]
Make region the this whole thing, press TAB (bound to indent on my computer) result:
[code]

[2018-04-05 15:12] fxbois commented on #984
@hlolli perhaps because I havent updated the package version

[2018-04-06 06:57] fxbois commented on #904
@jojojames I've looked at your issue and found this : https://stackoverflow.com/questions/43875025/why-cant-i-have-a-jsx-comment-inside-an-element-tag

What is your opinion ?

[2018-04-06 06:58] fxbois commented on #886
@vindarel sorry but I won't have time to work on this. Could you provide some patch ?

[2018-04-06 06:58] #886 closed

[2018-04-06 06:59] #864 closed

[2018-04-06 07:14] #824 closed

[2018-04-06 07:48] fxbois commented on #619
@pors sorry but if I add ```(add-to-list 'web-mode-comment-formats '("jsx" . "//" ))``` in my web-mode-hook, it works as expected. If it does not work for you, please try with an empty .emacs

[2018-04-06 08:57] pors commented on #619
Sorry, I had an ancient version of web-mode... All works fine now. Thanks.

[2018-04-07 05:34] zenkiezhu opened #988 "File mode specification error: (error Invalid search bound (wrong side of point))"
To reproduce, open test.scala.html with content:
[code]

[2018-04-07 10:01] fxbois commented on #988
@zenkiezhu I've pushed a fix

[2018-04-07 15:26] #988 closed

[2018-04-08 02:43] JJPandari commented on #886
@vindarel Hi, I subscribed to this issue and later found an imperfect but working solution, putting it here in case you need it: The key is, `imenu-generic-expression` only takes effect when `imenu-create-index-function` is set to `imenu--generic-function`. To have both imenus by one's own regexps and those web-mode generates, [we need to merge them](https://stackoverflow.com/a/21656063/4788022).

[2018-04-10 15:54] vindarel commented on #886
@JJPandari Thank you very much ! This + my little regex (to list all methods) works perfectly.

I should be able to provide a patch.

[2018-04-14 21:30] ddo8 opened #989 "Incorrect js syntax color in some cases when there is a number followed by a closing parentheses in variable assignment"
If there is a number just before a closing parentheses, it gets the same color as a variable gets, e.g.:

In this case the number 1 is incorrectly colorized:
`let result = (2 > 1) ? "more" : "less";`

No wrong color in these cases:
[code]

Here only the number 5 will be colorized:
`let result = (2 > 1.5) ? "more" : "less";`

Same behavior:
`let number = (2 + 1);`

All default color themes tested.

[2018-04-18 01:58] sid-code commented on #905
I seem to be missing something. Even with `(setq web-mode-enable-optional-tags t)`, I still get the following (incorrect) indentation:

[code]

How can I get the behavior that I want? I want the indentor to *completely ignore* the `<p>` tag.

[2018-04-24 01:28] jojojames commented on #904
I'm not working with jsx a lot these days but I do intend to follow up once I get a chance!

[2018-04-24 09:26] oakular opened #990 "blade indentation not working for child elements in @component block"
As can be seen in the attached image, any child elements of a `@component` block are not indented as they ought to be. This is also happening for `@slot` elements.

I am running the latest version of web-mode from MELPA

![image](https://user-images.githubusercontent.com/18057553/39178447-a5c9f4ac-47a9-11e8-9c08-c86feab47231.png)

[2018-04-24 09:33] fxbois commented on #990
@oakular are ```@slot``` and ```@component``` standard control blocks like ```@if``` ?

[2018-04-24 09:42] oakular commented on #990
@fxbois they are more similar to `@section` blocks in their functionality but are part of the base Blade framework

[Here](https://laravel.com/docs/5.6/blade#components-and-slots) is the documentation

[2018-04-24 09:51] fxbois commented on #990
@oakular should be fixed on master

[2018-04-24 09:57] wavexx commented on #947
Ok, I now have more info. The scenario is actually for anonymous functions provided as function arguments directly:

[code]

It makes sense why the { is indented, as it's seen as the function's argument continuation.
However, this is so common in JS that I normally strip the block indentation to avoid deep overhangs, so that it looks like a normal function declaration.

I don't see any c-mode equi

[2018-04-24 10:01] oakular commented on #990
@fxbois great! just tested it and everything works as expected, cheers!

[2018-04-24 10:01] #990 closed

[2018-04-26 16:26] wavexx commented on #947
Ok, and this is *also* what causes the original problem I reported:

[code]

Since I manually adjusted the indentation of the first block, all nested blocks (such as the ``for``) will be shifted forward.

[2018-04-27 10:34] ar1a opened #991 "Add an option for auto closing tags as a self tag"
I'm moving over to web-mode from https://github.com/felipeochoa/rjsx-mode and wondering if it would be possible to add the behaviour rjsx-mode has?

When I type `<` it'll insert `< />` and when i type `>` before the / it'll open the tag.

for example:
[code]

[2018-04-28 06:26] ncaq opened #992 "jsx: Auto-closing: nest namespace element close is failed for example Semantic UI React"
I use [Semantic UI React](https://react.semantic-ui.com/introduction) recently.

# example

[code]

And, I input `</`.

# expected

web-mode input `</Menu.Item>`

# Actually

web-mode input `</Menu>`

# version

web-mode: 16.0.4

# Can I contribute?

I can probably solve this issue.
However, If web-mode support dot namespace, then web-mode become intolerant to `<a.foo-class>`.
Should I pull reques

[2018-04-28 16:31] jcs090218 opened #993 "Make <head> tag and <body> tag the same level as <html> tag."
Is there a way to make head and body tag the same level as html tag?
[code]
to
[code]

[2018-04-28 17:27] fxbois commented on #993
See the var web-mode-offsetless-elements

[2018-04-29 03:15] jcs090218 commented on #993
Okay, thx!

[2018-04-29 03:15] #993 closed

[2018-05-10 18:33] jazzpi opened #995 "web-mode incorrectly handles some Blade directives"
Some directives cause weird behaviour ([Gist](https://gist.github.com/jazzpi/51e74c6129080e907d19a69636367058)):

![Screenshot](https://i.imgur.com/c5JNXwX.png)

As you can see, use of `@lang` or `@choice` makes Emacs think the tag wasn't closed, while `@yield` works just fine. The `@guest` block isn't indented. I imagine this might also occur with [custom Blade directives](https://scotch.io/tutor

[2018-05-11 08:54] #995 closed

[2018-05-11 08:54] fxbois commented on #995
@jazzpi I've pushed a fix

[2018-05-11 08:54] #992 closed

[2018-05-11 08:55] fxbois commented on #991
@ar1a Could you test the last version on master ?

[2018-05-11 08:58] fxbois commented on #947
@wavexx about your statement

Do you have any link on the web that says the same thing ?

[2018-05-11 09:15] ncaq commented on #992
great!

[2018-05-11 09:28] wavexx commented on #947
On Fri, May 11 2018, fxbois wrote:

What do you mean? Anonymous functions are often passed directly into
callbacks.

I don't know if this particular indentation style is common, but it just
follows the usual block-on-newline style:

function fun()
{
  block
  ...

funcall(function()
{
  block
});

[2018-05-11 15:31] jmcmichael opened #996 "possible to combine web-mode and ng2-mode?"
I primarily work with Angular templates, and I've noticed that web-mode has difficulty with expressions within tag attributes - it doesn't do syntax highlighting and interprets equal signs as attribute name endings and inserts a double-quote after them. There exists a major mode, [ng2-mode](https://github.com/AdamNiederer/ng2-mode), that does a good job with syntax highlighting and dealing with ex

[2018-05-11 15:55] fxbois commented on #996
Can you take screenshots that illustrate the nice features of ng2-mode ?

[2018-05-11 16:31] jmcmichael commented on #996
Sure, here's a template I'm working on currently. Highlighting features include:
- angular attributes styled differently from HTML5 attributes
- expressions within curly brackets styled (it would be nice if attribute expressions were too, not sure why the mode doesn't do that)

![screen shot 2018-05-11 at 11 21 36 am](https://user-images.githubusercontent.com/132909/39935131-a1efa018-550d-11e8-857

[2018-05-11 23:52] jazzpi commented on #995
Thanks! :+1:

[2018-05-18 15:56] dustinpaluch opened #997 "Typo in web-mode-buffer-indent message string"
L6937:       (message "buffer-**indet**: time elapsed = %Ss %9Sµs" (nth 1 sub) (nth 2 sub)))

[code]

[2018-05-22 11:28] #991 closed

[2018-05-22 21:02] fxbois commented on #997
Thx it is fixed

[2018-05-22 21:02] #997 closed

[2018-05-23 07:57] AlexYegupov commented on #802
I've tried. This doesn't work neither  before my-web-mode-hook nor inside :(

How can I make //-style commenting?

[2018-05-30 23:47] ignaciocaamanio opened #998 "Javascript ternary operator indentation"
Eslint indent the ternary operator when involves multi-lines:

[code]
web-mode indent like this:

[code]
i.e: the branchs should be indented respect to the condition

What do you think ?

[](https://eslint.org/docs/rules/multiline-ternary)

[2018-05-31 13:52] digint opened #999 "Feature request: enable full html mode for Polymer "html" tagged template literals (backticks)"
First off, thanks for this very useful mode!

[Polymer 3.0](https://www.polymer-project.org/3.0/docs/about_30) defines a "html" tagged template, like this:

[code]

While web-mode enables html indentation within template literals (backticks), it would be great if full html mode was enabled for this special case.

Note that in Polymer 99% of all the HTML code is in HTML templates. Polymer 3.0 has m

[2018-06-01 08:01] fxbois commented on #999
What do you mean by « full » ?
What you are asking for is very difficult to do. I would prefer to continue to simulate some basic fearures

[2018-06-01 16:55] sid-code opened #1000 "web-mode-enable-optional-tags still doesn't cause unclosed tags to be indented properly"
The following isn't indented properly, even with `web-mode-enable-optional-tags` set to `t`:

[code]

web-mode wants to indent it as

[code]

[2018-06-03 17:46] dsedivec opened #1001 "#def not detected in Cheetah templates"
I think `#def` is not treated as a control statement in Cheetah templates, which are aliased to Velocity templates.

Steps to reproduce:

1. `emacs -Q` and load web-mode
1. Open a scratch HTML file
1. `M-x web-mode RET`
1. `M-x web-mode-set-engine RET cheetah RET`
1. Enter into the buffer:
[code]
1. With cursor at the end of `bar` press `TAB`

Expected behavior: `bar` is indented

Observed behavio

[2018-06-07 11:29] cweiske opened #1002 "Better indentation for blade directive with complex multi-line options"
Custom directives in blade templates often take many parameters. Currently they do not get indented at all:

[code]

It would be nice if they would get indented the following way:

[code]

Highlighting also does not work after the first `@field` line - the following lines are not highlighted at all.

Inside the `()` of a blade directive, PHP syntax highlighting should be used IMO.

[2018-06-07 11:37] fxbois commented on #1002
Have you identified other indentation issues ?

[2018-06-07 11:41] cweiske commented on #1002
Yes, I have: Nested directives do not always get indented.

This works:
[code]

But custom directives do not:
[code]

[2018-06-12 10:56] hlolli opened #1003 "angular template string indentation for self-closing tags"
Another angular indentation ticket from me.
This time I have an svg, but I think this applies to most if not all self closing tags, but here's what happens:
[code]

expected behaviour (with 4 spaces indentation)
[code]

[2018-06-20 06:21] cweiske opened #1004 "Blade: Highlighting after @directive() broken"
When a blade directive is used inside a line (not standalone), the highlighting after the directive is closed is broken:

![2018-06-20 emacs blade directive highlighting](https://user-images.githubusercontent.com/59036/41640670-c9e07a38-7462-11e8-8487-2ed247c23e61.png)

[code]

The closing `span` and the following tags on this line are not highlighted as HTML anymore. The `)` closing the directive

[2018-06-20 07:14] fxbois commented on #1004
@cweiske seems to work here. Are you sure you have the latest version of web-mode ?

[2018-06-20 07:28] cweiske commented on #1004
Oh, I was using a version from 2018-03-*. Sorry!

[2018-06-20 07:28] #1004 closed

[2018-06-20 08:11] #1003 closed

[2018-07-08 11:14] Nondv opened #1006 "[js] switch keyword"
Hi!

[code]

In `web-mode` if I `tab` on the second line it will intend it to 4 spaces because of `Switch` name (normal indentation is set to 2).

[2018-07-08 17:25] downwater opened #1007 "Mismatch between comment keywords highlight feature enabling and documentation (solution proposed)"
(Used Emacs version : 25.3)

I've upgraded web-mode from 13.1.9 to 16.0.12 and noticed I lost the highlight of comment keywords.

The official [documentation](http://web-mode.org/) says to enable it:

No effect. I noticed this in the diff between these versions:

- **16.0.12:**

[code]

- **13.1.9:**

[code]

Somewhere between them, the feature became disabled by default. So adding this line in .e

[2018-07-09 10:50] Nondv commented on #1006
More than that. It appears that any name with "switch" within it triggers described behavior

[2018-07-20 03:56] JJPandari opened #1009 "function to transform single line tags to multi line?"
Does this function exist in web-mode already?

It transforms tags from

[code]

to

[code]

[2018-07-20 16:36] DoMiNeLa10 commented on #1009
Great idea! I've been doing this sort of thing by hand, and this would speed things up for me.

[2018-08-09 20:29] fxbois commented on #998
@ignaciocaamanio are you sure you have the last version of web-mode ?

[2018-08-09 21:28] fxbois commented on #1000
@sid-code should be fixed with last commit

[2018-08-13 13:30] #1006 closed

[2018-08-13 13:30] fxbois commented on #1006
@Nondv fixed with last commit

[2018-08-13 13:33] fxbois commented on #1002
@cweiske everything seems to work well with the last version of web-mode

[2018-08-13 13:50] #1001 closed

[2018-08-15 17:26] #810 closed

[2018-08-15 17:26] #619 closed

[2018-08-15 17:27] #836 closed

[2018-08-15 17:28] #904 closed

[2018-08-15 17:29] #920 closed

[2018-08-15 17:29] #1000 closed

[2018-08-15 17:29] aaronjensen commented on #810
@fxbois thanks, these all appear to be fixed other than:

[code]

Should I open a separate issue for that?

[2018-08-15 17:29] #1002 closed

[2018-08-15 17:30] CamJN commented on #920
Was this fixed?

[2018-08-15 17:37] #1007 closed

[2018-08-15 17:45] ignaciocaamanio commented on #998
Now is indented but not in the same way as the rest of the javascript code.

[2018-08-15 18:02] fxbois commented on #810
@mostafah yes please

[2018-08-15 19:00] downwater commented on #1007
Thank you ;-)

[2018-08-16 01:47] aaronjensen opened #1010 "JSX after as arrow function body w/o parens or semi breaks indentation and highlighting"
Example:

[code]

If you end with a `;` or surround the jsx with parens starting on the variable declaration line, it works fine.

[2018-08-16 08:30] fxbois commented on #925
@c02y I prefer to keep the actual behaviour

[2018-08-21 05:32] porglezomp opened #1011 "Left padding custom types don't allow setting nil (for #766)"
#766 does exactly what I want for my JS, but the declared `:type` doesn't allow entering `nil` in the custom interface.

[2018-08-21 05:59] fxbois commented on #1011
you should enter 0

[2018-08-21 06:40] porglezomp commented on #1011
0 does something different from nil. 0 leaves it indented at the same amount as the tag, nil aligns it all the way to the left.

With 0:
[code]

With nil:
[code]

[2018-08-21 07:43] porglezomp commented on #1011
Done, it's #1012

[2018-08-24 04:05] aguynamedben commented on #891
Did anybody come up with a good config for this? I'm new to lisp and not sure how to write the hook.

It seems that flycheck only supports chosing a linter based on major mode, and there is no way to configure flycheck by file extension instead. The solution mentioned [in this article](http://codewinds.com/blog/2015-04-02-emacs-flycheck-eslint-jsx.html) works for .js/.jsx but inadvertently causes

[2018-08-24 04:08] aguynamedben commented on #891
@fxbois Is there any chance the API is added so that flycheck can determine what language web-mode is currently working on? The request [here](https://github.com/flycheck/flycheck/issues/706#issuecomment-125929279) seems reasonable, is that difficult to implement?

[2018-08-24 12:38] M-Gregoire opened #1013 "web-mode with Vue.js and stylus"
I'm using vue.js and [stylus](http://stylus-lang.com/) but web-mode is having a lot of trouble correctly indenting the CSS part.
_example.vue_ (This is what the correct indent should look likes. Copying it in web-mode breaks it)
[code]

2 problems I've noticed :

-  The *scoped* in `<style lang="stylus" scoped>` seems to break the ability of web-mode to detect the stylus CSS style (This is true wi

[2018-08-24 17:52] dustinpaluch commented on #161
I can reproduce this.
https://asciinema.org/a/JycrbWTDtBT7L945o288M9Bp0

1. `emacs -q -nw`, load web-mode manually, open a new file, enable web-mode and whitespace-mode.
2. I typed in the following code manually. You should be able to paste it in.
3. C-x h and the indentation looks correct.
4. **Change `tab-width` to 4, then C-x h to produce the bug.**
5. Change `tab-width` back to default 8, then

[2018-08-29 03:08] iamriel opened #1014 "Vue with pug templating"
Hi everyone, I have a vue project and we are using `pug` for templating.

# .vue file
[code]

If I am not mistaken, web-mode does not support pug yet.  Are there other ways to support this one, maybe changing the engine? I am not sure though.

As you can see in the gif, the highlighting is not applied.  I tried vue-mode but I like web-mode better, also vue-html-mode but it only applies in the html

[2018-08-29 21:19] aguynamedben commented on #872
I have a similar question about pure 2 space indents with JSX, but with curly brackets being used in JSX.

This gives a linter error... notice that `return` is 2 spaces over from the **`t`** in `{this.props...`.  The linter error from ESLint is `Expected indentation of 14 spaces but found 15. [indent]` ([this rule](https://eslint.org/docs/rules/indent))
[code]

This doesn't give a linter error...

[2018-09-13 00:56] showgood opened #1015 "web-mode-dom-xpath return paths in all lower case"
for eg, we have a xml file with following content:
[code]

While cursor is on tag <Child2>, with command `web-mode-dom-xpath`, it would return `/root/child2` instead of `/Root/Child2`,  basically convert all the tags on the path to lower case instead of keeping its original ones.

[2018-09-17 00:42] CestDiego commented on #799
I was investigating this a little and it seems the problem with the dir-locals value is brought by the lexical binding in Emacs to me.

Here is the check for engines-alist: https://github.com/fxbois/web-mode/blob/master/web-mode.el#L13293. It seems to check for the variable value, but when I add debug messages it always prints the global value of the alist. I think this is because of the lexical s

[2018-09-17 00:44] Denommus commented on #799
Good catch, I'm going to investigate as well.

[2018-10-01 01:33] keunwoo opened #1016 "Indentation for {| |} Flow "exact type" delimiters"
After extensive experimentation with various options, I've concluded that web-mode (via its derivative [flow-mode](https://github.com/syohex/flow-mode)) is currently the best option for editing Flow-typed JavaScript code that contains embedded JSX in Emacs. Thanks for writing such a great, flexible mode! I bet you didn't even know that this was the best mode for this purpose.

However, there's sti

[2018-10-01 04:39] keunwoo commented on #1016
Well, I figured out one way to do it. It feels like a better way would be to hack the part of the code that handles indentation for curly braces to also treat {| |} as a curly brace pair, but anyway this seems to work. Let me know what you think.

[2018-10-04 15:12] valignatev opened #1018 "Syntax error in simple html file"
Hi, I have a simple html file:
[code]
And it shows all text in red, and upon moving cursor on ti displays popup with "syntax error":
As far as I can tell, it's not related to flycheck-mode, because I tried to disable it without any change.

Syntax error goes away and syntax highlighting starts working if I remove `<!doctype html>` line. Also, if I switch to `sgml-mode`, syntax highlighting works a

[2018-10-04 23:31] valignatev commented on #1018
Ok, nevermind, it's me who screwed web-mode config. I unconditionally enabled `rjsx-minor-mode` and `js2-refactor-mode` upon entering `web-mode` to fix broken rjsx-mode indentation in js and jsx files. It led to javascript syntax checking take over. I'll close this issue. Will hope that it might be useful to somebody like me.

[2018-10-04 23:31] #1018 closed

[2018-10-15 15:31] rin-kinokocan opened #1019 "Wrong indentation of PHP class methods with HTML code."
I wrote a PHP class with a method which outputs HTML.
To output HTML, I wrote HTML outside of php blocks.

What I expected was:
[code]
Actual indentation is:
[code]
As you can see, the closing bracket of the class method is not indented.
I think this may be caused by ignorance of the first left bracket.
`class Test{ <-this one?`

If this issue is fixed, web-mode will surely be the best major mode

[2018-10-15 18:06] fxbois commented on #1019
@rin-kinokocan Hi I do not deal with this king of syntax.
Sorry

[2018-10-15 18:06] #1019 closed

[2018-10-17 21:10] MetroWind opened #1020 "JavaScript wrong indentation for if, for, etc."
If I put parenthesis in a new line after `if`, the parenthesis acquires an extra indentation. So instead of the normal

    if(true)
    {
        …

It indents to

    if(true)
        {
            …

The same goes with `for`. This is probably wrong because in other cases like class and function definitions, the parenthesis is aligned with the line above.

I have web-mode version 16.0.15 on Emac

[2018-10-25 16:45] dustinpaluch opened #1021 "web-mode-comment-or-uncomment leaves behind closing tag"
emacs -q, M-x p-ini RET, open a new .js file, type in `test;` C-a M-; C-e C-b M-;

I expect the buffer to contain `test;` but it contains `test;*/`

[code]

[2018-10-26 08:28] gormv opened #1022 "Indent of arrow functions in jsx refs"
Hi!

Is it possible to indent arrow functions with 2 spaces instead of 4?

I have following settings + prelude:

(setq web-mode-attr-indent-offset t)
(setq web-mode-code-indent-offset 2)
(setq web-mode-indent-style 2)

And want indent like this:

[code]

But web-mode indent like this:

[code]
Thanks for help on correct setting for controlling this indent!

[2018-10-29 21:09] #1011 closed

[2018-10-30 21:16] fxbois commented on #1010
@aaronjensen at the moment, the final ```;``` is required. It would require a lot of work to make it optional.

[2018-10-30 21:20] aaronjensen commented on #1010
I believe prettier tends to wrap it in parens, so this is probably fine for most people.

[2018-10-30 22:19] fxbois commented on #1021
@dustinpaluch fixed with last commit

[2018-10-30 22:20] fxbois commented on #1020
@MetroWind it is now fixed

[2018-10-30 22:20] fxbois commented on #1016
@keunwoo I've pushed a fix

[2018-10-30 22:20] fxbois commented on #1015
@showgood fixed on  master

[2018-10-30 22:22] fxbois commented on #1014
@iamriel the last commit improve the support, but the method ```web-mode-pug-indentation``` needs to be written

[2018-10-30 22:22] fxbois commented on #1013
@M-Gregoire it is now fixed

[2018-10-30 22:23] fxbois commented on #1009
@JJPandari it is called ```web-mode-element-extract```

[2018-10-31 02:38] #1009 closed

[2018-10-31 09:08] M-Gregoire commented on #1013
Awesome, thank you!

[2018-10-31 09:08] #1013 closed

[2018-10-31 18:52] MetroWind commented on #1020
@fxbois Indeed! Thank you!

[2018-10-31 18:52] #1020 closed

[2018-11-01 06:43] BlindingDark opened #1023 "use <template> tag cause error"
some .vue file

[code]
when I toogle debug, and open web mode

[code]

in function `web-mode-scan-elements`
[code]

I try to add condition like this

[code]

restart, no error happen, but code in `<template>` seems not be recognize as html, no highlight, can't rename, can't jump between tags ...

If I just remove this condition

[code]
everything is ok.

---

I also found issue #1014 say

Did I mi

[2018-11-02 02:44] lampui commented on #1023
same here

[2018-11-02 09:14] #1023 closed

[2018-11-02 09:14] fxbois commented on #1023
@BlindingDark @lampui I've pushed a fix

[2018-11-04 09:13] fxbois commented on #1022
@gormv it is now solved

[2018-11-04 09:13] #1022 closed

[2018-11-04 09:13] #1021 closed

[2018-11-04 09:14] #1016 closed

[2018-11-04 09:14] #1015 closed

[2018-11-04 09:14] #1014 closed

[2018-11-04 09:14] #1010 closed

[2018-11-05 21:45] raymestalez commented on #824
Hey everyone! I'm using web-mode, and styled components don't seem to work for me. Was this implemented? Am I doing something wrong? Can you share any tips on how can I make it work?

[2018-11-06 02:44] BlindingDark commented on #1023
@fxbois a little problem, I need change something in tag to make it work. example:
![](https://user-images.githubusercontent.com/13600799/48039604-7815fa00-e1b0-11e8-8a43-93aa67f0675b.gif)

[2018-11-07 21:49] jcubic opened #1024 "static fields in php inside multiline strings"
Just found this issue with php code, just to be sure I've pull latest changes from GitHub:

[code]

next line quote have indent align to `self::`

[2018-11-13 12:01] JJPandari commented on #1023
@BlindingDark Same here. Html inside `<template></template>` is not highlighted until I edit something. Meanwhile double quoted strings in attributes are highlighted correctly.

[2018-11-14 17:39] titaniumbones opened #1026 "xpath-like view with ids and classes??"
I'm wondering if there's a way to show the location of point in the DOM tree that includes information about the ids and classes of ancestor elements? I havefound this extremely useful in browser devtools, would love to see it in emacs as well!

[2018-11-14 21:50] vxcamiloxv opened #1027 "Bad indentation multilines JSX with parentheses around"
Hi, thanks for web-mode!

Eslint has a rule that force use parentheses [around multiline](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-wrap-multilines.md) JSX expression, the bad indentation is present in expression like ´foo ? foo : bar ´ in middle of a JSX

### Screenshots:

*expect 2 spaces and got 4*
<img width="651" alt="screen shot 2018-11-14 at 4 40 39 pm" src

[2018-11-16 03:10] sheijk commented on #341
I just stumbled upon this issue. If this is still a problem feel free to report it to https://github.com/sheijk/hideshowvis

[2018-11-20 09:49] mpanarin commented on #1023
@fxbois Experiencing the same issue as @BlindingDark in xml files in Spacemacs.

[2018-11-21 04:39] paxperscientiam commented on #972
@fxbois Hate to resurrect a dead issue, but there is a bug(?) here. Child elements of `pre` are not indentless. Is there a way to override this?

Whereas the desired indentation is something like this:
[code]

The mode indicates that indentation should be like this:
[code]

Thanks.

[2018-11-22 15:16] brandelune opened #1028 "substitute-key-definition: Lisp nesting exceeds ‘max-lisp-eval-depth’"
I've used melpa version as well as the latest stable version, manually installed, and I keep running in the error. It goes away when I disable web-mode. Also, automatic tag closing used to work until recently and now I can't have it. The 2 phenomenons appeared at the same time.

[2018-11-28 14:41] alu- opened #1029 "[blade] no indentation with @switch"
Seems that there is missing support for `@switch` in the blade engine.
Edit: Link indented example on [gist](https://gist.github.com/alu-/4d0d7846f3cf106d9fab218ccc894195)
[code]

[2018-11-28 14:46] fxbois commented on #1029
@alu- could you post an example (indented) on gist please.

[2018-11-28 14:53] alu- commented on #1029
Sure, here you go. https://gist.github.com/alu-/4d0d7846f3cf106d9fab218ccc894195
Whether or not line 2 (`@case`) should be indented or in same level as `@switch` I leave up to you.

[2018-12-06 18:12] kschwarz1116 opened #1030 "Incorrect parsing in Razor"
I have the following in `temp.scala.html`:
`<a>@foo</a>`
and the following in my .emacs:
`(setq web-mode-engines-alist '(("razor" . "\\.scala\\.html")))`

It looks like web-mode is interpreting `@foo</a>` as a code block instead of just `@foo`.

<img width="108" alt="screen shot 2018-12-06 at 1 10 02 pm" src="https://user-images.githubusercontent.com/2141220/49603102-4e3f2700-f958-11e8-98e6-885459

[2018-12-08 18:03] fxbois commented on #1026
@titaniumbones Hi, I won't have time to work on this but would accept contribution.

[2018-12-08 18:03] #1026 closed

[2018-12-08 20:45] fxbois commented on #1024
@jcubic it is solved with last commit

[2018-12-08 20:45] #1024 closed

[2018-12-08 20:50] fxbois commented on #1028
@brandelune can you try with an empty .emacs ?

[2018-12-08 20:54] fxbois commented on #1030
@kschwarz1116 have you upgraded to the last version of web-mode ?

[2018-12-08 20:59] jcubic commented on #1024
It works great, thanks.

[2018-12-10 15:37] kschwarz1116 commented on #1030
Looks like it works as expected in 20181208.2046 (but not 16). I'm going to close this.

[2018-12-10 15:37] #1030 closed

[2018-12-12 23:02] ebaker commented on #999
I wanted to check in on this as it might apply to tagged template literals used in [styled-components](https://www.styled-components.com) with React. An example of a `styled-component` in JSX would be:

[code]

Basically CSS is added through a tagged template literal. I have limited knowledge of configuring `web-mode` and am using spacemacs.

Is it currently possible in web-mode to have the CSS at

[2018-12-14 05:48] dsedivec opened #1031 "web-mode-indent-line got noisy"
Did you mean for commit 6748d73c88 to include `(debug t)` in `web-mode-indent-line`?  I noticed web-mode is a lot chattier after last update from MELPA. :smile:

[2018-12-14 06:58] fxbois commented on #1031
Thx for the report

[2018-12-14 06:58] #1031 closed

[2018-12-14 06:59] fxbois commented on #1028
Please reopen when you have some more info

[2018-12-14 06:59] #1028 closed

[2018-12-14 07:33] brandelune commented on #1028
Yes, will do. I'm sorry I was busy with work and right now I've opted for nxml, which is less practical. I'll get back to web-mode and investigate.

[2018-12-17 21:58] benj02 commented on #1023
Also getting this same behavior.

[2018-12-18 10:32] BlindingDark opened #1032 "The highlight in the tag is not working well."
![](https://user-images.githubusercontent.com/13600799/48039604-7815fa00-e1b0-11e8-8a43-93aa67f0675b.gif)

_Originally posted by @BlindingDark in https://github.com/fxbois/web-mode/issues/1023#issuecomment-436112385_

[2019-01-07 14:29] gjm opened #1034 "Indentation for blade component aliases"
It would be nice to be able to, somehow, specify a set of component alias names so that they could be correctly  indented/nested.

For example, given two component aliases, `row` and `col`, the following code:
[code]

should be rendered as:

[code]

Is it possible to specify some list of component aliases for which indentation should work like this?

[2019-01-08 00:35] avocadoras opened #1035 "set up company mode with css file extension & usual set up not working anymore"
I am trying to get Company to auto complete css properties in `.css` files. I have an `init.el` file that looks like this :
[code]

Not sure why I am having issues with this now. It use to work out of the box with this configuration. I looked into these issues https://github.com/fxbois/web-mode/issues/427 and this one https://github.com/fxbois/web-mode/issues/427, but I would like to get company c

[2019-01-16 04:13] tsutton opened #1036 "Mustache - {{^ doesn't insert closing }}"
Whereas typing `{{#` will automatically insert `}}`, `{{^` will not insert them. Mustache uses `{{^ }}` for what it calls inverted sections - see https://mustache.github.io/mustache.5.html.

Possibly relevant web-mode-debug:
versions: emacs(26.1) web-mode("16.0.17")
vars: engine("ctemplate") minor("ctemplate") content-type("html") file("c:/Users/Taylor Sutton/Dropbox/tmp.mustache")
system: window(

[2019-01-17 22:24] sjoerdtimmer opened #1037 "unexpected indentation after comment lines that end with a colon"
Sometimes I get extra indentation after comment lines that end with a colon. The exact situations under which this happens are not entirely clear to me but a small example that fails with an empty .emacs can be found here:  https://gist.github.com/sjoerdtimmer/eb80393edea171cf447cc66b2d173b0c

The only change I made is to set web-mode-script-padding to 4. Besides that all settings are defaults. (w

[2019-01-23 08:06] mpanarin commented on #1032
@BlindingDark @fxbois
a ping, as this is still a bugging issue :\

Maybe anyone knows a workaround for this?

[2019-01-24 06:49] BlindingDark commented on #1032
@mpanarin @benj02
Works well now. Although I don't remember where I changed it (maybe it was affected by other factors).😂
I will close this PR If you are normal too.

[2019-01-28 20:01] fxbois commented on #1036
@tsutton I've pushed a fix

[2019-01-28 20:02] #1036 closed

[2019-01-28 20:19] fxbois commented on #1034
@gjm the last commit brings this feature.
You can add control blocks with
[code]

[2019-01-28 20:24] fxbois commented on #1037
@sjoerdtimmer do you have the last version of web-mode ?
It does not trigger here

[2019-01-28 21:20] #1027 closed

[2019-01-28 21:20] fxbois commented on #1027
@vxcamiloxv I've pushed a fix

[2019-01-29 10:46] gjm commented on #1034
Hi.

I've tried it but it doesn't work for me. I've setup web-mode using
use-package so maybe I'm doing something wrong. Here's my configuration
snippet:

(use-package web-mode
  :ensure t

  :mode (("\\.ctp\\'" . web-mode)
         ("\\.blade\\.php\\'" . web-mode)
         ("\\.s?css\\'" . web-mode))

  :config
  (setq web-mode-engines-alist
        '(("php"    . "\\.ctp\\'")
          ("blade"

[2019-01-29 13:39] vxcamiloxv commented on #1027
thanks!

[2019-01-29 15:36] fxbois commented on #1034
@gjm try to put the config line I showed you before ```(use-package web-mode ...```

[2019-01-29 15:56] #1034 closed

[2019-01-30 13:48] fxbois commented on #1029
@alu- I've pushed a fix

[2019-01-30 15:16] fxbois commented on #1032
@BlindingDark @mpanarin I've pushed a fix

[2019-01-31 10:22] sjoerdtimmer commented on #1037
Do you maybe have any hints about how one goes about debugging indentation in emacs?
I am an experience software engineer. I should be able to trace this but I'm relatively new to emacs and I could use some clues about where to start.

[2019-01-31 10:45] fxbois commented on #1037
@sjoerdtimmer Hello, I'll try to look at this issue this weekend

[2019-02-04 14:53] sjoerdtimmer commented on #1037
Your fix seems to work. Thanks a lot!

[2019-02-04 16:08] #1029 closed

[2019-02-11 23:04] cwhatley opened #1039 "lsp vs. web-mode - web-mode-indent-line inhibits modification hooks"
Problem setup:

* web-mode
* lsp-mode/lsp-ui (see issue: https://github.com/emacs-lsp/lsp-ui/issues/238)
* typescript-language-server (https://github.com/theia-ide/typescript-language-server)

I use web-mode to edit a TSX file.

LSP works by monitoring for buffer changes and sending the changes to the language server to drive flycheck/company, etc. This is all driven off of buffer modification hoo

[2019-02-16 23:09] Defacta opened #1040 "Highlight first argument of a specific function"
Hello,

I have a php function which looks like this:

`__lg('Please upload a photo in Jpg format', 'Global', NULL, FALSE);`

This function can be call with only one argument like:

`__lg('My profile');`

Is it possible to modify the web-mode.el to highlight the text between the 2 single quotes of the first argument of my function __lg() ?

I would like it to be colored in #ff007c for exemple.

Tha

[2019-02-18 07:51] tavurth commented on #473
I wanted to use the local eslint inside of my project directory, so I ended up with the following:

[code]

[2019-02-18 10:47] zhangjie2012 opened #1041 "web-mode jsx sometimes highlight and indentation error"
I use `web-mode` write react(jsx), I found sometime `web-mode` become invalid. I must reset web-mode (`M-x web-mode ret`) make it right.

eg:

![image](https://user-images.githubusercontent.com/2450412/52945641-2be07580-33ad-11e9-89f0-136f96786cc2.png)

then I use shortcut key to indent it (`C-c C-i`).

![image](https://user-images.githubusercontent.com/2450412/52945739-64804f00-33ad-11e9-89be-3c7

[2019-02-19 03:50] zhangjie2012 opened #1042 "web-mode react jsx attribute indent offset bug"
expect:

![image](https://user-images.githubusercontent.com/2450412/52988970-65ac8d00-343c-11e9-8b9d-f8653d3f34a6.png)

actual:

![image](https://user-images.githubusercontent.com/2450412/52989015-9096e100-343c-11e9-870a-021eadc6d6c4.png)

[2019-02-21 19:19] avocadoras opened #1043 "defining keyboard macros fails with web-mode function C-c C-m & C-c C-e r"
I'm on macOS mojave & Emacs v 26.1.

I cannot call keyboard macros on the fly with web-mode. I'm trying to select a region with `C-c C-e r` and rename several tags. When I finish defining the macro, it gets called somewhere else. Please, see attached gif that describes the situation.
![kbd-macro-webmode-not-working](https://user-images.githubusercontent.com/36335687/53195401-3aac6f80-35db-11e9-9c1

[2019-02-22 07:42] fxbois commented on #1043
@avocadoras please try with an empty .emacs

[2019-02-22 15:00] avocadoras commented on #1043
@fxbois works now.

[2019-02-22 15:00] #1043 closed

[2019-02-23 21:11] zck opened #1045 "web-mode-attribute-insert errors if point isn't inside the tag (problems with easily adding a link)"
I don't have deep knowledge of web-mode, so there may be better ways to do what I want than what I'm seeing.

The thing I want to do is insert an html link into a document. Since there isn't a command to do that, I figured I can do it by inserting an `a` element, then adding the `href` attribute.

So I pressed `C-c C-e i a<RET>` to run `web-mode-element-insert` and insert `<a>|</a>`, where `|` ind

[2019-02-24 16:06] fxbois commented on #1045
@zck you can enable ```web-mode-expanders``` and hit ```a/```

[2019-02-24 16:06] #1045 closed

[2019-02-26 11:24] markshep opened #1046 "Bad highlighting of self-closing HTML elements"
When `web-mode-enable-current-element-highlight` is `t` and the point is in a self-closing HTML element the opening tag name is highlighted as expected, but rather than the closing `/` being highlighted too the space immediately after the opening name is instead.  Example:

<img width="405" alt="screenshot 2019-02-26 at 11 15 43" src="https://user-images.githubusercontent.com/490067/53409498-f2b19

[2019-02-26 14:57] alec-implicitdesign opened #1047 "Indentation in Rails erb templates inconsistent"
I think this problem is exacerbated by Ruby's lenient syntax.  Since function calls don't require parentheses, I get this:

    <%= render partial: 'some_partial',
    locals: {
        icon: nil,
        errors: [],
        title: 'Title'
    } %>

...instead of let's say having the `locals` parameter line up under the `partial` parameter.  (something I can't even get to work here)

Which is what

[2019-02-26 16:26] fxbois commented on #1046
@markshep I've pushed a fix

[2019-02-26 16:28] fxbois commented on #1047
@alec-implicitdesign could you post the snippet the way it should be indented please

[2019-02-26 16:30] fxbois commented on #1042
@zhangjie2012 please post you example on gist, it is easier for me to copy/paste

[2019-02-26 16:34] fxbois commented on #1040
@Defacta it should be highlighted as a string and you can customise string colors with ```web-mode-block-string-face```

[2019-02-26 16:34] #1040 closed

[2019-02-26 16:43] fxbois commented on #1039
@cwhatley I've removed it ... let's now see if it triggers side effects (I do not remember why I set it)

[2019-02-26 17:06] cwhatley commented on #1039
Hi. I'm not seeing a change in that commit.

I had been meaning to give you a PR for this. I just did: https://github.com/fxbois/web-mode/pull/1048

I've been using that for awhile and seems to help with the problem.

[2019-02-26 19:49] fxbois commented on #1039
@cwhatley you're right ... better with last commit

[2019-02-27 11:01] alec-implicitdesign commented on #1047
I believe the following is at least in line with the behaviour one would expect if `render` was called with parentheses:

    <%= render partial: 'some_partial',
               locals: {
                   icon: nil,
                   errors: [],
                   title: 'Title'
               }
    %>

...and this would be the behaviour if the indentation of the previous line was respected:

[2019-02-28 06:43] zhangjie2012 commented on #1042
@fxbois

a simple example:

[code]

[2019-03-01 14:38] #1042 closed

[2019-03-01 14:38] fxbois commented on #1042
@zhangjie2012 I've pushed a fix

[2019-03-01 14:38] #1039 closed

[2019-03-01 14:39] #1046 closed

[2019-03-01 17:00] #1047 closed

[2019-03-08 02:17] showgood commented on #1015
thanks

[2019-03-11 15:02] titaniumbones opened #1049 "set indent offset per-project?"
First, thanks for web-mode, which has improved my life immeasurably. Without it, I might have given up editing html in emacs entirely.

Most of my work in HTML is small fixes to other people's projects on github.  In these cases I don't have control over the author's indentation preferences. I would really like to be able to set the value of the various `indent-offset` variables on a per-project b

[2019-03-11 15:17] fxbois commented on #1049
@titaniumbones I am not an expert of this. You might have more answers on Emacs Stackoverflow

[2019-03-11 16:23] titaniumbones commented on #1049
@fxbois I am currently experimenting with dir-local variables, and this seems to work.  From the root of a project/git repo, simply call `add-dir-local-variable` and follow the prompts, then save `.dir-locals.el` when it opens.

[this issue from projectile](https://github.com/bbatsov/projectile/issues/139) has a long discussion of the problem, and includes some alternative suggestions.

leaving op

[2019-03-21 06:53] vmalloc opened #1050 "Autoclose handlebars elements?"
I really like that web-mode autocloses HTML elements upon hitting `/`. Is it possible to have it autoclose handlebars elements? E.g. when writing:
[code]
Is it possible that in the above case it autocompletes the bottom tag to `{{/if}}`?

Thanks in advance!

[2019-03-21 09:01] fxbois commented on #1050
have you tried ```web-mode-block-close``` ?

[2019-03-21 09:03] vmalloc commented on #1050
@fxbois doh! that's perfect -- and I feel stupid now. Thanks!

[2019-03-21 09:03] #1050 closed

[2019-03-27 01:53] artforlife opened #1051 "Web-Mode Does Not Work in Emacs 24"
I tried the web-mode in latest emacs-snapshot (Emacs 27.0.50), and it seems to work. However, it does not seem to work in Emacs 24. Whenever I run `M-x web-mode` to enable the mode, I receive the following error in the minibuffer.

`Invalid byte opcode: op=183, ptr=418`

Here are the pertinent configurations from `.emacs`

[code]

[2019-03-27 06:36] DoMiNeLa10 commented on #1051
Have you tried deleting byte-compiled code and recompiling it from Emacs 24? Emacs' byte-compiler isn't backwards compatible.

[2019-03-27 14:14] artforlife commented on #1051
@DoMiNeLa10 , I have just tried it via `M-x byte-recompile-directory` on `~/.emacs.d/`, and it did not solve the issue.

[2019-03-31 14:35] swans-one opened #1052 "lit-html support in javascript?"
I'm using [lit-html](https://github.com/Polymer/lit-html) to do html templating inside javascript. A simple example of a web-component I might write would look like:

[code]

It would be amazing if web-mode were able to highlight, indent, etc, inside the `html` template literal. For example, this [VS Code extension](https://marketplace.visualstudio.com/items?itemName=bierner.lit-html) allows for t

[2019-04-06 09:24] fxbois commented on #1052
@swans-one Hi, it is a recurring feature request but really difficult to implement.
I hope to have time someday to work on this.

[2019-04-06 09:24] fxbois commented on #1051
@artforlife what version of emacs ?

[2019-04-06 09:26] fxbois commented on #1049
@titaniumbones I have no experience with this.
Do not hesitate to add some comments if you found something new

[2019-04-06 09:26] #1049 closed

[2019-04-06 09:26] fxbois commented on #1041
@zhangjie2012 please poste your example on gist

[2019-04-08 14:44] swans-one commented on #1052
Hi @fxbois, that's totally understandable. I really appreciate the project and all your hard work on it! Is there any way I could help on this feature?

[2019-04-09 09:01] fxbois commented on #1052
@swans-one I'll take care of the indentation but for the highlighting it is an other story. I really need to think about it.

[2019-04-11 19:25] edam opened #1053 "js indentation error with open brace on new line following multi-line statement"
The following:
[code]
Is indented incorrectly, as follows:
[code]
This only happens when the condition in the `if` statement is multi-line.  E.g., this indents OK:
[code]

Another broken example:
[code]
Is indented incorrectly, as follows:
[code]

[2019-04-12 14:55] edam opened #1056 "indent call fail in subexpression in jsx"
With `lineup-calls` set to `nil`, `web-mode` indents as follows:
[code]
And it should be:
[code]

[2019-04-16 03:53] zhangjie2012 commented on #1041
no clear rules ...

[2019-04-26 08:13] phenix-factory opened #1057 "Handle #attr="""
I m currently using web-mode to edit Angular2 component.
In Angular 2, sometimes you have to write html like this :

`<form #f="ngForm" (ngSubmit)="saveDocument()">`

But it break the syntax color :

![image](https://user-images.githubusercontent.com/1810149/56793116-85c94580-680b-11e9-9e55-86d7a9e126df.png)

I m using Spacemacs with spacemacs-dark theme, but it's not working with the monokai them

[2019-04-27 15:36] fetatefog opened #1058 "Is there a way to get current region major mode name?"
For example, if my cursor is inside the style tag, then I want to get CSS-Mode or so and if i am inside div in the body tag, then it should output as HTML-mode.
[code]

[2019-04-27 19:19] DoMiNeLa10 commented on #1058
`web-mode` is a single major mode, so you referencing these major modes makes no sense. There's `web-mode-language-at-pos`, which returns a string with the language at point.

[2019-04-28 09:57] fxbois commented on #1057
@phenix-factory where is the specification of this # attr syntax ?

[2019-04-28 13:33] phenix-factory commented on #1057
@fxbois you can find it inside the angular documentation : https://angular.io/guide/template-syntax#template-reference-variables--var-

[2019-04-28 14:23] fetatefog commented on #1058
Good, this is what i really need. Thanks !!

[2019-04-28 14:23] #1058 closed

[2019-04-28 16:14] fxbois commented on #1057
@phenix-factory could you post your exemple on gist please

[2019-04-29 09:42] phenix-factory commented on #1057
Sur ! Here is a gist (simplified) gist. I can reproduce the problem with it :

https://gist.github.com/phenix-factory/cf5d78b438458b0b52933763efef214d

[2019-05-02 10:13] saevarb opened #1060 "Support { } bracket autocompletion for JSX"
Hello.

It looks like web-mode supports choosing between single and double quotes for inserting quotes automatically after = in a tag. It would be very useful to have support for a third possibility, namely { } brackets for JSX.

Perhaps it would also be a good idea to make web-mode automatically choose this third mode whenever a .jsx/.tsx file is opened, since in the general case, brackets are th

[2019-05-02 16:20] DoMiNeLa10 commented on #1060
I don't think this functionality should demand the use of the `.jsx` or `.tsx` extension for files, as this is controversial, and Facebook recommends sticking with `.js` for JSX files. Considering that unquoted tags aren't valid in JavaScript, completing inside of any JavaScript context should be fine.

[2019-05-03 23:06] andykais commented on #1052
Not adding any rush to this feature, if it is possible, we will wait @fxbois, but Ill still give my two cents about the interface:

vim has some somewhat buggy support for this feature.
- https://github.com/cdata/vim-tagged-template
- https://github.com/Quramy/vim-js-pretty-template

Ideally though, web-mode would provide a similar interface. E.g.

[code]

which would highlight the following js co

[2019-05-07 00:16] dennismayr opened #1062 "[low priority] latest version (20190506.607) doesn't show `highlight-indentation-guides-mode`"
Latest version (`web-mode-20190506.607`) doesn't show [highlight-indentation-guides-mode](https://github.com/DarthFennec/highlight-indent-guides/issues/58) indentation guides as expected.
Guides, however, are shown under other modes.

Edit: issue happens beyond 90 lines of HTML code; first 90 lines do show indentation guides.

Emacs 26.2
Spacemacs 0.300.0
Ubuntu 18.04

[2019-05-10 03:58] vxcamiloxv commented on #999
same question about styled-components

[2019-05-12 19:13] madscientist commented on #1049
Have you investigated using editorconfig https://editorconfig.org/ ?  It has an emacs mode that will read editor config files (and many other IDEs have built-in support for this so it's portable).  It doesn't allow you to customize very many things unfortunately, but one of the few it DOES support is indent offest.

[2019-05-22 14:49] wavexx opened #1065 "Broken web-mode.el encoding"
Attempting to update web-mode today from melpa failed.
The encoding of web-mode.el doesn't seem to be utf-8.

[2019-05-23 06:16] fxbois commented on #1065
anyone has an idea about this ?

[2019-05-23 15:19] wavexx commented on #1065
Mmh, explicitly giving utf-8 to package.el makes it pass. When opening the file from the repository I don't have any decoding problem, and the package file from melpa seems to be correct as well.

Maybe it's actually a bug in emacs/package.el. I sent an email  to the emacs-devel list.

[2019-05-23 22:03] DoMiNeLa10 commented on #1065
Considering that character encoding is explicitly set via a comment:

https://github.com/fxbois/web-mode/blob/e1c391da4bf6e7948f632b653991ceeda969a03f/web-mode.el#L2

This sounds like a bug to me without a doubt.

[2019-05-24 10:51] wavexx commented on #1065
On Fri, May 24 2019, DoMiNeLa10 wrote:

There's no doubt, but where? At first I thought the source encoding was
broken. But it's not. Encoding detection while opening is also working.
And the file itself is not corrupted after being downloaded. HTTP
headers are good. Maybe it's "url" not setting buffer properties right
after the file has been downloaded. But this seems to be the only
package trigg

[2019-05-24 17:28] DoMiNeLa10 commented on #1065
Right now I install `web-mode` directly from the master branch of this repository via `straight.el`. The bug I'm pointing to is probably related to whatever package manager OP is using, which is likely the default Emacs one.

[2019-05-24 21:22] wavexx commented on #1065
Fixed in git: https://lists.gnu.org/archive/html/emacs-devel/2019-05/msg00880.html

[2019-05-24 21:22] #1065 closed

[2019-05-28 10:47] zhangjie2012 commented on #1041
I want reopen this issue. code example:

import React from 'react'
import { Form, Modal, Input } from 'antd'

    @Form.create()
    export default class EditMachineForm extends React.Component {
      render() {
        const { form, visible, machine, showEditMachine } = this.props
        if (machine === null) {
          return null
        }

        const { appName, ip, hostname } = this.stat

[2019-05-28 16:07] kristianhasselknippe commented on #1041
I'm experiencing this as well. Seems to happen more often when I copy/paste some content around in the buffer, but haven't been able to find a consistent repro case.

[2019-05-30 06:48] cuhabaho commented on #1058
@DoMiNeLa10, I have tried **web-mode-language-at-pos** and it works perfectly fine when web-mode is enable as a major mode. But can I use *web-mode-language-at-pos* without enable web-mode?

[2019-05-30 08:45] fxbois commented on #1060
@saevarb Hello ok for a patch to offer a third auto-quoting-style.

[2019-05-30 18:39] DoMiNeLa10 commented on #1058
@cuhabaho Considering that this function looks at data from font locking and internal variables kept by `web-mode`, it won't. You could try writing a function that somehow enables `web-mode` and runs this command after letting it font-lock the buffer, and there are different ways to achieve that (switching in the same buffer (which isn't the best solution) or creating another buffer and then setti

[2019-06-02 15:08] xaiki commented on #1052
looks like a duplicate of: https://github.com/fxbois/web-mode/issues/999
maybe all these bugs should be rename to `support template literals` ?

[2019-06-03 13:28] andykais commented on #1052
Ive done a bit more research and discovered two libraries called `mmm-mode` and `polymode` which are created specifically for this functionality. I wont repeat myself here, so if youre curious in how they work, look at this stack answer or the article I originally got my info from:

https://emacs.stackexchange.com/questions/37918/how-to-highlight-graphql-template-literals-gql-in-jsx-files
https://

[2019-06-05 15:14] knobo opened #1066 "support for svelte"
Support for svelte would be nice.

Some examples of code: https://svelte.dev/examples

Example of what needs to be supported is for example logic in the templates:
[code]
and maybe highlight use of $ to autosubscribe to `stores`.

[code]

interpolation can be done with or without quotes
[code]

Special elements example (adds css to global head tag)
[code]

[2019-06-17 04:09] zhangjie2012 commented on #1042
@fxbois Hi, this bug reappeared int version `16.0.0`? I remeber had fix.

[code]

[2019-06-17 07:00] zhangjie2012 commented on #1042
I know ...

Before, I used `melpa`, but now, I use `melpa-stable`. `16.0.0` is older. update to `20190609.1917` fixed.

[2019-06-17 07:00] zhangjie2012 commented on #1042
I know ...

Before, I used `melpa`, but now, I use `melpa-stable`. `16.0.0` is older. update to `20190609.1917` fixed.

[2019-06-21 03:00] nathanstitt commented on #1041
I also experience this fairly regularly.  It's pretty maddening because I haven't been able to create a repeatable test case.  It does seem to happen more often when code is copied and pasted but the only way to fix it seems to be to `web-mode-reload`

[2019-06-25 14:17] ankhers opened #1069 "Support for leex files"
Elixir's Phoenix recently added `.leex` files, which act the same as `.eex` files which is already supported.

I am more than happy to submit a PR for this, but I just wanted to make sure I make the proper adjustments. It seems to me that I just need to modify [this](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L912) regex to include `.leex`? Or is there more to it?

As an aside, `.e

[2019-06-25 19:02] fxbois commented on #1069
@ankhers yes you can replace ```("elixir"           . "\\.eex\\'")``` by ```("elixir"           . "\\.l?eex\\'")```

[2019-06-25 19:51] #1069 closed

[2019-06-30 15:30] mateusfccp opened #1071 "Blade engine won't correctly indent {!! Form::open() !!} and {!! Form::close() !!} directives"
Example:

[code]

The expected behaviour was:

[code]

[2019-07-02 18:40] dennismayr commented on #1062
I had found an error message related to an apparently conflictive line: it's interpreted as an open _HTML_ `<a>` tag when it's in fact closed:

![Imgur](https://imgur.com/YSteua1.png)

However, I've commented-out the line, and the problem persists:

![Imgur](https://imgur.com/cHP0RyS.png)

[2019-07-12 17:28] Ptival opened #1072 "Bad TypeScript indentation after method call"
In some `.tsx` file:

[code]

Expected: same indentation before and after the `selectAll` method call
Actual: the indentation is way off after the method call

This makes web-mode unfortunately irritating to use when working on TypeScript files.

[2019-07-12 18:13] DoMiNeLa10 commented on #1072
Just out of curiosity, does adding semicolons help?

[2019-07-12 18:15] Ptival commented on #1072
Yes, it indents properly in the presence of semicolons.

[2019-07-16 15:06] linchen2chris commented on #1060
I did a little hack in my local file change line 10928 \"\" => {}, then recompile, works fine in tsx file
        (if (= web-mode-auto-quote-style 2)
            (insert "''")
--->          (insert "{}"))

[2019-07-18 00:06] gainhad commented on #991
@fxbois I just tested this and it doesn't seem to work as expected. There is always an extra closing bracket left.

[2019-07-18 05:23] DoMiNeLa10 commented on #991
What about being able to add a closing tab when typing `C-d` at the `/` of a self closing tag? I've wanted to implement this feature in `web-mode`, as I really enjoy using it in `rjsx-mode`, but I've never gotten around to it.

For example, with point where `|` is:
[code]
Typing `C-d` (which is normally bound to `delete-char`) would result in:
[code]

[2019-07-19 13:43] pksadiq opened #1073 "TAB in selected area with folded content breaks indentation"
Pressing TAB (`indent-for-tab-command`) on an area where the content is folded with `web-mode-fold-or-unfold` results in broken indentation.

Say for example, for a properly indented XML file `test.xml` with the content:

[code]

folding the content with `web-mode-fold-or-unfold`, selecting the whole buffer, and indenting with TAB results in the following (see second line indentation):

[code]

Th

[2019-07-20 09:04] VelikiiNehochuha commented on #1066
https://github.com/fxbois/web-mode/pull/1074

results looks like
![Screenshot_2019-07-19_23-48-43](https://user-images.githubusercontent.com/9156442/61576752-7560f800-aae6-11e9-9a7e-d25321257267.png)

[2019-07-22 16:49] #1062 closed

[2019-07-27 03:05] zhyuanyuan opened #1075 "在web-mode中copy内容时文件会被自动格式化"
hi，all。
     I am a Chinese.that English just so so. I try my best to describe my probleam.

I am use vue to develop program,when I copy some words of use web-mode. and web-mode auto format my code in all page. when the page is so large and waste of my time. so I think this is web-mode's bug or web-mode can setting and I not found.I do not this,I want to copy words not format my code in other code

[2019-07-27 10:54] DoMiNeLa10 commented on #1075
Take a look [here](https://github.com/fxbois/web-mode/issues/894). You'll want to customize `web-mode-enable-auto-indentation`.

[2019-07-29 07:31] siegy22 opened #1076 "[question] Auto closing brackets/parentheses in javascript part?"
I wondered if there's a flag to enable auto closing brackets and parentheses in the `<script>` part of a HTML template. Similar to the `web-mode-auto-close-style`, but not for tags.

[2019-07-29 18:04] DoMiNeLa10 commented on #1076
I recall trying to implement this at one point, and giving up. I think this should tap into the built-in `electric-pair-mode` to make configuration intuitive.

[2019-07-30 07:56] siegy22 commented on #1076
Alright, thanks! The thing is, if I enable the `electric-pair-mode`, this happens:

![Kapture 2019-07-30 at 9 54 41](https://user-images.githubusercontent.com/8779283/62111090-1b172280-b2b0-11e9-807d-b671c27c8713.gif)

It feels like it's a mix of `web-mode` and `electric-pair-mode` :/

[2019-08-01 18:12] tian-yi opened #1077 "[question] tsx files commenting style"
The default comment style for `js/jsx/ts/tsx` is using `/* */` , But I'd like to use `//` instead.
It seems that I  can use `web-mode-comment-formats` to change this behaviour. But it only works for javascript.

[code]

[2019-08-02 03:19] zhangjie2012 commented on #1041
@nathanstitt

I recommand [rjsx-mode](https://github.com/felipeochoa/rjsx-mode) replace  web-mode write js/jsx, web-mode just for html/css

[2019-08-02 03:19] #1041 closed

[2019-08-06 04:35] AmaiKinono opened #1078 "Misbehavior of forward/backward-sexp and up/down-list?"
Hi. I found web-mode handles balanced expressions in a kind of "partly" way. For example, `mark-sexp` command works great, but `forward/backward-sexp` command can let you go out of current expression (but it doesn't let you go in. I found this inconsistent behavior annoying). Compare this behavior to `emacs-lisp-mode`:

![Peek 2019-08-06 12-27](https://user-images.githubusercontent.com/28714352/62

[2019-08-25 00:13] mrbig033 opened #1079 "How can I set different company backends for different file types?"
### Runtime Environment

- OS: MX Linux 18.3
- GNU Emacs 27.0.50
- [~/.emacs.d](https://github.com/mrbig033/emacs)
- Evil version 1.2.14
- web-mode 20190625.1951
- [dotfiles](https://github.com/mrbig033/dotfiles)

### Issue

I set my backends with the following hook:

[code]

Which is working fine for CSS and HTML files. Javascript not so much. Can I activate a different hook/backend when using `w

[2019-08-30 19:48] allenjgreer opened #1080 "<style lang="sass"> support for vue.js SFC"
### Description
This is a follow up to a [this previous issue](https://github.com/fxbois/web-mode/issues/949) which was closed without being resolved it seems.

Any sass/scss style code is not detected by `web-mode` and thus, not highlighted nor indented accordingly, see [gist](https://gist.github.com/allenjgreer/073b3fc64118d96190056e7589fb0755)  & screenshot

### Output of `web-mode-debug`
[code

[2019-09-04 09:27] davorb opened #1081 "Web mode incorrectly reads the content type of mjs-files as html"
I'm trying to get web-mode to read mjs-files as jsx or js files. I did this by adding

[code]

The problem is when I eval `web-mode-content-type`, I get `html`. How do I fix this?

[2019-09-04 12:03] apiraino opened #1082 "Indent JS concatenated calls"
Hi,

sorry if this has been asked in past, I see similar issues closed in the past. I'm not sure how to indent this code to 2 spaces instead of 4:

From this:
[code]

To this:
[code]

Hints?

Thanks!

[2019-09-06 09:13] siegy22 opened #1083 "*-padding global variables are not respected"
Emacs version: 26.3 (9.0)
web-mode version: 20190625.1951

[code]

all `*-padding` variables do not respect their global values.

My (spacemacs) setup:
https://github.com/siegy22/dotfiles/blob/master/spacemacs#L43-L49

The `web-mode-markup-indent-offset` does work however:

[code]

I recently updated all of my spacemacs packages (including web-mode) but I'm not able to tell from which version to w

[2019-09-06 11:49] DoMiNeLa10 commented on #1083
How do you set these variables up? Do you use a hook, or do you just set them before `web-mode` is loaded?

[2019-09-06 12:30] siegy22 commented on #1083
@DoMiNeLa10 Have a look at my spacemacs config file I linked 😄
http://develop.spacemacs.org/doc/DOCUMENTATION.html#setting-configuration-layers-variables

I think this way, the variable gets set globally. So not in a hook after initiating web-mode

[2019-09-06 20:32] kmcclosk commented on #1081
This can be added to your init.el:
(setq web-mode-content-types-alist
	  '(("jsx" . "\\.[c|m]js[x]?\\'")))

[2019-09-09 03:22] mwolson commented on #422
Here's what I currently have in my `~/.emacs/init.el` file to implement this, in case it's helpful. The core idea is:
* define new engine-specific major mode functions which when called:
* makes `(buffer-file-name)` return a fake name with a file extension in it which matches the code block.

[code]

[2019-09-10 09:59] siegy22 commented on #1083
My current workaround is to add a `web-mode-hook`:

[code]

[2019-09-13 07:20] davorb commented on #1081
@kmcclosk thank you! that fixed my issue.

[2019-09-13 07:20] #1081 closed

[2019-09-16 20:12] #1066 closed

[2019-09-17 10:01] Randomneo opened #1085 "I have some issues with python indentation in mako."
I have some issues with indentation in mako.
file extension *.mako
This how it looks:

    <%
        dict = {
        'value': {
        'subvalue': 123
        }
        }
    %>

How it should looks:

    <%
        dict = {
            'value': {
                'subvalue': 123
            }
        }
    %>

Also `try ... except ...` don't indent:
Now:

    try:
    print('123')
    except:

[2019-09-24 08:50] AllanJian commented on #824
indent is wrong
[code]
I want margin indent 4 , but web-mode give me 2

[2019-09-24 13:00] sollidsnake opened #1086 "JSX with Vue"
JSX inside Vue doesn't seem work properly. Take the following code, for example:

[code]

Web mode seems to treat the JSX inside render as plain Javascript, like when you try to close some tag and `web-mode` closes the script tag at the top of the file.

[2019-09-25 06:47] fxbois commented on #1086
add ```type="text/jsx"``` in the ```<script>``` tag

[2019-09-25 11:46] sollidsnake commented on #1086
I tried that, but it also doesn't work. It does recognizes the JSX code, but when you try to write plain Javascript below the JSX, it seems to treat everything as JSX instead of Javascript.

[2019-09-25 13:08] fxbois commented on #1086
@sollidsnake please post a full example on gist

[2019-09-25 14:16] sollidsnake commented on #1086
[code]

Using the code above, try writting some javascript code after the render method. `web-mode` seems to understand the code as JSX instead of Javascript. I recorded a gif showing this issue. As you can in the gif, when you restart web mode, it seems to parse correctly, but as you try to write the code, it doesn't work as as expected.

![vue-jsx](https://user-images.githubusercontent.com/17783

[2019-10-01 07:37] frederichchen opened #1087 "Cannot highlight jinja template even though web-mode-engines-alist is set"
I am using web-mode to develop python flask application, which uses jinja2 templates(.html files). My config is as below:

[code]
When I open the template, the tags like {% block contents %} are not highlighted. But when I M-x web-mode-set-engine and choose "django", they are highlighted.I am using GNU Emacs 26.3 under archlinux.

[2019-10-01 22:00] nobody-famous opened #1088 "HTML attributes indent weird with indent-tabs-mode"
I have an HTML tag like this,

    <tag
        a="b"
        c="d"
        e="f"

If I have indent-tabs-mode set to t and indent the buffer, it toggles between the above and this,

    <tag
        a="b"
           c="d"
           e="f"

It doesn't do that if indented with spaces and indent-tabs-mode set to nil.

[2019-10-02 19:24] jaccarmac commented on #999
@fxbois I've only taken a very cursory look at the code, but it seems like these blocks could be treated like any other kind of block is by the various engines. Is that not the case?

[2019-10-09 16:36] mbtuckersimm opened #1089 "allow php tags at end of line without screwing up indentation"
The house style at my workplace is to place `<?php` and `?>` tags at the end of lines, like so:
[code]

This interacts badly with auto-indent: if I press `TAB` to indent with point on the `$x = 7` line, I end up with this:
[code]
Is there some way to have the PHP block not indent to the same level as the preceding `<?php` tag?

[2019-10-25 05:54] yuhan0 opened #1091 "Engine blocks in comments being "uncommented""
With single file components like Vue or Svelte, commented-out text in a `<script>` block is wrongly parsed as uncommented code when the syntax defined in `web-mode-engines-auto-pairs` is present, and appears instead as various syntax errors.

eg. in a file example.vue
[code]

Actual behavior:
![image](https://user-images.githubusercontent.com/22216124/67546308-af1d4c80-f72e-11e9-8eaf-bdead4aa587a.

[2019-10-27 18:39] 8cylinder opened #1092 "Request for ExpressionEngine templates"
I would like like support for ExpressionEngine templating.  (Btw, if you have documentation on how to add an engine to web-mode please point me to that).

- EE Documentation: https://docs.expressionengine.com/latest/templates/language.html
- Simple example: https://gist.github.com/8cylinder/ee99205620d29684787fb9f0956e7099
- Complex example: https://gist.github.com/8cylinder/f8a499c2bde2cbea8673cd

[2019-10-28 21:12] fxbois commented on #1089
@mbtuckersimm you can now use the value ```-1``` for ```web-mode-block-padding```

[2019-10-28 21:23] fxbois commented on #1088
@nobody-famous I do not use indent-tabs-mode. Perhaps you should ask for some help on emacs stackoverflow

[2019-10-28 21:24] #1083 closed

[2019-10-28 21:26] fxbois commented on #1087
@frederichchen the lines
[code]

[2019-10-28 21:26] #1087 closed

[2019-10-28 21:28] fxbois commented on #1082
@apiraino try
``` (add-to-list 'web-mode-indentation-params '("lineup-calls" . nil))```

[2019-10-28 23:30] apiraino commented on #1082
thank you @fxbois I'll try as soon as I'll have a chance! (and will confirm closing the issue)

[2019-10-30 00:00] mbtuckersimm commented on #1089
Thank you very much for addressing this.

Is this on melpa yet or do I need to clone the repo to get this feature? I updated `web-mode` from the package menu and I'm now running version 20191028.2050, but it's not working for me. (I am using emacs 26.3 on linux mint 19.2, if that's relevant.)

I tried using the customize menu to set `web-mode-block-padding`, but the option `-1` is not available in

[2019-10-30 02:39] edsprofile opened #1093 "Indenting javascript inconsistent"
Inconsistent indenting in if/else when using braces, everything seems to work like the if statement in the GIF the only inconsistency I found was in the else part.

![Peek 2019-10-29 19-25](https://user-images.githubusercontent.com/31055689/67824084-98565d00-fa82-11e9-91c1-7f2993d504be.gif)

--- WEB-MODE DEBUG BEG ---
versions: emacs(26.3) web-mode("16.0.24")
vars: engine("none") minor("none") con

[2019-10-31 08:12] fxbois commented on #1089
set it manually in your .emacs ```(setq web-mode-block-padding -1)```

[2019-11-02 17:52] fxbois commented on #1093
@edsprofile fix with last commit. Thx for the report

[2019-11-02 17:52] #1093 closed

[2019-11-02 18:02] fxbois commented on #1092
@8cylinder So the only way to know if I should indent below a {xxx} block is looking forward to see if there is closing {/xxx} ?
If it is the case I would only implement indentation for condition blocks (if, etc.)

[2019-11-02 22:02] Randomneo commented on #1085
#1094 Fixes given problems

[2019-11-03 15:26] nobody-famous commented on #1088
OK, I'll go ahead and close this out. Between this bug and one other I found with this package, Emacs is unusable for web development. I've switched back to VSCode.

[2019-11-03 15:26] #1088 closed

[2019-11-03 21:53] 8cylinder commented on #1092
That's correct, the only way to tell if it should be indented is to look ahead, so I think its reasonable to not indent them (its not a very well designed language).  That would probably be an expensive operation on large files.

I'm still learning it but as far as I can tell, the `if`, `if:else`, `if:elseif`, `/if` constructs is the only one you can tell by looking at itself.

Although It just oc

[2019-11-03 22:26] edsprofile opened #1096 "Indenting anonymous function in js"
Not sure if there is a setting to change this or if it is a bug.
I have also added the indent debug information under the web mode debug.

The braces indent when they are on their own line. (see GIF)
I was expecting the braces in the anonymous function to be the same as second function.
(second function from the top)

![Peek 2019-11-03 13-41](https://user-images.githubusercontent.com/31055689/6809

[2019-11-04 13:58] frederichchen commented on #1087
You mean I should delete the line: (set web-mode-engines-alist ...) ? I deleted this, but I cannot have my jinja2 template highlighted. Could you please explain how to fix this in detail? Thanks!

[2019-11-04 18:59] fxbois commented on #1096
@edsprofile I've pushed a fix

[2019-11-04 20:15] #1096 closed

[2019-11-08 02:23] helinwang commented on #226
Thanks for the very nice mode.
The color went away with magit mod and eww mode as well :(

[2019-11-09 14:12] georgebihtas opened #1097 "Bad indentation with tsx"
I have a .tsx file and a function that returns some html. It starts like:

`return <div className=...`

Then at some point I have a component with many arguments so I have to split them vertically. I get the following indentation

![tsx1](https://user-images.githubusercontent.com/22296510/68529787-2390e780-02fa-11ea-977d-59fc40f8374e.png)

instead of

![tsx2](https://user-images.githubusercontent.

[2019-11-09 15:27] georgebihtas commented on #1097
Updates:

I don't have this issue with other files/similar cases. Only with this file. It's a long file compared to others (388 lines) and it has an interchanging mixture of html, typescript.

Another thing I have just observed: If I set the buffer to `html-mode` then the indentation issue is fixed.

[2019-11-10 17:26] fxbois commented on #1097
@georgebihtas please post the example on gist

[2019-11-11 10:40] georgebihtas commented on #1097
@fxbois

https://gist.github.com/georgebihtas/0387ded70ea10f9f5e3daba58ab590c2

Please let me know it does the job for you

A couple of pics indicating this weird behaviour using the `gist` code above

![tsx1](https://user-images.githubusercontent.com/22296510/68580981-69bb8780-046f-11ea-9927-63bb5f24afcf.png)

![tsx2](https://user-images.githubusercontent.com/22296510/68580985-6d4f0e80-046f-11ea-

[2019-11-19 14:12] apiraino commented on #1082
ok, could finally test your suggestion.

First, I had to figure out where exactly to set that variable. In the end I've set that param to `nil` at [this line](https://github.com/fxbois/web-mode/blob/cd000fcfce97152f8b831b7eef4ea0d0b1eed11a/web-mode.el#L823).

And it works!

So now I have:
[code]

But why? And is that the correct fix?

[2019-11-22 05:46] nerton opened #1098 "Syntax of single quote in PHP"
When using web-mode for PHP the syntax of single quote is punctuation. It should be quote like for double quote.

[2019-11-22 05:47] brainplot opened #1099 "Inconsistent indentation with php files mixed with HTML"
I'm using `web-mode` configured using a `use-package` declaration.
[code]
I'm experiencing very strange indentation behavior. This what the buffer looks like (with `whitespace-mode` enabled) after issuing `indent-region` on the whole buffer.

![Screenshot_20191122_064006](https://user-images.githubusercontent.com/28014843/69400858-75227480-0cf3-11ea-99de-560f8192f15d.png)
![Screenshot_20191122_063

[2019-11-22 06:57] fxbois commented on #1098
@nerton please post a screenshot

[2019-11-22 06:58] fxbois commented on #1099
@brainplot please try with an empty .emacs

[2019-11-22 10:15] nerton commented on #1098
I can't post a sreenshot, because it generally works well, behaves as a string. But there are strange behaviors. For example, try selecting a text and type " to surround it with quotes. It works. Try the same with single quote and you see that it overwrites the string. So it does not always work as a string delimiter.

I investigated a problem and found that single quote does not have string synta

[2019-11-22 10:23] DoMiNeLa10 commented on #1098
It is worth noting that doing this will break typing text into plain HTML, especially if it ends up getting paired.

[2019-11-22 10:44] fxbois commented on #1098
@nerton in fact I really do not understand what you want

[2019-11-22 12:17] nerton commented on #1098
I don't know if you are familiar with the concept of syntax tables in emacs. They describe character roles in the buffer, so other emacs packages can provide syntactic operations which can work in any buffer which sets up the syntax properly. [More info here](https://www.gnu.org/software/emacs/manual/html_node/elisp/Syntax-Tables.html).

One such operation is surrounding code with delimiters. Like

[2019-11-22 12:28] fxbois commented on #1098
@nerton understood !
it is not really possible. I can have a Js string which will embed a php string.

[2019-11-22 12:36] nerton commented on #1098
Isn't it the same with double quotes? You can have a double quoted string in js which embeds a php string. What's the difference?

[2019-11-22 14:23] brainplot commented on #1099
I just tried that. No luck. I literally blew off my `~/.emacs.d` folder and created a new one with only an `init.el` file in it with the following content.
[code]

[2019-11-23 06:54] dragoneye65 commented on #1099
M-x indent-code-rigidly

[2019-11-29 11:35] gaudecker opened #1100 "Javascript comment delimiter face"
I'd like to humbly request an addition of `web-mode-javascript-comment-delimiter-face` to web-mode's faces.

It should match both single and multi line comment delimiters.

[code]
Comment delimiter should be `//`.

[code]

Comment delimiter should be `/**` (or `/*`), ` * `, and ` */`.

[2019-12-02 15:38] Ergus commented on #102
Hi:
Sorry for necro-pumping this but I have seen that this issue is still somehow alive. Since 2013 emacs has changed a lot and now the commands to navegate has been updated/fixed. I am somehow wondering why webmode does not use the default bindings as well (ex. C-c C-n === C-M-n).

Also mark-sexp (C-M-SPC) does not work in php files as expected because the binding is set to a function that only w

[2019-12-04 18:45] joeheyming commented on #824
@fxbois what was the fix that you did?

[2019-12-11 12:17] rpoddighe opened #1101 "Support top-level indentation of Razor code blocks"
It would be great if web-mode supported indenting Razor code blocks. For me, the top-level indentation within a Razor code block doesn't seem to work.

Expected indentation:
[code]

Actual indentation:
[code]

Please correct me if I'm totally missing something.

[2019-12-20 22:45] roket1428 opened #1103 "HTML5 truly supports unqouted attribute values but web-mode doesn't highlight them properly."
I think the title contains all the information.
Actual:
![](https://0x0.st/z0YB.jpg)
Expected:
![](https://0x0.st/z0YM.jpg)

[2019-12-22 03:00] gary-ruizhang opened #1104 "Strange indent behavior in Vue"
When writing Vue, the indentation become 1 space inside <script> and <style> . My config is 2 spaces.
<img width="820" alt="Screen Shot 2019-12-22 at 10 52 10" src="https://user-images.githubusercontent.com/32344731/71316349-6e7d4d80-24a9-11ea-9841-0a81d1bdaebc.png">
inside <script>
<img width="600" alt="Screen Shot 2019-12-22 at 10 50 59" src="https://user-images.githubusercontent.com/32344731/71

[2020-01-01 18:58] chrunchyjesus opened #1105 "[Question] Associate script[lang="ts"] with typescript"
Not sure whether I should have asked here or at `lsp-mode`.

Does `web-mode` assiciate `<script lang="ts">` blocks with typescript? I am currently inside a `.svelte` component and use it in combination with typescript. However, the typescript block gets associated with javascript instead.

[2020-01-07 15:49] VelikiiNehochuha commented on #1104
try set, too
[code]

[2020-01-16 22:10] noctuid opened #1107 "Auto-closing does not work with outshine"
[outshine](https://github.com/alphapapa/outshine) remaps `self-insert-command` to `outshine-self-insert-command`. `web-mode-on-post-command` checks that the command is `self-insert-command`, so auto-closing and auto-quoting do not work with `outshine-mode` enabled. Additionally checking if the command is `(key-binding [remap self-insert-command])` would probably work to fix issues like this.

[2020-01-17 10:58] AllanJian commented on #1097
@fxbois

I have same problem in jsx.

if write jsx tags as return of arrow functions () => (<xxx></xxx>), the indentation always be bad for attributes.

simple code here:

[code]

but, if the arrow function return like this, indents will be good.

[code]
And, there are some other problems of indentation.
[code]

please forgive my English

[2020-01-21 14:32] svenssonaxel opened #1108 "web-mode-attribute-previous/next won't recognize some Vue props and events"
**To reproduce:**
* Put the following in mwe.Vue:
[code]
* Open the file in emacs and activate `web-mode`
* Go to the beginning of the buffer
* Repetedly execute `web-mode-attribute-next`

**Expected:**
* All 9 lines with attributes, including Vue props and events, are visited in turn

**Actual:**
* Lines containing `val3`, `val5` and `val7` are skipped.

**Version info:**
* GNU Emacs 26.1 (build

[2020-01-23 23:03] rpatterson commented on #473
FYI, here's all I needed:

[code]

[2020-02-16 16:20] fxbois commented on #1107
@noctuid could you provide a patch ?

[2020-02-16 16:35] fxbois commented on #1105
@chrunchyjesus could you provide a full example on gist please

[2020-02-16 16:37] fxbois commented on #1104
@gary-ruizhang look at ```web-mode-script-padding``` and ```web-mode-style-padding```

[2020-02-16 16:37] #1104 closed

[2020-02-16 16:40] fxbois commented on #1103
@roket1428 web-mode deals with unquoted attributes from the beginning

[2020-02-16 16:43] fxbois commented on #1100
@gaudecker not sure to understand what you want.
Could you provide a screenshot that could illustrate that ?

[2020-02-16 16:46] fxbois commented on #1099
@brainplot it seems that ```indent-tabs-mode``` is not taken into account.

[2020-02-16 16:48] #1098 closed

[2020-02-16 16:53] brainplot commented on #1099
To me it seems like `indent-tabs-mode` is taken into account but not fully.
I'm no longer using `web-mode`. I switched to toggling between `php-mode` and `html-mode` with a keybinding. I would consider switching back to `web-mode` if these problems are fixed. I can reinstall and do some testing, if that helps.

[2020-02-16 17:11] chrunchyjesus commented on #1105
You mean my emacs config or the svelte file? For my emacs config I am using [doom emacs](https://github.com/hlissner/doom-emacs). The only modifications I have done are these:
[code]

As for a sample svelte file:

[code]

[2020-02-17 03:19] roket1428 commented on #1103
So weird. As you can see at the picture, it clearly didn't show it as green as it should. Now tested it, it clearly does support. I have no idea why is that. Sorry for that, I'm closing it.

[2020-02-17 03:19] #1103 closed

[2020-02-17 16:29] fxbois commented on #1080
@allenjgreer a preliminary will be pushed in a few days

[2020-02-17 16:58] fxbois commented on #1072
@Ptival web-mode does integrate a real js/ts parser and without semicolons  indentation may not work. Sorry not to be able this issue.

[2020-02-17 16:58] #1072 closed

[2020-02-17 17:01] fxbois commented on #1076
@siegy22 you should disable ```web-mode-auto-pairs```
You can't have both

[2020-02-17 17:01] #1076 closed

[2020-02-17 17:15] #1051 closed

[2020-02-17 17:16] #996 closed

[2020-02-20 17:06] fxbois commented on #881
the command ```web-mode-element-children-comment``` will soon be available

[2020-02-21 17:54] troatie opened #1109 "Blade control blocks indent even inside html tags?"
I'm working with a large laravel database, and they have adopting a indent style on blade control blocks among tag attributes that increases the indent level.  Is that possible here?  Maybe optionally?

So
[code]
becomes
[code]

Thanks for your time!

[2020-02-22 13:13] fxbois commented on #1109
@troatie will be solved with next commit

[2020-02-22 13:15] #1075 closed

[2020-02-24 07:04] gaudecker commented on #1100
<img width="578" alt="Screen Shot 2020-02-24 at 9 00 45 AM" src="https://user-images.githubusercontent.com/872609/75133621-2b776a80-56e4-11ea-9319-92eee32741e1.png">

As you can see from this image, the comment delimiters are monospaced while the actual comment (aside from the markup) is proportional.

My proposal was to define separate faces for the delimiters and the content.

Hope this clears t

[2020-02-25 21:35] fxbois commented on #1109
@troatie should be solved

[2020-02-25 22:02] fxbois commented on #1108
@svenssonaxel the last commit should fix the issue

[2020-02-25 22:02] fxbois commented on #1107
@noctuid please reopen if you can provide a fix

[2020-02-25 22:03] fxbois commented on #1105
@chrunchyjesus the last commit provides should provide some compatibility

[2020-02-25 22:04] fxbois commented on #1092
@8cylinder the last commit provides some compatibility

[2020-02-25 22:05] fxbois commented on #1080
@allenjgreer the commit has been pushed

[2020-02-25 22:05] fxbois commented on #1073
@pksadiq I've pushed a fix

[2020-02-25 22:05] fxbois commented on #1057
@phenix-factory should be ok now

[2020-02-25 22:16] phenix-factory commented on #1057
I cannot reproduce this issue. Thank you @fxbois !

[2020-02-25 22:16] #1057 closed

[2020-02-27 11:47] thkoch2001 opened #1112 "tag new release?"
Could you please bless some commit with a release tag? I would like to update the Debian package and it makes it easier for me if I can just refer to a Git tag as a version you like people to use.
There is no problem in adding a new tag every few weeks.

Thank you!

[2020-02-27 11:57] fxbois commented on #1112
@thkoch2001 Hello, what kind of tag should I use ? The version ?
(any doc online about that ?)

[2020-02-28 19:02] JacksonGariety opened #1115 "Attribute name appears in minibuffer on every keystroke following "better attr lexing""
Something in [this commit](https://github.com/fxbois/web-mode/commit/b41b1f6bfdfbfc433b80c8ce8e3a0dc4c9cbf260) has caused the name of the last
HTML attribute in the active buffer to print in the minibuffer with every keystroke. The computation is so intense that my CPU fan starts to spin if I type a lot.

[2020-02-28 20:08] fxbois commented on #1115
@JacksonGariety you're right ... sorry for that

[2020-02-28 20:08] #1115 closed

[2020-02-28 20:08] fxbois commented on #1112
@thkoch2001 please reopen when you can provide some more info

[2020-02-28 23:15] JacksonGariety commented on #1115
@fxbois no worries! it was exciting to see emacs working so hard.

[2020-02-29 06:15] chrunchyjesus commented on #1105
Thanks. :)

I am not sure if it works though. `web-mode-reveal` on the `1105.html` file tells me that it is javascript.

[code]

[2020-02-29 10:53] fxbois commented on #1115
@JacksonGariety in fact there are more debugs that were left... it will be corrected in the next commit !

[2020-02-29 10:54] fxbois commented on #1105
@chrunchyjesus at the moment I treat ts like js

[2020-02-29 10:59] #1097 closed

[2020-02-29 10:59] #1092 closed

[2020-02-29 11:09] fxbois commented on #1091
@yuhan0 I can not trigger the issue. Try with a very simple .emacs that only web-mode stuffs

[2020-02-29 11:12] fxbois commented on #1082
@apiraino put ```(add-to-list 'web-mode-indentation-params '("lineup-calls" . nil))``` in your web-mode web-mode-hook

[2020-02-29 11:12] #1082 closed

[2020-02-29 14:16] chrunchyjesus commented on #1105
Hm. Okay, thanks.

[2020-02-29 14:16] #1105 closed

[2020-02-29 19:06] fxbois commented on #1079
@mrbig033 Hello, I do not know company-mode. Sorry

[2020-02-29 19:06] #1079 closed

[2020-02-29 19:07] #1056 closed

[2020-02-29 19:08] fxbois commented on #741
@DoMiNeLa10 web-mode now has ```web-mode-lify-region```

[2020-02-29 19:08] #741 closed

[2020-02-29 19:08] #881 closed

[2020-02-29 19:11] fxbois commented on #1071
@mateusfccp is it specific to your project ? If not could you provide a pointer towards the documentation online please

[2020-03-01 17:43] #1053 closed

[2020-03-01 17:58] fxbois commented on #1078
@AmaiKinono you can use ```web-mode-element-parent```

[2020-03-01 17:58] #1078 closed

[2020-03-01 18:52] mateusfccp commented on #1071
@fxbois It has been a while since I last used blade. The issue has been opened on 2019-06-30, and I quit my last job on 2019-08-06. Since then, I don't work with PHP anymore, so I'm not really using `web-mode` in any project, thus I can't answer your question.

As no one else stated to have the same issue, I'm closing it by now, until someone have the same problem again.

Thanks.

[2020-03-01 18:52] #1071 closed

[2020-03-01 19:48] fxbois commented on #1060
@saevarb it is now available

[2020-03-01 19:48] #1060 closed

[2020-03-02 07:05] yuhan0 commented on #1091
I was able to reproduce it with the bare minimum `emacs -Q` and `(load "path/to/web-mode.el")`,  on emacs 26.3, macOS 10.15.

Note that the visited file in the above example has to have a `.vue` extension in order for the issue to occur.

[2020-03-02 21:41] #1109 closed

[2020-03-02 21:42] #1089 closed

[2020-03-03 18:17] #1108 closed

[2020-03-03 18:54] thkoch2001 commented on #1112
Just the version number would be fine, e.g.

    git tag 16.0.29 $COMMITID

If you have a GPG key than you also sign your tag:

    git tag -s 16.0.29 $COMMITID

[2020-03-03 18:55] thkoch2001 commented on #1112
I can't re-open an issue in this repo.

[2020-03-04 15:48] erenhatirnaz opened #1116 "Blade inline @error blocks breaks next line's highlighting"
[code]

![web-mode-blade-inline_error](https://user-images.githubusercontent.com/5196786/75896669-77df4a80-5e48-11ea-8b07-8653f7774e35.png)

[2020-03-04 16:06] fxbois commented on #1116
@erenhatirnaz post the example on gist please

[2020-03-04 16:10] erenhatirnaz commented on #1116
@fxbois Sure. Gist is here: https://gist.github.com/erenhatirnaz/00ba41f82a3583ac1fb6fa597648d2a7

[2020-03-06 23:28] mohkale commented on #799
This is still an issue, it shouldn't be closed 😭.

[2020-03-06 23:48] radamant opened #1117 "Syntax highlighting broken in react-mode when JSX missing semicolon"
There is an issue w/ syntax highlighting in react-mode. This issue does not present when all lines end with semicolons.

**Screenshot from emacs:**
<img width="737" alt="image" src="https://user-images.githubusercontent.com/12339/76130869-27d7c380-5fc1-11ea-8a3c-24c5d40e8061.png">

You can see that the syntax highlighting is no longer correct starting on the line where `FormGroup` is defined in th

[2020-03-07 09:00] mohkale opened #1118 "Re: Setting web-mode-engines-alist in .dir-locals.el has no effect"
This is a continuation of #799.

I've found that `web-mode` calls `(web-mode-guess-engine-and-content-type)` prematurely in regards to a files local variables. Specifically variables assigned through `.dir-locals.el`.

What this means is that if you assign `web-mode-engines-alist` inside of `.dir-locals.el` for your project, eg:

[code]

the values from it aren't assigned until after `web-mode` ha

[2020-03-09 23:13] 4goodapp opened #1119 "Comment on Twig not working properly."
For Twig files, I commenting code doesn't work coreectly if you don't have space before the code:
example:

[code]

will create this:
`{% /* set foo = 'foo' %} */`
 but if you have at least one space before the code like this:
[code]
Then comment works as expected:
` {#% set foo = 'foo' %#}`

Here is a gif explaning the issue.

![emacs_web-mode_twig_comment_issue](https://user-images.githubusercon

[2020-03-18 04:45] black7375 opened #1120 "Syntax highliting for typescript's type aliases"
**Describe the bug**
`type`(typescript's [type aliases](https://www.typescriptlang.org/docs/handbook/advanced-types.html#type-aliases) keyword) 's syntax highlighting doesn't work.

![image](https://user-images.githubusercontent.com/25581533/76930043-79475300-68dd-11ea-8f02-8a78d283c7f3.png)

I expect it to be highlighted like `import`, `from`, `interface`, `const`, ..etc.

**Sample Code**
[code]

[2020-03-25 02:58] markskayff opened #1123 "Replace HTML entities not working?"
I am just wondering if the `C-c C-d e` does a replace from a special char into its corresponding html entity.

If that's the case I don't see it working in web-mode. It basically does nothing.

It would be the equivalent of `C-c C-n` in HTML mode.

[2020-03-29 20:18] howsiwei commented on #896
I encountered the exact same problem as @yurikhan. Can you give a pointer on how to overwrite indent-line-function? Furthermore, what's the purpose of `web-mode-indentless-elements` if it doesn't help in this scenario?

[2020-04-02 17:38] timsgardner opened #1124 "web-mode-auto-quote-style not respected for curly braces"
`web-mode-auto-quote-style` has a setting for curly braces support:
[code]
However this setting seems to be a no-op, the behavior defaults to double-quotes.

[2020-04-02 19:56] #1124 closed

[2020-04-03 15:02] #1120 closed

[2020-04-03 15:31] fxbois commented on #1123
@markskayff I've tried with a simple example. &eacute; has been turned in é

[2020-04-03 15:31] #1123 closed

[2020-04-03 16:16] #1119 closed

[2020-04-03 16:18] fxbois commented on #1112
in fact I already use tags and release:
https://github.com/fxbois/web-mode/releases

[2020-04-03 16:18] #1112 closed

[2020-04-03 16:22] fxbois commented on #1118
@mohkale do you have any idea where should I put my call to ```(web-mode-guess-engine-and-content-type)``` ?

[2020-04-03 16:33] fxbois commented on #1117
@radamant web-mode does not have a real js parser ...
semicolons are currently required at the end of lines

[2020-04-03 16:33] #1117 closed

[2020-04-03 16:45] fxbois commented on #1091
@yuhan0 ok I understand. ```{{ }}``` are blocks in vue template. So this behaviour is normal. Backend blocks are priority over client tokens (comments, strings)

[2020-04-03 16:45] #1091 closed

[2020-04-03 19:43] #1085 closed

[2020-04-03 19:43] #1080 closed

[2020-04-03 19:56] fxbois commented on #1118
I was wondering if I could reorganize my code in a way that would not require users to add a hook

[2020-04-03 20:53] mohkale commented on #1118
Do you mean so users don't have to add a hook to `hack-local-variables-hook`? Wouldn't the only way to get around that be to add the hook ourselves? So we replace [this](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L2696) line by adding a hook to `hack-local-variables-hook` or `find-file-hook` (I just noticed that's also run after a files local variables have been set). The hook func

[2020-04-03 21:00] fxbois commented on #1118
In fact I've never used ```dir-locals``` and have quite often some questions about web-mode not being compatible with it. So next time I'll point to this issue to solve the problem.

[2020-04-03 21:00] #1118 closed

[2020-04-04 03:07] JacksonGariety opened #1126 "Editing JSX is generally very slow"
Web-mode performs quite well on HTML files, as well as JavaScript files. But editing JSX is very slow for some reason, especially when indenting/making returns. I'm willing to disable some fontification features in order to gain performance. I have this in my emacs file:

[code]

But it doesn't seem to have any affect on performance, and ~~I can't even tell if any features are actually being disab

[2020-04-04 07:50] fxbois commented on #1126
could you post your example on gist please (one that triggers slowness)

[2020-04-04 23:10] JacksonGariety commented on #1126
@fxbois my code is private, but I googled "jsx example" and found this document: https://github.com/gothinkster/react-redux-realworld-example-app/blob/master/src/components/Editor.js

If you put your cursor on line 133 and hold the return key, you will see that emacs locks up.

It may also be important to note that the lag isn't simply correlated with the amount of elements in the document. Removi

[2020-04-07 12:55] chunlinyao opened #1127 "When work with lsp-mode, right side quote of inserted snippet lost"
When I enable lsp-mode, inputed some prefix of attribute, the dropdown show candidate, If I selected on attribute and press enter key, the snippet inserted into buffer like `foo=" `,  it should insert `foo=""`.

The right side quote lost, and caret is one space between the left quote. I tested lsp-mode with HTML mode, it can insert attribute correctly, so I think there maybe some issue in web-mode

[2020-04-07 13:58] fxbois commented on #1127
lsp-mode is not compatible with web-mode

[2020-04-09 14:02] stevemolitor opened #1128 "CSS in JS"
How can I extend `web-mode` to support CSS in JS? There are several different ways to do it, depending on which library you use, but for example using emotion you might have something like this in a `.jsx` or `.tsx` file:

[code]

I'd like to highlight everything inside the backticks block as CSS.

Happy to contribute if you can point me in the right direction. Thanks!

[2020-04-10 22:42] genehack opened #1129 "HTML comment completion leaves extra `>`"
When I type `<!-`, web-mode realizes I'm trying to make an HTML comment and completes the tag for me — but it completes to `>` with an extra closing angle bracket (pipe for location of point).

Here's `M-x web-mode-debug` output:

[code]

[2020-04-10 22:47] genehack commented on #1129
Apologies -- this is due to `smartparens-mode` being enabled. Disabling it fixes this behavior.

[2020-04-10 22:47] #1129 closed

[2020-04-12 09:42] thkoch2001 commented on #1112
Yes, you already use tags and releases. But could you please tag a **new** release? The current version 16 is two years old and a lot has changed since then.

The "version:" field in web-mode.el is "16.0.29", not just "16" as the last git tag.

[2020-04-12 10:51] fxbois commented on #1112
@thkoch2001 ok, understood.
I'll finish the last patches and provide a new release.

[2020-04-13 20:46] #1127 closed

[2020-04-13 21:15] #1073 closed

[2020-04-18 21:49] fxbois commented on #1128
I last commit brings this.
You can customise 3 new faces : ```web-mode-interpolate-color1-face```, ```web-mode-interpolate-color2-face```, ```web-mode-interpolate-color3
<img width="596" alt="emacs-literal" src="https://user-images.githubusercontent.com/959622/79672076-2a882400-81cf-11ea-9fae-4f94954f155b.png">
-face```

[2020-04-18 22:19] fxbois commented on #1116
@erenhatirnaz it is now solved

[2020-04-19 08:06] fxbois commented on #1052
I've pushed some support : see
https://github.com/fxbois/web-mode/issues/1128

[2020-04-19 10:09] erenhatirnaz commented on #1116
Yes! It's fixed. Thank's a lot!

[2020-04-19 10:09] #1116 closed

[2020-04-19 14:13] swans-one commented on #1052
Really excited to see this! Just playing with it now. I have a couple questions about the faces. I'll add a question there.

Thanks for the update!

[2020-04-19 14:13] #1052 closed

[2020-04-19 14:32] swans-one commented on #1128
Hey @fxbois , this is awesome. A couple questions though:

it looks like only one of those three faces is actually used in the highlighting. You use `web-mode-interpolate-color1-face` in [this block](https://github.com/fxbois/web-mode/commit/989c0beda50cb90324acaf67ba08ed81cd7984fa#diff-65d99b4476be4737f539e1bc19325383R6827), which colorizes html tag names and css property names. Also,` web-mode-v

[2020-04-19 15:06] fxbois commented on #1128
@swans-one I can do this (bracket and attr names)

[2020-04-19 20:04] #999 closed

[2020-04-19 20:05] #1107 closed

[2020-04-19 20:24] fxbois commented on #1100
I've started to look at this and it is too complicated because I have too much ways of commenting things ( ... many template engines have their own delimiters)

[2020-04-19 20:24] #1100 closed

[2020-04-19 21:05] #1101 closed

[2020-04-19 21:06] fxbois commented on #1101
@rpoddighe I've pushed a fix (use ```web-mode-block-padding```)

[2020-04-19 21:59] fxbois commented on #1128
@swans-one the last commit brings this

[2020-04-21 19:00] stevemolitor commented on #1128
@fxbois Last commit works great for me, thanks!

How would I get `company-mode` css completion working when editing CSS in JS? Thanks.

[2020-04-21 19:06] fxbois commented on #1128
@stevemolitor I do not use ```company-mode``` and can not help you on this

[2020-04-24 10:00] #1128 closed

[2020-04-24 11:53] #1077 closed

[2020-04-24 12:38] fxbois commented on #1086
@sollidsnake could you try with the last version please

[2020-04-24 15:46] fxbois commented on #1126
@JacksonGariety could you try with the last version ?

[2020-04-24 18:26] JacksonGariety commented on #1126
Unfortunately, performance when editing the file posted above is much the same for me on today's web-mode version `20200424.1153`.

[2020-04-24 19:41] stevemolitor commented on #1128
Sorry this is a little off topic, but in case anyone else stumbles across this:

The new `web-mode-is-css-string` function will help setup `company-mode` to setup company completion.

For example, I use `tide-mode`, and my `company-mode` backends when editing tsx files are `company-tide` and `company-css` in that order. I can advise `company-tide` to return `nil` from the company `prefix` command,

[2020-04-24 21:45] fxbois commented on #1126
@JacksonGariety it must be related to your config.
When I hit renter at the place you mention, it is instantaneous on my site

[2020-04-25 04:40] stevemolitor opened #1130 "Update `web-mode-language-at-pos` to consider CSS in JS"
I _think_ `web-mode-language-at-pos` needs to be updated to consider CSS in JS - see #1128.

I had to add the following advice to `web-mode-language-at-pos` to help get `company-mode` completion to work:

[code]

I needed to do that because [`company-css.el`](https://github.com/company-mode/company-mode/blob/master/company-css.el#L424) calls `web-mode-language-at-pos`. I'm guessing other things li

[2020-04-25 07:38] fxbois commented on #1130
@stevemolitor the way web-mode works, it wouldn't make sense to do that. It is better that you do this on your code.

[2020-04-25 07:38] #1130 closed

[2020-04-27 17:04] JacksonGariety commented on #1126
@fxbois if you hold the enter key, I think you will see that `web-mode` has trouble making new lines fast enough to keep up. As the file gets larger than the one I posted above, it gets worse.

If it's too difficult to improve performance, is there a way we can disable some jsx niceties? Maybe disabling syntax highlighting on JSX markup tags?

[2020-04-27 17:15] fxbois commented on #1126
@JacksonGariety force the content-type as javascript (not jsx)
see ```web-mode-content-types-alist```

[2020-04-29 16:26] ssbb opened #1131 "Indentation in case/cond blocks EEx (Elixir)"
I think PR for #1005 brokes it.

Example block of code:

[code]

So it should be formatted this way. Right now it indents after each `->` block and looks like:

[code]

Probably parser should check if we inside cond/case block and do not indent in this case.

[2020-04-29 17:56] fxbois commented on #1131
@ssbb @lukad
what should I do ?
Is ```-> %>``` for anonymous function ?

[2020-04-29 17:57] #1126 closed

[2020-04-29 17:57] #1086 closed

[2020-04-29 19:07] ssbb commented on #1131
@fxbois as I know `->` in Elixir is used only for 2 things:

1. Anonymous functions
2. Branches in `do ... end` blocks.

there is no so much `do ... end` blocks with branches support. I think in templates only `case` and `cond` is used. Is there a way to check for current context? Something like:

"If nearest parent is `<%= cond/case ... do %>` then do not increase indentation level"?

[2020-04-30 14:03] smonff opened #1132 "Support of helper tags for indentation of JavaScript in Mojolicious templates"
Hi,

I use `web-mode` for editing Mojolicious (Perl) templates. If I use a standard `<script></script>` tag, no problem, I have indentation and syntax coloring:

[code]
The issue is that Mojolicious allow the use of some [*tag helpers*](https://mojolicious.org/perldoc/Mojolicious/Plugin/TagHelpers#javascript) that generate the tags and all the attributes boilerplate:

[code]

In this case, no inde

[2020-04-30 21:39] #1132 closed

[2020-04-30 21:39] fxbois commented on #1132
@smonff I've pushed a fix

[2020-05-01 06:59] smonff commented on #1132
Thank you very much for your work! I will give it a try today.

[2020-05-01 07:55] fxbois commented on #1131
@ssbb I can not indent under ```<% @filter.min_price ->  %>``` if there is not an ending block

[2020-05-01 09:53] lukad commented on #1131
A naive workaround could be to only indent after `->` if it's after an `fn ..`.
Can't really help here though. I'm no longer using emacs.

[2020-05-01 12:39] smonff commented on #1132
It works perfectly!

Should have told you before, but there is a very similar situation for a [`%= stylesheet` helper](https://mojolicious.org/perldoc/Mojolicious/Plugin/TagHelpers#stylesheet) that could be handled too.

I'll look at the `web-mode` code and will try to send a patch. If I won't be able to do it (my elisp capacities are very limited), I'll provide a detailed ticket about it so hopef

[2020-05-06 13:31] mustaqimM opened #1133 "Wrap and indent html attributes each on a new line"
Hi there, is it possible to auto indent html attributes each on a new line?

Like from this:
![image](https://user-images.githubusercontent.com/24436622/81182441-506a4280-8f9d-11ea-8981-5357b366d452.png)

to something like this:
![image](https://user-images.githubusercontent.com/24436622/81182585-81e30e00-8f9d-11ea-96f9-9b6d0b552995.png)

[2020-05-08 11:02] gjm opened #1134 "Customize JS open/close tags"
Hi.

Is it possible to customize the open/close tags for a Javascript region? I'm guessing `web-mode` interprets something inside a `<script></script>` block as Javascript but I would like to be able to extend this to other tags.

I'm using Laravel and have a [Blade component](https://laravel.com/docs/7.x/blade#components) that wraps around JS code with some extra sugar and I would like to be able

[2020-05-13 23:16] lljr opened #1135 "Is it possible to enable auto-pair on handlebars control blocks?"
I would like for

[code]
to work... but it doesn't.

My current config is:
[code]

[2020-05-18 16:23] lljr opened #1136 "How to toggle emberjs templates to recognize splattributes"
Hello

my config:
[code]

I think syntax highlighting gets broken when using splattributes in emberjs projects
![web-mode-emberjs-issue](https://user-images.githubusercontent.com/36335687/82236564-e6855d80-98f9-11ea-9899-697f19fb03b1.png)

Thanks

[2020-05-18 17:02] fxbois commented on #1136
@avocadoras please post your example on gist and give a link to the specs

[2020-05-20 08:53] guoxiangyang opened #1137 "Very long line make web mode almost can not work"
Web mode almost can not make copy/paste, reident ... with followed html file.
Almost every operation is stacked...
This file contain a embeded web font in css line.
If delete the css font line, it still a bit slow when do ident for a 1k lines file.
https://hundredrabbits.github.io/Ronin/index.html

web-mode version : 20200501.1939
emacs versin : GNU Emacs 26.3 (build 1, x86_64-pc-linux-gnu, GTK+ V

[2020-05-21 02:25] avocadoras commented on #1136
@fxbois https://gist.github.com/avocadoras/173397111ddf81d0bf4766ef6e054010
is this ok: https://guides.emberjs.com/release/components/component-arguments-and-html-attributes/#toc_html-attributes

[2020-05-21 02:34] avocadoras commented on #1136
I think it also breaks on lines like `src={{this.src}}` like in the first comment

[2020-06-03 17:08] jsmestad commented on #1133
Also wondering about this :)

[2020-06-03 19:21] NateEag commented on #1133
I'd use this if `web-mode` supports it.

I prefer to format my HTML with the first attribute immediately following the tag name, and others wrapped / indented to match:

[code]

Just my $0.02.

[2020-06-03 20:34] fxbois commented on #1133
@mustaqimM you mean you want a command that does this ?

[2020-06-04 04:33] mustaqimM commented on #1133
Ya, which could work something like this:
https://github.com/dannyconnell/vscode-split-html-attributes
or `electric-newline-and-maybe-indent`

[2020-06-06 09:34] ianpan870102 commented on #1133
I suggest incorporating Prettier into your editor. Maybe format-on-save can solve it

[2020-06-06 14:29] fxbois commented on #1133
I’ll work on this.

[2020-06-08 00:14] sontek opened #1139 "No indentation allowed for inline <script> tag?"
Hello, I'm coding some HTML that looks like this (its in a .ejs file if that matters):

[code]

My cursor is on the `*`.   I'm trying to hit Tab here to indent to start coding the body of the script tag and it refuses to move.  It just doesn't do anything at all.  Interestingly, if I'm on the `<script>` tag and I say "insert line below" it does in fact indent it the way I expect.

So I have 2 ques

[2020-06-08 16:36] sontek commented on #1139
This has gotten much worse as I coded, I'm not sure whats going on now but I can't get it to match the formatting of the code at all, the code is all aligned on 4 spaces inside the inline and even "insert line below" has started outdenting to the weird location:

![Jun-08-2020 12-35-22](https://user-images.githubusercontent.com/151924/84056697-93e11380-a984-11ea-8f29-4c9cb649b40d.gif)

[2020-06-08 16:49] sontek commented on #1139
Sometimes it just fills in and autocompletes stuff that is not relevant to what I'm typing.  For example, if I want to write a new listener:

![Jun-08-2020 12-47-57](https://user-images.githubusercontent.com/151924/84057885-5c736680-a986-11ea-8737-301e77cba2b3.gif)

See how it added the `sendMessage` in there while I was typing?

[2020-06-08 18:06] fxbois commented on #1139
@sontek please try with an empty .emacs

[2020-06-08 18:44] sontek commented on #1139
At least with the indentations, its the same:

![Jun-08-2020 14-43-39](https://user-images.githubusercontent.com/151924/84068112-7ddc4e80-a996-11ea-8c73-3c86da71ee84.gif)

[2020-06-08 18:48] sontek commented on #1139
ok, with an empty one its just wanting to use 2 characters instead of 4 and it won't let him hit tab a second time to go to 4.   Can I tell it not to refuse to do what I want?   I like having some sane defaults but if it can't detect the format of the code then it'd be nice to have it not try to force the default, just suggest it

[2020-06-08 18:50] sontek commented on #1139
It doesn't indent the second curly though:

![Jun-08-2020 14-49-43](https://user-images.githubusercontent.com/151924/84068676-58037980-a997-11ea-8a5b-725c7c2a7bd6.gif)

[2020-06-08 18:51] sontek commented on #1139
HTML I'm using inside the `.ejs` file
[code]

[2020-06-12 05:02] GuyShane opened #1141 "Svelte multiline elements"
When I try to make a svelte element with several properties on individual lines, the indentation and highlighting gets a little messed up.

For example, the following code is formatted with incorrect tabs:
[code]
I would expect to be formatted like this:
[code]
It does, however, work as expected when surrounding values in quotes:
[code]
I would just prefer to be able to omit quotes when using dyna

[2020-06-12 14:14] jadestrong opened #1142 "Can not indent in <style lang="stylus"><style>"
Now it looks like this:
[code]

<details>

[code]
</details>

[2020-06-14 00:44] lljr opened #1143 "Consider making `web-mode-comment-insert` engine aware"
When editing a handlebars buffer like this
(`|` determines the current cursor position)
[code]
and then `M-;` it inserts a `` style comment, but I want `{{!-- --}}`.

Looking at `web-mode-comment-insert`, this could be added
[code]

in
[code]
I hard-coded the variables in the last code block to do a quick test. I also deleted references to `language` since this was only used to print a message, wh

[2020-06-17 22:34] sggutier opened #1144 "Edit closing tags"
Is there a way of editing the closing tags automatically, like in PhpStorm?

![indekso](https://user-images.githubusercontent.com/5473302/84957360-a49a3380-b0c0-11ea-8128-8ce90c149ce8.gif)

[2020-06-18 05:17] fxbois commented on #1144
You can use the command web-mode-element-rename

[2020-06-18 13:04] NateEag commented on #1144
I use [auto-rename-tag-mode for the behavior in your GIF](https://github.com/jcs-elpa/auto-rename-tag).

[2020-06-18 13:07] #1144 closed

[2020-06-18 15:50] sggutier commented on #1144
This seems to be able to able to modify it, but it breaks highlighting and `web-mode-navigate`.

![indekso](https://user-images.githubusercontent.com/5473302/85042998-7e70a400-b151-11ea-9f1c-647f82bd99fd.gif)