[2015-11-25 07:00] vmalloc opened #639 "Integration with multiple-cursors is broken"
At some point recently web-mode broke compatibility with multiple-cursors (or perhaps it's the other way around, I just don't know how to approach investigating it).

Steps to reproduce:

1. Open a file in web-mode
2. Mark a word (say a tag name)
3. call `mc/mark-next-like-this`

The selection around the first word disappears, but around the next word it remains, which makes editing through multip

[2015-11-25 07:20] fxbois commented on #639
@vmalloc could you ask to the maintainer ? I do not debug minor-mode issues but can provide help

[2015-11-25 07:49] vmalloc commented on #639
I will try. Thanks!

[2015-11-27 15:35] geekplux opened #641 "Support for Vue"
[Vue](http://vuejs.org) is a library for building interactive web interfaces. In the Vue.js project we can divide the page into many small components and we can create a component by using `.vue` file. It looks like:

![[Single File Component](http://vuejs.org/guide/application.html#Single_File_Components)](http://vuejs.org/images/vue-component.png)

so is there some tricks to highlight the syntax

[2015-11-27 16:51] jobevers opened #642 "web-mode-use-tabs not called after hook"
I set `indent-tabs-mode` to True in web-mode-hook:

[code]

but, that doesn't cause `web-mode-use-tabs` to be called.

Instead I had to modify my hook to do:

[code]

I think it would be worthwhile to add a call similar to https://github.com/fxbois/web-mode/blob/master/web-mode.el#L2252 to be run after the hook.

[2015-11-27 20:29] fxbois commented on #642
@jobevers the second version is the good one. If ``ìndent-tabs-mode``` was set outside the hook you wouldn't need to call ```web-mode-use-tabs```

[2015-11-27 20:29] #642 closed

[2015-11-27 20:31] fxbois commented on #641
adding
```(add-to-list 'auto-mode-alist '("\\.vue\\'" . web-mode))```
would do the job, no ?

[2015-11-27 20:38] fxbois commented on #639
@vmalloc so 12.2.11 does not work and 12.2.10 works fine ... right ?

[2015-11-27 21:37] vmalloc commented on #639
I don't know about the version numbers, but using `git bisect` narrowed it down to a single commit - https://github.com/fxbois/web-mode/commit/fa3b49f6b34616a8bd4f4b3628b2f6f75db3ce5e. One commit prior it worked, and after this commit it no longer works.

[2015-11-28 16:02] geekplux commented on #641
It works! Thank you.

[2015-11-28 16:02] #641 closed

[2015-11-28 18:21] fxbois commented on #633
@jacktrades should be fixed with last commit

[2015-11-28 18:23] fxbois commented on #637
with last version, you can try
```(add-to-list 'web-mode-indentation-params '("case-extra-offset" . nil))```

[2015-11-28 18:44] AriaFallah commented on #637
Thank you very much!

[2015-11-28 18:44] #637 closed

[2015-11-28 21:33] jacktrades commented on #633
Looks great, thanks!

[2015-11-28 21:33] #633 closed

[2015-11-30 17:01] dustinpaluch opened #643 "Attribute kill misses the first character"
<div class="test"></div>
    <a href="#"></div>

**Steps to reproduce:**
1. emacs -q
2. load web-mode, open a new php file, paste above code, activate web mode
3. With the point ~~somewhere over~~ over an attribute (excluding the first character), do `C-c C-a k`

**Expected Results:**

    <div ></div>
    <a ></div>

**Actual Results:**

    <div c></div>
    <a h></a>

[2015-11-30 17:05] dustinpaluch commented on #643
New observation: It does work correctly if your point is on the first character of the attribute.

[2015-11-30 20:00] fxbois commented on #643
@dustinpaluch should be fixed with last commit

[2015-11-30 22:39] dustinpaluch commented on #643
@fxbois working correctly in "13.0.4". Thank you.

[2015-11-30 22:39] #643 closed

[2015-11-30 22:44] dustinpaluch opened #644 "PHP function with underscore breaks syntax highlighting"
<?php
    under_score();
    ?>

**Steps to reproduce:**
1. emacs -q
2. load web-mode, open a new php file, paste above code, activate web mode

**Expected Results:**
syntax highlighting is applied to `under_score`.

**Actual Results:**
syntax highlighting is only applied to `score`.

[2015-12-01 17:15] dustinpaluch commented on #644
Seems fixed in 13.0.5. Thank you! Feel free to close.

[2015-12-01 17:38] #644 closed

[2015-12-02 06:16] AriaFallah opened #645 "Syntax highlighting of es6 arrow functions."
<img width="351" alt="screen shot 2015-12-02 at 1 12 32 am" src="https://cloud.githubusercontent.com/assets/9424976/11523649/ffef22d2-9891-11e5-98b6-989ea6542644.png">

<img width="444" alt="screen shot 2015-12-02 at 1 13 29 am" src="https://cloud.githubusercontent.com/assets/9424976/11523653/06a0f704-9892-11e5-9d1f-5e9a0f884a47.png">

If written as an arrow function like this it doesn't get synta

[2015-12-03 21:00] chalmagean opened #646 "[jsx] folding issue"
I'm using web-mode to edit jsx and folding doesn't seem to work. I get the following error: `block-controls-get ** invalid value (752) **`

Here's the code I am trying to fold (cursor is before the `r` in `return`).
[code]

[2015-12-04 07:19] fxbois commented on #646
@chalmagean folding only work for html elements and active blocks. Many minor modes can do this ... ask on emacs stackoverflow

[2015-12-04 07:19] #646 closed

[2015-12-04 19:43] fxbois commented on #645
@AriaFallah you can try the last version on github

[2015-12-06 23:59] wavexx opened #647 "indent-tabs-mode behavior is broken"
I have indent-tabs-mode set to t globally, which forces a call to ``web-mode-use-tabs``.

None of the changes by web-mode-use-tabs make any sense to me: they simply set all padding to 0 and offsets to ``(or tab-width standard-indent)``.

I cannot customize any of these offsets anymore through the standard customize interface, but have to resort to the web-mode-hook. I also generally set indent-tab

[2015-12-07 07:15] fxbois commented on #647
@wavexx please provide a very clear description of what would be better.

[2015-12-07 12:06] wavexx commented on #647
I'd like either lines 2260-2261 to be removed, which I think is preferable, or changed to something like:

[code]

[2015-12-08 07:08] #645 closed

[2015-12-08 07:12] fxbois commented on #638
@amasad should be fixed with latest commit

[2015-12-08 08:39] jacktrades opened #648 "Object property highlighting"
Not very important, but property highlighting seems to be broken when (some?) keywords are used in a property name separated by underscores.

![keyword highlighting](https://cloud.githubusercontent.com/assets/385989/11651189/cc398962-9d43-11e5-82b0-b5ee981c368a.png)

[2015-12-08 10:39] SamHasler commented on #554
Why was this closed? It's still an issues in 13.0.7

[2015-12-08 22:05] fxbois commented on #554
@SamHasler do you plan to work on this ?

[2015-12-08 22:13] fxbois commented on #648
@jacktrades should be fixed with last commit

[2015-12-09 18:13] hut8 opened #649 "ERB fontification on identifiers containing keywords"
In ERB mode, if I'm highlighting:

[code]

I would expect that `class_for_col` would be treated as a single token, and therefore would only be fontified one way. But it looks like this to me:

![fontification-issue](http://i.imgur.com/Z8mt6nMl.png)

I updated to 20151208.1412 before posting this.

[2015-12-09 18:47] fxbois commented on #649
@dgutov with the change to the syntax-table, I now have issues with fontification rules like ```(cons (concat "\\<\\(" web-mode-erb-builtins "\\)\\>") '(0 'web-mode-builtin-face))``` (due to ```\\<```)

What advice could you give me ?

[2015-12-09 19:10] dgutov commented on #649
@fxbois You should try replacing them with `\\_<`, which means "symbol boundary".

[2015-12-10 16:13] transtone commented on #503
emacs's js-jsx-mode works well.

[2015-12-10 19:15] fxbois commented on #649
@dgutov seems obvious now ! thx a lot

@hut8 should be fixed with last commit

[2015-12-11 00:38] hut8 commented on #649
Confirmed fixed. Thanks for such a quick fix.

[2015-12-11 00:38] #649 closed

[2015-12-12 14:40] #648 closed

[2015-12-12 14:51] fxbois commented on #647
@wavexx I've removed the call to ```web-mode-use-tabs```

[2015-12-12 15:03] wavexx commented on #647
Thanks. I was using defadvice to work around it.

[2015-12-12 15:03] #647 closed

[2015-12-12 15:25] #638 closed

[2015-12-12 15:37] fxbois commented on #639
@vmalloc could you try the last version on github ?

[2015-12-12 17:25] fxbois commented on #626
@Archenoth could you test the last version on github please

[2015-12-12 20:24] vmalloc commented on #639
@fxbois seems to work great!

[2015-12-13 04:10] Archenoth commented on #626
I guess the two examples were two different problems...

The thing with:
[code]
...works perfectly as of the most recent commit (Sweet!), though the problem in the first example still stands.

Should I create another issue for that? Or would should we just keep this one open..?

[2015-12-13 11:26] fxbois commented on #626
@Archenoth I've pushed a new patch

[2015-12-14 06:45] Archenoth commented on #626
Awesome, both seem to work now.

Thanks fxbois..!

[2015-12-14 06:45] #626 closed

[2015-12-15 18:38] johnbendi opened #650 "Fold/Unfold does not work properly with namespaced xml files"
I know probably the software was not designed to do this but could it be considered as a feature request. It will be nice to have folding work for long xml files so please consider. Also if it's possible to borrow validation code from nxml-mode that will be nice to have to. This issue may be rightly considered a feature request.

Some supporting screenshots:

Before fold:
![xsd_screenshot_before_f

[2015-12-15 21:17] fxbois commented on #650
@johnbendi please post your example on gist

[2015-12-15 21:41] vergiljk opened #651 "PHP commenting bug"
When I edit a PHP file and comment multiple lines of code, only the first line is highlighted.

![image](https://cloud.githubusercontent.com/assets/5583965/11824940/13d6d4ec-a342-11e5-98d5-ee8416764e74.png)

But when I reopen the file, it highlights all the lines appropriately. I can only reproduce this issue while editing a file.

[2015-12-15 22:33] fxbois commented on #651
@vergiljk please describe the complete test case ..
how do comment ? with a shortcut ?

[2015-12-16 00:24] vergiljk commented on #651
@fxbois Yep sure. I didn't use any shortcuts. I just typed code normally.

Here's the test case.

**Test Case:**

1. I have a test.php file with some code

[code]
2. I commented lines 1 to 4 manually without using any shortcuts

[code]

3. **Current Result:** Only 1 line is highlighted (screenshot below)

 ![image](https://cloud.githubusercontent.com/assets/5583965/11828095/ef5f2ce4-a356-11e5-9b24

[2015-12-16 07:33] fxbois commented on #651
@vergiljk perfect. I'll work on this.
Could you post the output of ```web-mode-debug``` please

[2015-12-16 20:00] fxbois commented on #651
@vergiljk please try the last version on github

[2015-12-16 20:31] vergiljk commented on #651
@fxbois It works great with the latest version! Thanks for the quick response! :+1:  :)

[2015-12-16 20:31] #651 closed

[2015-12-18 07:12] #639 closed

[2015-12-18 22:01] fxbois commented on #650
@johnbendi please try the last version on github

[2015-12-20 20:42] #650 closed

[2015-12-26 11:53] Barmus opened #652 "Theme"
May I know the theme of the Screenshot on the web-mode.org ? thanks

[2015-12-29 17:29] KudaSai opened #653 "Two forward-slashes in @import in css seems to break indention"
When you add an import statement to the beginning of a .css file which contains to forward-slashes, web-mode interprets that as a comment and indents the remainder of the file.

[code]
Here the body element should be completely to the left but is indented instead.

I'm pretty sure this has to do with the // in the import statement because if I escape the first one everything works (and so does the

[2016-01-02 07:31] pkvov opened #654 "javascript regular breaks indention"
jQuery.validator.addMethod("lettersonly", function (value, element) {
            return this.optional(element) || /^[^:%,'\*\"\s\<\>\&]+$/i.test(value);
        }, "Letters only please");

thanks for the mode and happy new year.

[2016-01-03 19:12] fxbois commented on #654
@pkvov could you poste the output of ```web-mode-debug``` please

[2016-01-03 19:16] fxbois commented on #653
@KudaSai please try the last version just pushed on github please

[2016-01-03 19:23] fxbois commented on #652
@Barmus Hi, here is my config
http://web-mode.org/assets/theme.el

[2016-01-03 19:23] #652 closed

[2016-01-03 19:39] KudaSai commented on #653
Just tested and it works!

Thanks for the quick fix.

[2016-01-03 19:39] #653 closed

[2016-01-05 05:15] pkvov commented on #654
--- WEB-MODE DEBUG BEG ---
versions: emacs(24.5) web-mode("8.0.4")
vars: engine("php") content-type("html") file("/Users/kepeng/workfolder/wsbz/shop/templates/default/home/registerStep2.php")
system: window(ns) config("x86_64-apple-darwin13.4.0")
colors: fg(nil) bg(nil)
modes: whitespace-mode(nil) global-whitespace-mode(nil) rainbow-mode(nil) idle-highlight-mode(t) fic-mode(nil)
(transient-mark-mo

[2016-01-05 07:25] fxbois commented on #654
@pkvov please use the last version on github

[2016-01-05 07:25] #654 closed

[2016-01-05 14:40] pkvov commented on #654
@fxbois i am ok now, thanks

[2016-01-07 19:38] ignativs-reilly opened #655 "Indentation of conditional comments"
Can't control the indentation of conditional comments. All the lines of the comment (included the closing '-->') get indented to 4 space.

Look lines 27-31:
Original ------------- https://gist.github.com/ignativs-reilly/9eacfb3d639b7f2c4cdf
After indent -------- https://gist.github.com/ignativs-reilly/bd5653289510af542003

Builtin HtmlMode and SgmlMode behaves the same way as web-mode.

[2016-01-07 23:53] ignativs-reilly commented on #655
In fact my expression is wrong, this is not inherent to "conditional comments" (sorry), is the way all html comments behave. I think it would be nice to control the way comments are indented, both the tag delimiters and content. Thanks a lot.

[2016-01-08 04:25] paxperscientiam opened #656 "auto-closing undesirable behavior when pasting code"
Hi @fxbois ,

I wanted to raise a small problem I've been having with "auto-closing." While it works great when you're writing your own code, an issue crops up when code is pasted into emacs.

If the user attempts to paste a complete block of code, web-mode still attempts to auto close the block (and sub-blocks). So, the user winds up with unnecessary closing tags appended to the end of the block

[2016-01-08 07:16] fxbois commented on #655
I do not understand. Use precise example (before / after)

[2016-01-08 07:27] fxbois commented on #656
@paxperscientiam are you using emacs in a terminal. If it is the case, it is the normal behavior (see web-mode.org).

[2016-01-08 08:43] geraldus opened #657 "web-mode smarty indentation issues"
**Web-mode** indents closing `foreach` **smarty** tags too deep, here is an example:
[code]
Also, there is no extra indent level in smarty's `if` conditions:
[code]

Note, in my current setup I have:
[code]
But I guess this does not matters

[2016-01-08 08:50] fxbois commented on #657
@geraldus could you post the output of ```web-mode-debug``` please

[2016-01-08 12:21] geraldus commented on #657
Surely, here it is
[code]

[2016-01-08 12:28] fxbois commented on #657
@geraldus I can not trigger your issue. Perhaps with a very light .emacs to see if a config/minor-mode is not the culprit

[2016-01-08 13:18] geraldus commented on #657
You can see full `.emacs` [here](https://github.com/geraldus/g-dots/blob/master/.emacs).

[2016-01-08 13:21] geraldus commented on #657
Some times it behaves differently for `foreach` statements and aligns it as in above example for `if` blocks.
Indent occurs when I insert newlines pressing `<return>` (runs `evil-return` in my case) or pressing `<tab>` key (which runs `indent-for-tab-command`).

Thank you very much for your attendance.

[2016-01-08 13:22] fxbois commented on #657
can I close ?

[2016-01-08 13:54] geraldus commented on #657
Surely, but does this means "this is not web-mode issue"?

[2016-01-08 14:04] fxbois commented on #657
@geraldus if you look at the sources, you will see that ```indent-line-function``` is bound to ```'web-mode-indent-line```
Perhaps you should ask on stackoverflow

[2016-01-08 14:04] #657 closed

[2016-01-08 15:20] ignativs-reilly commented on #655
The first comment has the example, lines 27-31.

[2016-01-08 15:53] geraldus commented on #657
@fxbois indeed, `indent-line-function` is set to `web-mode-indent-line`, sorry for that but first time I got wrong result because executed `describe-variable` function in Help buffer.

[2016-01-09 17:50] fxbois commented on #655
@ignativs-reilly should be ok with last commit

[2016-01-09 18:10] #656 closed

[2016-01-10 01:23] ignativs-reilly commented on #655
Yes, now conditional comments are indented in bootstrap style. Thanks!

[2016-01-10 01:23] #655 closed

[2016-01-12 15:21] TheBB opened #658 "Whitespace after last attribute in tag"
E.g. in HTML,

type: `<tag attr=value">`
get: `<tag attr="value" >`

This is typically not the desired behavior. Is there any way to get rid of that space when closing a tag with `>` (but not, say, with `/>`)?

[2016-01-12 22:59] fxbois commented on #658
I can not trigger this. Could you post a video ?

[2016-01-12 23:16] TheBB commented on #658
Sure: https://vid.me/iLYp

Emacs 24.5.1, run with `emacs -q` and a fresh web-mode installation from MELPA.

[2016-01-12 23:19] fxbois commented on #658
@TheBB thx
It may be due to a minor mode.
Please try with a very light .emacs.

[2016-01-13 02:15] trevorsenior opened #659 "JSX array formatting in properties"
This is something that I noticed I've been adjusting a lot without thinking to ask about it here.

Currently the formatting of JSX components with array properties is as follows:

[code]

vs.

[code]

(Removed 4 spaces from the array items, and the closing of the array)

This may be a non-issue, or done on purpose. If so please close this & thanks for all the work you've put into this mode.

[2016-01-13 07:49] TheBB commented on #658
That was in `emacs -q`. I just reproduced it in `emacs -Q` as well.

`describe-mode` shows:

Blink-Cursor Electric-Indent File-Name-Shadow Font-Lock
Global-Font-Lock Line-Number Menu-Bar Mouse-Wheel Tool-Bar Tooltip
Transient-Mark

I just disabled all of these in turn. I need font lock to be on to reproduce it, but I also need that to get any kind of auto-quoting behaviour from web-mode.

I'm surp

[2016-01-13 07:57] TheBB commented on #658
It's here I assume: https://github.com/fxbois/web-mode/blob/master/web-mode.el#L8945-L8985

[2016-01-13 08:19] TheBB commented on #658
Well, I just had a brief look in that fnuction and I don't see any code on `?>` that checks whether there is a space in front and deletes it. I tried coding it myself but I must have run into some corner cases, or I don't understand entirely what I'm doing, because the result was not satisfactory.

[2016-01-13 11:17] #659 closed

[2016-01-13 11:18] fxbois commented on #659
@trevorsenior should be fixed with last commit

[2016-01-13 19:16] mikemakuch opened #660 "getting html comment tag in php code, .php file"
I've been using web-mode for a while, updated to latest. I'm getting html comment tags instead of php comments;

<?php

<!--    if (...) { xxxxx; }  ->

file: xxx.php

What would cause this?
Thanks

[2016-01-13 22:05] fxbois commented on #660
@mikemakuch I do not understand your report

[2016-01-13 22:07] mikemakuch commented on #660
When I use comment-region, it used to correctly comment lines of php code like

//  if (.....

but now it's using html comments

why?

[2016-01-13 22:14] fxbois commented on #660
@mikemakuch do you use ```^-,```

[2016-01-13 22:15] mikemakuch commented on #660
I don't know what that means.

[2016-01-14 07:35] fxbois commented on #660
@mikemakuch you can try the last version on github

[2016-01-14 07:41] fxbois commented on #658
@TheBB in fact, that is a feature. Would you like that I remove the whitespace when I detect that the char ```>``` is entered ?

[2016-01-14 08:30] TheBB commented on #658
Okay. Yes, if this is the intended behaviour, I think it would be nice to optionally delete the whitespace when the closing `>` is entered.

[2016-01-14 12:52] mikemakuch commented on #660
Ok that's better, that works. But can I use

// ...

instead of

/* ... */

how can I set that?

[2016-01-14 13:14] fxbois commented on #660
There is some doc on web-mode.org

[2016-01-14 13:14] #660 closed

[2016-01-14 13:21] mikemakuch commented on #660
Great that works. Is there any way to get the "//" to appear in the leftmost column instead of aligned with the line of code above?

[2016-01-14 13:58] fxbois commented on #660
could you post an example ?

[2016-01-14 14:54] mikemakuch commented on #660
The comment slashes "//" are inserted here:

[code]
but I'd like them to appear here in leftmost column;
[code]
Thanks

[2016-01-14 15:15] fxbois commented on #660
that's not possible at the moment

[2016-01-14 16:57] koolkt opened #661 "list comprehension jsx"
Indentation stops working correctly after declaring a list comprehension like this:
[code]
Any sugestions?

Thanks

[2016-01-14 17:00] fxbois commented on #661
Can you post the output of web-mode-debug

[2016-01-14 17:24] koolkt commented on #661
Loading 00debian-vars...done
Loading /etc/emacs/site-start.d/50dictionaries-common.el (source)...
Loading debian-ispell...
Loading /var/cache/dictionaries-common/emacsen-ispell-default.el (source)...done
Loading debian-ispell...done
Loading /var/cache/dictionaries-common/emacsen-ispell-dicts.el (source)...done
Loading /etc/emacs/site-start.d/50dictionaries-common.el (source)...done
Loading /home/a

[2016-01-14 17:41] fxbois commented on #661
Could you update?

[2016-01-14 22:17] koolkt commented on #661
How could i do that? I reinstalled web-mode with package-install but web-mode-debug still shows versions: emacs(24.4) web-mode("11.2.4"). I guess i could install it manualy but if there is something obious that i'm doing wrong while instaling from melpa i would like to know. I'm suposed to have version 13 aren't i?

Thanks a lot for helping me and thanks for this awesome package.

[2016-01-14 22:44] koolkt commented on #661
I figured it out i did'nt realized i hqd an old version of web-mode. I hqd to delete the folder for it to update correctly. I'm going to try with this new version thanks. I love web-mode.

[2016-01-15 10:12] stardiviner opened #663 "web-mode-current-column-highlight-face in fold element error display"
when enable `current-column-highlight` on folded tag.
Here is the screenshot:

![screenshot](http://i.imgur.com/gRz1Vf9.png)

[2016-01-15 10:16] stardiviner opened #664 "[feature request] add a new function to jump to a specific tag/element interactively"
RT.
Provide a function to use completion system like `ido`, `ivy`, `helm` etc with a `defcustom` to jump to a specific tag/element interactively will speedup user navigation in code. (Even though user can `isearch`)
What do you think?

[2016-01-15 15:51] fxbois commented on #664
Could you elaborate .... I do not really understand what you want

[2016-01-15 16:09] fxbois commented on #663
could you try with no other minor modes activated please

[2016-01-16 07:27] stardiviner commented on #664
Usually, `[C-s]` (`isearch`) will search full buffer context.
I hope web-mode can provide a function to only search **tags** in current buffer.
But this function should use completion system for searching just like swiper.
Can you understand my question now?
I can't describe it more detailed.

[2016-01-16 07:59] stardiviner commented on #663
You're right, I tested with `emacs -q`. It does not have this issue.

[2016-01-16 07:59] #663 closed

[2016-01-19 02:56] jilen opened #665 "Wrong indentation for playframework template"
![screenshot from 2016-01-19 10-56-23](https://cloud.githubusercontent.com/assets/546573/12408433/521b9a02-be9b-11e5-86b8-dbbbfe1a1a5d.png)

[2016-01-19 07:18] fxbois commented on #665
@jilen post your example on gist please

[2016-01-19 15:18] kevdunleavy opened #666 "Don't use mode for file type when narrowing"
It would be nice if you could narrow the buffer of a `.js` file and force `web-mode` to treat the narrowed content as HTML, for example.

**Use Case:**
I am using ES 6 multi-line strings in `.js` files to define templates for Angular JS directives. If I narrow the buffer to the content of the template string I can then change to `html-mode` I get nice syntax highlighting. I would like to be able t

[2016-01-19 15:57] fxbois commented on #666
@kevdunleavy could you post a example on gist please

[2016-01-19 16:17] kevdunleavy commented on #666
Sure, [here's an example directive](https://gist.github.com/kevdunleavy/c945c0600ec2bc52ecce).

If I mark a region from the start of line 9 to the end of line 11 and run `narrow-to-region` I am presented with a buffer containing only template code (HTML with Angular expressions). If I then run `html-mode` the syntax highlighting updates correctly and I can work on the template comfortably and then

[2016-01-20 01:22] jilen commented on #665
@fxbois  https://gist.github.com/jilen/640d272ada4bddb3cd7c

[2016-01-20 17:03] SlightlyCyborg opened #667 "C-o (open-line) is slow when editing php with web-mode"
Here are the relevant lines from my .emacs

[code]

[2016-01-20 17:14] fxbois commented on #667
what kind of file ?
Please post the output of ```web-mode-debug```

[2016-01-22 22:06] #667 closed

[2016-01-22 22:07] fxbois commented on #664
I won't have to work on this but will be happy to accept patch

[2016-01-22 22:07] #661 closed

[2016-01-26 12:20] TCMiranda opened #668 "Function call custom faces"
Hello,

Is it possible implement a similar behavior of js2-mode, in order to set a custom face for function calls like: something.`method()` ?

When using Javascript es6, I often get methods with barelly no custom faces, which makes it difficult to read pomises based functions. ex:

![captura de tela de 2016-01-26 10 12 20](https://cloud.githubusercontent.com/assets/10077439/12580336/da4d0292-c415

[2016-01-26 13:12] TCMiranda commented on #668
ps. I dont know much lisp, but I think that if I add the regexp here:
https://github.com/fxbois/web-mode/blob/master/web-mode.el#L1555

It will work, right?

Problem is I dont even know how to test it, modifying `~/emacs.d/elpa/web-mode.../web-mode.el` doesn't seems to work.

If one could help me get started, I can try to implement it.

Thanks!

[2016-01-30 20:38] dlparker opened #669 "Can't get indent to work with Django engine"
I have been struggling with this. I have read the instructions, and I think I have followed them correctly. I have read all the closed issues involving indentation and django, and I didn't find any clues there.

I hope you are going to tell me I misunderstood the instructions.

Here is my config:

[code]

Here is what debug says about the buffer:
[code]

Here is the buffer after indenting:
[code]

[2016-01-31 18:54] fxbois commented on #668
@TCMiranda please test the last version on github. You can customize ```web-mode-function-call-face```

[2016-01-31 18:57] fxbois commented on #669
@dlparker where have you seen the value ```4``` for ```web-mode-indent-style``` ?
You should comment this line

[2016-01-31 19:03] fxbois commented on #665
@jilen could you post the output of ```web-mode-debug``` please

[2016-01-31 19:04] #664 closed

[2016-01-31 21:53] dlparker commented on #669
I can't remember where I got that line. You know how, when you are flailing about with something you really don't understand, and you are trying to apply change you read in issue reports and the like, you sometimes loose track of where you got it? No? Well, I do sometimes.

Thanks for your time and attention, you fixed me.

[2016-01-31 21:53] #669 closed

[2016-02-01 03:46] jilen commented on #665
versions: emacs(24.5) web-mode("13.1.2")
vars: engine("razor") minor("razor") content-type("html") file("/tmp/foo.scala.html")
system: window(x) config("x86_64-unknown-linux-gnu")
colors: fg(nil) bg(nil)
minor modes: (rainbow-mode rainbow-delimiters-mode linum-mode global-linum-mode which-function-mode show-paren-mode nyan-mode global-auto-revert-mode helm-autoresize-mode async-bytecomp-package-mo

[2016-02-01 06:38] redguardtoo opened #670 "comment/uncomment multi-line snippet"
for hello.erb containing:
[code]
`M-x web-mode-comment-or-uncomment` won't comment out the snippet with right syntax, web-mode v13.1.2

Whe I select the whole region of above two lines, the region will be comment out with html syntax `` tags.

When no region is selected and the focus is at the first line, the first line will be comment out with html syntax.

[2016-02-01 07:16] fxbois commented on #669
Good News!

[2016-02-01 07:17] fxbois commented on #670
Where is the region-begging, where is the region-end ... please provide more info

[2016-02-01 07:18] fxbois commented on #665
is there anything in the ```*Messages*``` buffer ?

[2016-02-01 09:45] jilen commented on #665
@fxbois  Nothing special. When I first open the file and select whole region, it ident well, but when I delete last `}`  then re-type '}', it cannot ident properly

[2016-02-02 00:21] TCMiranda commented on #668
@fxbois thanks for your answer, but I cant make it work, in which circumstances the face would be activated?

[2016-02-02 07:07] fxbois commented on #668
each time a function is called. Perhaps try to update the face

```(set-face-attribute 'web-mode-function-call-face nil :foreground "Pink3")```

[2016-02-02 07:19] fxbois commented on #670
@redguardtoo when ```(point)``` is on the erb block, the commenting/decommenting should be ok

[2016-02-03 10:30] Foxly1990 opened #671 "How to disable indentation when saving file in emacs?"
How to disable indentation when saving file in emacs?

[2016-02-03 10:31] Foxly1990 commented on #671
For web-mode, ofc

[2016-02-03 11:52] TCMiranda commented on #668
Setting it manually worked! I cant tell why, but thanks!

[2016-02-03 11:52] #668 closed

[2016-02-03 14:51] fxbois commented on #671
What do you mean ?

[2016-02-03 15:43] Foxly1990 commented on #671
When I save the file then auto-indenture. How to disable?

[2016-02-03 15:59] fxbois commented on #671
web-mode do not do this ... perhaps a minor mode in your .emacs

[2016-02-03 20:48] Foxly1990 commented on #671
Thx

[2016-02-03 20:48] #671 closed

[2016-02-14 13:03] favetelinguis opened #674 "Closing parents align to the left side"
Trying to use web mode with JavaScript but cant get it to understand how to align closing brackets.

Check `myTestFunc` in the followin gist:
[Faulty](https://gist.github.com/favetelinguis/b630f7ff26a15ca40b9a)

The gist also contains output from `web-mode-debug`

Instead of aligning the closing brackets to match the opening brackets. Is there some special setting that needs to be set to get this

[2016-02-14 14:13] fxbois commented on #674
@favetelinguis please post real example on gist.
Moreover, could you post the output of ```web-mode-debug```

[2016-02-16 07:29] fxbois commented on #674
@favetelinguis it works here. Perhaps you should try to upgrade to the last version. After that, if it doesn't work, perhaps try to disable minor mode.

[2016-02-16 07:29] #674 closed

[2016-02-16 14:31] connorjsmith opened #675 "Some features dont work in emacsclient"
Several features (such as auto tag closing and quote pairing) don't work when using `emacsclient` to connect to a running daemon (`emacs --daemon`).  The features work fine when using emacs normally without `emacsclient`.

Both of these were tested using the GUI version of emacs 24.5

[2016-02-16 21:09] fxbois commented on #675
@connorjsmith does ```(display-graphic-p)``` returns true with emacsclient ?

[2016-02-16 22:32] fxbois opened #676 "marko template engine"
https://www.reddit.com/r/emacs/comments/45bl91/anyone_using_marko_templates_what_webmode_engine/

[2016-02-16 22:37] connorjsmith commented on #675
@fxbois yes it does

[2016-02-16 22:49] fxbois commented on #675
could you try to debug a little bit in ```web-mode-on-post-command```

[2016-02-17 03:40] zhengpd opened #677 "Disable auto quoting in jsx buffers only"
I am trying to disable auto quoting in jsx buffers when there are multiple web-mode buffers. The following code works for me:

[code]

Just wonder if this is the right way to go since I haven't found any doc about this.

[2016-02-17 07:14] fxbois commented on #677
do you put this code in a hook ?

[2016-02-17 07:36] stardiviner opened #678 "web-mode can't recognize engine correctly for Org-mode babel buffer"
I set org-mode Babel to open rhtml block with web-mode.

[code]

And I have configure company-robe for completing for Rails code in `erb` engine (I get `erb` with `(web-mode-language-at-pos)`).

[code]

The upper advice work correctly in normal file `index.html.erb` file.

But web-mode can't recognize engine correctly in Org-mode babel block.

Here is a test Org-mode file content:

[code]

When I

[2016-02-17 07:39] zhengpd commented on #677
Yes, I put it in `web-mode-hook`.

[2016-02-17 08:13] fxbois commented on #677
so it seems like a perfect way to do so

[2016-02-17 08:13] #677 closed

[2016-02-17 08:14] fxbois commented on #678
if you want to test the template engine, use ```web-mode-engine```

[2016-02-17 08:25] zhengpd commented on #677
Ok, thanks.

[2016-02-17 11:32] stardiviner commented on #678
But in Org-mode babel buffer, the variable `web-mode-engine` is `"none"`. Still can work in my case.

[2016-02-17 11:33] stardiviner commented on #678
I guess the problem is on how `web-mode` determine current buffer's engine (like `erb` etc).
Because org-mode babel buffer don't have filename? so failed?

[2016-02-17 17:07] fxbois commented on #678
You would have to force the engine ... there is a function for that : ```web-mode-set-engine```

[2016-02-17 21:41] aiguofer opened #679 "Auto close erroneously tries to close void elements"
I have the following options set for web-mode:
[code]

I really like the `auto-close-style 2` to close when I type `>`, however when I'm typing a void tag like `<img>` or `<br>` it automatically tries to close it with the closing tag for the previous element.

For example, if I have
[code]
when I close the `<img` I get:

[code]

[2016-02-18 07:37] stardiviner commented on #678
I found the solution,
[code]

Can you add support for this by a macro which can support all web-mode supported engines? That would be very useful!

[2016-02-18 08:20] fxbois commented on #678
can you propose this macro ?

[2016-02-18 09:12] stardiviner commented on #678
@fxbois How can I get the key-value pair for the modes and engines? I can take a try to write a macro to iterate over all engines.

[2016-02-18 09:46] fxbois commented on #678
look at ```web-mode-engines```

[2016-02-18 12:37] stardiviner commented on #678
@fxbois I tried, but failed. I don't know ther major-modes associate with engines. I only know `rhtml-mode` for `erb`. And I found might this don't need a macro, just a function is enough.
I also found a bug in my upper advice code. `(web-mode-set-engine "erb")` is setting engine in org buffer, instead of opened src block babel buffer. So when I open babel block like `#+BEGIN_SRC emacs-lisp`, stil

[2016-02-19 11:50] prajwalit opened #680 "Multiple variables and multiline arguments"
Hello,

I'm trying to configure web-mode but couldn't find a config which fixes
colours of my multiple variables and multiline arguments.
For eg.

![pic 1](https://cloud.githubusercontent.com/assets/155951/13174829/4a3bffbc-d72c-11e5-859c-b4de186ec0e1.png)

Here, `bar` and `argument5` should be in brick-red just like `foo` and `argument1-4`.

I also wanted to fix the indentation when there are mul

[2016-02-23 20:24] dd1dd1 opened #682 "indentation of html attribute string values"
Hi, I am figuring out how to use emacs to edit html files with embedded javascript code. As the stock html modes in emacs and xemacs do not indent javascript and most html in any useful way, I am trying your web-mode and I got everything working just right except for one little problem. As they say, instead of this I want this.

Currently I get my javascript code indented too much, everything shif

[2016-02-26 20:57] CestDiego opened #683 "Feature request: Marko Template engine"
According to the thread in
[reddit](https://www.reddit.com/r/emacs/comments/45bl91/anyone_using_marko_templates_what_webmode_engine/)
I hereby ask to support  in web-mode for the [marko](https://github.com/marko-js/marko
) templating language.

Thanks :)

[2016-02-27 08:54] fxbois commented on #683
could you post a big example on gist (with many syntax features) please

[2016-02-28 20:06] osv opened #684 "riot.tag engine [question]"
Hi, I working on engine for [riot tag](http://riotjs.com/guide/#tag-syntax). It is very simple, so almost done in
https://github.com/osv/web-mode/tree/riot-engine branch

But I found bug that I can't solve myself. See below selected region:

![screenshot](http://rghost.net/8v4YvXZHV/image.png)

as you can see,  `<script>` (javascrip part) have engine blocks `{title: .. }` too. Can I disable it? cu

[2016-02-28 21:09] fxbois commented on #684
choosing ```{``` and ```}``` is such a strange idea. Anyhow, is it possible to have ```{ }``` riot blocks in a javascript part ?

[2016-02-29 10:49] osv commented on #684
riot is minimalistic so not strange that they choose `{ }`.

No, `<script>` is controller of view. In worse case riot tag can even have no `script` like below:

[code]

but that case is rare and I don't known any editor that can handle this situation.

How ever I tried find any similar templates that not allow engine blocks in some parts and fail.

[2016-03-02 18:18] DoMiNeLa10 commented on #675
Auto tag closing should work if you add `(setq web-mode-enable-auto-closing t)` to your .emacs.

[2016-03-05 11:24] #684 closed

[2016-03-05 11:24] fxbois commented on #683
@CestDiego could you provide this example ?

[2016-03-05 11:25] fxbois commented on #680
@prajwalit as I do "have" a proper js parser, I could not provide what you wan't.

[2016-03-05 11:25] #680 closed

[2016-03-05 11:26] fxbois commented on #678
@stardiviner Please reopen when you have this macro

[2016-03-05 11:26] #678 closed

[2016-03-05 11:27] #676 closed

[2016-03-05 11:27] fxbois commented on #675
Please reopen if anyone can provide some info

[2016-03-05 11:27] #675 closed

[2016-03-05 11:27] #670 closed

[2016-03-05 17:49] CestDiego commented on #683
What about this:

[code]

[2016-03-05 17:52] CestDiego commented on #683
this is the official repo https://github.com/marko-js/marko , and here are many features that explain what they do. http://markojs.com/try-online/#Expressions_Simple ... Given that marko can also be written in a jade-like syntax, I was wondering how hard is it to have `emmet` like expansion without the tags? I would work on this in the future if it's possible. And of course I'd need to create a mo

[2016-03-05 21:23] fxbois commented on #683
@CestDiego I've pushed a fix to handle ```${ }``` expressions
web-mode is not compatible with jade like syntaxes

[2016-03-05 21:50] fxbois commented on #679
@aiguofer should be better with last commit

[2016-03-05 21:53] fxbois commented on #666
@kevdunleavy have looked at ```(web-mode-set-content-type)``` ?

[2016-03-05 22:11] CestDiego commented on #683
Thanks fxbois

[2016-03-06 17:50] fxbois commented on #682
@dd1dd1 could you test the last version : it disables indentation in onclick attributes (see ```web-mode-indentless-attributes```). However, I won't work on automatic javascript indentation inside attribute values.

[2016-03-06 23:41] aiguofer commented on #679
@fxbois thanks but this still doesn't seem to be working for me. I see this works outside of any other tags, but it still fails when i try closing

[code]

[2016-03-07 20:03] fxbois commented on #679
@aiguofer I've pushed a new fix

[2016-03-08 18:56] aiguofer commented on #679
Great this last commit seems to have fixed it, thanks!

[2016-03-08 18:56] #679 closed

[2016-03-08 20:12] #682 closed

[2016-03-08 20:12] #683 closed

[2016-03-08 20:14] fxbois commented on #658
@TheBB Maybe you should write a small minor mode to handle this. If ```" >``` is detected, replace by ```">```

[2016-03-08 20:14] #658 closed

[2016-03-08 20:14] fxbois commented on #666
@kevdunleavy PLease reopen if needed

[2016-03-08 20:15] #666 closed

[2016-03-10 10:56] ChillarAnand opened #686 "vanish should retain position"
[code]

When cursor is at closing tag, if element is made to vanish, cursor is going to `|` position.

[2016-03-14 06:54] fxbois opened #687 "initialize comment-start,end"
see
http://emacs.stackexchange.com/questions/18615/enable-jsx-folding-in-web-mode/19455?noredirect=1#comment32334_19455

[2016-03-14 16:28] dd1dd1 commented on #682
yes, thank you. now is much better - stuff inside "onclick" is no longer indented all the way to the right and I can live with making my own indentation. maybe encourages people to move this stuff into standalone functions. K.O.

[2016-03-16 21:17] PatrickRose opened #688 "Strange PHP indentation"
Hi,

The follow code is indenting weirdly for me when using commit 9f71a6a

[code]

I'd be expecting the following:

[code]

[2016-03-16 22:11] fxbois commented on #688
@PatrickRose Are you sure you have the last version ?

[2016-03-17 06:18] stardiviner commented on #47
This seems still does not support `Imenu`.
I tried command `web-mode-menu-index`. Nothing happened.

[2016-03-17 12:09] PatrickRose commented on #688
Hmmm, looks like my emacs instance didn't clean itself properly. Reloaded and it's now sensible

[2016-03-17 12:09] #688 closed

[2016-03-18 21:43] DoMiNeLa10 opened #689 "Feature request: Command for linking files."
I think that adding a function that can link files (like pictures, scripts of stylesheets) would make this mode even better. I wrote some code that seems to work, but I'm not sure if it's good enough to be added to this extension. If it's good I could try to create a pull request. I wrote it so it can be extended to support more formats. I think C-c C-l would be a good shortcut for it.

Here's the

[2016-03-19 14:45] sshaw opened #691 "React JSX Formatting Breaks When Mixed With HTML"
This is using version `13.1.9`.

Initially everything is okay:
<img width="576" alt="1" src="https://cloud.githubusercontent.com/assets/17570/13899213/d10215e2-edbe-11e5-9225-2f4fd0cf3ea5.png">

Then I make the following modification:

![2](https://cloud.githubusercontent.com/assets/17570/13899237/7ee5a80e-edbf-11e5-9758-c1082b5f4f90.png)

Note the  assignment to `CommentList` no longer has syntax

[2016-03-21 00:14] severbatey opened #692 "template-toolkit: missing block-control keywords"
Currently tabbing for the below blocks is not working (especially when nested in an **if** or **foreach** block which do indent correctly)

* [while](http://template-toolkit.org/docs/manual/Directives.html#section_WHILE)
* [unless](http://template-toolkit.org/docs/manual/Directives.html#section_IF_UNLESS_ELSIF_ELSE)
* [next](http://template-toolkit.org/docs/manual/Directives.html#section_NEXT)
* [

[2016-03-21 11:35] fxbois commented on #692
@severbatey could you post on gist an example which has all those keywords please ...

[2016-03-21 11:47] fxbois commented on #691
@sshaw have you tried in a plain jsx file ?
Moreover, could you post your example on gist please

[2016-03-21 11:51] #687 closed

[2016-03-21 11:56] fxbois commented on #686
@ChillarAnand I am not sure to understand what you mean. Please describe more precisely all the steps

[2016-03-21 13:14] ChillarAnand commented on #686
[code]
When `web-mode-element-vanish` is run, after removing `h3`, is moving cursor to beginning of position of `h3`, which results in

[code]

Instead it should retain cursor position like this

[code]

Does that help?

[2016-03-21 16:48] fxbois commented on #686
This is not possible because this function takes an argument and enables to vanish more than one element. One thing i should do is forward the cursor to <p>

[2016-03-21 17:38] severbatey commented on #692
Installed from melpa to capture the gist - looks like you've fixed in your last commit and all are working as expected now. Much appreciated. : )

[2016-03-22 04:54] ChillarAnand commented on #686
:+1:

[2016-03-23 09:36] fxbois opened #693 "specific color for html element prefix"

[2016-03-23 09:36] #692 closed

[2016-03-23 22:49] #686 closed

[2016-03-24 18:42] DoMiNeLa10 commented on #689
Is my code as of now good enough to be added to web-mode?

[2016-03-24 20:18] CestDiego opened #694 "Destructuring (es6) is not supported"
This is what is looks like, the destructuring part is very important for React and ES6 in templates so I think this should be supported.

![screen shot 2016-03-24 at 4 17 30 pm](https://cloud.githubusercontent.com/assets/3291619/14030062/060d60d6-f1dc-11e5-8c54-2f7d1e8c2dd5.png)

code:

[code]

[2016-03-24 21:18] choma opened #695 "Conflict with editorconfig-mode"
When I use web-mode with [editorconfig-mode](https://github.com/editorconfig/editorconfig-emacs) something strange happens with `web-mode-block-padding` variable. I'm not sure how nor where, it is set with the value 4, resulting in this code:
[code]
to be indented like this:
[code]
You can see what I mean with this very basic init.el file:
[code]
I've already reported [this](https://github.com/edi

[2016-03-25 15:58] fxbois commented on #694
@CestDiego could you be more precise on what do you need ?
```{...data}``` is already highlighted with last version of web-mode

[2016-03-25 16:33] CestDiego commented on #694
I will update when I update :)

On Fri, Mar 25, 2016, 11:58 AM fxbois <notifications@github.com> wrote:

--
Diego Berrocal
http://cestdiego.github.io

[2016-03-25 19:11] CestDiego commented on #694
UPDATE: indeed I hadn't updated web-mode and this wasn't showing. Just updated and the {...data}} is highlighted as one would expect.

[2016-03-25 19:11] #694 closed

[2016-03-25 19:11] CestDiego commented on #694
Thank you @fxbois

[2016-03-25 19:33] fxbois commented on #689
@DoMiNeLa10 sorry to be late on this. I'll try to look at your patch this we

[2016-03-28 19:20] fxbois commented on #695
@choma ```web-mode-block-padding``` is set to 0 by default. You should check ```editorconfig-mode ``` (or other minor modes you are using).

[2016-03-28 19:20] #695 closed

[2016-03-28 19:56] fxbois commented on #689
@DoMiNeLa10 the last commit contains a version slightly different from your patch
https://github.com/fxbois/web-mode/commit/08078a39814f358a6e37898be2dd28f6ea5c6845

[2016-03-28 21:18] DoMiNeLa10 commented on #689
Thanks.

[2016-03-28 21:18] #689 closed

[2016-03-28 23:35] xuhdev commented on #695
@fxbois The problem is not about the conflict: it is not about editorconfig at all. The issue is that, whether `web-mode-block-padding` should indent the line after `<?php`. For me, I don't really see any point to affect the line below `<?php` with `web-mode-block-padding`. What do you think?

[2016-03-29 06:18] fxbois commented on #695
@xuhdev it is a feature. If you don't like it, put it to zero

[2016-03-29 07:39] arongp opened #696 "Wrong indentation for javascript without semicolon"
[code]

The line with bar() has no ending semicolon, and baz() is incorrectly indented.

[2016-03-29 07:43] fxbois commented on #696
@arongp could you post the output of ```web-mode-debug``` please

[2016-03-29 07:51] arongp commented on #696
Here it is:

--- WEB-MODE DEBUG BEG ---
versions: emacs(24.5) web-mode("13.1.12")
vars: engine("none") minor("none") content-type("javascript") file("c:/abc.js")
system: window(w32) config("i686-pc-mingw32")
colors: fg(nil) bg(nil)
minor modes: (size-indication-mode electric-pair-mode global-auto-revert-mode icomplete-mode show-paren-mode projectile-mode projectile-global-mode which-key-mode ido-v

[2016-03-30 06:21] fxbois commented on #696
@arongp should be fixed with last commit

[2016-03-30 06:59] arongp commented on #696
@fxbois thanks, I see it's fixed now.

[2016-03-30 06:59] #696 closed

[2016-03-30 12:14] arongp opened #698 "Javascript method wrong indentation"
[code]

The _send_ method call is incorrectly indented. Please see the web-mode-debug output below,

--- WEB-MODE DEBUG BEG ---
versions: emacs(25.0) web-mode("13.1.13")
vars: engine("none") minor("none") content-type("javascript") file("/Users/apan/abc.js")
system: window(mac) config("x86_64-apple-darwin15.3.0")
colors: fg(nil) bg(nil)
minor modes: (size-indication-mode mac-mouse-wheel-mode globa

[2016-03-30 12:50] jcubic opened #699 "Closing comment in freemarker template is wrong"
In FreeMarker template you can close comments with `-- anything >` it should be only `-->`. this also work as closing comment `-      - something else >`

[2016-03-30 13:03] jcubic commented on #699
I think that right now closing comment is just `>`.

[2016-03-30 14:19] zeptonaut opened #700 "Typing parentheses in long Javascript files is very slow"
I've been working on some long Javascript files recently and have noticed that inserting braces is *extremely* slow with web-mode enabled.

For example, when I insert a left parenthesis on [this line of code](https://github.com/catapult-project/catapult/blob/3008811061493ca0888b899fb97840b0ff647d49/tracing/tracing/extras/importer/trace_event_importer_test.html#L5650), it takes 5-10 seconds to inse

[2016-03-30 17:12] fxbois commented on #699
@jcubic should be better with last commit
https://github.com/fxbois/web-mode/commit/e02ddb3444afb1d59a4b787bf274f90ba19079a6

[2016-03-30 18:02] #698 closed

[2016-03-31 07:38] jcubic commented on #699
I've pull last changes and it's still the same, it's closing by single `>`.

[2016-03-31 07:51] jcubic commented on #699
it seems that this change only added auto insert of `-->` when type `<#--`

[2016-03-31 08:02] fxbois commented on #699
So i do not understand what you want

[2016-03-31 08:22] jcubic commented on #699
I want syntax highlight for comment to not end by single `>` but by `-->`.

[2016-03-31 12:12] fxbois commented on #699
@jcubic should be better now

[2016-03-31 12:55] jcubic commented on #699
It works, thanks.

[2016-03-31 12:55] #699 closed

[2016-03-31 13:43] mremars opened #701 "jsp tag does not auto-close the right way when contains prefix"
For example :

...
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
...
<tbody>
<c:choose>
...

Then
auto-close on </, triggers </tbody> instead of </c:choose>

[2016-04-01 11:40] fxbois commented on #701
@mremars I just pushed a fix for that

[2016-04-01 12:24] yzprofile commented on #691
First:

[code]

Then:

[code]

Now, We indent at first `<div>`, and `ReactDOM.render(`

You will see:

[code]

[2016-04-01 13:10] sphakka opened #702 "RFE: *-prefix for multi line comments in PHP"
When using '/* */' comment style in PHP, it would be nice to have (optional) *-prefixing (JavaDoc-ish...) in multi-line snippets. This would help preserving indented lines.
That is, given
[code]
`web-mode-comment-or-uncomment` would give
[code]
instead of (which might well be a bug, indeed...)
[code]

[2016-04-01 13:32] jcubic opened #703 "Yank indent line"
Now something weird happen when I paste (yank) text inside comment and when I have this comment:
[code]
and yank when I'm on the line that's indented 1 space, after yank the space is removed, like when I press <kbd>TAB</kbd>.

[code]

There was no such behavior before #699 was fixed.

[2016-04-01 13:36] fxbois commented on #703
perhaps because, it was not considered as a real comment. I ll try to do something about it.

[2016-04-01 13:36] #693 closed

[2016-04-01 14:45] jcubic commented on #703
I think that yanking should not indent at all, like with other major modes.

[2016-04-02 09:17] fxbois commented on #703
@jcubic I won't change the current behavior. But now lines are aligned

[2016-04-02 09:17] #703 closed

[2016-04-04 07:45] jcubic commented on #703
Now it indent 2 spaces insidead of 1 I think that indentation should be disabled for comments if possible in javascript mode indentaion in multiline comments is the same amount of spaces as the previous line.

[2016-04-04 07:53] fxbois commented on #703
Yes I align the prefix ```--```

[2016-04-04 07:58] jcubic opened #704 "In freemarker closing tag is wrong"
IN freemarker if you have this template:
[code]
and you add `</` it automatically close `a` tag instead of `#if`.

[2016-04-04 08:01] fxbois commented on #704
@jcubic there is a specific function to close control blocks.

[2016-04-04 08:01] #704 closed

[2016-04-04 14:31] zeptonaut commented on #700
Investigating this more, it seems like this problem only exists when smartparens mode is enabled. A minimal init file that reproduces the problem is:

[code]

[2016-04-04 14:34] zeptonaut commented on #700
Also, for some reason, the parenthesis is only taking around 1 second to insert now. Still worth looking into what's making this slow.

[2016-04-04 14:36] fxbois commented on #700
@zeptonaut Hi, thank you to have investigated. I do not work on minormode related issues ... however I'll be happy to provide help to anyone that wants to dig into it

[2016-04-04 14:39] zeptonaut commented on #700
Alright - I think that I'll look into it.

My initial hunch is that the beginning and end parameters aren't being passed properly somewhere along this call chain, causing web-mode to try to rescan the whole file every time that any paired character is called.

Ultimately, [this](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L4281-L4391) is the problematic code (specifically the `looki

[2016-04-04 14:46] zeptonaut commented on #700
Looks like that hunch is confirmed.

Inserting a left parenthesis anywhere in the script region ultimately causes `web-mode-part-scan` to be called with `reg-beg` of 1849 and `reg-end` of 111,042 - almost 110,000 characters. Now I'm going to see if I can track down why this is happening.

[2016-04-04 14:49] fxbois commented on #700
try to debug in ```web-mode-on-post-command```
perhaps some smartparens function could be ignored

[2016-04-04 14:54] zeptonaut commented on #700
What does `web-mode-on-post-command` do?

[2016-04-04 15:02] fxbois commented on #700
called after each command

[2016-04-04 15:16] zeptonaut commented on #700
I might be misunderstanding, but it seems like `web-mode-extend-region` might be doing the wrong thing here. When I insert `(` and `)` automatically gets inserted, `web-mode-extend-region` gets called. My understanding is that this function gets called in order to make sure that the region that needs to be refontified is correct. This is necessary because, by default, modes only rehighlight the ch

[2016-04-04 15:19] fxbois commented on #700
@zeptonaut in my case extend-region is also used to lexify to region (find tokens like strings, comments, jsx elements etc.). So it is normal that an insertion calls extend-region

[2016-04-04 15:20] zeptonaut commented on #700
Is it normal, though, that the region re-lexified would be everything between the script tags?

[2016-04-05 06:00] #701 closed

[2016-04-05 06:13] fxbois commented on #700
@zeptonaut when you uncomment the ```(message )``` line in ```web-mode-scan-region``` you see that ```web-mode``` does not always try to scan the entire ```<script>``` with an insertion of ```(```

[2016-04-06 10:47] NdYAG commented on #421
Sorry to bring this up @fxbois
This is exactly what I metioned in https://github.com/fxbois/web-mode/issues/191

In my company, we did some slight modification on Mako:
we defined two customized blocks
[code]

and

[code]

In this way, we combine css/js snippets in different templates into a single css/js file.

That's why I could not provide any documentation for you.

---

I tried to add some co

[2016-04-06 11:42] fxbois commented on #421
@NdYAG open a new issue for this new feature request please

[2016-04-06 14:11] NdYAG opened #705 "Add support for css/js tag customization?"
Usually styles and scripts are contained in `<style>` and `<script>` tags, but in some cases they could also be in other tags.

For example, we did some slight modification on Mako:

we defined two customized blocks

[code]

and

[code]

to combine css/js snippets in different templates into a single css/js file later.

The block name might change in different engines, so it would be great to supp

[2016-04-06 14:22] NdYAG commented on #705
Styles or scripts inside `<style>` or `<script>` still have their `element-content-style` set as `css` or `javascript`.

So is it possible to let the user set `element-content-type` in any tags/blocks pair?

[2016-04-06 15:18] fxbois commented on #705
@NdYAG I'll look at this

[2016-04-07 17:41] fxbois commented on #705
@NdYAG should be ok with last commit

[2016-04-08 03:42] NdYAG commented on #705
Amazing @fxbois !
It works for me now.

[2016-04-08 06:03] #705 closed

[2016-04-08 09:38] jilen commented on #665
@fxbois  I am pretty sure this issue still exist in the latest version

[2016-04-08 09:40] fxbois commented on #665
@jilen I know, I must find time to work on this. I'll keep you posted

[2016-04-08 10:01] Holt59 opened #706 "web-mode + whitespace-mode give broken mode"
I have trouble getting `web-mode` to work with `whitespace-mode`, if I open a file with both mode enabled, I get error like this one:

[code]

This seems to happen when I load `whitespace-mode` in a buffer with `web-mode`.

Then most of the modes are broken: white spaces are not displayed correctly, syntax highlighting does not work anymore, automatic closing tags neither, and so on.

`web-mode` w

[2016-04-08 10:06] fxbois commented on #706
@Holt59 I do not work on issues related to minor modes. Perhaps you could try on emacs stackoverflow

[2016-04-08 22:59] kwillick opened #707 "forward-sexp (C-M-f) doesn't work in jsx files"
When editing a jsx file, pressing ```C-M-f``` for the ```forward-sexp```command has no effect.
Example: I want to skip over the braces after the style attribute, but it has no effect.
| is the cursor.
[code]
web-mode version: 13.1

[2016-04-09 00:24] sshaw commented on #691
Yes, it's not a problem there.

https://gist.github.com/sshaw/1065c8608075ba82f42de6c03edf54d5

[2016-04-10 07:36] fxbois commented on #707
@kwillick should be better with last commit

[2016-04-10 07:40] fxbois commented on #706
@Holt59 please reopen if you need that I provide help

[2016-04-10 07:40] #706 closed

[2016-04-11 10:26] arcanis opened #708 "Keywords colors when used as properties"
The following:

[code]

gives the following:

![image](https://cloud.githubusercontent.com/assets/1037931/14424261/68ddb032-ffe0-11e5-9523-112dc10300b5.png)

As you can see, the `get` property member is highlighted with the wrong color (the same is true for any other ES keyword, even those that are allowed per the spec to be used as property names, such as `delete`, `get`, `set`, etc - which make

[2016-04-12 16:36] fxbois commented on #665
@jilen I've pushed a fix

[2016-04-12 16:47] #707 closed

[2016-04-12 20:29] kulbida opened #709 "Unable to auto indent html with ruby code in erb template."
I have this code in my ERB template. When I try to auto indent region with `C-M-\` I got weird indentation, seems like there is no indentation for nested erb blocks:
[code]

[2016-04-12 20:30] kulbida commented on #709
modes I'm in:
[code]

[2016-04-13 01:33] jilen commented on #665
:+1: Works like a charm

[2016-04-13 07:07] fxbois commented on #665
@jilen if you find time, it would be great to put on gist a very complete template with all the specific syntax and all the keywords ... I would be able to improve the compatibility

[2016-04-15 07:00] dlight commented on #242
Just to note, this bug is still present.

[2016-04-15 07:10] fxbois commented on #242
@LeartS I can provide help if needed

[2016-04-15 07:43] dlight commented on #242
I'm not LeartS (looks like he moved onto something else)

Anyway I'm interested in this approach, cited in a comment of alpaker/Fill-Column-Indicator#46

and

Apparently you made the proposed change and @alpaker reported that it worked (but other people said it didn't). But it seems the bug about closing tags is fixed (I think?).

The issue I'm having is identical to the one shown in that screensh

[2016-04-15 07:49] fxbois commented on #242
@dlight when you come back, the buffer is redrawed so it is normal that every thing is ok. Perhaps you should try the nil parameter advice and tell me if everything is ok after playing with it for a long time

[2016-04-15 11:38] miguel-guedes opened #710 "Multi-line comment"
If I start a new comment in a javascript source file with <kbd>M;</kbd>, the string `/* */` is appended and point is placed in the middle.  However, if I attempt to add a new line inside the comment block by hitting <kbd>M-j</kbd>, the following happens:

[code]

... whereas the expected behaviour should be:

[code]
Is this a known bug or is there something I need to do to configure web-mode corre

[2016-04-15 13:01] fxbois commented on #710
@miguel-guedes I'll look if ```comment-indent-new-line``` can be bound

[2016-04-15 13:23] miguel-guedes commented on #710
@fxbois Many thanks for looking into this!

[2016-04-16 00:23] dlight commented on #242
I don't know how to do the nil parameter thing, could you post an example code? I don't have `after-change-functions` in my code.

For reference, here is what I have right now (the `(when (not (memq major-mode
                              (list 'web-mode))) ...)` stuff is to disable fci on web-mode):

[code]

[2016-04-16 13:38] fxbois commented on #242
@dlight I ve just read the discussion and my previous advice is useless.
In fact I do have any idea about this. I do not work on  minor mode issue. I can provide help if needed

[2016-04-16 16:42] fxbois commented on #708
@arcanis can you try the last commit please

[2016-04-16 22:33] arcanis commented on #708
It works fine, except for `for()` constructs, in which keywords (such as `var` / `let`) are not highlighten anymore.

[2016-04-16 22:35] arcanis opened #711 "For-of indentation"
ES6 adds a new iteration operator: `of`. This keyword doesn't seem to be recognized yet, and as such is not highlightened. On top of that, the identation is wrong when the statement doesn't use curly braces:

![image](https://cloud.githubusercontent.com/assets/1037931/14584003/49c70740-0434-11e6-99a8-872dc925a0c9.png)

[gist](https://gist.github.com/arcanis/1d1ddbef8a94046c9bef5393c1bfe246)

[2016-04-17 07:27] fxbois commented on #711
@arcanis please also post your example on gist please

[2016-04-17 09:04] arcanis commented on #711
Sure thing, I've updated my first post to add this information :)

[2016-04-17 18:23] #711 closed

[2016-04-17 18:24] fxbois commented on #711
@arcanis should be ok with last commit

[2016-04-17 18:33] #708 closed

[2016-04-17 18:35] fxbois commented on #709
@kulbida sorry but I can not trigger your issue. Perhaps bisect your .emacs to find the culprit line

[2016-04-17 18:35] #709 closed

[2016-04-17 19:31] arcanis commented on #711
Thanks ! :+1:

[2016-04-21 09:02] arcanis opened #712 "Nested no-curly constructs break indentation"
The [following code](https://gist.github.com/arcanis/c98ec8f421923c106406c3eb4691d95c) breaks the indentation if multiple indented constructs are used without curly braces.

[code]

should be

[code]

[2016-04-21 14:24] fxbois commented on #712
@arcanis should be fixed

[2016-04-21 23:13] dzervas opened #713 "Identation in HTML files is "broken" sometimes."
I use emacs in nw mode.
When I insert new code it displays on the far right. When I select code with visual (I use evil) it displays perfect. When I unselect still, the text is on the far right. I have to trigger a redraw or save for the code to appear right.

[2016-04-22 06:37] miguel-guedes commented on #702
This behaviour can also be observed when editing Javascript source files (and possibly Js blocks).

[2016-04-22 07:58] fxbois commented on #713
Must be related to a minor mode loaded in your .emac
Try to bisect it

[2016-04-22 07:58] #713 closed

[2016-04-22 07:58] #712 closed

[2016-04-23 03:45] pksadiq opened #714 "Marmalade repo has a very old web-mode version"
web-mode in Marmalade is stuck at v8.0.4.

link: https://marmalade-repo.org/packages/web-mode

[2016-04-23 06:37] fxbois commented on #714
@pksadiq I've pushed a new one

[2016-04-23 06:37] #714 closed

[2016-04-23 08:05] fxbois commented on #700
@zeptonaut reopen if needed

[2016-04-23 08:05] #700 closed

[2016-04-23 15:03] simenheg opened #716 "Font-locking of single-quoted strings in Handlebars templates"
In the following Handlebars template (using the `ctemplate` engine), only the first attribute/value pair is font-locked with `web-mode-block-attr-name-face` and `web-mode-block-attr-value-face` as expected:

[code]

The reason seems to be that in the second pair a single-quoted string is used for the value.

[2016-04-24 08:17] miguel-guedes opened #717 "Invalid indentation immediately after multi-line conditional statement"
Where `web-mode-code-indent-offset` is `2`, the following multi-line Javascript conditional statement suffers from invalid indentation.  Consider:

[code]

Expected:
[code]

[2016-04-24 16:25] fxbois commented on #717
@miguel-guedes you should get the last version on github

[2016-04-24 16:25] #717 closed

[2016-04-24 16:26] fxbois commented on #691
@sshaw can you test the last version on github please

[2016-04-24 16:27] fxbois commented on #702
@sphakka should be better with last version on github

[2016-04-24 16:27] fxbois commented on #710
@miguel-guedes I've added this to the last version on github

[2016-04-24 16:31] #716 closed

[2016-04-24 16:34] simenheg commented on #716
Thanks, that worked!

[2016-04-24 16:39] simenheg opened #719 "Font-locking of hyphenated attributes in Handlebars"
In the following Handlebars template, the attribute `foo-with-hyphens` is not font-locked with `web-mode-block-attr-name-face` as expected:

[code]

The reason seems to be that the attribute contains hyphens.

[2016-04-24 16:43] #719 closed

[2016-04-24 16:47] simenheg opened #720 "Font-locking of nested sub-expressions in Handlebars"
In the following Handlebars template, everything from the first `(` up until the first `)` is font-locked with `web-mode-block-attr-value-face` as expected, but the values after that haven't received a face:

[code]

This always seems to happen in presence of nested sub-expressions.

[2016-04-24 16:48] simenheg commented on #719
Wow, thanks, that was quick. :)

[2016-04-24 16:52] fxbois commented on #720
@simenheg does it work when you put it inside quotes?

[2016-04-24 16:56] simenheg commented on #720
@fxbois: Hm, put what inside quotes?

[2016-04-24 17:07] simenheg opened #721 "Indentation of `else` inside `each` in Handlebars"
In Handlebars, an `else` section can appear inside an `each` block, just like in an `if` block.

But in the following example, `else` is indented as if it belongs to the `if`:

[code]

While it really belongs to the `each` block and should be indented like so:

[code]

[2016-04-24 17:12] sshaw commented on #691
@fxbois just cloned the repo and did a `load-file` and the problem still exists.

[2016-04-24 17:12] fxbois commented on #720
@simenheg ```prop="(or a (and b c) d e)"```

[2016-04-24 17:17] simenheg commented on #720
Yes, then the font-lock gets right, but it has different semantics in the template.

`prop="(or a (and b c) d e)"` binds `prop` to a string, while `prop=(or a (and b c) d e)` binds prop to the value of evaluating `(or a (and b c) d e)` (where `or` and `and` works just like in Emacs Lisp).

[2016-04-24 17:28] #721 closed

[2016-04-24 17:31] fxbois commented on #720
@simenheg this one is really more difficult ... perhaps you could provide a patch

[2016-04-24 17:41] simenheg commented on #721
Thanks, that worked well.

[2016-04-24 17:42] simenheg commented on #720
OK @fxbois, I can try to look into it.

[2016-04-24 20:57] fxbois commented on #691
@sshaw I've pushed another fix

[2016-04-24 23:20] sshaw commented on #691
It's working 🎉

[2016-04-26 07:03] miguel-guedes opened #722 "Invalid indentation of chained methods when dot present before method invocation"
The indentation of chained methods is invalid if there is a dot before the invocation to the dominating method:

[code]

Expected:

[code]

Incidentally, if one attempts to place the invocation to an object's method in the following line, the indentation is also invalid:

[code]

Expected:

[code]

EDIT:
Third case would be when there is a dot in the parent statement but the actual method invocati

[2016-04-26 07:05] fxbois commented on #722
@miguel-guedes please give a complete example for the second issue

[2016-04-26 07:07] miguel-guedes commented on #722
@fxbois Not a problem!  What else would you like me to include?

[2016-04-26 07:09] fxbois commented on #722
@miguel-guedes just a normal script ... not a statement that begins at the column X

[2016-04-26 07:25] miguel-guedes commented on #722
@fxbois I've improved the second case above (edited original post).  Would that be enough, do you think?

[2016-04-26 07:32] miguel-guedes commented on #722
@fxbois Added a third case to the original post.

[2016-04-26 21:59] #722 closed

[2016-04-27 14:37] miguel-guedes opened #723 "Feature request: buffer local comment format variables"
I often work on source files written by different (people and) organisations that employ different code styles.  And it's often the case that some organisations prefer 4 chars indentation, while others favour 2 chars, and `/* */` comments rather than `//`.  This is easy enough to specify in a source file in Emacs and one of the ways is via local variables. For instance, the following declaration s

[2016-04-27 14:37] miguel-guedes commented on #710
@fxbois Much closer but I think it's not quite there yet.

Consider the following code block:

[code]

In `c-mode`, commenting out the two bogus statements in `foo` would look like:

[code]

*The same result is observed in `c++-mode` and `php-mode`.*

`web-mode` is currently producing the following:

[code]

So it seems that,
* it is producing a comment block encompassing the selection and not com

[2016-04-30 14:10] #702 closed

[2016-04-30 14:20] fxbois commented on #710
@miguel-guedes

see ```web-mode-comment-formats``` to set an alternative comment format.

I've added a space at the beginning of the comment lines.

Concerning repeating ```/**/ /**/``` on each line, I prefer the alternative way and won't implement it.

[2016-04-30 14:20] #710 closed

[2016-04-30 14:25] fxbois commented on #723
@miguel-guedes I've added ```(make-local-variable 'web-mode-comment-formats)``` is it what you want ?

[2016-05-02 15:47] DoMiNeLa10 opened #724 "Broken regular expressions in web-mode-file-extensions"
The regular expressions in web-mode-file-extensions are broken because I forgot to escape backslashes properly.

[2016-05-02 15:52] DoMiNeLa10 commented on #724
I fixed this in this commit in my fork:
https://github.com/DoMiNeLa10/web-mode/commit/a669a30422361726cb4acdbd5913175d00780ea6
(I have no idea how to attach commits to issues)

[2016-05-03 10:34] #723 closed

[2016-05-06 01:30] allencch opened #725 "JavaScript indentation in Razor"
In a .html file with the following sample code,

    <!DOCTYPE html>
    <html>
      <head>
        <script>
        function foo() {
          alert('foo');
        }
        function bar() { //this line will be indented in cshtml
          alert('bar');
        }
        </script>
      </head>
    </html>

When the code saves as .cshtml (Razor), the indentation of the function does not work pr

[2016-05-06 01:34] dunn opened #726 "tag for v14"
v14 was announced; but it'll need a tag in order to appear in MELPA stable.

[2016-05-06 07:23] fxbois commented on #726
thx

[2016-05-06 07:23] #726 closed

[2016-05-11 08:58] yamafaktory opened #727 "HTML attributes do not benefit of syntax colorization"
Hi,

First of all,  many thanks for your awesome work!
I'm trying to get some syntax colorization in the HTML attributes, as mentioned in https://github.com/fxbois/web-mode/issues/263, without success.

Is anything special that I need to activate in order to get it eventually working?

N.B.: My .emacs settings are available [here](https://github.com/yamafaktory/.emacs.d).

[2016-05-11 12:57] fxbois commented on #727
do you mean javascript colorisation in the attribute value ?
web-mode.el does not provide this

[2016-05-11 13:01] yamafaktory commented on #727
Yup, exactly! Ok, so closing that issue then. Thanks!

[2016-05-11 13:05] fxbois commented on #727
I'll try to look at it this week end.
Could you post a complete example on gist please

[2016-05-11 13:31] yamafaktory commented on #727
Ok, here it is https://gist.github.com/yamafaktory/beec0bc47fa8cf26e986e58ceaf19780. That's some Angular template, but could be React too in a JSX component.

Thanks!

[2016-05-15 10:46] jcubic opened #728 "Web-mode syntax higlighting fail to read php file where regexes look like html tags"
I've try to open this file in web-mode:

https://github.com/mtibben/html2text/blob/master/src/Html2Text.php

and it fail on this array (everything after first line is white):
[code]
I think it's because html tags in comments or regexes that look like tags.

[2016-05-15 16:31] fxbois commented on #728
@jcubic  ```?>``` inside the strings will break my parsing. I do not plan to resolve this.
Could be solved writing ```?[>]```

[2016-05-18 03:31] mikemakuch opened #729 "disable auto indentation"
Is there any way to completely disable auto indentation in web-mode? I have electric-indent-mode 0, but that doesn't seem to affect auto indentation in web-mode. Thx.

[2016-05-18 06:13] fxbois commented on #729
@mikemakuch have you tried ```(setq web-mode-enable-auto-indentation nil)``` ?

[2016-05-18 14:04] mikemakuch commented on #729
That doesn't work. This does;

[2016-05-18 14:10] #729 closed

[2016-05-19 01:24] ldeck commented on #724
@DoMiNeLa10 you'd create a pull request

[2016-05-19 01:34] ldeck opened #730 "font-lock error opening html files"
I'm regularly finding that it takes two attempts to open an html file.

The first time, there'll be a font-locking problem. The second time, it seems to succeed.

Is this a bug in configuration or web-mode itself?
I'm using web-mode 13.1.25.

The stack trace is as follows:
[code]

[2016-05-19 05:39] fxbois commented on #730
@ldeck could you try to update to the last version on github please.
Moreover, could you try with a very light .emacs in order to see if the culprit is a minor mode

[2016-05-19 05:48] #728 closed

[2016-05-19 08:41] miguel-guedes opened #731 "Invalid indentation: multiline conditional"
`web-mode` produces the following indentation:

[code]

Expected result is:

[code]

[2016-05-20 05:39] miguel-guedes opened #732 "Invalid indentation: ternary operator"
Invalid indentation is produced on the following example code snippet:

[code]

Expected (tab offset = 2):

[code]

[2016-05-20 05:46] miguel-guedes opened #733 "M-q does not work correctly inside comment block (javascript)"
Given the following comment sample comment block:

[code]

Assuming point is anywhere inside the comment block, <kbd>M-q</kbd> should format the comment block nicely, but instead the following happens:

[code]

Expected:

[code]

[2016-05-20 06:02] miguel-guedes opened #734 "Uncommenting a subset of a comment block (javascript)"
Consider the following code block:

[code]

Attempting to uncomment a subset of the block (say, the `if` line) results in the entire block being uncommented, whereas it should ideally only uncomment the current active region:

[code]

Expected:

[code]

[2016-05-20 06:10] fxbois commented on #734
@miguel-guedes I wont work on this. No not hesitate to send a patch.

[2016-05-20 07:05] miguel-guedes commented on #734
@fxbois Not a problem.  Unfortunately I lack the time and haven't looked at the code.  How complicated is implementing this feature likely to be, in your opinion?  I take it that's (at least part of) the reason you're not working on this?

[2016-05-20 13:17] miguel-guedes opened #735 "`fill-column` ignored"
It seems `auto-fill-mode` does not seem to work inside a comment block; e.g. when the char count exceeds `fill-column`, the current line isn't broken up and indented as one is typing.

For instance, assuming `fill-column` is `79` and given the following comment block:

[code]

The *expected behaviour* is that typing anything past `might have` should have caused the line to break up as given below:

[2016-05-20 13:18] miguel-guedes opened #736 "Subsequently re-rendering of a comment block retains `*`"
The comment prefixes (`*`) aren't removed when the comment block is rendered a second or more times.

Given the following comment block:

[code]

And editing the first line in the comment block by appending the string `POSSIBLY` after `might have`, and hitting <kbd>M-q</kbd> to cause the block to re-render, results in the following:

[code]

Expected result:

[code]

Also related to #733.

[2016-05-20 14:46] gregnewman opened #737 "Strange line jumps"
When I am closing tags and return, the new line jumps to the right side of the buffer.
So far I'm not finding anything that would cause it.  I made a screencast so you can see what I'm seeing.

http://g.recordit.co/W3NobWv4Hz.gif

My web-mode specific configs are simple: https://github.com/gregnewman/emacs-config/blob/master/greg.org#html-and-js

[2016-05-20 15:29] fxbois commented on #735
@miguel-guedes I do not use auto-fill-mode. You can provide patch

[2016-05-20 15:43] fxbois commented on #736
@miguel-guedes would accept patch for this one also

[2016-05-20 15:44] fxbois commented on #737
@gregnewman it is due to the vertical indicator. It seems to me that an issue is opened for this minor mode.

[2016-05-20 15:44] #737 closed

[2016-05-20 15:48] gregnewman commented on #737
Confirmed.  fill-column removed and all is fine.  Thanks @fxbois, that was driving me insane.

[2016-05-22 18:54] jacobj opened #738 "Incorrect highlighting with destructured function parameters"
<img width="488" alt="screenshot 2016-05-22 14 50 44" src="https://cloud.githubusercontent.com/assets/1075421/15455795/d5cfb304-202c-11e6-9063-aaaa7ef3f9f2.png">

As you can see, destructured function parameters aren't properly highlighted (the last one does not match the other two). This style is fairly common when writing stateless components in React.

Here's a gist with a sample: https://gist.

[2016-05-22 19:20] fxbois commented on #738
@jacobj please put your example on gist

[2016-05-22 19:24] jacobj commented on #738
@fxbois done!

[2016-05-27 01:08] eqyiel opened #739 "Unexpected alignment of objects as JSX properties"
If I have an element like this:

[code]

Is it possible to achieve indentation like this?

[code]

I have all the `indent-offset` variables set to 2:

[code]

Debug output, just in case it's helpful:

[code]

Thanks for your work on web-mode.

[2016-05-27 09:12] der-Daniel opened #740 "web-mode and ac-html or rich auto-complete"
Hi,

I am stuck at using this [package](https://github.com/cheunghy/ac-html). I want to have a rich `auto-complete` experience for my workspace.
I follow the instructions on his readme, but there was no `auto-complete` being triggered.
(maybe because it's old/deprecated?)

Is there a decent way to get richer `auto-complete`?

For Frodo
Daniel

[2016-05-28 07:01] fxbois commented on #740
@der-Daniel I do not use auto-complete. You should ask on emacs stackoverflow.

[2016-05-28 07:01] #740 closed

[2016-05-28 07:53] der-Daniel commented on #740
Hi,

http://web-mode.org/
What is the `auto-complete` mention about then?
Is it just a hook?

For Frodo

[2016-05-28 08:39] fxbois commented on #740
@der-Daniel one web-mode user sent me this content. You should look at old issues or ask for help on stack overflow

[2016-05-28 16:10] #738 closed

[2016-05-28 16:10] fxbois commented on #738
@jacobj please test the last version on github

[2016-05-29 11:22] TLINDEN opened #741 "Feature request: convert a number of lines with text into a list"
I'd like to convert a marked number of lines into a list like so:

[code]

Then I want to mark the lines and after executing a function it should be:

[code]

Also, it would be great if this is generic, i.e. like `web-mode-element-wrap` so that it asks for a tag or something.

**[update]:**
I'm thinking of something like this:

[code]

[2016-05-29 15:58] #739 closed

[2016-05-29 15:59] fxbois commented on #739
@eqyiel could you test the last version on github please

[2016-05-29 18:48] #732 closed

[2016-05-29 18:48] fxbois commented on #732
@miguel-guedes I've pushed a fix

[2016-05-30 00:03] eqyiel commented on #739
Works great, thanks so much!

[2016-06-01 08:34] miguel-guedes opened #742 "Invalid indentation of long assignment"
Assuming an indentation offset of `2`, the following javascript block is incorrectly indented:

[code]

Expected result:

[code]

[2016-06-01 08:37] miguel-guedes opened #743 "Invalid indentation when operator on left"
Assuming an indentation offset of `2`, the following javascript block is incorrectly indented:

[code]

Expected result:

[code]

[2016-06-01 08:40] miguel-guedes opened #744 "Invalid indentation inside multiline conditional"
Assuming an indentation offset of `2`, the following javascript block is incorrectly indented:

[code]

Expected result:

[code]

[2016-06-01 08:41] miguel-guedes commented on #743
Also:

[code]

Expected result:

[code]

[2016-06-01 08:43] miguel-guedes commented on #731
Copied from #744 .

[code]

Expected result:

[code]

[2016-06-01 08:44] miguel-guedes commented on #744
Duplicate of #731.  Case added to original issue; closing.

[2016-06-01 08:44] #744 closed

[2016-06-01 12:50] fxbois commented on #730
@ldeck reopen if needed

[2016-06-01 12:50] #730 closed

[2016-06-01 21:12] fniessen opened #745 "Question: do you support SQL code embedded in <sql>..</sql> tags?"
That'd be interesting for .axvw files (ARCHIBUS views) which are, in fact, XML with both JavaScript code and SQL...

Thanks a lot for that wonderful mode, btw.

[2016-06-01 21:23] fniessen opened #746 "Feature request: Put a background behind code blocks"
IMHO, it'd be nice to be able to get a background behind the whole JS blocks (from left to right of the screen -- not from first to last character...).

Thanks!

[2016-06-01 21:25] fxbois commented on #745
@fniessen please provide a link to the spec and post a full example on gist

[2016-06-02 14:48] fniessen commented on #745
Minimal working example: https://gist.github.com/fniessen/5538418214880e61e8edb1843472f5fa.

Regarding the spec, I don't have a real document, but this is from an official source:
http://www.archibus.com/ai/abizfiles/v20.2_help/system_management_help/Content/wc_views/Adv_Views_Techniques/using_js_to_extend_views/using_query_parameters.htm

Thanks!

[2016-06-02 16:00] fxbois commented on #745
@fniessen what is the file extension of those files ?

[2016-06-02 17:52] fniessen commented on #745
.axvw

[2016-06-02 18:14] strout opened #749 "Razor: else block not highlighted as code."
The Razor engine should treat "if-else" constructs as code, but currently only the "if" branch is highlighted. In the screenshot below, both "var shouldBeHighlighted = true;" lines should be treated as code, as should the 'else' itself.

I'm using web-mode version 20160529.1148

![web-mode-else-block](https://cloud.githubusercontent.com/assets/110026/15755646/5703761a-28c3-11e6-989e-da1530c384fd.p

[2016-06-04 19:21] fniessen commented on #746
The idea would be to be able to get nicely demarcated code blocks, like on the first screenshot demo'ing my Leuven-theme (https://github.com/fniessen/emacs-leuven-theme)...

[2016-06-04 19:50] fxbois commented on #746
@fniessen a font face already exists for this ```web-mode-part-face```
You must enable it with ```(setq web-mode-enable-part-face t)```

[2016-06-04 21:10] fniessen commented on #746
I guess you meant `web-mode-script-face`, enabled by `web-mode-enable-part-face`.

Waouw. Thanks a lot, that's fantastic!

It would be nice if you could then add the contents between `sql` tags as well -- that'd make my week! ;-)

[2016-06-05 18:09] ext opened #750 "PHP syntax highlighting breaks when using '?>' in string"
### Steps to reproduce

[code]

### Expected behavior

Syntax highlighting to work for the entire file (like here on github)

### Actual behavior

Syntax highlighting stops for PHP after `?>` despite it being in a string.

![asdf](http://i.imgur.com/eXxPTaQ.png)

I have run into this issue more than once when dealing with regular expressions.

[2016-06-05 18:29] fxbois commented on #750
@ext Hi, it would require a complete rewrite of the parser. I won't be able to solve your pb.
You can write ```'?'.'>'```

[2016-06-05 18:29] #750 closed

[2016-06-05 19:29] ignaciocaamanio opened #751 "web-mode-extra-snippets wrong type of argument"
Hello,
I copy this from web-mode page and doesn't work. It says: wrong type of argument.
[code]

[2016-06-06 03:37] ldeck commented on #730
@fxbois just confirming I can't reproduce it when using a simpler init.el:
[code]

It still occurs, unfortunately, for my standard setup (using Prelude, Helm, Projectile etc).

Any suggestions to fix that would be much appreciated.

[2016-06-06 05:59] fxbois commented on #730
@ldeck You will to bisect your .emacs until you find the culprit. After that, you'll be able to ask to the maintainer.

[2016-06-07 08:04] okami-1 opened #752 "mustache (ctemplate) highlight and block closing"
{{^block}} is not highlighted,
{{object.key}} - dot notation highlight is broken.

web-mode-block-close does not work for complex variables:
{{#object.key}} is closing to {{/object}}
{{#object_list}} is closing to {{/object}}

[2016-06-10 20:00] #752 closed

[2016-06-10 20:01] #746 closed

[2016-06-10 20:28] fxbois commented on #751
@ignaciocaamanio you're right .. there was a bug on the web-mode.org ... it is now solved

[2016-06-10 20:28] #751 closed

[2016-06-10 20:29] fxbois commented on #742
@miguel-guedes should be now solved

[2016-06-10 20:29] fxbois commented on #731
@miguel-guedes should be solved with last commit

[2016-06-10 20:46] #725 closed

[2016-06-10 20:47] fxbois commented on #725
@allencch please test the last commit

[2016-06-10 21:04] #749 closed

[2016-06-10 21:04] fxbois commented on #749
@strout please try the last version on github

[2016-06-11 05:43] allencch commented on #725
@fxbois , works perfect! Thanks

[2016-06-11 12:40] #742 closed

[2016-06-11 12:40] #743 closed

[2016-06-11 12:41] #734 closed

[2016-06-11 19:27] fxbois commented on #745
@fniessen I've added "some" compatibility with the last commit

[2016-06-12 04:49] ignaciocaamanio commented on #751
Thanks ! I didn't realize the extra parentheses.

[2016-06-12 20:28] fniessen commented on #745
Wonderful!  That will greatly improve the edition of ARCHIBUS views files... Thanks a lot.

[2016-06-12 20:28] #745 closed

[2016-06-18 21:15] paultopia opened #755 "cursor position and auto-close"
Hi there,

I've been trying out web-mode, and I've noticed that auto-closing html tags leaves the cursor one character inside, rather than outside, the closing tag --- requiring at least one extra keystroke to get out before one can start typing anything else.  (Using web-mode via the html layer in the most current flavor of the build provided by spacemacs, if that matters.)

Is this intended beha

[2016-06-19 00:55] tbo opened #756 "Pasting text doesn't work properly in evil-mode"
In certain situations emacs doesn't properly paste text. Apparently this only happens if the current buffer isn't saved and both web-mode and evil-mode are loaded. I was able to reproduce this behavior with the following config:

[code]

Reproduction:

Edit the following file:

[code]

Then press the following series of keys:

`yGPwywp` (Copy the function in front of the cursor, go to the function

[2016-06-19 10:46] fxbois commented on #756
Hi, i do not use evil and would prefer you see this directly with them. I can provide help if needed

[2016-06-19 16:21] tbo commented on #756
I wasn't quite able to reproduce the problem without evil-mode. Multiple ways could lead to the output, that is generated by the listed evil commands. It might as well be a problem in evil. Do you have suggestions on how to further debug this?

[2016-06-20 06:13] mostafah opened #757 "Extra indentation after single-line if/for/… statements"
This is the expected format:

[code]

This is what I get:

[code]

The same happens for `for`. I didn’t check the others.

Here’s `web-mode-debug`:

[code]

BTW, thanks for the amazing work.

[2016-06-22 15:12] colepeters opened #758 "Use single quotes for auto-quoted HTML attributes"
In the version 14 release notes, I notice:

…however I haven’t been able to discover how to enable this (double quotes are used by default). Could anyone let me know how to enable this? Thanks!

[2016-06-22 20:51] fxbois commented on #758
It was an error ... I should have written : single quote auto pairing

[2016-06-22 21:14] colepeters commented on #758
@fxbois Thanks for clarifying. Would it be possible to enable single quotes for auto-quoting as an option?

[2016-06-22 21:50] fxbois commented on #758
@colepeters I'll try to work on this

[2016-06-22 21:51] colepeters commented on #758
@fxbois Thanks a lot! :)

[2016-06-23 18:37] dustinpaluch opened #759 "web-mode-attribute functions fail at specific point locations"
1. `emacs -q`
2. `(package-initialize)`
3. `C-x C-f test.php RET`
4. `M-x web-mode RET`

###

Paste this line into the buffer:
[code]
**Calling `C-c C-a k` with the point at the second character of an attribute (e.g. the `r` in `href`) does not work as expected.** I get `<ahref="testing"></a>` instead of `<a ></a>`.

**Related bug:** Placing the point anywhere after the `r` in `href` causes `C-c C

[2016-06-25 18:59] fxbois commented on #758
@colepeters you can use :
```(setq web-mode-auto-quote-style 2)```

[2016-06-25 19:15] fxbois commented on #759
@dustinpaluch should be better with last commit

[2016-06-26 07:29] fxbois commented on #756
@tbo sorry but I am not able to help you on this. Perhaps try on emacs stackoverflow

[2016-06-26 07:29] #756 closed

[2016-06-26 09:36] colepeters commented on #758
@fxbois Works perfectly. Thanks so much!

[2016-06-26 09:36] #758 closed

[2016-06-26 18:41] #757 closed

[2016-06-26 18:41] fxbois commented on #757
@mostafah should be better with last commit

[2016-06-27 11:01] mostafah commented on #757
:+1: Thanks.

[2016-06-27 16:05] dustinpaluch commented on #759
The first bug is fixed. Thank you.
The related bug remains.
[code]
With point on the word "two", hitting `C-c C-a p` twice should move the point to the `h` in `href`, then to the `c` in `class`.

Instead, it moves point to the `r`, and then the `h` in `href`, and it takes two additional `C-c C-a p` invocations to get to the `c`.

[2016-06-28 20:45] fxbois commented on #759
@dustinpaluch I've pushed a fix

[2016-06-29 06:12] fxbois commented on #755
@paultopia please give a complete step by step example ... I am not sure to understand what you mean (for mean, cursor is outside the closing tag)

[2016-07-01 13:46] dustinpaluch commented on #759
Seems to be fixed in c12be4b. Thanks!

[2016-07-01 13:46] #759 closed

[2016-07-01 16:05] jrios opened #760 "variables not being respected"
First, thanks for web-mode. It's been working great for me so far.

I've run into a problem this morning that I didn't have yesterday, so I'm not sure what's going on.

It doesn't appear to be picking up any of the vars I set. Here is a stripped down version of my ``.emacs`` configuration:

[code]

When I run web-mode-debug, I get the following:

[code]

I usually switch between JavaScript mode an

[2016-07-02 07:50] fxbois commented on #760
@jrios Sorry but I have no idea

[2016-07-02 07:51] #731 closed

[2016-07-02 13:54] mostafah opened #761 "Function ending with `While` is recognized as a `while` loop"
This is what happened when I was using [`skipWhile` of Immutable.js](http://facebook.github.io/immutable-js/docs/#/List/skipWhile):

[code]

This is what I expect:

[code]

Functions ending in `for` and `if` have the same effect. This is case-insensitive.

Here’s `web-mode-debug`:

[code]

[2016-07-02 14:19] #761 closed

[2016-07-02 14:19] fxbois commented on #761
@mostafah should be fixed with last commit

[2016-07-02 14:20] mostafah commented on #761
Wow! Thanks.

[2016-07-03 19:39] jrios commented on #760
I was able to get around this issue using this as a solution: https://github.com/fxbois/web-mode/issues/452

I can figure out another way to switch between modes as necessary.

[2016-07-03 19:39] #760 closed

[2016-07-04 17:21] paultopia commented on #755
This is probably best expressed by screenshots.  So here's a demonstration:

I'm merrily typing away at some html file, and I open an italics tag, type the italicized content, and then type `</` -- at which point autocomplete kicks in and supplies the `i>` for me, as shown in this screenshot:

<img width="647" alt="h1" src="https://cloud.githubusercontent.com/assets/11756255/16567221/b5c89392-41e1

[2016-07-04 21:06] fxbois commented on #755
@paultopia perhaps it is due to some other configuration. For me, the cursor is located just after the ```>```.
Try with a very light .emacs

[2016-07-06 20:00] david135 opened #762 "auto-closing capitalized tags: cursor position"
I'm working with a minimal .emacs (just enough to load the web-mode package), with an updated web-mode (14.0.13).

I notice a difference in behavior between the following two cases:
[code]
I'd like to be able to have both cases act similarly (with the cursor left between the tags).

web-mode-reveal indicates that both tags (lower-case and capitalized) seem to have a lower-case tag-names.

lower-ca

[2016-07-06 21:19] NeilMenne commented on #691
I am having this problem. I am using web-mode version 20160702.718, so I was surprised to hit this. Was there something other than just updating that was required to fix the problem?

[2016-07-06 21:34] philiparvidsson opened #763 "highlight-operators-mode and highlight-numbers-mode not working"
The two modes mentioned in the title are not working. I would like to highlight both numbers and operators. How can I do this in web-mode?

[2016-07-07 05:55] fxbois commented on #763
@philiparvidsson It would be best to report this to the maintainers of those modes. I could provide help if needed.

[2016-07-08 13:05] kostafey opened #764 "JSP: Incorrect syntax highlighting"
`web-mode-function-call-face` used for both declaration and call of functions.
It seems `web-mode-function-name-face` is expected for function declaration and `web-mode-function-call-face` for function calls.

[2016-07-08 16:01] lbstoller opened #765 "Odd underscorejs indenting"
Hi. When using emacs 24.5.1 and the most recent web-mode.el from the repository, I get odd indenting in the following fragment:

       <% if (1) { %>
          <td>foo</td>
        <% } else { %>
        <td><%= value.creator %></td>
    <% } %>

I have no customizations. Have you seen this before. I am attaching a screenshot to make sure it is clear.
Thanks!
![foo](https://cloud.githubuserconten

[2016-07-09 07:54] fxbois commented on #765
@lbstoller can you post the output of web-mode-debug

[2016-07-09 12:34] fxbois commented on #764
@kostafey should be better with last commit

[2016-07-09 12:40] #755 closed

[2016-07-09 12:52] fxbois commented on #762
@david135 the last commit should solve this

[2016-07-09 13:46] lbstoller commented on #765
Here is the debug output. The problem with the example is that the indentation is messed up.

--- WEB-MODE DEBUG BEG ---
versions: emacs(24.5) web-mode("14.0.13")
vars: engine("underscore") minor("underscore") content-type("html") file("/home/stoller/testbed/testbed/www/aptui/template/images.html")
system: window(x) config("amd64-portbld-freebsd10.2")
colors: fg(nil) bg(nil)
minor modes: (shell-di

[2016-07-09 13:52] lbstoller commented on #765
Ah, try this example, I think my fragment was too small:

<div>
  <div>
    <% _.each(images, function(value, imageid) { %>
      <% if (isadmin) { %>
	<td>foo</td>
      <% } else { %>
      <td>bar</td>
    <% } %>
    <% } %>
  </div>
</div>

[2016-07-09 13:56] lbstoller commented on #765
Here is a picture of the fragment above:

![fee](https://cloud.githubusercontent.com/assets/5486469/16708290/40a3ea7a-45a2-11e6-9cd6-afb8295edc89.jpg)

[2016-07-10 17:56] #765 closed

[2016-07-10 17:56] fxbois commented on #765
@lbstoller could you try the last version please

[2016-07-10 18:47] #763 closed

[2016-07-11 01:06] lbstoller commented on #765
Yep, that did the trick. Thanks very much!!

[2016-07-11 01:47] david135 commented on #762
Thanks!

[2016-07-11 10:42] kostafey commented on #764
Looks the same with last commit.
Here is example.jsp:
[code]
In both cases `doNothing` has `web-mode-function-call-face` fontification but `web-mode-function-name-face` is expected.

[2016-07-11 13:00] fxbois commented on #764
@kostafey I've pushed a new fix

[2016-07-12 08:50] kostafey commented on #764
@fxbois Problem solved. Thank you!

[2016-07-12 08:50] #764 closed

[2016-07-12 20:11] domtronn commented on #613
I'm still having trouble with this 😞 ...

I have `web-mode-enable-auto-expanding` set to `t` and have the following block of JSX _(where `|` is my cursor;

[code]

As per the documentation, I'm expecting just typing `d/s/` to expand into `<div><span></span></div>`, but it's not... When I do the same thing in a HTML file, calling `web-mode-complete` _does_ expand it but not automatically...

Should

[2016-07-12 20:26] domtronn commented on #613
I've done a little bit of digging and it seems to be the line of the `web-mode-complete` defun which checks the character before does have a `part-side` text property?

In my case _(above)_ this is returning `jsx`

[2016-07-13 06:19] fxbois commented on #613
@domtronn I've pushed a fix

[2016-07-13 06:19] #762 closed

[2016-07-13 07:37] domtronn commented on #613
Awesome thanks! :+1:

[2016-07-14 22:57] alecf opened #767 "Too much indentation inside function with wrapped parameter list"
Very simple

[code]

[2016-07-14 23:29] alecf commented on #767
Discovered one other interesting bit:

[code]

Note that in this second example, the broken indent is just 2 extra spaces in. It seems that no matter what, it wants to go 2 spaces to the right of the last line of the arguments.

[2016-07-15 08:20] fxbois commented on #767
@alecf perhaps you do not have the last version of web-mode (I do not have your issue with the code above)

[2016-07-17 15:07] DoMiNeLa10 opened #768 "Wrong CSS syntax highlighting with :not() pseudo-class"
Web-mode fails to highlight CSS selectors with `:not()` pseudo-class, like in this example:
![image](https://cloud.githubusercontent.com/assets/16294095/16901340/b7f98c52-4c40-11e6-9236-d736d2f914bb.png)
Example code with this problem:
https://gist.github.com/DoMiNeLa10/3c7babfaa7a53160f411b37de858abcd

[2016-07-17 15:31] DoMiNeLa10 commented on #741
I updated the function, and now it prompts for the tag that will enclose the list.

[2016-07-17 19:01] fxbois commented on #768
@DoMiNeLa10 I've pushed a fix

[2016-07-17 19:01] #767 closed

[2016-07-17 21:51] wh11e opened #771 "web-mode-mark-and-expand doesn't work well with expand-region"
https://github.com/magnars/expand-region.el/blob/master/expand-region-core.el#L98
expand-region's expanding logic is something like this:
1. Execute all expanders with save-excursion
2. Find the expander which makes smallest region (also bigger than current)
3. Place the point and the mark using that expander

(In this context, an expander means an item of er/try-expand-list. web-mode-mark-and-exp

[2016-07-18 08:35] DoMiNeLa10 commented on #768
It works. Thanks a lot.

[2016-07-18 08:35] #768 closed

[2016-07-18 10:43] wh11e7rue commented on #771
And there's a need to fix web-mode-element-content-select a bit...

[2016-07-19 11:28] NateEag opened #772 "Cannot enter newlines in HTML"
I had not done web programming in emacs for a while, but I recently started
again, and discovered this problem.

I currently bind [`"RET"` to `"M-j"` in my `prog-mode-hook`](https://github.com/NateEag/.emacs.d/blob/master/init.el#L229),
which I run as part of my `web-mode-hook`.

`"M-j"` is in turn bound by Emacs to `comment-indent-new-line`.

Since web-mode [overrides `comment-indent-new-line` wi

[2016-07-20 09:08] kostafey opened #773 "Remove auto indentation"
How can I remove auto indentation at all? It's buggy, I'll describe the problem in details in the next issue.

[2016-07-20 10:51] fxbois commented on #773
(setq indent-line-function nil) perhaps

Please keep your commentaries like "It's buggy" for you

[2016-07-20 10:51] #773 closed

[2016-07-20 16:01] kostafey commented on #773
Thank you! Yes, it may be related to JSP pages only. Furthermore, it can be fixed via `whitespace-mode`, so I can't explain the problem correctly yet. But it looks terrible in my case. So, you should apologise me for that :).

[2016-07-28 03:22] jacktrades opened #774 "web-mode-comment-formats doesn't seem to work for jsx files after update"
After many months, I've updated to 20160717.1201 and I noticed that commenting js code in jsx files uses the block comment syntax `/* */` instead of the line comment syntax `//` I've set with `web-mode-comment-formats`.

[code]

The line comments work fine in .js files, so it seems to be a jsx only issue.

[2016-07-28 09:27] domtronn opened #775 "Indentation after JavaScript Expressions is wrong"
Hi there, I'm using version `20160717.1201` of `web-mode`, and I'm getting the following strange behaviour with indentation, given the following example code:

[code]

I would expect the indentation of the `<label>` and `<div>` & `<span>` to be two spaces back, like this:

[code]

You can see that the inner `<span>Hello</span>` is indented correctly relative to the container `<div>`, but it seems

[2016-08-05 06:19] jasonm23 commented on #6
Can we re-open this so that head elements `<link>` `<meta>`  do not need to be closed.

I know HTML has ridiculous laxity on elements, but these two are so often left unclosed that it's a  pain to have to do special manual indentation (and never re-indent the whole buffer) when dealing with documents that have been set this way. (and people sometimes edit war / or simply waste time "discussing" ov

[2016-08-05 06:20] jasonm23 commented on #6
Oh and @mbriggs nice avatar ;)

[2016-08-05 06:41] fxbois commented on #6
@jasonm23 it is already the case : see ```web-mode-void-elements```

[2016-08-05 09:34] jasonm23 commented on #6
It is I was being a dummy and using nXML mode :(

Sorry!

[2016-08-09 08:42] joseglego commented on #533
@sineau Can u solved this? I have the same problem

[2016-08-16 18:08] CestDiego opened #777 "Unexpected syntax highlighting for multiline attribute alignment"
It is possible in marko to do things like this:

[code]

But It looks like this:

![screen shot 2016-08-16 at 2 04 56 pm](https://cloud.githubusercontent.com/assets/3291619/17710255/6f529cfa-63ba-11e6-844b-2055e2b25539.png)

And it just looks wrong, it should have every attribute syntax highlightened. also Another request would be to have the indent function indent according to attribute (even if

[2016-08-17 10:29] grks opened #778 "Error when trying to fold in React"
Hi,

I'm switching to web-mode for editing react jsx files, but got an issue with folding.
When I try to fold I get the following error:

    block-controls-get ** invalid value (3567) **

I'm running vanilla prelude. I saw some posts on the net e.g. https://emacs.stackexchange.com/questions/18615/enable-jsx-folding-in-web-mode so just wondering if this is supposed to work?

Thanks for a fantastic

[2016-08-18 15:02] elton2048 opened #779 "JSX comment style"
It is great to have comment and uncomment using web-mode in jsx file. However it is even better if the style of the comment could be the same as the ordinary one.

![jsx_comment_issue1](https://cloud.githubusercontent.com/assets/11803493/17778470/b2f854b2-6596-11e6-81e8-dcc0bbf339bd.png)

The line {/* Here is the some kind of comment in React */} shows the same colour as the HTML element now. The

[2016-08-18 19:55] fxbois commented on #779
@elton2048 please put your example on gist

[2016-08-18 20:23] fxbois commented on #772
@NateEag perhaps you should override "my overriding"

[2016-08-18 21:06] fxbois commented on #775
@domtronn I've pushed a fix

[2016-08-18 21:16] fxbois commented on #771
@wh11e7rue as I do not use expand-region, so I'll trust you on this

[2016-08-19 10:54] #735 closed

[2016-08-19 13:46] elton2048 commented on #779
https://gist.github.com/elton2048/5a373b79399b23f723754a0ad8b03ade

[2016-08-19 16:35] laduke opened #780 "CSS sibling selector gets moved weird."
[code]

turns in to

[code]

(The + sign loses it's leading space)

If I run js-beautify from the command line, this doesn't happen. It only happens when I run  web-beautify-css from emacs. I'm using spacemacs and I'm not sure what all gets started up when I open a css file.

[2016-08-19 16:54] laduke commented on #780
my mistake: css-beautify is the issue.

[2016-08-19 16:54] #780 closed

[2016-08-20 12:27] NateEag commented on #772
I could certainly do that, yeah.

I just thought I should file it as a bug, since it's not exactly intuitive behavior.

Is the difference in behavior between `web-mode-comment-indent-newline` and `comment-indent-newline` intentional?

[2016-08-20 18:25] DoMiNeLa10 commented on #724
https://github.com/fxbois/web-mode/pull/781
I made a pull request with improvements to the function.

[2016-08-21 08:47] fxbois commented on #772
@NateEag as I deal with commenting, I need to set some specific behavior when a user insert a new line in a comment. But in your issue, you talk about newline and not, comment-newline

[2016-08-21 08:51] #724 closed

[2016-08-21 09:58] ChinaXing opened #782 "web-mode-block-kill and select not works"
[code]

when put cursor on '{'  and run M-x web-mode-block-kill, has nothing killed.

[2016-08-21 17:53] fxbois commented on #782
@ChinaXing please see the definition of block on web-mode.org

[2016-08-21 17:55] fxbois commented on #779
@elton2048 I've pushed a fix

[2016-08-22 04:49] ldeck commented on #730
@fxbois So I've found the culprit.

I had the following setting:
[code]

Commenting it out fixes the problem. Why would that be?

[2016-08-22 07:22] fxbois commented on #730
@ldeck I don't know, I do not use this minor mode.
Glad it works now for you

[2016-08-22 14:16] elton2048 commented on #779
The fix works well. Thanks for the effort.

[2016-08-22 14:16] #779 closed

[2016-08-24 21:27] utvk opened #783 "Wrong indention on jsx in es6 class export"
Hi,

I'm using 20160821.1054 and got some trouble with indention while editing jsx in an es6 class export.

The following code:
[code]

Ends up looking like this:
[code]
It seems like the indention is not done and everything is kept on the same level. In general I have a few issues like this while editing different forms of jsx and I can provide some more examples.

[2016-08-25 06:05] fxbois commented on #783
@utvk I am interested by your other examples

[2016-08-29 06:11] fxbois commented on #783
@utvk I've pushed a fix

[2016-08-29 15:43] #782 closed

[2016-08-29 20:51] fxbois commented on #778
@grks could you try with the last version available on github please

[2016-08-30 04:35] xuhdev opened #784 "web-mode-engines-alist undocumented"
Despite mentioned on the homepage, it is never mentioned in the documentation.

[2016-08-30 09:28] grks commented on #778
I tried, but doesn't seem to work. Maybe I'm doing something wrong. This is what I try:

[code]

I then place the cursor between return and true and run the command "C-c C-f runs the command web-mode-fold-or-unfold"

Then I switch to js2-mode and try the same.

So what I'm expecting is that web-mode should work like in js2-mode, it should fold everything in the buffer.

What happens is that I get

[2016-08-30 09:32] fxbois commented on #778
@grks folding is only (at the moment) for html elements and control blocks.
You should use a specific minor mode for your need

[2016-08-30 10:26] grks commented on #778
Ok, thanks. Sorry for not providing a testcase in the first place. Guess we can close this.

[2016-08-30 10:26] #778 closed

[2016-08-30 10:27] fxbois commented on #778
@grks I'll try to improve folding in the next two months.

[2016-08-30 10:30] grks commented on #778
Great :) Let me know if you need some testing!

[2016-08-31 19:09] molgrum opened #786 "web mode indentation (PHP and Dust)"
Hi.

When using web mode and editing Dust or PHP mixed with HTML the indentation is very buggy. Sometimes it is correct, other times it is not indenting any block at all. If writing .php and indenting mixed with HTML it is not indenting one step right after "<?php" but the rest of the code indents correctly. Dust is worse, when creating a template script it indents only one step (after "<script ..

[2016-08-31 20:38] fxbois commented on #786
@molgrum this kind of report is useless

[2016-09-02 14:27] molgrum commented on #786
Here is an example of how Dust breaks for me:
[http://pastebin.com/CLh4an5U](http://pastebin.com/CLh4an5U)

Paste into Emacs + web mode and C-x h TAB

[2016-09-02 14:33] fxbois commented on #786
@molgrum thank you, I'll look at this

[2016-09-03 06:34] fxbois commented on #786
@molgrum I didn't know ```<script type="text/x-dust-template">```
I've just pushed a fix that should solve this issue

[2016-09-03 11:51] molgrum commented on #786
I edited web-mode.el in elpa directory with this change, it is still the same problem. Does it work for you?
I just open that HTML file i pasted and indentation is the same.

[2016-09-03 13:30] fxbois commented on #786
use the version available on github

[2016-09-03 13:30] #786 closed

[2016-09-03 15:31] molgrum commented on #786
Got the update now and it works, thanks alot!

[2016-09-04 18:51] #784 closed

[2016-09-04 18:52] #783 closed

[2016-09-04 18:52] #775 closed

[2016-09-05 15:10] tmtxt opened #787 "Wrong JSX Indentation when inserting open curly brace"
Web mode jsx indentation breaks after inserting an open curly brace on attribute value

For example, when insert `{` after `val=`, the indentation breaks

[code]

![jsx](https://cloud.githubusercontent.com/assets/2741919/18251753/2e2e1a8c-73b5-11e6-8100-40e1ac23d15f.gif)

This happens with both command `autopair-insert-opening` and `paredit-open-curly` but it's okay if I press `C-q {`

[2016-09-06 22:45] joshmedeski opened #788 "Blade syntax highlighting off with apostrophes"
When an apostrophe is in my blade template, it breaks the syntax highlighting. Can you help?

<img width="1398" alt="screen shot 2016-09-06 at 5 44 22 pm" src="https://cloud.githubusercontent.com/assets/2036594/18293631/a688ff48-7459-11e6-9a8a-38246a1b8fdf.png">

[2016-09-06 22:53] xuhdev opened #789 "Support embedded markdown in reveal.js"
Reveal.js presentations usually contain some markdown parts within `<section data-markdown></section>`. It would be nice to see them highlighted.

[2016-09-07 06:06] fxbois commented on #788
@joshmedeski are you sure the major mode associated with this buffer is web-mode ?
Can you send the output of ```web-mode-debug```

[2016-09-07 06:07] fxbois commented on #789
@xuhdev please post on github a example (the bigger the better)

[2016-09-07 06:15] xuhdev commented on #789
@fxbois A demo is available in [their official demo](https://github.com/hakimel/reveal.js/blob/master/demo.html#L107)

[2016-09-07 15:40] 97gupe30 opened #790 "No HTML syntax highlighting"
So I've read this issue:
https://github.com/fxbois/web-mode/issues/153
But still havn't fixed this. Is it impossible to get html syntax highlighting with web-mode?

This is my .emacs file:
`(add-to-list 'load-path "~/.emacs.d/")
(require 'web-mode)
(add-to-list 'auto-mode-alist '("\\.phtml\\'" . web-mode))
(add-to-list 'auto-mode-alist '("\\.tpl\\.php\\'" . web-mode))
(add-to-list 'auto-mode-alist

[2016-09-07 16:22] fxbois commented on #790
@97gupe30 you should ask some help on https://emacs.stackexchange.com/

[2016-09-07 16:22] #790 closed

[2016-09-07 20:57] joshmedeski commented on #788
You're right @fxbois. It's not using `web-mode` (by default). I'll reach out to the spacemacs community and see whats going on.

[2016-09-07 20:57] #788 closed

[2016-09-09 19:20] dustinpaluch opened #791 "web-mode-comment-or-uncomment removes necessary whitespace"
Type

`<?php echo "test"; ?>`

into a new PHP file. Do M-; twice with point over any one of these characters. I expect:

`<?php echo "test"; ?>`

but I get this instead:

`<?phpecho "test";?>`

[code]

[2016-09-16 00:55] uhoh-itsmaciek opened #792 "M-q does not work (but M-x fill-paragraph does)"
When I'm in `web-mode`, `M-q` doesn't seem to work as a binding for `fill-paragrah`. If I call `M-x fill-paragraph` directly, it works fine. `M-q` works for me outside of `web-mode`. Any idea what might be up?

[2016-09-16 06:56] madhavan020985 opened #793 "web-mode-toggle-comments mark buffer as modified"
When i run `web-mode-toggle-comments` to hide all comments in the region, it marks the buffer as a modified buffer. Since the comments are hidden only for viewing purpose, and there is no persistent change in the file content, the buffer's modified state must not be changed.

I had a quick look at the source code as well. And the buffer is made as modified due to this line,
`            (put-text-

[2016-09-16 07:12] fniessen opened #794 "hideshow is inoperant"
First of all, many thanks for this wonderful package, really!

Now, the issue I wanna report: Hideshow does not have any effect when called within Web buffers (my test case: XML file).

Setting the mode to nxml does allow Hideshow to work; so, I have the impression the problem is somehow bound to Web mode.

Thanks!

[2016-09-17 05:04] madhavan020985 commented on #794
I too had the same problem.. Web-mode comes with web-mode-fold-or-unfold (binded to `C-c C-f`). Keep your `point` on the start tag name & do `C-c C-f`

[2016-09-17 08:22] fxbois commented on #794
@fniessen is ```web-mode-fold-or-unfold``` was what you expected ?

[2016-09-20 21:34] #794 closed

[2016-09-20 21:40] #793 closed

[2016-09-20 21:40] fxbois commented on #793
@madhavan020985 I've pushed a fix

[2016-09-20 21:48] fxbois commented on #792
@uhoh-itsmaciek in fact, M-q is bound to web-mode-fill-paragraph which, at the comment, only deals with comments. I need to do some work for the other cases

[2016-09-20 21:56] uhoh-itsmaciek commented on #792
Huh, pretty sure this was in a comment. I can't find where I initially encountered the issue now, and testing a new multiline JS comment does work. Testing a single-line JS comment does wrap but doesn't prefix the wrapped lines with comment markers and doesn't unwrap.

In any case, thanks for `web-mode`--it's awesome!

[2016-09-20 22:04] fxbois commented on #789
@xuhdev some initial work have landed with the last commit

[2016-09-21 20:28] fxbois commented on #787
@tmtxt I've added auto closing to jsx attribute

[2016-09-21 21:31] xuhdev commented on #789
Thanks, please let me know if you need any help!

[2016-09-23 07:07] tmtxt commented on #787
Thanks, let me try

[2016-09-23 22:07] madhavan020985 opened #795 "Hide or show inside array brackets doesn't work"
I have an array of object as
[code]

My cursor is next to square bracket, [] and i try to hide the array using hs-hide-block, `C-c @ C-h`. It doesn't work.
I fixed it by enhancing `hs-special-modes-alist` as,
[code]

[2016-09-24 06:40] fxbois commented on #795
@madhavan020985 ok thanks

[2016-09-24 06:40] #795 closed

[2016-09-25 14:22] tmtxt commented on #787
When will it be on melpa? I installed it using emacs package manager but the newest version I see is still 20160921.1327

[2016-09-27 08:11] grks opened #797 "Indent on && in js"
Hi!

Just a small issue regarding && operator (and possible &, | and ||) with javascript.

In this example

[code]

Shouldn't web-mode indent like this?

[code]

[2016-09-27 15:05] fxbois commented on #797
@grks could you provide a similar example with the condition in a ```if ()```

[2016-09-27 15:17] grks commented on #797
YEa, here is an example. if seems to work fine.

[code]

[2016-09-28 08:24] fxbois commented on #797
@grks aligning ```1 === 0``` and  ```foo()``` is desired behaviour according to me.

[2016-09-28 08:56] grks commented on #797
I think it looks strange as it's really a new block and should be indented as a block. I also tested e.g. js2-mode and it seems to do it what I consider the correct way.

Also it seems a bit inconsistent. E.g. web-mode will indent the bellow like this.

Not sure why it indents with 4 spaces though, js2-mode and my expectations would be to indent with 2 spaces as this is how my mode is configured.

[2016-09-28 09:03] grks commented on #797
I guess it makes more sense to align them in the later example with an return. But when used as a block it's not what I expected. However, just close this bug if it works like you expect.

Here is an example I don't really understand. It seems inconsistent? The first one is onot indented but the second one is?

[code]

[2016-09-28 09:15] stardiviner opened #798 "support to close single tags like <input />"
As the title.
Let function `web-mode-element-close` support to close `<input type="checkbox"` with `<input type="checkbox" />` and other similar tags.

[2016-09-28 09:19] fxbois commented on #798
This function is not designed to do this. It is designed to add a close tag

[2016-09-28 09:24] stardiviner commented on #798
Does `web-mode` has built-in function/keybinding for my purpose?

[2016-09-28 09:43] fxbois commented on #798
no, I advice you to create a simple shortcut to insert ```/>```

[2016-09-28 09:43] #798 closed

[2016-09-28 10:57] aaronjensen commented on #599
@fxbois This would be super helpful for me as well. `web-mode` doesn't work very well when using generic types in flow.

The idea of checking for a preceding character probably would not work unfortunately:

[code]

[2016-09-28 11:07] fxbois commented on #599
@bieber @aaronjensen @vjeux do you have any advice how I could differentiate the two syntaxes ?

[2016-09-28 11:47] aaronjensen commented on #599
@fxbois I'm not familiar with how web-mode is is currently parsing js files so I doubt I could provide much help.

My guess is that you'd need to add support for type expressions if you don't have it already and then follow the examples in [the above comment](https://github.com/fxbois/web-mode/issues/599#issuecomment-145368712).

Also add in arrow functions:

[code]

There's also this potential ed

[2016-09-28 14:30] Denommus opened #799 "Setting web-mode-engines-alist in .dir-locals.el has no effect in Emacs 25.1.1"
I have

[code]

in my .dir-locals.el and

[code]

In my init.el

Although the `web-mode-engines-alist` variable does change in every web-mode buffer under that directory, the engine is not affected. This setup worked in Emacs 24.

[2016-09-28 14:37] fxbois commented on #799
@Denommus I am not familiar with this. Could you ask on emacs stackoverflow please

[2016-09-28 18:14] xuhdev commented on #275
An alternative solution: (adjusted from my answer here http://emacs.stackexchange.com/a/27426/2755 )

[code]

[2016-09-28 20:54] vjeux commented on #599
cc @jeffmo

[2016-09-29 21:23] Denommus commented on #799
@fxbois It's not really a question. The setup used to work under Emacs 24, but in Emacs 25 it doesn't.

[2016-09-30 06:22] fxbois commented on #799
@Denommus ok but I have no clue about this. Try on stackoverflow

[2016-09-30 15:18] jeffmo commented on #599
As @aaronjensen says, it really depends on how `web-mode` is parsing things...

For the stated edge case, the most generic approach might be to parse into a "cover grammar" -- some structure that can accomodate all of the commonalities between JSX and a type param instantiation list. Then once you hit the first character that discriminates between the two (in the example, it would be the `,` after

[2016-10-01 14:59] leourbina opened #800 "Wrong indentation inside object with computed property names (es6)"
Hi! Whenever using dynamic key names (es6) using web-mode in javascript I get inconsistent indentation after the first key:

[code]

It seems to increase after each key. Any thoughts on how we could fix this? Below is the output of web-mode debug:

[code]

Let me know what I can do to help.

[2016-10-01 15:55] fxbois commented on #800
@leourbina do you have any pointer to the spec ?

[2016-10-01 19:15] leourbina commented on #800
Here's a link to the MDN docs: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Object_initializer

[2016-10-06 07:51] denisw opened #801 "JSX inside ternary if/else is indented too much"
Expected indentation (note the two-space indentation of `<ContentIfTrue />` and `<ContentIfFalse />`):

[code]

Actual indentation (three spaces of indentation instead of two):

[code]

It seems as if the indentation would happen relative to the first character after the opening brace, rather than relative to the brace itself.

[2016-10-10 06:05] dagda1 opened #802 "Cannot set comment style to // for javascript"
My init.el looks like this:
[code]

I've also adding the `web-mode-comment-formats` on its own expression:

[code]

But my comment style is still the block

[code]

[2016-10-11 06:29] fxbois commented on #802
@dagda1 could you try to put ```(add-to-list 'web-mode-comment-formats '("javascript" . "// "))``` just before ```(defun my-web-mode-hook ()```

[2016-10-12 08:12] #802 closed

[2016-10-12 08:14] fxbois commented on #797
@grks Sorry but I won't be able to solve this one

[2016-10-12 08:14] #797 closed

[2016-10-12 08:14] #787 closed

[2016-10-14 20:41] mkleehammer commented on #425
For others looking into this later, I found that the whole-line-or-region package in Emacs 25.1 also causes the original issue.

[2016-10-18 16:21] breyno127 opened #804 "Support for Haml and Slim Templates"
Just wondering if this is on the roadmap for this project at all.

[2016-10-19 08:11] fxbois commented on #804
@breyno127 for Slim Templates are you only interested by the Haml support ?

[2016-10-19 13:08] breyno127 commented on #804
Slim mostly, But I _think_ there are likely many people who use Haml as well. I currently use [`slim-mode`](https://github.com/slim-template/emacs-slim) but the support for embedded Javascript the template isn't the best.

[2016-10-19 13:45] fxbois commented on #804
@breyno127 web-mode is before everything else an html mode.
Compatibility with haml is not on the roadmap.

[2016-10-19 14:15] breyno127 commented on #804
Thanks @fxbois I appreciate the quick response. Since this isn't on the roadmap at all I will go ahead and close this in an effort to keep your issues list clean.

[2016-10-19 14:21] fxbois commented on #804
I keep it open because I'll add slim support (but in the html way)

[2016-10-19 14:27] breyno127 commented on #804
What do you mean by "in the html way" out of curiosity.

[2016-10-19 14:32] fxbois commented on #804
you're right ... I thought I add read something.
Let's close this issue

[2016-10-19 14:32] #804 closed

[2016-10-21 23:30] slippycheeze opened #805 "support flagging custom blocks as SQL, CSS, JS"
We have some custom Django tags that embed SQL or JS code inside them, and do some stuff around them – for example, background loading or attach reloading when controls are changed by the user in JavaScript.

It would be great to be able to flag these regions for `web-mode` to highlight those based on something easily configurable, such as "this tag" or so.  In this case the things would be:

[cod

[2016-10-23 08:29] fxbois commented on #805
@daniel-pittman could you post an extended example on git please

[2016-10-24 11:22] deflexor opened #806 "Web-mode uses space indentation in JS in some cases"
Here is how it works with this options enabled:
[code]

So these options (I hope) should give me tab-only indentation.
And here is exaple of .js file and indentation that web-mode uses: (> - tab, • - space)

[code]

Looks fine, just single tab, but when prevous line conatins dot (angular.module), then web-mode decides to indent with mix of tabs and spaces:

[code]

[2016-10-24 11:26] fxbois commented on #806
@deflexor have you used ```(web-mode-use-tabs)``` as it is explained in web-mode.org ?

[2016-10-24 11:48] deflexor commented on #806
No, I haven't. Now I tried it and looks like it solved my problem, thank you.

[2016-10-24 11:48] #806 closed

[2016-10-25 16:21] tomconroy opened #807 "Support Relay.QL in javascript"
Thanks for web-mode! It is great. It would be really nice to have some simple support for indenting inside `Relay.QL` blocks, from https://facebook.github.io/relay/docs/api-reference-relay-ql.html

[code]

[2016-10-26 20:28] dagda1 opened #808 "Paredit and web-mode - Wrong type argument: number-or-marker-p, nil"
I have paredit configured to work on javascript files.  I also have web-mode enabled

It seems to cause a bug in certain situations.

Here is a stack trace I got by trying to clear all the text in an attribute quote:

I get this error

And here is the stack trace:

[code]

[2016-10-26 20:44] dunn opened #809 "(funcall 'web-mode) fails"
And so, accordingly, does `(web-mode)`:
[code]
Among other things this means `vc-resolve-conflicts` can't be run while in web-mode.

This is with v14 on macOS 10.12.1 and Emacs 25.1.

[2016-10-27 07:37] fxbois commented on #808
@dagda1 do you have more infos about those "situations" ?

[2016-10-27 07:39] fxbois commented on #809
@dunn could you post the part of your .emacs that is related to web-mode

[2016-10-27 12:52] mostafah opened #810 "JSX without parenthesis breaks next line"
This is what happens:

[code]

This is what I expect:

[code]

In another example, this happens:

[code]

while this is expected:

[code]

Writing `return <div>A</div>` as `return (<div>A</div>)` or `const a = <div />` as `const a = (<div />)` fixes the indentation, even though JSX does not require the parenthesis here.

This is `web-mode-debug`:

[code]

[2016-10-27 12:54] fxbois commented on #810
@mostafah one ```;``` would help

[2016-10-27 12:57] mostafah commented on #810
You’re right. Using `;` fixes it too, but, again, that is not syntactically necessary. Even [Standard](http://standardjs.com) has no semicolons by default.

[2016-10-27 15:28] dunn commented on #809
[code]
Ha, it's probably that last part, huh.

[2016-10-27 15:29] dunn commented on #809
Yep, fixed that lambda and it's working now.  Sorry!

[2016-10-27 15:29] #809 closed

[2016-10-27 20:17] dagda1 commented on #808
Say I have some jsx in a .js file like this:

[code]

If I am in between the single quotes in the name attribute of the form ```<form name='someName'``` and I hit ```ctrl``` + ```k``` to clear all the text in the quotes then I get the error.

It happens in other places, I'll add a comment when I encounter them again.

Is there anything else I can provide?

[2016-10-29 17:54] nega0 opened #811 "web-mode-comment-or-uncomment exhibits different behavior when commenting and uncommenting"
With emacs 24.5.1, web-mode-20161023.1219 and a minimal config:

[code]

If I have a block of Javascript:

[code]

and I want to comment the second line, I move the point to the second line and execute `web-mode-comment-or-uncomment` (`M-;` by default). As expected this results in:

[code]

Doing the inverse with:

[code]

If I move to the second line and execute `web-mode-comment-or-uncomment` th

[2016-11-01 15:39] kaushalmodi opened #812 "Issue with commenting Go Template snippets"
I am using `web-mode` to edit Go Template HTML files.

I was able to set `web-mode-engines-alist` to correct set the `web-mode-engine` in the Go Template files to `"go"`.

With that, the indentation of the Go Template snippets is working great!

[code]

But, `comment-dwim` is not commenting the templates as shown on `web-mode.org`:

![Comment in gtl engine][1]

For example, if I select `{{ range .

[2016-11-01 15:47] kaushalmodi commented on #812
I don't know `go` language or the intention of `web-mode-comment-go-block`. So I am not sure if this is correct:

[code]

It does not match with
![image](https://cloud.githubusercontent.com/assets/3578197/19895926/02bb5db0-a029-11e6-8df3-23deedeb05b9.png)

[2016-11-01 15:58] kaushalmodi commented on #812
These versions of the comment/uncomment defuns for `go` blocks works for me:

[code]

[2016-11-01 16:03] kaushalmodi commented on #812
So this definitely seems like a bug because the golang.org template spec page shows the only comment syntax as `{{/* a comment */}}` [[Ref][1]].

[1]: https://golang.org/pkg/text/template/#hdr-Actions

[2016-11-02 16:11] CestDiego opened #813 "On Marko Lang Support"
Hi, I've been writing before re: a templating language called [Marko](http://markojs.com/docs/) And I've reached the point to which using web-mode is good but there is an extra tad of functionality that I think would be very awesome to get, but I feel it is a little too far of a stretch to extend web mode. I'm talking about being able to autocomplete taglibs, like in the atom package for it. https

[2016-11-02 21:25] fxbois commented on #801
@denisw Indeed the indentation is done according to the character after the opening brace.

Could you point to an example on the official websites that would help to decide what is better.

[2016-11-02 22:19] leourbina commented on #800
Any updates on this?

[2016-11-02 23:58] jasondf opened #814 "Toggle folding on children doesn't work expected with HTML"
When move cursor to an element and call "toggle folding on children" by press "C-c C-e f", all the following elements are folded, from the cursor to the end of file, not just fold the children elements as expected.
Currently I'm using web-mode 14.0.22, have to upgrade to make this right?

[2016-11-03 05:01] picandocodigo opened #815 "CSS Colorization when setting color variables"
I don't know if this hasn't been implemented or it doesn't work on my machine. When opening Scss files, I get CSS Colorization only when setting a property's color, but not when using variables. This is what I mean:

![Screenshot](http://i.imgur.com/nVuyTTc.png)

The `$red` variable should colorize it's `#F00` value too.

I'm using `web-mode-20161008.22` and `GNU Emacs 24.5.1`. It would be great t

[2016-11-03 20:33] kevinkehl commented on #807
I have also run into this. I'd be happy to take a stab at it if no one's in the middle of it, but would definitely need a pointer or two in the right direction.

[2016-11-03 21:12] fxbois commented on #814
@jasondf could you take two screenshots please: before and after
(I do not manage to trigger the issue)

[2016-11-03 21:20] fxbois commented on #813
@CestDiego with what feature would you like to start ?
I would suggest to create a dedicated minor mode

[2016-11-04 05:29] denisw commented on #801
[This](https://facebook.github.io/react/docs/jsx-in-depth.html#booleans-null-and-undefined-are-ignored) section of the official React docs has the following example:

[code]

[2016-11-04 06:04] jasondf commented on #814
The first picture is the screen before folding:

![image](https://cloud.githubusercontent.com/assets/9963736/19995834/e25a00ca-a295-11e6-8915-41dd5ddc42df.png)

Then move cursor to the first table tag, and press "C-c C-e f" to call command "toggle folding on children". The following picture is result.

![image](https://cloud.githubusercontent.com/assets/9963736/19995850/02d062b8-a296-11e6-86b6-de9

[2016-11-04 08:02] fxbois commented on #814
@jasondf could you post this example on gist please

[2016-11-04 21:22] fxbois commented on #801
@denisw in fact, if ```)``` must be aligned with the ```t``` of ```this``` the extra space is more logical according to me

[2016-11-05 12:54] fxbois commented on #815
@picandocodigo could you test the last commit?

[2016-11-05 12:54] fxbois commented on #814
@jasondf should be better with last commit

[2016-11-05 12:55] fxbois commented on #812
@kaushalmodi corrected with last commit
thx for the code snippet

[2016-11-05 12:56] fxbois commented on #807
@tomconroy @kevinkehl the last commit includes this feature

[2016-11-05 12:56] fxbois commented on #800
@leourbina should be solved with last commit

[2016-11-05 14:55] kaushalmodi commented on #812
Thank you. I confirm the fix.

[2016-11-05 14:55] #812 closed

[2016-11-05 17:24] kevinkehl commented on #807
@fxbois awesome, thanks! It looks like with this commit, the above example is indented like so:

[code]

With the closing bracket below `text` indented at the same level, when it should be outdented one level (and so forth down the closing brackets).

[2016-11-05 17:52] picandocodigo commented on #815
Yes, It's working with the latest commit!

Thank you very much!

[2016-11-05 17:52] #815 closed

[2016-11-06 01:51] hershal opened #816 "SCSS color highlight doesn't work outside of a selector"
If I create a new SCSS file and write this
[code]

then `#ff0000` is not highlighted in red. However, if I write

[code]
then `#ff0000` is properly highlighted in red.

I found out that even if you remove `body`, then the highlighting occurs within the block. However a block without a selector is not valid SCSS. I would like the highlighting to occur in a plain variable declaration, so that I may

[2016-11-06 09:18] fxbois commented on #816
Have you tried the last version on github ?

[2016-11-06 09:32] fxbois commented on #807
@kevinkehl I've pushed a fix

[2016-11-06 13:09] hershal commented on #816
It works! I'm perplexed to why I didn't find #815 when I initially searched for the issue.

Regardless, an amazing major-mode just got even better. Thank you!

[2016-11-06 13:09] #816 closed

[2016-11-06 18:02] kevinkehl commented on #807
Nice, LGTM. Thanks again!

[2016-11-06 18:12] #807 closed

[2016-11-06 19:11] fxbois commented on #813
@CestDiego reopen if I can provide help

[2016-11-06 19:11] #813 closed

[2016-11-06 19:30] fxbois commented on #811
@nega0 sorry but I am not sure to understand what you want ... could you explain an other way please

[2016-11-07 01:05] jasondf commented on #814
@fxbois Sorry for late reply, here is my test code: https://gist.github.com/jasondf/9c5a4f226f86e50e879424c58aa0d710
and I will try the last commit.
Thanks a lot.

[2016-11-07 01:16] jasondf commented on #814
@fxbois Thanks you, now it works perfectly, I will close this issue.

[2016-11-07 01:16] #814 closed

[2016-11-07 19:31] leourbina commented on #800
💯 🌮 🎉 👍  Thank you!!!

[2016-11-07 19:48] #800 closed

[2016-11-17 21:23] jsamsa opened #817 "web-mode-element-children-fold-or-unfold doesn't fold past comments"
&lt;div&gt;
  &lt;div&gt;folds&lt;/div&gt;
  &lt;div&gt;folds&lt;/div&gt;
  &lt;!-- folding will stop here --&gt;
  &lt;div&gt;won't fold&lt;/div&gt;
&lt;/div&gt;

;; Version: 14.0.29
;; Package-Version: 20161106.132

[2016-11-19 07:35] Compro-Prasad opened #818 "id being predicted as color in css"
![screenshot from 2016-11-18 15-21-43](https://cloud.githubusercontent.com/assets/11143962/20453860/1a6e99da-ae58-11e6-86e6-87a65c28c001.png)
The id in the css is being predicted as color as shown in the screenshot. I suppose it should be fixed.

[2016-11-19 17:24] #817 closed

[2016-11-19 17:24] fxbois commented on #817
@jsamsa the last commit should solve this

[2016-11-29 05:52] jondubin opened #820 "Font-lock-flush getting run even when not found"
I started getting this error when web-mode is turned on: `File mode specification error: (void-function font-lock-flush)`. The culprit seems to be this call of `font-lock-flush` https://github.com/fxbois/web-mode/blob/master/web-mode.el#L5304

It seems that previously (before this commit https://github.com/fxbois/web-mode/commit/744777ec6e8fe2c0f3677d5dc84c54c8d9119573), `font-lock-flush` only got

[2016-11-29 07:13] fxbois commented on #820
@jondubin what is you emacs version ?

[2016-11-29 18:47] jondubin commented on #820
@fxbois 24.5, FWIW I'm also using spacemacs version ~0.200.5

[2016-11-30 07:06] fxbois commented on #820
could you try the last version please

[2016-11-30 12:58] ctjhoa commented on #756
I can confirm this issue and it's very annoying.

[2016-11-30 18:19] jondubin commented on #820
Upgraded and it works now. Upgrading also fixed some other issues I was having. Thanks so much!

[2016-11-30 20:03] #820 closed

[2016-12-01 08:18] phenix-factory opened #821 "Losing color hightlight (spacemacs)"
Hello,

Sometimes, web-mode just stop hightlighting thing. I just dont understand why and how.

![selection_023](https://cloud.githubusercontent.com/assets/1810149/20786513/c992a0a8-b7a6-11e6-996c-dc3a114d2a50.png)

I'm using Spacemacs ([my conf](https://github.com/phenix-factory/config-spacemacs)) and emacs 25.1.1.

Anyone can help ?

Thank's !

[2016-12-01 09:33] phenix-factory commented on #821
Hi,
I'm using Spacemacs ([my conf](https://github.com/phenix-factory/config-spacemacs)) and emacs 25.1.1.

[2016-12-04 09:54] lukertty opened #823 "Support for Vue stylus style"
This syntax in .vue has no highlight:
[code]

[Source code](https://github.com/vuejs/vue-hackernews-2.0/blob/master/src/components/ItemList.vue)

![image](https://cloud.githubusercontent.com/assets/11374295/20865351/2a35276e-ba4a-11e6-9c59-4c54e62d466e.png)

[2016-12-04 20:28] fxbois commented on #823
@lukertty is there any website about this stylus language ?

[2016-12-05 03:54] lukertty commented on #823
@fxbois
[stylus-lang.com/](http://stylus-lang.com/)
[github.com/stylus/stylus](https://github.com/stylus/stylus)

[2016-12-05 16:04] jstaffans opened #824 "Support for styled-components"
It would be awesome to have basic support for `styled-components`! See https://styled-components.com/

![screen shot 2016-12-05 at 17 00 46](https://cloud.githubusercontent.com/assets/1368965/20891897/6f238c22-bb0c-11e6-82d1-a4a8e05556a1.png)

Basically, CSS highlighting should be enabled between the backticks after `styled.*`. For reference, there's an [open PR for Sublime](https://github.com/bab

[2016-12-06 12:59] pascalhaakmat commented on #397
Thanks for web-mode, I just installed it from github and it looks promising! I did run into an issue with folding that seems related to the above. C-c C-f gives an error ("block-controls-get ** invalid value (number) **") when the cursor is immediately AFTER a tag.

For example (◼️ = cursor position):

<div>◼️
    <span>text</span>
</div>

Then hitting C-c C-f triggers the error. I would expect it

[2016-12-06 13:09] fxbois commented on #821
@phenix-factory do you have the same issue without spacemacs ?

[2016-12-09 09:11] grks opened #827 "Generator functions in javscript"
Just a small thing, it doesn't seem like javscript generator functions are highlighted as functions. Should they?

Sometimes people write them like this
[code]
which works, as function gets highlighted. But this form is also not uncommon
[code]

which doesn't get highlighted (e.g. from https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Generator)

Small thing, and not

[2016-12-10 10:39] fxbois commented on #821
@phenix-factory please reopen when you can provide some help

[2016-12-10 10:39] #821 closed

[2016-12-10 10:39] #811 closed

[2016-12-10 10:40] #801 closed

[2016-12-10 10:43] #827 closed

[2016-12-10 10:43] fxbois commented on #827
@grks I've pushed a fix

[2016-12-10 14:36] TCMiranda opened #828 "Color CSS or HTML inside es6 template strings"
Hey,

It is becoming common to me seeing situations where templates are written using es6 template strings.
I've also seen some javascript code editor coloring content inside them when it is recognized CSS rules or HTML content.

Examples

**Common in Angular2 small components**
![screenshot from 2016-12-10 12-31-44](https://cloud.githubusercontent.com/assets/10077439/21073997/ebc9bee2-bed4-11e6-8

[2016-12-10 15:42] fxbois commented on #828
@TCMiranda you're right ... perhaps this issue could be posted on the ES6 newsletter.

At the moment, I could rely on something like:

``` template: /*html*/`<div>`   ```

[2016-12-11 20:45] TCMiranda commented on #828
@fxbois Thanks for the answer!
Yea, I don't know much about that, but what you expect from posting the issue?

I wonder if there is some pattern commonly used to annotate the content of texts. Do you think so?
It would be a little sad to use something like ```template: /*html*/`<div></div>` ``` working on a team where I would be the only one benefiting from it, principally if it is not any kind of

[2016-12-12 07:11] fxbois commented on #828
@TCMiranda 'guessing' the content type inside the template string would be doable ... but not really clean.

[2016-12-12 10:49] TCMiranda commented on #828
Uhmm right, now I see the point of posting the issue, currently we can say that template strings are way to generic... Something like php `<<<something` seems like a better approach from this perspective right?

[2016-12-12 10:53] fxbois commented on #828
That's right. And I already use this kind of detection for php to detect sql statements.

[2016-12-16 20:05] Taariqq opened #829 "Emmet support"
Hi,

Does this support emmet-mode? C-j seem to produce html style tags instead of expanding the command in css mode.

[2016-12-19 12:41] grks opened #830 "React with {} attribute and JSX indention"
Hi!

here is another JSX/React that you might want to fix.

[code]

Shouldn't || align up with &&?

[2016-12-23 18:19] pedroteixeira commented on #668
Hi there,

It seems currently the new "method definition" in es6 is interpreted as "Web Mode Function Call Face".
Is there currently way to distinguish between function call and method definition?

thank you,
Pedro

[2016-12-23 20:26] ttmarek opened #831 "Indentation in JavaScript Promise (and other) chains."
Hi,

I've got a Promise chain in my codebase. By default, web-mode will indent it as follows:

(this is just an example)
[code]

I actually don't mind this way of indenting, but my co-workers don't like it very much. They want the indentation to match what their (lesser) code-editors give them:

[code]

I tried adding the following commands to my web-mode-hook:

[code]

And it sort of worked, but

[2016-12-24 09:35] fxbois commented on #831
@ttmarek The useful line is ```(add-to-list 'web-mode-indentation-params '("lineup-calls" . nil))```
Could you add in your conf ```(setq web-mode-code-indent-offset 2)```

[2016-12-24 09:37] fxbois commented on #828
@TCMiranda Hi, have you progressed on this ?

[2016-12-24 09:37] fxbois commented on #829
@Taariqq web-mode is not css-mode ... what do you mean ?

[2016-12-24 10:06] #830 closed

[2016-12-24 10:27] fxbois commented on #823
@lukertty should be available soon

[2016-12-24 13:03] skyer9 opened #832 "feature : delayed syntax highlight"
js2-mode has delayed syntax check feature.

[code]

I think it is useful for web-mode.
not reparse buffer on every typing, but once after typing is delayed.

[2016-12-25 11:13] fxbois commented on #832
Could you propose a patch ?

[2016-12-27 19:52] TCMiranda commented on #828
Hey, sorry, I didn't much. Actually, it is possible to use patterns on libraries to detect the type, but it could be exhaustive.

For example https://angular.io/docs/ts/latest/api/core/index/Component-decorator.html
Angular2 @Component decorator
[code]

The notation at the object could be useful, but very specific. It is not a pattern beyond angular2 framework.

In a broader manner I would need he

[2016-12-27 19:59] fxbois commented on #823
@lukertty the last commit adds basic compatibility to stylus parts

[2016-12-27 23:22] Taariqq commented on #829
But web-mode supports CSS, right?

[2016-12-28 07:27] fxbois commented on #829
I do not use emmet, could you describe exactly what you would like

[2016-12-28 20:28] Taariqq commented on #829
Never mind. I just read on the website that web-mode supports CSS only embedded in html. That explains it. As far as Emmet is concerned, you have to look at it to realize what it is.

[2016-12-29 07:29] #829 closed

[2016-12-29 07:46] mariusk opened #834 "Refusing to parse with "jsx-skip ** warning **" messages"
I have some complex jsx layouts in React components which web-mode refuses to parse, spewing warnings in the Emacs message log. It seems related to arbitrary limits of 2000 and 100 characters in web-mode.el. The limits seem rather low and ideally should be user configurable.

[2016-12-29 07:47] fxbois commented on #834
Hi i ll change this very soon

[2016-12-30 02:19] geoyws opened #835 "Syntax highlighting not working with /* */ comments in JavaScript"
I have to `m-x font-lock-fontify-buffer` manually in order to get it right again.
![screen shot 2016-12-30 at 10 18 26](https://cloud.githubusercontent.com/assets/1738396/21558705/692e3d8c-ce79-11e6-9ff5-b07b98749a97.png)
![screen shot 2016-12-30 at 10 18 50](https://cloud.githubusercontent.com/assets/1738396/21558709/72f2984a-ce79-11e6-966c-8635b4c8f228.png)

[2016-12-30 08:52] fxbois commented on #835
@geoyws could you describe exactly the different steps to trigger this please

[2016-12-30 09:08] geoyws commented on #835
Odd. After restarting emacs and removing a few lines from my .emacs it doesn't happen any more. Will come back if it returns and will try to pin down the reason. It was really putting me off for a while.

[2016-12-30 18:25] fxbois commented on #835
@geoyws ok, reopen if needed

[2016-12-30 18:25] #835 closed

[2016-12-30 18:29] fxbois commented on #834
@mariusk I've pushed a fix

[2016-12-30 18:46] mariusk commented on #834
Thanks, that should be helpful. I had taken care of it already at my side. Be advised I think there's at least two places where the values 2000 and 100 were used. Your fix seems to only increase it from 100 to 1000 in one place, but you probably know the code better than I do so it might very well be in the one place that triggers the behaviour I described. Thanks again.

[2016-12-30 18:48] fxbois commented on #834
@mariusk I'll no pb increasing thoses values as soon as a user triggers thoses limites

[2016-12-30 18:48] #834 closed

[2017-01-03 08:53] bmalehorn commented on #733
This issue bothers me, too, so I looked into it.

The goal is to call `c-fill-paragraph`, which does the fancy `*` thing we've come to expect in C/C++/Java. These major modes all derive from `cc-mode`.

However, calling `c-fill-paragraph` from `web-mode` doesn't work. It only works if called from within `cc-mode`.

So a gross workaround is:

    (defun my-fill-paragraph ()
      (c-mode)
      (fi

[2017-01-03 21:22] chrisbarrett opened #836 "Incorrect indentation in JS for Flow exact object types"
Great package, thanks for the effort. 👍

The JS indentation logic does not handle certain Flow type declarations correctly. Specifically, [exact object types](https://flowtype.org/docs/objects.html#exact-object-types) are indented incorrectly.

Expected:

[code]

Actual:

[code]

I assume the `{| ... |}` pairs are the problem here.

I would be happy to submit a PR, so any pointers on how the inden

[2017-01-03 21:32] fxbois commented on #836
@chrisbarrett do flow scripts have a specific extension ?

[2017-01-03 21:42] chrisbarrett commented on #836
No, they are standard JS files plus a babel blugin. However, they must contain the following comment:

[code]

[2017-01-06 16:17] ttmarek commented on #831
Hey @fxbois.

So I do have `(setq web-mode-code-indent-offset 2)` already, and I still get zero indentation. Here's my complete setup:

[code]

[2017-01-06 16:36] fxbois commented on #831
the ```add-to-list``` should be out of the hook

[2017-01-06 17:27] ttmarek commented on #831
Okay, so I pulled the `add-to-list` out of the hook, I also tossed it under `:config` in the `use-package` expression (it didn't work under `:init`). That didn't work, so I commented out `(js2-minor-mode)`, and that didn't work.  I ended up with:

[code]

and I'm still having the same issue?

[2017-01-07 16:43] racktear opened #838 "No syntax highlighting on buffers with names starting from space"
Web-mode doesn't highlight syntax on buffers whose names start with space.
Try opening a temporary buffer named " foo.html" (without quotes).

It prevents syntax highlighting from working in org mode, because it uses a temporary buffer starting with space for this purpose.

[2017-01-07 17:12] racktear commented on #838
I figured out that in temporary buffers, font lock is disabled by default, and needs to be enabled by `(font-lock-ensure)`.

If i do `(font-lock-ensure)` on a temporary html-mode buffer, the syntax highlighting appears, but not in a temporary web-mode buffer.

[2017-01-08 15:27] DoMiNeLa10 commented on #838
I can confirm that the same thing happens when opening a file that has a name starting with a space. `web-mode` seems to work fine, it just doesn't do any font locking.

[2017-01-08 17:04] racktear commented on #838
@DoMiNeLa10 neither does html-mode by default. This is a feature of emacs, that temporary buffers (starting with spaces) are not fontified. But the difference is that if you call (font-lock-ensure), in html-mode you'll get fontification even in temporary buffers, while in web-mode you won't.

[2017-01-09 06:47] skyer9 commented on #832
when quail-overlay exists, point function always returns 1.
so, it needs modification like below.

'''lisp
(defun web-mode-font-lock-highlight (limit)
  (cond
   (web-mode-inhibit-fontification
    nil)
   (t
    (if (and quail-overlay (overlay-start quail-overlay))
        (web-mode-highlight-region (overlay-start quail-overlay) limit)
      (web-mode-highlight-region (point) limit))
    nil)

[2017-01-09 07:07] fxbois commented on #832
@skyer9 that was what caused slowness ?

[2017-01-09 08:35] skyer9 commented on #832
when quail-overlay exists, point function always returns 1.
it means when file size is big(for example 23000 line) and editing 20000 line of source code,
web-mode fontify 1 ~ 20000 line for every typing.

[2017-01-09 08:36] fxbois commented on #832
@skyer9 web-mode.el has never worked like this, it only refreshed the zone needed

[2017-01-09 08:38] skyer9 commented on #832
when quail-overlay exists, point function always returns 1.
[code]

[2017-01-09 08:47] fxbois commented on #832
@skyer9 ok, understood. I'll look at this. Thx

[2017-01-09 09:15] skyer9 commented on #832
thanks.
it will help CJK Language users(Chinese, Japanese, and Korean).

[2017-01-11 23:30] jcubic opened #839 "Completion inside html comments"
If you have code like this:
[code]

and you type `</` it will complete with `</article>` even that you're inside comment. It should complete <p> or do nothing.

[2017-01-12 04:51] skyer9 commented on #832
if user did not use quail input method, undefined error ocurrs.
so some code need to add like below.
i found this bug after restarting Emacs.

[code]

[2017-01-12 07:20] fxbois commented on #832
@skyer9 could you send me screenshots of what quail do ?

[2017-01-12 20:33] davebrown commented on #564
Same problem as @wukkuan reported in August. In `web-mode` I get this behavior:

![web-mode-indent](https://cloud.githubusercontent.com/assets/455354/21906895/1217e130-d8c2-11e6-9e36-fe8489b6dbf1.gif)

In `js-mode` the closing brace indents as expected:

![js-mode-indent](https://cloud.githubusercontent.com/assets/455354/21906925/31e58832-d8c2-11e6-8ea0-2d3fde1ee83c.gif)

My environment:

- **web-

[2017-01-12 20:50] davebrown commented on #564
I just noticed that hitting `<enter>` after `}` *does* fix the indent:
![web-mode-indent-fix-after-newline](https://cloud.githubusercontent.com/assets/455354/21907690/6cea4384-d8c5-11e6-9212-33ea85d24e2b.gif)

Perhaps a stylistic difference; I typically close a new block with `}`, then navigate up a line to fill it in, which happens in other modes.

Also, output of web-mode-debug:

[code]

[2017-01-13 04:14] skyer9 commented on #832
tex input method also uses quail.

[code]

this methos shows how quail mode works.

[2017-01-13 07:21] fxbois commented on #564
@wukkuan @davebrown I've just pushed a fix

[2017-01-13 07:23] fxbois commented on #838
@racktear @DoMiNeLa10 What do you propose ?

[2017-01-13 14:56] davebrown commented on #564
@fxbois hmm, I pulled web-mode.el as of revision 8139cf (double checked that I have your added text from [this rev](https://github.com/fxbois/web-mode/commit/8139cfa03dc80d78c258147095eb4204b2f75be8) ) restarted with minimal .emacs file as above, and still get the same behavior.
![web-mode-indent-with-fix-8139cf](https://cloud.githubusercontent.com/assets/455354/21934115/10e9a866-d95d-11e6-8d4a-27

[2017-01-13 17:24] DoMiNeLa10 commented on #838
@racktear It seems that calling `(font-lock-ensure)` in modes like `org-mode` does font locking, but it doesn't update when you start editing text in a buffer. I don't think that users are intended to edit files that have names starting with spaces.

[2017-01-13 17:31] #838 closed

[2017-01-15 23:15] tsuchim opened #843 "take cate smarty templete with xoops delimiters"
Thank you for great major mode.
I'd like to add alternative delimiter "<{" and "}>" for smarty which required by xoops(one of CMSs).
I've tried to add by musqlf, however, close tag , i.e. "<{/if}>" has not worked.
Could you help me?

This is a patch of my work.
Thank you in Advance.

[code]

[2017-01-16 07:09] fxbois commented on #843
@tsuchim is there any page where this syntax is described ?

[2017-01-18 19:10] ttmarek commented on #831
@fxbois I made a little discovery today, with the above setup the indentation works perfectly fine as long as the promise isn't implicitly returned from an arrow function. For example:

In the following two cases, the indentation is as expected:

[code]

[code]

BUT, if I implicitly return the promise from an arrow function, the indentation doesn't work:

[code]

I hope this helps.

[2017-01-18 20:11] #831 closed

[2017-01-18 20:11] fxbois commented on #831
@ttmarek I've pushed a fix

[2017-01-18 20:18] ttmarek commented on #831
@fxbois wow, so quick, that's awesome. Remind me to buy you a beer if you ever visit Toronto.

[2017-01-19 05:03] skyer9 commented on #832
my final modification is below.

[code]

adding advice to function solved my ploblem.

[2017-01-19 05:03] #832 closed

[2017-01-20 02:59] sunhuachuang opened #844 "sorry to ask: how to use auto expanding?"
write `d/s/` show `<div><span>|</span></div>)`
my config:
[code]
need define-key ? or TAB? ENTER?

[2017-01-20 07:03] fxbois commented on #844
@sunhuachuang do you use emacs in a terminal ?

[2017-01-20 07:07] sunhuachuang commented on #844
@fxbois no, most time in gui.

[2017-01-20 07:11] fxbois commented on #844
@sunhuachuang what is your question ? you want to disable expansion of d/s/ ?

[2017-01-20 07:14] sunhuachuang commented on #844
@fxbois I need it, but I write d/s/, I don't know how to make it to `<div>...</div>`

[2017-01-20 07:22] fxbois commented on #844
@sunhuachuang with ```(setq web-mode-enable-auto-expanding t)``` and in gui mode, it should work straight away.

[2017-01-20 07:29] sunhuachuang commented on #844
@fxbois It seems something conflict. ok, thx. I will check myself.

[2017-01-20 07:34] #844 closed

[2017-01-22 17:32] tbo commented on #756
I tried to find some help on Stackoverflow and the Evil issue tracker, but haven't got a single answer within the past 6 months:

http://emacs.stackexchange.com/questions/24542/pasting-text-doesnt-work-properly-in-evil-web-mode
https://github.com/emacs-evil/evil/issues/703
(BTW: evil moved to github a few days ago and as result the dates are wrong)

It seems that spacemacs users are affected by th

[2017-01-23 18:33] jeffkaufman opened #845 "Very slow on large files"
I have a large file (several megabytes) that's mostly html, with a small amount of js and css mixed in.  Web Mode does well with it once it's open, but takes about 20s to open the file.  Here's a minimal example:

[code]

[2017-01-26 06:24] tsuchim commented on #843
Thanks for response.
The syntax of Xoops Template is as same as that of Smarty, because Xoops uses Smarty as its template engine.
But "<{" and "}>" are used as delimiters instead of "{" and "}".

I tried using "web-mode-engines-alternate-delimiters" it however was no longer supported.

[2017-01-26 07:11] fxbois commented on #843
@tsuchim is there any reference on the web ?

[2017-01-26 08:59] tsuchim commented on #843
I'm so sorry, I cannot find any good reference out yet.
A possible helpful page is here.
http://xoops.org/modules/smartfaq/faq.php?faqid=212

[2017-01-31 02:42] konnorbeard commented on #805
This would be awesome to use with shopify site customization, I was just looking around for a way to do this with web-mode. They use the following:
[code]

etc.

[2017-01-31 19:26] fxbois commented on #805
@konnorbeard I've pushed a fix

[2017-01-31 20:04] konnorbeard commented on #805
@fxbois that's awesome, thanks so much. I just submitted #846 which adds support for the {% schema %} tags that are also present in shopify's liquid templates and contain simple json, in case that's something you guys found useful to add.

[2017-02-05 22:30] jojojames commented on #164
That snippet didn't work too well for me. I lost the auto formatting of the %> when I used that snippet.
I don't think smartparens handles < and <% together.

[2017-02-05 23:38] jojojames opened #847 "Adding customization point to better support smartparens"
With no code to synergize smartparens and web-mode, we will see duplicate tags.

Typing <%= gets us this.

<%=  | %>**>** Bolded was already inserted by smartparens.

Looking at the snippet here for smartparens http://web-mode.org/

[code]

It seems that we lose some bit of functionality disabling the autopairing. The autopairing provides autopairing as well as puts the cursor where the user expec

[2017-02-06 04:11] johand commented on #164
@jojojames look [here](https://github.com/bbatsov/prelude/blob/master/modules/prelude-web.el#L50)

[2017-02-06 04:49] jojojames commented on #164
@johand

I made another issue thread. https://github.com/fxbois/web-mode/issues/847

Setting the autopairing to off isn't that great of a solution.

[2017-02-06 05:42] jojojames commented on #847
Resolved in https://github.com/fxbois/web-mode/issues/164

[2017-02-06 05:42] #847 closed

[2017-02-08 16:30] krzysztofzuraw opened #848 "Web-mode uses 1 space indent instead of 2"
Hey,
I have this config in my `init.el`:
[code]
And when I have `<script>` tag I only have javascript code indented by 1 space instead of 2. Is there a way to fix that?

[2017-02-09 16:11] fxbois commented on #848
@krzysztofzuraw please ask on stackoverflow

[2017-02-09 16:11] #848 closed

[2017-02-11 14:12] fxbois commented on #843
@tsuchim could post a complete xoops template example on gist please

[2017-02-11 20:12] fxbois commented on #845
@jeffkaufman I've looked at your example and am able to open it in less than 3 seconds on a 2014 macbookpro
I doubt I can do anything about this

[2017-02-11 20:12] #845 closed

[2017-02-11 21:56] fxbois commented on #397
@pascalhaakmat should be better with last commit

[2017-02-11 21:56] #397 closed

[2017-02-11 22:00] fxbois commented on #727
@yamafaktory do you have a screenshot of an editor that handles this the way you want ?

[2017-02-11 22:01] #818 closed

[2017-02-11 22:01] #823 closed

[2017-02-11 22:02] fxbois commented on #777
@CestDiego I have no clue how to handle this nicely ...
Won't be able to work on this

[2017-02-11 22:02] #777 closed

[2017-02-11 22:07] #808 closed

[2017-02-11 22:07] #733 closed

[2017-02-11 23:11] #720 closed

[2017-02-11 23:16] #839 closed

[2017-02-14 15:38] ramblehead commented on #397
I recently found that nXML mode is no more sufficient for my HTML needs (after moving to HTML5) and discovered web-mode. It is brilliant! Thank you for sharing it!

While setting it up for code folding I came across this thread. The C-c C-f worked out of the box for me. However, it did not work for embedded JavaScript, so I had to setup hs-minor-mode as well. Then, the folded web-mode and hs-minor

[2017-02-14 15:57] fxbois commented on #397
@ramblehead thx for sharing !

[2017-02-14 17:06] ramblehead commented on #397
Another small observation with both ```C-c C-p``` folding and with my ```hs-minor-mode``` solution: neither of them folds HTML comment blocks ``````

The problem seems to be with ```web-mode-forward-sexp``` function as it does not go from `````` as, perhaps, it should.

When in my code above I add

[code]

to ```rh-web-hs-html``` function, and

[code]

to ```vr-web-hs-default``` function, the HTML

[2017-02-14 17:08] fxbois commented on #397
@ramblehead could you open a specific issue for html comment folding please

[2017-02-14 17:20] ramblehead opened #849 "HTML comment folding does not work"
Default web-mode ```C-c C-p``` folding and ```hs-minor-mode``` folding solution proposed in #397 do not work with HTML comment blocks ``````

The problem seems to be with ```web-mode-forward-sexp``` function as it does not go from `````` as, it probably should.

When in #397 ramblehead's code snippet the following

[code]

is added to ```rh-web-hs-html``` function, and

[code]

is added to ```rh-w

[2017-02-15 13:37] kaofelix opened #850 "Auto opening does not work with newline-and-indent"
I did some edebugging to figure out why auto opening was not working for me and I realized that in [this line](https://github.com/fxbois/web-mode/blob/master/web-mode.el#L10043) it's specifying `newline` and `electric-newline-and-maybe-indent`, but my `RET` key is set to `newline-and-indent` (seems to be default on Spacemacs). Since this function is part of Emacs (it's defined in simple.el) I thou

[2017-02-15 18:23] fxbois commented on #850
@kaofelix I've pushed a fix ... thx for this perfect bug report

[2017-02-15 21:41] kaofelix commented on #850
Got the updated package from melpa, works like a charm. Thanks for the timely update!

[2017-02-15 21:41] #850 closed

[2017-02-17 11:49] jcubic opened #851 "indent-for-tab-command don't indent region"
I have tab set to indent-for-tab-command (don't know if that's default) and when I select region and press tab the code is not indented correctly. You can test it using:
[code]
or html:
[code]
the output of this is this:
[code]

[2017-02-17 12:34] fxbois commented on #851
@jcubic perhaps try on emacs stackoverflow.
When I ```C-x h``` and ```TAB``` it works perfectly here

[2017-02-17 12:34] #851 closed

[2017-02-17 13:07] jcubic commented on #851
It work when I call emacs -q probably something with my .emacs file. Thanks.

[2017-02-17 23:32] covercash2 opened #852 "web mode fails at runtime, no usable features"
when I start web mode it gives the error: `Wrong number of arguments: (2 . 2), 1`

I'm new to emacs so I'm not sure how to interpret this message. I found some leads that it might be symlinks or daemon mode, but I cp'd the directory and tried it GUI mode (no daemon) with the same result.

macOS 10.11.6
emacs 25.1

[dotfiles](https://github.com/covercash2/dotfiles) (it's a mess in there, but init.e

[2017-02-18 07:42] fxbois commented on #852
@covercash2 could you try without daemon mode and with a very "light" .dotemacs ?

[2017-02-19 20:05] fxbois commented on #849
@ramblehead the last commit brings html comment folding

[2017-02-19 23:09] tbo commented on #756
@fxbois Are you watching closed issues?

[2017-02-20 06:55] fxbois commented on #756
@tbo I can provide help on this but not more. I am not an evil-mode user

[2017-02-20 17:00] ramblehead commented on #849
C-c C-f now works on comment blocks as expected! Thank you for taking time looking at this issue.

However, ```web-mode-forward-sexp``` behavior is still slightly different from ```sgml-skip-tag-forward```:

Consider the following random comment lines block, where ```*```` represents point position:

[code]

Running ```(sgml-skip-tag-forward 1)``` would result in signal ```(scan-error "Unbalanced

[2017-02-21 16:58] #849 closed

[2017-02-21 16:59] fxbois commented on #849
@ramblehead the last commit should solve this

[2017-02-21 17:35] ramblehead commented on #849
Thank you! This is excellent! Can now fold everything with ```C-S-j``` like in Dreamweaver and no sgml-mode dependency.

[2017-02-21 22:55] fxbois commented on #852
@covercash2 please reopen if needed

[2017-02-21 22:55] #852 closed

[2017-02-21 22:55] #843 closed

[2017-02-21 23:45] covercash2 commented on #852
sorry for the delay.

[here's](http://pastebin.com/czjRcsSy) my minimal init.el

I took the opportunity to clean up the exec-path. I also removed the symlink and copied the files over and ran in non-daemon mode. same error.

[2017-02-22 07:07] fxbois commented on #852
@covercash2 could you switch to the ```*Messages*``` buffer and copy/paste the related message ?

[2017-02-22 07:20] covercash2 commented on #852
right, so I figured out, to my embarrassment, that the web-mode functions were working. I hadn't even thought to try since syntax highlighting was off and there was an error message. I did a web-mode-reload and everything started working without error. syntax highlighting, element highlights, go template engine, etc.

earlier today I tracked a lead on abbrev-table-get with some long confusing args

[2017-02-22 07:51] fxbois commented on #852
@covercash2 perhaps ask some help on emacs stackoverflow

[2017-02-25 21:12] DoMiNeLa10 opened #854 "A merge?"
I've had my own fork of `web-mode` for a long time now, and I added some features. I don't want to make a pull request, because the commit history is a mess in my repo, and I'd get a lot of merge conflicts if I tried.

My repository is [here](https://github.com/DoMiNeLa10/web-mode). I don't know if all of things that I've added are worth merging back, so I'm asking if anything from my repo is good

[2017-02-28 02:23] faber opened #855 "Formatting/indentation issue w/ TSX + generics"
(Originally posted here: https://github.com/ananthakumaran/tide/issues/119)

I've noticed that certain combinations of TSX and generics seem to break the indentation.  Based on the syntax coloring, I think what happens is that it incorrectly is classifying `{}` as "interpolated js inside of a TSX block", rather than regular braces... here's an example screen shot:

![screen shot 2017-02-25 at 11 5

[2017-02-28 17:33] tbo commented on #756
@fxbois I'm fine with that. I will continue my debugging efforts, but I'm unfamiliar with the internals of web-mode. I would appreciate some hints on where to start. Maybe even some references to emacs to concepts I should get familiar with.

[2017-02-28 23:40] 501st-alpha1 opened #856 "Incorrect parsing of @model directive containing C# generic in Razor file"
In a Razor file, I'm having trouble when using generics in the `@model` directive.  In a file such as this:

[code]

The `<SomeModel>` part is highlighted blue, which seems to indicate it is recognized as an HTML tag, which it definitely is not.  This in turn throws off indentation, closing tag matching, etc.

Output of `M-x web-mode-debug`:

[code]

[2017-03-01 07:02] fxbois commented on #856
@501st-alpha1 could you post a more complete example ?

[2017-03-01 07:03] fxbois commented on #854
@DoMiNeLa10 I'll look at it

[2017-03-01 07:03] #854 closed

[2017-03-03 20:24] tysteiman opened #857 "Differentiate jQuery $ symbols."
It would be nice if web-mode supported a different syntax for at least the $ sign when working with JavaScript. When working within jQuery it seems somewhat standard in other editors to color the $ sign and I think it helps the jQuery stand out and become more readable. This is especially true since the $ is the same color as parens, brackets, and other variables.

Some editors actually apply colo

[2017-03-07 00:54] ghali opened #858 "The dot operator aligns with periods within comments"
On Emacs 25.1.1, OS X 10.11.6, using web-mode 13.1.16, and the following ~/.emacs:

    ;;-*-Emacs-Lisp-*-

    (package-initialize)

    (setq load-path (cons "~/elisp" load-path))
    (require 'web-mode)
    (add-to-list 'auto-mode-alist '("\\.js\\'" . web-mode))

the presence of periods inside comments messes up the indentation.

In the following `file.js` for example, the dot operator precedin

[2017-03-07 01:45] ghali commented on #858
The problem is solved after updating to Emacs-pretest-25.2-rc2 and web-mode 14.1.1.

Thanks for providing a nice solution to a long-standing problem.

[2017-03-07 01:45] #858 closed

[2017-03-08 13:56] teozkr commented on #665
This still seems to be broken using the latest version from MELPA.

More specifically, it seems to never want to dedent if the first thing inside the block is another `@`-thing. See https://gist.github.com/teozkr/d90eff707e4a94ca75cc29de35131ec1 for a few examples.

`web-mode-debug`:

[code]

[2017-03-09 07:57] fxbois commented on #665
@teozkr could you post a screenshot of an editor that colorises and indents the good way
TIA

[2017-03-09 08:03] fxbois commented on #857
@tysteiman I've pushed a fix

[2017-03-09 08:03] #857 closed

[2017-03-10 19:54] mkleehammer opened #859 "Tags not recognized in text/template scripts"
In a script tag like the following, tags aren't recognized, so font-lock isn't working and the automatic close always closes <script>:

    <script id="one" type="text/template">
       <div>
    </script>

For example, if I enter "</" after the div tag, it completes with "</script>":

    <script id="one" type="text/template">
       <div></script>
    </script>

I noticed this in Spacemacs, but

[2017-03-10 20:38] dustinpaluch opened #860 "Closing PHP tag within string incorrectly terminates content type"
When I paste `?>` into a string, web-mode interprets it as an actual PHP closing tag and terminates the content type.

Demo: http://sendvid.com/65ctlake

[code]

[2017-03-10 20:47] fxbois commented on #860
@dustinpaluch it is a known issue. Solving this would require a big rewrite and slow done a lot of things. I prefer ti let the code like this

[2017-03-10 20:47] #860 closed

[2017-03-12 13:15] teozkr commented on #665
@fxbois Sorry, not quite sure what you mean. Do you want a screenshot from IDEA?

[2017-03-12 17:00] fxbois commented on #665
@teozkr yes, it would be great

[2017-03-12 19:40] teozkr commented on #665
![image](https://cloud.githubusercontent.com/assets/649832/23835195/5c64065e-0763-11e7-97ad-d639ea22fff6.png)

Should cover most of it.

However, it's sadly still wrong in a few places. Notably, the curly braces around the cases are required, and `@("x: " + x)` is not "useless" (although it's fairly pointless in this specific case).

[2017-03-13 23:01] tali713 opened #861 "Support for jsont"
What it says on the tin, squarespace uses [json-t](https://developers.squarespace.com/what-is-json-t/) for building templates.  While on the surface it seems to be very similar to other languages supported by web-mode, I was not able to easily add the language.  Would it be possible to either have a guide for extending web-mode, or support for json-t built in?

[2017-03-15 00:35] sshaw commented on #799
Funny enough I have the exact same config in my `.dir-locals.el` under Emacs 24.4.1. The variables are set, but the detection is not made.

@Denommus do you know under what version of Emacs/web-mode this worked? Using a slightly older version of web-mode from MELPA: 20160422.2337.

[2017-03-15 07:44] codisto opened #862 "Support for open file in browser"
Salut,

how you open the edited html file in your browser? In sgml-mode i use C-c C-v. Is there a pendant in the superior web-mode?

Merci

[2017-03-17 12:48] keks777 opened #863 "Multi auto-complete?"
Hi, how i can run auto-complete in web-mode for html/css/js/php in one file? And that the whole list does not drop out, but to each language.

[2017-03-17 15:54] fxbois commented on #863
@keks777 you should ask on emacs stackoverflow

[2017-03-19 13:59] fxbois commented on #859
@mkleehammer use ```<script id="one" type="text/html">```

[2017-03-19 14:40] #863 closed

[2017-03-19 19:18] fxbois commented on #856
@501st-alpha1 I've pushed a fix

[2017-03-19 19:18] #856 closed

[2017-03-19 19:19] fxbois commented on #791
@dustinpaluch I've pushed a fix

[2017-03-20 17:25] 501st-alpha1 commented on #856
That fixed it, thanks!

[2017-03-20 19:40] fxbois commented on #855
@faber should be better with last commit

[2017-03-20 19:40] #855 closed

[2017-03-21 14:01] mkleehammer commented on #859
Fair enough.  It used to work, but I also switched to Spacemacs recently.  Is there any way to configure web-mode to treat text/template as text/html?

[2017-03-21 14:11] fxbois commented on #859
@mkleehammer in fact one user has asked me to treat text/template as markdown. Perhaps I should make this thing configurable

[2017-03-21 15:09] dustinpaluch commented on #791
It mostly works, unless point is over `<?php`.  When my point is on one of those characters, and I do M-; twice, I get `<?php /*/*echo "test";*/*/ ?>`.

[2017-03-21 15:17] pingz opened #864 "cursor can't move when turn on web-mode-enable-engine-detection"
You just can't move your cursor using keyboard.

emacs version:

GNU Emacs 24.4.1 (x86_64-pc-linux-gnu, GTK+ Version 3.14.5) of 2015-03-08 on trouble, modified by Debian

how to reproduce:

1. downloaded web-mode.el from github;
2. run `emacs -q';
3. eval web-mode.el;
4. open a css/js file and enable web-mode;
5. turn on web-mode-enable-engine-detection;

[2017-03-26 16:21] sphakka opened #865 "PHP: extra indent on second line of nested blocks with 'web-mode-use-tabs'"
With this config on web-mode v20170320.1240...
[code]
...I get an extra indent on the second line of every (nested) block I yank or treat by indent-region:

[code]
The same happens when entering a newline after the first indented line. Setting `indent-tabs-mode` exhibits analogous behavior with tabs instead of spaces.

[2017-03-30 10:06] Soreine commented on #729
`(setq web-mode-enable-auto-indentation nil)` worked for me (using JSX), whereas @mikemakuch did nothing

[2017-03-30 21:13] tomconroy opened #866 "Support gql templates in javascript"
It would be great to have web-mode support more general graphql queries created with https://github.com/apollographql/graphql-tag in javascript in the same way it supports Relay.QL (from https://github.com/fxbois/web-mode/issues/807)

[2017-03-31 06:29] fxbois commented on #866
@tomconroy I've pushed a fix

[2017-03-31 08:48] mk-fg opened #867 "Feature to disable all editing assistance and leave only syntax highlighting"
I'm new to web-mode and as I tried to use, found a lot of issues with pretty much all the stuff it introduces to editing, including conflict with advice from minor modes, incorrect indentation, comments, etc.

After spending few hours on debugging where it all came from and disabling/patching-out all this stuff one-by-one, feel like it'd be really cool if web-mode had one master switch for "disabl

[2017-03-31 09:32] fxbois commented on #867
@mk-fg why don't you look at all the web-mode-enable-* .. and set them to nil
It would avoid me some work

[2017-03-31 10:29] mk-fg commented on #867
I think there's >20 of them, and it's not as clear (and maybe not exactly same) as one "web-mode-syntax-highlighting-only" knob, and my proposal is that having latter in addition to all the other knobs would be a nice feature (or at least would've been for my use-case).

Guess you mean that it should be easy enough as it is, fair enough, though apparently not for me.

Thanks for a quick response.

[2017-03-31 10:29] #867 closed

[2017-03-31 12:48] theefer opened #868 "Closure {} syntax highlighting doesn't support newlines"
`{...}` highlighting only works on single lines.

For example:
[code]

![screenshot from 2017-03-31 13 47 02](https://cloud.githubusercontent.com/assets/36964/24551001/a10d31f4-1618-11e7-932d-0549027802ec.png)
(notice the highlighting of the 'r' of `foo.bar`)

[2017-04-01 16:00] sidmitra opened #870 "JSX loses indentation for additional {...} blocks"
**Expected Indentation**
This is in a `confirm.jsx` file.
[code]

**Observed indentation**
[code]
As you can see i lose the indentation on the second {project.bar ...} block. The rest of the indentation below it seems unaffected.

Here's the web-mode-debug
[code]

I tried this out with a minimal emacs setup. Here's my init file.

[code]

[2017-04-02 10:07] rocha commented on #864
It happens to me to, when `web-mode-enable-engine-detection` is enabled, but only when the cursor moves to the first two lines of the file. This happens regardless if there is a file variable or not. In my case the file variable is: `{# -*- engine: jinja2 -*- #}`

Typing works, but each new character is added before the previous one, resulting in reversed text.

[2017-04-02 14:41] fxbois commented on #870
@sidmitra I've pushed a fix

[2017-04-02 14:59] fxbois commented on #864
@rocha Could you update to the last version on github please.
If the issue still occurs, could you try to take a video of what happens ?

[2017-04-02 15:22] rocha commented on #864
@fxbois it works correctly with the latest version (12a516c).

I'll try to record a video, but in the meanwhile here is a more detail description of the behavior:

I am using this file:
[code]

- Start emacs.
- Set `web-mode-enable-engine-detection` is to `t`.
- Open the file and enable `web-mode`.
- The cursor position is the beginning of the buffer and none of the cursor motion commands work. Wh

[2017-04-02 23:24] sidmitra commented on #870
Tested. It works now. Thank you!

[2017-04-02 23:24] #870 closed

[2017-04-03 20:12] kevzettler opened #871 "Wont indent multi line ES6 template strings"
[code]

[code]
I cannot indent ES6 Template strings. I'm trying to indent by pressing tab. here is some example code:

[code]

[2017-04-03 20:27] fxbois commented on #871
@kevzettler I can not guess the language between ` and `

[2017-04-03 20:29] kevzettler commented on #871
Sorry better example. I'm not expecting the sub-language to be indented.

[code]

Here I would expect the indentation to be
[code]

That does not happen

[2017-04-03 21:25] fxbois commented on #871
@kevzettler sorry but it is a string. Most people might not want that the text be indented.

[2017-04-03 22:41] kevzettler commented on #871
ok good points thanks @fxbois

[2017-04-03 22:41] #871 closed

[2017-04-04 06:04] pingz commented on #864
I'm hoping this video could address the issue. https://youtu.be/oBzDhSN7m8A

[2017-04-04 06:20] fxbois commented on #864
@pingz the result is the same with an html file ?

[2017-04-04 06:37] pingz commented on #864
@fxbois yes, it is the same.

[2017-04-04 19:30] jeffbski opened #872 "How to obtain a pure two-space indent with JSX? Multi-line JSX without paren indent anomaly"
I would like to enable just a flat two-space indent on everything, how is this done in web-mode?

Specifically I noticed that when JSX doesn't start with a paren that the indent is off.

Plus let me know of any other things I might want to set to get a pure 2 space indent setup. I am trying to match what the rest of the team has.

Actual indentation:
[code]

Desired indentation:
[code]

[code]

My

[2017-04-04 20:57] fxbois commented on #872
@jeffbski I've pushed a fix

[2017-04-04 21:12] #872 closed

[2017-04-05 12:14] jeffbski commented on #872
You are awesome! I give it a shot. Thanks!

[2017-04-05 13:42] jeffbski commented on #872
works great!

[2017-04-06 14:55] tomconroy commented on #866
Thank you!!

[2017-04-14 20:17] dlombardo opened #873 "Parentheses required to highlight HTML tags in concise body arrow functions"
Even though they are not syntactically necessary, it seems parentheses are required to highlight HTML tags in a concise body (also get correct indent etc)

![image](https://cloud.githubusercontent.com/assets/12344863/25054788/1cfea814-212d-11e7-87c4-4625eb8af9ee.png)

[2017-04-14 21:07] #873 closed

[2017-04-18 14:45] theefer commented on #868
If anyone could give a few pointers on how to fix this (eg do other modes work on a multi-line basis?), I'd be happy to have a go at a fix myself!

[2017-04-18 18:56] davazp opened #874 "Add a variable to set preferred Javascript comment style"
Currently `M-;` (using `web-mode-comment-insert`) inserts the comment styling regarding the context,

https://github.com/fxbois/web-mode/blob/841f253e11e3c5880b357204190996c4ad98d9dc/web-mode.el#L9175

but it will always use `/*..*/` as delimiters. Can we add support to insert `//` comments for Javascript?

I can work on a pull request if there is interest.

Thanks!

[2017-04-18 21:26] tomconroy commented on #866
Relay v2 has just been announced and with it comes a new `graphql` tagged template, very similar to apollo's:

e.g.
[code]

https://facebook.github.io/relay/docs/FragmentContainer.html

[2017-04-19 08:32] fxbois commented on #866
@tomconroy I've pushed a fix

[2017-04-19 08:35] fxbois commented on #874
@davazp try ```(add-to-list 'web-mode-comment-formats '("javascript" . "//"))```

[2017-04-19 08:36] fxbois commented on #868
@theefer I'll try to look at this this weekend

[2017-04-20 09:37] #866 closed

[2017-04-20 11:08] davazp commented on #874
@fxbois that helps when I want to comment a region, but no when inserting a new comment.

I have researched a little bit more:

Creating new comments is done with `web-mode-comment-insert` (instead of `web-mode-comment`). This function has a hard-coded list of styles, it doesn't use the variable.

So I tried deleting that special case, so `web-mode-comment-or-uncomment` will only use `web-mode-com

[2017-04-20 12:19] fxbois commented on #874
@davazp Ok, I understand now. I'll look at this

[2017-04-23 03:58] d8660091 opened #875 "Syntax highlight of current line is not correct after using evil-paste-after"
![2017-04-22-235526_767x161_scrot](https://cloud.githubusercontent.com/assets/5819985/25310636/31d0d2c2-27b7-11e7-95bc-bef4f71bd096.png)
When web-mode and evil-mode are enabled, content type is set to javascript, curosr at 'o' of line 6: M-x evil-yank-line and M-x evil-paste-after would results
![2017-04-22-235657_763x183_scrot](https://cloud.githubusercontent.com/assets/5819985/25310646/65d16d34-

[2017-04-24 06:08] fxbois commented on #875
@d8660091 do you confirm it works well without evil-mode ?

[2017-04-24 17:55] d8660091 commented on #875
Yes, it works with the 'yank' command if evil-paste-after is not used. Additionally, evil-paste-after works if the cursor is at the end of the current line (only characters after the cursor lose syntax highlight), which suggests an easy walk-around.

[2017-04-25 04:31] tsktsktsk64 opened #876 "Indentation for CSS values that span across multiple lines?"
Hello fxbois and first of all thanks for all the great work you, and the community, have done.

I used to use the built-in `css-mode`. It utilises the `smie` indentation engine and I can easily tweak the indentation rules one by one to get exactly what I want, like, indent for 4 spaces whenever the last line ends with a comma:

![Rules of `smie`](https://cloud.githubusercontent.com/assets/10580362

[2017-04-25 06:26] fxbois commented on #876
@tsktsktsk64 I do not rely on smie so there is no "api" like the one showed above.
Could you show an example of the kind of indentation you want ?

[2017-04-25 07:26] tsktsktsk64 commented on #876
@fxbois Thanks for your quick reply.

Below is what I want and have achieved with `css-mode`.

![The indentation I want with css-mode](https://cloud.githubusercontent.com/assets/10580362/25373191/3b3d400a-29cb-11e7-81f9-e07424018f39.png)

Below is in web-mode without configuration:

![The indentation in default web-mode](https://cloud.githubusercontent.com/assets/10580362/25373223/5c3c6740-29cb-11

[2017-04-25 09:12] fxbois commented on #876
@tsktsktsk64 right, I'll implement this

[2017-04-25 11:28] fxbois commented on #876
@tsktsktsk64 on the first line avec ```src:```, is it normal that the line ends with a ```;``` ?

[2017-04-25 16:10] tsktsktsk64 commented on #876
@fxbois Sorry about that and this late response. It should be a `,`, as we expected. I think I deleted a duplicate `src:` line but forgot to change the ending.

[2017-04-26 06:18] fxbois commented on #876
@tsktsktsk64 I've pushed a fix

[2017-04-26 09:00] tsktsktsk64 commented on #876
Tested and it worked like a charm. Thanks.

[2017-04-26 09:00] #876 closed

[2017-04-27 08:53] etegan opened #877 "Indentation level is incorrect for React props function (multi line)"
Actual:

    <Route
      path='/home'
      render={ (props) => (
          <Home {...props} />    <----- 4 spaces indentation
        )} />                    <----- 2 spaces indentation

Expected:

    <Route
      path='/home'
      render={ (props) => (
        <Home {...props} />    <----- 2 spaces indentation
      )} />                    <----- 0 spaces indentation

web-mode-debug:

    v

[2017-04-28 12:07] fxbois commented on #877
@etegan should be solved by the end of the week

[2017-04-29 08:44] tsktsktsk64 opened #878 "Indentation for closing brackets in CSS not working"
After upgrading to the `20170425.2317` version on MELPA, the CSS indentation improvement works really well, but another problem occurs.

When I'm at the end of a line and I press `RET`, I expect a indentation that matches current level.

From
![screen shot 2017-04-29 at 16 32 36](https://cloud.githubusercontent.com/assets/10580362/25554187/7bd6c8f8-2cf9-11e7-8e4f-31792436217a.png)
to
![screen shot

[2017-04-29 09:13] tsktsktsk64 commented on #878
I just found that, when pressing `TAB` after typing `{` it indents correctly. So this problem seems very trivial, but I think the old way is just a little bit better.

[2017-04-29 10:26] fxbois commented on #878
Check auto indent setting option on web-mode.org

Le sam. 29 avr. 2017 à 11:13, tsktsktsk64 <notifications@github.com> a
écrit :

--
François-Xavier Bois
Kernix - 15 rue Cels - 75014 PARIS
Tel. +33 1 53 98 73 43

[2017-04-29 10:39] tsktsktsk64 commented on #878
@fxbois Thanks for the quick reply. Actually, I went through web-mode.org before opening this issue. On web-mode.org there are tutorials for auto-indenting when hitting `RET`. Unfortunately, that did not help, because the problem is the latest version won't automatically cancel the indent when typing `}` for closing a block.

Below are the settings in my `init.el`, if they help.
[code]

[2017-04-30 07:52] #859 closed

[2017-04-30 07:55] fxbois commented on #877
@etegan I solved this with the last commit

[2017-05-01 11:05] etegan commented on #877
I seem to still be having some propblems:

    <Route exac path='/' render={(matchProps) => (
      <DefaultLayout>                <----- Correctly indentet
      <Home {...matchProps} />       <----- Should be two more spaces indented
        </DefaultLayout>             <----- Two spaces too much
    )} />

Debug:

    --- WEB-MODE DEBUG BEG ---
    versions: emacs(26.0) web-mode("14.1.17")

[2017-05-01 17:32] fxbois commented on #877
@etegan I've pushed a new patch

[2017-05-02 08:11] etegan commented on #877
Thanks for such quick respons! I'm however still having som problems:

      <Router>                     <------- This and...
        <Switch>                   <------- ...this encloses all Route tags.
          <Route                   <------- First tag indents correctly, however...
            exact
            path="/"
            render={matchProps => (
              <DefaultLayout>

[2017-05-02 20:32] fxbois commented on #877
@etegan do you confirm that the example bellow indents correctly ?

[code]

[2017-05-03 06:10] etegan commented on #877
Looks right to me =)

[2017-05-03 06:26] fxbois commented on #877
So I can not trigger your bug. Could you try to give me more info ?

[2017-05-03 11:46] etegan commented on #877
Seems to be working for me now. Must have been a mistake from my side =) Thanks so much for fixing this!

[2017-05-03 12:53] etegan commented on #877
While I got your attention I might as well ask. Is there a way to make the brackets not align?

    <Route
      exact
      path="/"
      render={ matchProps => (
        <Home {...matchProps} />)
             }     <------ Want this to align with the 'r' in 'render'
    />

[2017-05-03 13:57] fxbois commented on #877
@etegan I'll look at this

[2017-05-03 18:34] fxbois commented on #877
@etegan I've pushed a fix

[2017-05-04 15:29] tsuchim commented on #843
Thank you for your great work for Xoops, and I'm so sorry I did'n t post a sample you requested.

[2017-05-05 17:23] rschuetzler commented on #799
I am having the same issue, and I've asked the question over at emacs.SX: https://emacs.stackexchange.com/questions/32585/set-web-mode-engine-per-directory

[2017-05-08 19:43] DarthFennec opened #879 "font-lock-extra-managed-props has no effect"
Context: DarthFennec/highlight-indent-guides#22

[`highlight-indent-guides-mode`](https://github.com/DarthFennec/highlight-indent-guides) relies on `font-lock-extra-managed-props` to automatically clear indentation guides as part of the normal `font-lock` cycle. However, `font-lock-unfontify-region-function` (which by default would normally clear these properties) is overridden by `web-mode`, so t

[2017-05-09 19:01] basil-conto commented on #799
@Denommus Unless `web-mode` uses glob patterns (which I doubt but can't confirm), the asterisk in your regular expression makes it malformed. It should instead read:

[code]

See the manual node [`(emacs) Regexps`](https://www.gnu.org/software/emacs/manual/html_node/emacs/Regexps.html) for more information on regular expression syntax in Emacs.

This does not necessarily fix the larger issue at ha

[2017-05-10 16:34] xinyifly opened #880 "jsx indent with props and brackets"
[code]

Expected:
[code]

Configs:
[code]

`web-mode 20170503.1134`

[2017-05-10 18:27] #880 closed

[2017-05-10 18:27] fxbois commented on #880
@xinyifly I've pushed a fix

[2017-05-11 00:48] xinyifly commented on #880
Thank you, that's very fast. It works better now but I figured out there may still be a problem here.
[code]

[2017-05-11 06:01] fxbois commented on #880
@xinyifly look at ```web-mode-attr-value-indent-offset```

[2017-05-11 07:04] xinyifly commented on #880
@fxbois Nice, it works perfectly now 😄

[2017-05-11 17:44] featheredtoast commented on #729
`(setq web-mode-enable-auto-indentation nil)` fixed it for me, too.

Could `electric-indent-mode` also alter `web-mode-enable-auto-indentation` somehow? It would save users from digging, who have no idea where indentation features are coming from. Stumbled on this ticket from a few hours of going around in circles, googling "emacs disable auto indent".

[2017-05-14 07:50] fxbois commented on #878
@tsktsktsk64 I think it is solved with the last version

[2017-05-14 07:50] #878 closed

[2017-05-14 07:50] #877 closed

[2017-05-14 07:51] fxbois commented on #874
@davazp it is now solved

[2017-05-14 07:51] #874 closed

[2017-05-20 23:41] paxperscientiam opened #881 "Feature request: please allow toggle between single and multi-line commenting"
Hello!

Would you consider integrating a bit more flexibility for comment styling WRT to the `comment-style` variable?

I would find it useful to apply single-line style comments when working with HTML.

Perhaps this could be introduced by extending `web-mode-comment-formats` appropriately?

Thanks for your consideration.

[2017-05-21 09:15] fxbois commented on #881
@paxperscientiam could you provide real examples please

[2017-05-21 22:47] paxperscientiam commented on #881
@fxbois

Gladly!

Given a block of HTML...
[code]

...it would be useful to have the option to comment in/out any number of these list items without having to reverse the previous action beforehand.
Commenting out the first three items with the current version of web-mode yields this:
[code]

What if one wants to un-comment items two and three, excluding item one? Currently, one must reverse the a

[2017-05-22 05:47] fxbois commented on #881
@paxperscientiam ok, I'll try to work on this

[2017-05-26 09:59] dre-hh opened #882 "React Layer indentation for components passed as props"
advised by @robbyoconnor to submit https://github.com/syl20bnr/spacemacs/issues/8954 here

#### Description
React Layer indentation for components passed as props

#### Reproduction guide
- Start Emacs with web-mode
- Set indent consistently to 2 spaces, disable attribute alignment rules
- Edit a jsx file
[code]
- Go into insert mode and add new line before the word `text`

*Observed behaviour:*

[2017-05-26 17:11] #882 closed

[2017-05-26 19:10] robbyoconnor commented on #882
That was fast

[2017-05-30 12:51] unhammer commented on #306
It'd also be nice to have `web-mode-downward-sexp` (for those of us moving from nxml with `nxml-sexp-element-flag`). I currently use
[code]

[2017-06-01 05:20] ckruse opened #883 "Indentation problem: function calls get indented (Rails)"
Hi,

given the following file:

[code]

the function calls should be indented as follows:

[code]

The worst is that it gets re-indented every time I paste something. Am I doing something wrong or is this a bug?

Regards,

[2017-06-02 17:27] jimmityglick opened #884 "[ERB] Multiline indentation of ruby code seems broken"
This is what I am getting:
[code]

This is what I think I should be getting ( or something close to this):

[code]

And I think this is because the keywords 'class' and 'for' are in the variable names.

--- WEB-MODE DEBUG BEG ---
versions: emacs(24.5) web-mode("15.0.0")
vars: engine("erb") minor("erb") content-type("html")
system: window(nil) config("x86_64-unknown-linux-gnu")
colors: fg(nil) bg(n

[2017-06-02 17:36] jimmityglick commented on #884
this is a dupe of #883 I think .

[2017-06-02 17:37] jimmityglick commented on #883
i think you are having the same issue I am in #884

[2017-06-02 18:30] ckruse commented on #883
Looks similar, yes

[2017-06-02 19:28] ckruse commented on #883
Same with this template:

[code]

Re-indenting indents like this:

[code]

[2017-06-03 13:32] #883 closed

[2017-06-03 13:32] #884 closed

[2017-06-03 13:33] fxbois commented on #879
@DarthFennec could you make some tests ?

[2017-06-03 17:23] #789 closed

[2017-06-03 17:24] fxbois commented on #828
@TCMiranda html indentation should now work

[2017-06-03 17:24] #828 closed

[2017-06-03 17:24] #805 closed

[2017-06-03 17:25] #691 closed

[2017-06-03 17:26] #727 closed

[2017-06-03 17:26] #736 closed

[2017-06-03 17:27] fxbois commented on #861
@tali713 could you profile a complete example that would include all the features ?

[2017-06-03 17:28] fxbois commented on #865
@sphakka sorry, I have no clue about this

[2017-06-03 17:28] #865 closed

[2017-06-03 17:32] fxbois commented on #864
@pingz do you still have the issue with the latest version ?

[2017-06-03 17:32] #771 closed

[2017-06-03 17:34] fxbois commented on #862
@codisto could you provide a patch ?

[2017-06-03 17:34] #862 closed

[2017-06-03 17:35] #665 closed

[2017-06-03 17:36] #792 closed

[2017-06-03 18:24] ckruse commented on #883
First of all: thank you for your great work! web-mode is my most used major mode!

Second: indention now works for the code, but the comments gets this weird indention as well. I don't think web-mode should mess with the indention of the comment. E.g. this is how I formatted it:

[code]

and this is what web-mode makes out of it when I hit tab (or, even worse, if I paste something):

[code]

I don

[2017-06-03 18:38] DarthFennec commented on #879
Tests? For what?

[2017-06-06 09:59] fxbois commented on #883
@ckruse could you open a specific issue please.

[2017-06-07 05:33] ckruse opened #885 "web-mode should not re-indent comments"
First of all: thank you for your great work! web-mode is my most used major mode!

Second: indention now works for the code, but the comments gets this weird indention as well. I don't think web-mode should mess with the indention of the comment. E.g. this is how I formatted it:

[code]

and this is what web-mode makes out of it when I hit tab (or, even worse, if I paste something):

[code]

I don

[2017-06-07 17:03] vindarel opened #886 "More imenu entries (for javascript, vuejs style)"
Hi,
Currently the imenu shows some html tags. I'd like it to show javascript functions, including in vuejs files.

I've seen `web-mode-imenu-regexp-list` and `web-mode-imenu-index` and it looks to me they are specially crafted to catch html tags (as seen in http://web-mode.org/doc/imenu.txt). So it is very unclear to me how to add regular imenu entries.

I have a regexp, checked with the regexp bu

[2017-06-09 20:23] ckruse commented on #885
I fixed this by setting `web-mode-enable-auto-indentation` to `nil`.

[2017-06-09 20:23] #885 closed

[2017-06-13 10:05] yurikhan opened #887 "Support full set of characters permitted in XML tags"
## To reproduce

`$ emacs -Q`

`M-:` `(emacs-version)` `RET`
⇒ `"GNU Emacs 25.1.1 (x86_64-pc-linux-gnu, GTK+ Version 3.18.9)`
`of 2016-12-13, modified by Debian"`

`M-:` `(add-to-list 'load-path "~/.emacs.d/web-mode")` `RET`
`M-:` `(require 'web-mode)` `RET`

`M-:` `web-mode-version`
⇒ `"15.0.0"`

`C-x` `C-f` `foo.xml` `RET`
`M-x` `web-mode` `RET`

Type: `<foo_bar></`

## Expected behavior

* `foo

[2017-06-13 16:59] fxbois commented on #887
@yurikhan should be fixed

[2017-06-13 17:10] yurikhan commented on #887
The linked commit seems to fix the underscore but not other characters. Of those, I think the full stop `.` U+002E is not perverse (as in, I can imagine myself using in an XML tag).

[2017-06-13 18:41] #887 closed

[2017-06-20 06:43] dre-hh opened #889 "helm-jump-in-buffer integration"
calling helm-jump-in-buffer in js2 mode shows an outline of functions . This does not happen when using webmode with react files.

Initially i reported this behaviour in spacemacs react layer config which is using webmode under the hood. https://github.com/syl20bnr/spacemacs/issues/8989

The react mode maintainer @JAremko suggested to ask for support here.

So i am asking it would be possible to i

[2017-06-20 08:31] fxbois commented on #889
@dre-hh as I do not use helm, could you describe very precisely what should be done (image and video could be useful also)

[2017-06-20 14:26] dre-hh commented on #889
I see the spacemacs function is just calling this
https://github.com/emacs-helm/helm/blob/ea8e30436ff5f7ddc7e6d105190f3f1d06dba57c/helm-semantic.el#L179

I`ve made a short vid of the behavior

https://drive.google.com/open?id=0B2IWg6zx0-kgc1doSHE0XzRyWTA

[2017-06-20 14:30] fxbois commented on #889
@dre-hh I only have music in this video

[2017-06-20 15:05] dre-hh commented on #889
🤣  sorry i accidentally copy pasted a wrong link, and perhaps you have received that as mail. but i`ve updated the comment.

[2017-06-21 07:21] dov opened #890 "Html attribute completion"
It would be nice to have support for listing and completion of allowed attributes. E.g. if typing:

     <img |

and running an emacs-command `web-mode-attribute-complete` (e.g. bound to C-x C-/) you would get an emacs buffer list of possible attributes compatible with the img tag.

[2017-06-21 08:20] aaronjensen commented on #810
Seemingly related:

[code]

That doesn't indent/font-lock unless it has parens or a `;`. This means that when using `prettier --no-semi` the code is formatted to a way that web-mode doesn't understand.